trips/trip-reevaluation.json
{
  "updatedAt": "2026-06-30T00:45:36.752Z",
  "createdAt": "2026-06-08T15:50:09.343Z",
  "id": "7WmJy3kicHEmJ5Ge",
  "name": "TRIP reevaluation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "84a61839-7de0-4328-9bf4-1b348818228c",
                    "leftValue": "={{ $json.segmento }}",
                    "rightValue": "Entretenimento e lazer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Entretenimento e lazer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.segmento }}",
                    "rightValue": "Gastronomia",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "94134c25-e368-4b6f-8962-7b41b162a2d7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gastronomia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "80cfb5a1-e18b-41f0-88da-ffca7c29473e",
                    "leftValue": "={{ $json.segmento }}",
                    "rightValue": "Cultura e história",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cultura e história"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "989c6b91-221b-47ec-a5f5-b8f9519d82cb",
                    "leftValue": "={{ $json.segmento }}",
                    "rightValue": "Natureza e aventura",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Natureza e aventura"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fd5aa389-4649-4da3-b2ce-dc93e129ea94",
                    "leftValue": "={{ $json.segmento }}",
                    "rightValue": "Mercados e compras",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mercados e compras"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "62ea8e3e-70af-4478-a2d3-94f19c4b5b33",
                    "leftValue": "={{ $json.segmento }}",
                    "rightValue": "Turismo e experiências",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Turismo e experiências"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8fea9bba-260a-4b3f-bb53-d94755b6dcd7",
                    "leftValue": "={{ $json.segmento }}",
                    "rightValue": "Fazendas e animais",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fazendas e animais"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e94b6966-7aab-430e-9586-d40786fd8398",
                    "leftValue": "={{ $json.segmento }}",
                    "rightValue": "Outros",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Outros"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2240,
        1664
      ],
      "id": "6d063260-2d0f-440a-90b5-fbfb26c28e81",
      "name": "Switch2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hi7Jbt9euXnC3vS4",
          "mode": "list",
          "cachedResultUrl": "/workflow/hi7Jbt9euXnC3vS4",
          "cachedResultName": "turismo_e_experiencias! reevaluation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4848,
        2320
      ],
      "id": "f2746807-82c9-4cad-a395-c367f50c7c7b",
      "name": "Call 'fazenda_e_animais'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "50lOdEEnznE0QojL",
          "mode": "list",
          "cachedResultUrl": "/workflow/50lOdEEnznE0QojL",
          "cachedResultName": "entreterimento_e_lazer! reevaluation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2592,
        1424
      ],
      "id": "a9b7cee1-0923-4e11-8c89-64e8543c3c81",
      "name": "Call 'entreterimento_e_lazer'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QzdzWprtrn6QyRGy",
          "mode": "list",
          "cachedResultUrl": "/workflow/QzdzWprtrn6QyRGy",
          "cachedResultName": "cultura_e_historia! reevaluation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3376,
        1648
      ],
      "id": "fc8dc36b-d4f3-4b28-9cb0-25aa27f3552d",
      "name": "Call 'cultura_e_historia'1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.avaliar_todos }}",
                    "rightValue": "none",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0ff0425f-eb63-42c1-ac67-9511ea5340b7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7e3cede5-fb1f-420b-91f0-250525c2e46e",
                    "leftValue": "={{ $json.avaliar_todos }}",
                    "rightValue": "both",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a579aab1-167e-45a7-bb70-05dede8108f6",
                    "leftValue": "={{ $json.avaliar_todos }}",
                    "rightValue": "pos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "058ee874-80c2-4bc7-a49b-5d6f064ddced",
                    "leftValue": "={{ $json.avaliar_todos }}",
                    "rightValue": "neg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3680,
        1744
      ],
      "id": "0e61efe0-60c2-4baf-88f3-df664bb2c24b",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1344,
        -1184
      ],
      "id": "9ceb4b22-cdd7-4d4e-b23c-a51420e44c9c",
      "name": "Vai para o modo certo então bobão",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "geral_estabelecimentos_avaliados",
        "limit": 11,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "aproved",
              "condition": "is",
              "keyValue": "TRUE"
            },
            {
              "keyName": "pais",
              "condition": "eq",
              "keyValue": "={{ $json.pais }}"
            },
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "={{ $json.estado }}"
            },
            {
              "keyName": "cidade",
              "condition": "eq",
              "keyValue": "={{ $json.cidade }}"
            },
            {
              "keyName": "bairro",
              "condition": "eq",
              "keyValue": "={{ $json.bairro }}"
            },
            {
              "keyName": "go_to_reevaluation",
              "condition": "is",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1328,
        2096
      ],
      "id": "80bb29fa-f8b7-465a-9663-b82932524cbe",
      "name": "DB request positivos (4)",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.qtd_filtros_localizacao }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "8a98a3c9-d031-453b-a331-8d44bffb9c36"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5f5133c9-f7a9-4792-8eff-5fe1a2cd6299",
                    "leftValue": "={{ $json.qtd_filtros_localizacao }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a43e585f-0cf5-4e36-ba93-3d3d024eb568",
                    "leftValue": "={{ $json.qtd_filtros_localizacao }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "06072d72-5015-42bc-8bd9-d1f452b2747d",
                    "leftValue": "={{ $json.qtd_filtros_localizacao }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1920,
        1744
      ],
      "id": "fa4e66b6-7a4f-4cc3-8d9f-1f382f6dcf1b",
      "name": "deepler"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "geral_estabelecimentos_avaliados",
        "limit": 11,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "aproved",
              "condition": "is",
              "keyValue": "TRUE"
            },
            {
              "keyName": "pais",
              "condition": "eq",
              "keyValue": "={{ $json.pais }}"
            },
            {
              "keyName": "go_to_reevaluation",
              "condition": "is",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1328,
        1456
      ],
      "id": "b24bfe27-9a16-4e94-b292-88f9afb9f218",
      "name": "DB request positivos (1)",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "geral_estabelecimentos_avaliados",
        "limit": 11,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "aproved",
              "condition": "is",
              "keyValue": "TRUE"
            },
            {
              "keyName": "pais",
              "condition": "eq",
              "keyValue": "={{ $json.pais }}"
            },
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "={{ $json.estado }}"
            },
            {
              "keyName": "go_to_reevaluation",
              "condition": "is",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1328,
        1648
      ],
      "id": "fb4f609e-20eb-4b03-b1ed-655fd4565fe6",
      "name": "DB request positivos (2)",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "geral_estabelecimentos_avaliados",
        "limit": 11,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "aproved",
              "condition": "is",
              "keyValue": "TRUE"
            },
            {
              "keyName": "pais",
              "condition": "eq",
              "keyValue": "={{ $json.pais }}"
            },
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "={{ $json.estado }}"
            },
            {
              "keyName": "cidade",
              "condition": "eq",
              "keyValue": "={{ $json.cidade }}"
            },
            {
              "keyName": "go_to_reevaluation",
              "condition": "is",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1328,
        1904
      ],
      "id": "b4a043d0-a64f-4016-8a0b-41fd994ecd9e",
      "name": "DB request positivos (3)",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.qtd_filtros_localizacao }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "8a98a3c9-d031-453b-a331-8d44bffb9c36"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5f5133c9-f7a9-4792-8eff-5fe1a2cd6299",
                    "leftValue": "={{ $json.qtd_filtros_localizacao }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a43e585f-0cf5-4e36-ba93-3d3d024eb568",
                    "leftValue": "={{ $json.qtd_filtros_localizacao }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "06072d72-5015-42bc-8bd9-d1f452b2747d",
                    "leftValue": "={{ $json.qtd_filtros_localizacao }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1840,
        176
      ],
      "id": "533abe0c-02e9-4599-a594-7beb8db300af",
      "name": "deepler1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "geral_estabelecimentos_avaliados",
        "limit": 11,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "pais",
              "condition": "eq",
              "keyValue": "={{ $json.pais }}"
            },
            {
              "keyName": "go_to_reevaluation",
              "condition": "is",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1328,
        -144
      ],
      "id": "bcac80fb-68e7-4eab-974a-94ef22099d02",
      "name": "DB request ALL (1)",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "geral_estabelecimentos_avaliados",
        "limit": 11,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "pais",
              "condition": "eq",
              "keyValue": "={{ $json.pais }}"
            },
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "={{ $json.estado }}"
            },
            {
              "keyName": "go_to_reevaluation",
              "condition": "is",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1328,
        32
      ],
      "id": "13ae291d-b519-4475-98c8-2121439fe4aa",
      "name": "DB request ALL (2)",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "geral_estabelecimentos_avaliados",
        "limit": 11,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "pais",
              "condition": "eq",
              "keyValue": "={{ $json.pais }}"
            },
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "={{ $json.estado }}"
            },
            {
              "keyName": "cidade",
              "condition": "eq",
              "keyValue": "={{ $json.cidade }}"
            },
            {
              "keyName": "go_to_reevaluation",
              "condition": "is",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1328,
        336
      ],
      "id": "795e38af-98a8-4ce9-9a11-edf613dc9336",
      "name": "DB request ALL (3)",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "geral_estabelecimentos_avaliados",
        "limit": 11,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "pais",
              "condition": "eq",
              "keyValue": "={{ $json.pais }}"
            },
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "={{ $json.estado }}"
            },
            {
              "keyName": "cidade",
              "condition": "eq",
              "keyValue": "={{ $json.cidade }}"
            },
            {
              "keyName": "bairro",
              "condition": "eq",
              "keyValue": "={{ $json.bairro }}"
            },
            {
              "keyName": "go_to_reevaluation",
              "condition": "is",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1312,
        544
      ],
      "id": "805cab5f-13ed-42ef-ade4-84e6bfbbb4a6",
      "name": "DB request ALL (4)",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.qtd_filtros_localizacao }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "8a98a3c9-d031-453b-a331-8d44bffb9c36"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5f5133c9-f7a9-4792-8eff-5fe1a2cd6299",
                    "leftValue": "={{ $json.qtd_filtros_localizacao }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a43e585f-0cf5-4e36-ba93-3d3d024eb568",
                    "leftValue": "={{ $json.qtd_filtros_localizacao }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "06072d72-5015-42bc-8bd9-d1f452b2747d",
                    "leftValue": "={{ $json.qtd_filtros_localizacao }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1856,
        3376
      ],
      "id": "cc2325d3-187a-4924-a098-6b6fa4118856",
      "name": "deepler2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "geral_estabelecimentos_avaliados",
        "limit": 11,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "aproved",
              "condition": "is",
              "keyValue": "FALSE"
            },
            {
              "keyName": "pais",
              "condition": "eq",
              "keyValue": "={{ $json.pais }}"
            },
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "={{ $json.estado }}"
            },
            {
              "keyName": "cidade",
              "condition": "eq",
              "keyValue": "={{ $json.cidade }}"
            },
            {
              "keyName": "bairro",
              "condition": "eq",
              "keyValue": "={{ $json.bairro }}"
            },
            {
              "keyName": "go_to_reevaluation",
              "condition": "is",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1328,
        3744
      ],
      "id": "a19521ae-fd71-40c5-9211-19dd488b6cd3",
      "name": "DB request negativos (4)",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "geral_estabelecimentos_avaliados",
        "limit": 11,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "aproved",
              "condition": "is",
              "keyValue": "FALSE"
            },
            {
              "keyName": "pais",
              "condition": "eq",
              "keyValue": "={{ $json.pais }}"
            },
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "={{ $json.estado }}"
            },
            {
              "keyName": "cidade",
              "condition": "eq",
              "keyValue": "={{ $json.cidade }}"
            },
            {
              "keyName": "go_to_reevaluation",
              "condition": "is",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1344,
        3536
      ],
      "id": "c7604af4-f487-4598-b8c7-50ac689a78c3",
      "name": "DB request negativos (3)",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "geral_estabelecimentos_avaliados",
        "limit": 11,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "aproved",
              "condition": "is",
              "keyValue": "FALSE"
            },
            {
              "keyName": "pais",
              "condition": "eq",
              "keyValue": "={{ $json.pais }}"
            },
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "={{ $json.estado }}"
            },
            {
              "keyName": "go_to_reevaluation",
              "condition": "is",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1344,
        3232
      ],
      "id": "9a2af1f1-1a55-4d76-b720-6db8dcb7ade2",
      "name": "DB request negativos (2)",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "geral_estabelecimentos_avaliados",
        "limit": 11,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "aproved",
              "condition": "is",
              "keyValue": "FALSE"
            },
            {
              "keyName": "pais",
              "condition": "eq",
              "keyValue": "={{ $json.pais }}"
            },
            {
              "keyName": "go_to_reevaluation",
              "condition": "is",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1344,
        3056
      ],
      "id": "574bd38c-201c-4baf-a306-adc4e8093209",
      "name": "DB request negativos (1)",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4nO4XQOYvL81x3jp",
          "mode": "list",
          "cachedResultUrl": "/workflow/4nO4XQOYvL81x3jp",
          "cachedResultName": "restaurante! reevaluation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2928,
        1520
      ],
      "id": "642e516b-4cc2-4880-8a48-51436a6f55d9",
      "name": "Call 'restaurante! reevaluation'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HsiCuih91psrP128",
          "mode": "list",
          "cachedResultUrl": "/workflow/HsiCuih91psrP128",
          "cachedResultName": "natureza_e_aventura! reevaluation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3792,
        1760
      ],
      "id": "df047fea-a640-4a57-b0b8-f76fde9c56aa",
      "name": "Call 'natureza_e_aventura! reevaluation'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PVu1pK6TzEgLPBwz",
          "mode": "list",
          "cachedResultUrl": "/workflow/PVu1pK6TzEgLPBwz",
          "cachedResultName": "mercados_e_compras! reevaluation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4144,
        1888
      ],
      "id": "b7e4aded-c318-4e76-88c6-658c0f0eac82",
      "name": "Call 'mercados_e_compras! reevaluation'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hi7Jbt9euXnC3vS4",
          "mode": "list",
          "cachedResultUrl": "/workflow/hi7Jbt9euXnC3vS4",
          "cachedResultName": "turismo_e_experiencias! reevaluation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4464,
        2080
      ],
      "id": "bc4baabc-0e75-4574-aed7-eea9f9acdf0a",
      "name": "Call 'turismo_e_experiencias! reevaluation'"
    },
    {
      "parameters": {
        "content": "Filtro TODOS\n",
        "height": 1072,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2096,
        -272
      ],
      "id": "277eb0f9-1777-4250-a3e4-0aa219855e01",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Filtro POSITIVOS\n\n",
        "height": 1072,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2112,
        1296
      ],
      "id": "709a0aec-89e9-4f89-bfb1-17a515f266f4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Filtro NEGATIVOS\n\n\n",
        "height": 1072,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2112,
        2928
      ],
      "id": "faab33ae-5fe4-4ac2-b952-86466076e63f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.preaproval }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "74641e61-0305-451b-806a-f768284bf47e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "901116fe-0b5b-47a0-9ebd-63e171fbb0f9",
                    "leftValue": "={{ $json.preaproval }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1792,
        1808
      ],
      "id": "8b14c046-61d9-4082-ba2a-1dd15c4ee1ca",
      "name": "Switch3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46fd2917-48b8-49cb-b1f7-c0fc961d71c8",
              "name": "aproved",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "56640775-e180-4030-970f-c989be006424",
              "name": "reason",
              "value": "={{ $json.status_global }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2544,
        2368
      ],
      "id": "4ab4b83c-d6bf-4f31-aafd-2b46b19fe1d6",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2800,
        2352
      ],
      "id": "990879e6-f1de-4cc0-ba2b-40da200f4bf9",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json || {});\n\nconst ehVeredicto = (o) =>\n  o && o.nome === undefined && o.id === undefined &&\n  (o.aproved !== undefined || o.reason !== undefined) &&\n  Object.keys(o).length <= 3;\n\nconst principais = items.filter(o => !ehVeredicto(o));\nconst veredictos = items.filter(ehVeredicto);\n\nconst out = principais.map((e, idx) => {\n  const principal = { ...e };\n  const v = veredictos[idx];\n  if (v) {\n    if (v.aproved !== undefined) principal.aproved = v.aproved;\n    if (v.reason  !== undefined) principal.reason  = v.reason;\n  }\n  return { json: principal };\n});\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3008,
        2352
      ],
      "id": "3b4e603d-1b5d-4c51-abf5-35b9d755ba31",
      "name": "organizer"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n// Pega a saída do code anterior e encaixa EXATAMENTE nas colunas da tabela.\n// Colunas EXATAS da tabela (na ordem do CSV)\nconst COLS = [\n  \"id\",\"nome\",\"subtipos\",\"endereco\",\"bairro\",\"cep\",\"cidade\",\"estado\",\n  \"telefone\",\"telefone_extra\",\"email\",\"website\",\"instagram\",\"facebook\",\n  \"link_google_maps\",\"nota\",\"qtd_avaliacoes\",\"distribuicao_notas\",\"status\",\n  \"horarios\",\"faixa_preco\",\"qtd_fotos\",\"fotos\",\"resumo\",\"details_google\",\n  \"google_id\",\"place_id\",\"verificado\",\"timezone\",\"crated_at\",\"atualizacoes\",\n  \"reviews\",\"par1\",\"just1\",\"par2\",\"just2\",\"par3\",\"just3\",\"par4\",\"just4\",\n  \"par5\",\"just5\",\"média\",\"aproved\",\"reason\",\"segmento\",\"subsegmento\",\n  \"nr_latitude\",\"nr_longitude\",\"pais\",\"gallery\",\"capa\",\"Reevaluation\"\n];\nconst ARRAY_COLS = [\"gallery\"]; // text[] no Postgres -> array JS\nreturn $input.all().map((item) => {\n  const e = item.json || {};\n  const out = {};\n  // só as colunas da tabela; o que não existir vira null\n  for (const c of COLS) out[c] = e[c] ?? null;\n  // distribuicao_notas: array -> JSON-texto (igual às outras rows da tabela)\n  if (Array.isArray(e.distribuicao_notas)) {\n    out.distribuicao_notas = JSON.stringify(e.distribuicao_notas);\n  }\n  // colunas array nativo (gallery) ficam como array JS, nunca string\n  for (const c of ARRAY_COLS) {\n    out[c] = Array.isArray(e[c]) ? e[c] : null;\n  }\n  // flag de reavaliação\n  out.go_to_reevaluation = true;\n  return { json: out };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        2352
      ],
      "id": "984c778b-4e3f-4383-ba8e-4fff08345c7f",
      "name": "Normalizer"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "geral_estabelecimentos_avaliados",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3456,
        2352
      ],
      "id": "de356220-94a3-4791-ad58-71d82e3a2bac",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const APROVADOS = [\"aprovado\", \"aprovado_ressalvas\", \"parcial\"];\n\nreturn $input.all().map((item) => {\n  const e = item.json || {};\n  return {\n    json: {\n      preaproval: APROVADOS.includes(e.status_codigo) ? \"true\" : \"false\",\n      ...e,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        1808
      ],
      "id": "8a505c02-b926-46d3-ad03-15a041450beb",
      "name": "pre"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4672,
        1776
      ],
      "id": "3bf363a1-1cdb-45c8-bda0-784615214f3f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\n// n8n Code Node — Análise estatística + Avaliação por categoria\n// Modo: Run Once for All Items\n// Input:  $input.all() (estabelecimentos crus do scraping)\n// Output: return [{ json: {...} }]  ← com colunas top-level por bloco\n//\n// Princípio: distribuicao_notas é fonte primária; nota Google só valida.\n//\n// Correções aplicadas:\n//   1. coerceItem() normaliza campos que chegam como string JSON\n//      (distribuicao_notas, reviews, nota, qtd_avaliacoes, minimum_reviews).\n//   2. Verificação de status \"fechado_permanente\" no topo de analisar().\n//   3. Mínimo de avaliações lido do próprio estabelecimento (minimum_reviews),\n//      com fallback para 10 quando o campo não vem.\n// =============================================================================\n\n// ===== HELPERS =====\nconst round = (x, d = 4) => {\n  if (x === null || x === undefined || Number.isNaN(x) || !Number.isFinite(x)) return null;\n  const f = Math.pow(10, d);\n  return Math.round(x * f) / f;\n};\nconst clamp = (x, lo, hi) => Math.min(Math.max(x, lo), hi);\n\nconst cumulative = (dist) => {\n  const c = [0];\n  for (let i = 0; i < dist.length; i++) c.push(c[i] + dist[i]);\n  return c;\n};\n\nconst quantilDiscreto = (dist, n, p) => {\n  const alvo = p * n;\n  let acc = 0;\n  for (let i = 0; i < dist.length; i++) {\n    acc += dist[i];\n    if (acc >= alvo) return i + 1;\n  }\n  return dist.length;\n};\n\nconst mean = (arr) => (arr.length ? arr.reduce((a, b) => a + b, 0) / arr.length : null);\n\n// === BLOCO 1 — Tendência central ===\nfunction tendenciaCentral(dist, n) {\n  if (n === 0) return null;\n  let soma = 0;\n  for (let i = 0; i < 5; i++) soma += (i + 1) * dist[i];\n  const media = soma / n;\n\n  const corteInf = 0.10 * n;\n  const corteSup = 0.90 * n;\n  const cum = cumulative(dist);\n  let pesoTotal = 0, somaTrunc = 0;\n  for (let i = 0; i < 5; i++) {\n    const inicio = cum[i], fim = cum[i + 1];\n    const peso = Math.max(0, Math.min(fim, corteSup) - Math.max(inicio, corteInf));\n    pesoTotal += peso;\n    somaTrunc += (i + 1) * peso;\n  }\n  const mediaTrunc = pesoTotal > 0 ? somaTrunc / pesoTotal : media;\n\n  const k = 2;\n  const nLap = n + 5 * k;\n  let somaLap = 0;\n  for (let i = 0; i < 5; i++) somaLap += (i + 1) * (dist[i] + k);\n  const mediaLaplace = somaLap / nLap;\n\n  const mediana = quantilDiscreto(dist, n, 0.5);\n  let moda = 1, maxF = -1;\n  for (let i = 0; i < 5; i++) if (dist[i] > maxF) { maxF = dist[i]; moda = i + 1; }\n  const q1 = quantilDiscreto(dist, n, 0.25);\n  const q3 = quantilDiscreto(dist, n, 0.75);\n\n  return {\n    media: round(media, 4),\n    media_truncada_10: round(mediaTrunc, 4),\n    media_laplace: round(mediaLaplace, 4),\n    mediana, moda, q1, q3, iqr: q3 - q1,\n  };\n}\n\n// === BLOCO 2 — Dispersão e forma ===\nfunction dispersaoForma(dist, n, media) {\n  if (n === 0 || media === null) return null;\n  let m2 = 0, m3 = 0, m4 = 0;\n  for (let i = 0; i < 5; i++) {\n    const d = (i + 1) - media;\n    const d2 = d * d;\n    m2 += d2 * dist[i];\n    m3 += d2 * d * dist[i];\n    m4 += d2 * d2 * dist[i];\n  }\n  m2 /= n; m3 /= n; m4 /= n;\n\n  const variancia = m2;\n  const desvio = Math.sqrt(variancia);\n  const cv = media !== 0 ? desvio / media : null;\n  const assimetria = m2 > 0 ? m3 / Math.pow(m2, 1.5) : 0;\n  const curtose = m2 > 0 ? (m4 / (m2 * m2)) - 3 : 0;\n\n  let H = 0;\n  for (let i = 0; i < 5; i++) {\n    const p = dist[i] / n;\n    if (p > 0) H -= p * Math.log2(p);\n  }\n  const Hmax = Math.log2(5);\n\n  return {\n    variancia: round(variancia, 4),\n    desvio_padrao: round(desvio, 4),\n    coef_variacao: round(cv, 4),\n    assimetria: round(assimetria, 4),\n    curtose_excesso: round(curtose, 4),\n    entropia_shannon: round(H, 4),\n    entropia_normalizada: round(H / Hmax, 4),\n  };\n}\n\n// === BLOCO 3 — Inferência ===\nfunction inferencia(media, variancia, n) {\n  if (n === 0) return null;\n  const desvio = Math.sqrt(variancia);\n  const erroPadrao = desvio / Math.sqrt(n);\n  const z95 = 1.96, z99 = 2.576;\n\n  const icNormal = (z) => {\n    const inf = clamp(media - z * erroPadrao, 1, 5);\n    const sup = clamp(media + z * erroPadrao, 1, 5);\n    return { inferior: round(inf, 4), superior: round(sup, 4), amplitude: round(sup - inf, 4) };\n  };\n\n  const pHat = clamp((media - 1) / 4, 0, 1);\n  const wilson = (z) => {\n    const z2 = z * z;\n    const denom = 1 + z2 / n;\n    const centro = (pHat + z2 / (2 * n)) / denom;\n    const margem = z * Math.sqrt((pHat * (1 - pHat) + z2 / (4 * n)) / n) / denom;\n    const inf = clamp(1 + 4 * Math.max(0, centro - margem), 1, 5);\n    const sup = clamp(1 + 4 * Math.min(1, centro + margem), 1, 5);\n    return { inferior: round(inf, 4), superior: round(sup, 4), amplitude: round(sup - inf, 4) };\n  };\n\n  const a = 2 + n * pHat;\n  const b = 2 + n * (1 - pHat);\n  const meanPost = a / (a + b);\n  const sdPost = Math.sqrt((a * b) / ((a + b) * (a + b) * (a + b + 1)));\n  const bayes = (z) => {\n    const inf = clamp(1 + 4 * Math.max(0, meanPost - z * sdPost), 1, 5);\n    const sup = clamp(1 + 4 * Math.min(1, meanPost + z * sdPost), 1, 5);\n    return { inferior: round(inf, 4), superior: round(sup, 4), amplitude: round(sup - inf, 4) };\n  };\n\n  return {\n    normal_95: icNormal(z95), normal_99: icNormal(z99),\n    wilson_95: wilson(z95),   wilson_99: wilson(z99),\n    bayes_95: bayes(z95),     bayes_99: bayes(z99),\n    posterior_beta: {\n      alpha: round(a, 4), beta: round(b, 4),\n      media_posterior_rescalada: round(1 + 4 * meanPost, 4),\n    },\n  };\n}\n\n// === BLOCO 4 — Sentimento ===\nfunction sentimento(dist, n) {\n  if (n === 0) return null;\n  const p = dist.map(x => x / n);\n  const pctNeg = (p[0] + p[1]) * 100;\n  const pctNeu = p[2] * 100;\n  const pctPos = (p[3] + p[4]) * 100;\n  const razao = (p[0] + p[1]) > 0 ? (p[3] + p[4]) / (p[0] + p[1]) : null;\n  const nps = (p[4] - (p[0] + p[1])) * 100;\n  return {\n    pct_negativas: round(pctNeg, 2),\n    pct_neutras: round(pctNeu, 2),\n    pct_positivas: round(pctPos, 2),\n    razao_pos_neg: round(razao, 3),\n    nps_adaptado: round(nps, 2),\n    top_box: round(p[4] * 100, 2),\n    top_2_box: round((p[3] + p[4]) * 100, 2),\n    bottom_box: round(p[0] * 100, 2),\n    bottom_2_box: round((p[0] + p[1]) * 100, 2),\n    proporcoes: p.map(x => round(x, 4)),\n  };\n}\n\n// === BLOCO 5 — Diagnóstico de forma ===\nfunction diagnosticoForma(dist, n, variancia) {\n  if (n === 0) return null;\n  const p = dist.map(x => x / n);\n  const distUniforme = p.reduce((s, x) => s + Math.abs(x - 0.2), 0) / 2;\n  const indicePol = variancia / 4;\n  const maxP = Math.max(...p);\n  const idxMax = p.indexOf(maxP);\n\n  let formato;\n  if (maxP > 0.7) formato = `concentrado em ${idxMax + 1}★`;\n  else if (p.every(x => x >= 0.15 && x <= 0.25)) formato = \"uniforme\";\n  else if (p[4] > p[3] && p[3] > p[2] && p[2] > p[1] && p[1] > p[0] && p[4] > 0.4)\n    formato = \"decrescente típico (J invertido, positivo saudável)\";\n  else if ((p[0] + p[4]) > 0.5 && (p[2] + p[3]) < 0.3) formato = \"polarizado / bimodal\";\n  else if ((p[0] + p[4]) > 0.5 && p[2] < p[0] && p[2] < p[4]) formato = \"J shape (bias de seleção, vale no meio)\";\n  else if (idxMax === 2) formato = \"centrado em 3★ (mediano)\";\n  else if (p[4] >= p[3] && p[3] >= p[2]) formato = \"predominantemente positivo\";\n  else if (p[0] >= p[1] && p[1] >= p[2]) formato = \"predominantemente negativo\";\n  else formato = \"misto / sem padrão claro\";\n\n  return {\n    formato,\n    distancia_uniforme: round(distUniforme, 4),\n    indice_polarizacao: round(indicePol, 4),\n  };\n}\n\n// === BLOCO 6 — Temporal ===\nfunction temporal(reviews) {\n  if (!Array.isArray(reviews) || reviews.length === 0)\n    return { _aviso: \"Sem reviews amostradas — análise temporal indisponível\", amostra_size: 0 };\n\n  const items = reviews\n    .map(r => {\n      const tsRaw = r?.iso_date_timestamp;\n      const ts = (typeof tsRaw === \"number\" && tsRaw > 0) ? tsRaw / 1000 : null;\n      const rate = typeof r?.review_rate === \"number\" ? r.review_rate : null;\n      return (ts !== null && rate !== null) ? { ts, rate, date: new Date(ts) } : null;\n    })\n    .filter(Boolean)\n    .sort((a, b) => a.ts - b.ts);\n\n  if (items.length === 0) return { _aviso: \"Sem timestamps válidos na amostra\", amostra_size: 0 };\n\n  const agora = Date.now();\n  const DIA = 86400 * 1000;\n  const mediaJanela = (dias) => {\n    const limite = agora - dias * DIA;\n    const sub = items.filter(x => x.ts >= limite);\n    if (sub.length === 0) return null;\n    return { media: round(mean(sub.map(x => x.rate)), 3), n: sub.length };\n  };\n\n  let comparacaoMetades = null;\n  if (items.length >= 4) {\n    const mid = Math.floor(items.length / 2);\n    const antiga = items.slice(0, mid);\n    const recente = items.slice(items.length - mid);\n    const mAnt = mean(antiga.map(x => x.rate));\n    const mRec = mean(recente.map(x => x.rate));\n    const delta = mRec - mAnt;\n    let direcao = \"estável\";\n    if (delta > 0.5) direcao = \"melhorando\";\n    else if (delta < -0.5) direcao = \"piorando\";\n    comparacaoMetades = {\n      media_metade_antiga: round(mAnt, 3),\n      media_metade_recente: round(mRec, 3),\n      delta: round(delta, 3),\n      direcao,\n    };\n  }\n\n  let regressao = null;\n  if (items.length >= 3) {\n    const t0 = items[0].ts;\n    const xs = items.map(x => (x.ts - t0) / DIA);\n    const ys = items.map(x => x.rate);\n    const nL = xs.length;\n    const sx = xs.reduce((a, b) => a + b, 0);\n    const sy = ys.reduce((a, b) => a + b, 0);\n    const sxx = xs.reduce((a, b) => a + b * b, 0);\n    const sxy = xs.reduce((a, b, i) => a + b * ys[i], 0);\n    const denom = nL * sxx - sx * sx;\n    const slope = denom !== 0 ? (nL * sxy - sx * sy) / denom : 0;\n    const slopeAno = slope * 365.25;\n    let interp = \"estável\";\n    if (slopeAno > 0.3) interp = \"melhora clara\";\n    else if (slopeAno < -0.3) interp = \"queda clara\";\n    else if (slopeAno > 0.1) interp = \"leve melhora\";\n    else if (slopeAno < -0.1) interp = \"leve queda\";\n    regressao = { slope_por_dia: round(slope, 6), slope_estrelas_por_ano: round(slopeAno, 4), interpretacao: interp };\n  }\n\n  const periodoDias = (items[items.length - 1].ts - items[0].ts) / DIA;\n  const reviewsPorMes = periodoDias > 0 ? (items.length / periodoDias) * 30 : null;\n  const fimSemana = [], diasUteis = [];\n  for (const it of items) {\n    const dow = it.date.getUTCDay();\n    (dow === 0 || dow === 6 ? fimSemana : diasUteis).push(it.rate);\n  }\n  const diasDesdeUltima = (agora - items[items.length - 1].ts) / DIA;\n\n  return {\n    _aviso: \"Métricas baseadas APENAS na amostra de reviews — não na população completa\",\n    amostra_size: items.length,\n    ultimos_30_dias: mediaJanela(30),\n    ultimos_90_dias: mediaJanela(90),\n    ultimos_180_dias: mediaJanela(180),\n    ultimos_365_dias: mediaJanela(365),\n    comparacao_metades: comparacaoMetades,\n    regressao_linear: regressao,\n    reviews_por_mes_amostra: round(reviewsPorMes, 3),\n    periodo_coberto_dias: round(periodoDias, 1),\n    media_fim_de_semana: round(mean(fimSemana), 3),\n    media_dias_uteis: round(mean(diasUteis), 3),\n    dias_desde_ultima_review: round(diasDesdeUltima, 1),\n  };\n}\n\n// === BLOCO 7 — Credibilidade ===\nfunction credibilidade(reviews) {\n  if (!Array.isArray(reviews) || reviews.length === 0)\n    return { _aviso: \"Sem reviews amostradas\", amostra_size: 0 };\n  const valid = reviews.filter(r => r);\n  if (valid.length === 0) return { _aviso: \"Sem reviews válidas\", amostra_size: 0 };\n\n  const totRevs = valid.map(r => r?.user_total_reviews ?? 0);\n  const sorted = [...totRevs].sort((a, b) => a - b);\n  const medianaTot = sorted.length % 2 === 1\n    ? sorted[Math.floor(sorted.length / 2)]\n    : (sorted[sorted.length / 2 - 1] + sorted[sorted.length / 2]) / 2;\n\n  const novatos = [], intermediarios = [], experientes = [];\n  for (const r of valid) {\n    const t = r?.user_total_reviews ?? 0;\n    const rate = typeof r?.review_rate === \"number\" ? r.review_rate : null;\n    if (rate === null) continue;\n    if (t <= 2) novatos.push(rate);\n    else if (t <= 10) intermediarios.push(rate);\n    else experientes.push(rate);\n  }\n  const mediaNov = mean(novatos);\n  const mediaExp = mean(experientes);\n  const diffExpNov = (mediaExp !== null && mediaNov !== null) ? mediaExp - mediaNov : null;\n  const total = valid.length;\n  const comFoto = valid.filter(r => Array.isArray(r?.review_photos) && r.review_photos.length > 0).length;\n  const comTexto = valid.filter(r => r?.review_text && String(r.review_text).trim().length > 0).length;\n  const compTexto = valid.filter(r => r?.review_text).map(r => String(r.review_text).length);\n\n  return {\n    amostra_size: total,\n    media_user_total_reviews: round(mean(totRevs), 2),\n    mediana_user_total_reviews: round(medianaTot, 1),\n    pct_novatos: round((novatos.length / total) * 100, 2),\n    pct_intermediarios: round((intermediarios.length / total) * 100, 2),\n    pct_experientes: round((experientes.length / total) * 100, 2),\n    media_nota_novatos: round(mediaNov, 3),\n    media_nota_intermediarios: round(mean(intermediarios), 3),\n    media_nota_experientes: round(mediaExp, 3),\n    diff_experientes_vs_novatos: round(diffExpNov, 3),\n    pct_com_foto: round((comFoto / total) * 100, 2),\n    pct_com_texto: round((comTexto / total) * 100, 2),\n    comprimento_medio_texto: round(mean(compTexto) ?? 0, 1),\n  };\n}\n\n// === BLOCO 8 — Textual ===\nconst STOPWORDS_PT = new Set([\n  \"a\",\"o\",\"e\",\"de\",\"da\",\"do\",\"das\",\"dos\",\"para\",\"com\",\"que\",\"em\",\"no\",\"na\",\"nos\",\"nas\",\n  \"um\",\"uma\",\"uns\",\"umas\",\"os\",\"as\",\"se\",\"por\",\"ao\",\"aos\",\"mas\",\"como\",\"muito\",\"mais\",\n  \"foi\",\"ser\",\"esta\",\"estao\",\"tambem\",\"so\",\"ja\",\"sem\",\"ou\",\"isso\",\"esse\",\"essa\",\"este\",\n  \"ele\",\"ela\",\"eles\",\"elas\",\"eu\",\"voce\",\"voces\",\"minha\",\"meu\",\"seu\",\"sua\",\"nao\",\n  \"sim\",\"sao\",\"tem\",\"ter\",\"fui\",\"vai\",\"vou\",\"todos\",\"todas\",\"todo\",\"toda\",\"pelo\",\n  \"pela\",\"pelos\",\"pelas\",\"quando\",\"onde\",\"aqui\",\"ali\",\"la\",\"entao\",\"porque\",\"pois\",\n  \"the\",\"and\",\"for\",\"with\",\"this\",\"that\",\"you\",\"are\",\"was\",\"were\",\n]);\nfunction tokenizar(texto) {\n  if (!texto) return [];\n  return String(texto).toLowerCase()\n    .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-z0-9\\s]/g, \" \")\n    .split(/\\s+/)\n    .filter(w => w.length >= 4 && !STOPWORDS_PT.has(w));\n}\nfunction topPalavras(textos, top = 10) {\n  const freq = {};\n  for (const t of textos) for (const w of tokenizar(t)) freq[w] = (freq[w] || 0) + 1;\n  return Object.entries(freq).sort((a, b) => b[1] - a[1]).slice(0, top).map(([w, c]) => ({ palavra: w, freq: c }));\n}\nfunction analiseTextual(reviews) {\n  if (!Array.isArray(reviews) || reviews.length === 0)\n    return { _aviso: \"Sem reviews amostradas\", amostra_size: 0 };\n  const valid = reviews.filter(r => r);\n  const positivas = valid.filter(r => (r?.review_rate ?? 0) >= 4);\n  const negativas = valid.filter(r => (r?.review_rate ?? 0) <= 2 && (r?.review_rate ?? 0) > 0);\n\n  const compMedio = (arr) => {\n    const c = arr.map(r => r?.review_text ? String(r.review_text).length : 0).filter(x => x > 0);\n    return c.length > 0 ? mean(c) : 0;\n  };\n  const hasResp = (r) => Boolean(r?.business_response_text || r?.owner_answer);\n  const respGeral = valid.length > 0 ? valid.filter(hasResp).length / valid.length : 0;\n  const respNeg = negativas.length > 0 ? negativas.filter(hasResp).length / negativas.length : null;\n  const respPos = positivas.length > 0 ? positivas.filter(hasResp).length / positivas.length : null;\n\n  return {\n    amostra_size: valid.length,\n    comprimento_medio_positivas: round(compMedio(positivas), 1),\n    comprimento_medio_negativas: round(compMedio(negativas), 1),\n    top_palavras_positivas: topPalavras(positivas.map(r => r?.review_text), 10),\n    top_palavras_negativas: topPalavras(negativas.map(r => r?.review_text), 10),\n    taxa_resposta_geral: round(respGeral * 100, 2),\n    taxa_resposta_negativas: respNeg !== null ? round(respNeg * 100, 2) : null,\n    taxa_resposta_positivas: respPos !== null ? round(respPos * 100, 2) : null,\n    proprietario_engajado: respGeral >= 0.3,\n  };\n}\n\n// === BLOCO 9 — Red flags ===\nfunction redFlags(ctx) {\n  const flags = [];\n  const add = (severidade, flag, detalhe) => flags.push({ severidade, flag, detalhe });\n  const { divergencia, notaGoogle, mediaCalc, temporalData, n, minReviews, wilson95, credData, diagData, textualData } = ctx;\n\n  if (notaGoogle !== null && Math.abs(divergencia) > 0.15)\n    add(\"média\", \"Divergência entre nota do Google e média calculada\",\n      `Google=${notaGoogle}, calculada=${round(mediaCalc, 3)} (Δ=${round(divergencia, 3)})`);\n\n  const delta = temporalData?.comparacao_metades?.delta;\n  if (typeof delta === \"number\" && delta < -0.7)\n    add(\"alta\", \"Queda forte na qualidade ao longo do tempo\", `Delta entre metades: ${delta}`);\n\n  const d = temporalData?.dias_desde_ultima_review;\n  if (typeof d === \"number\") {\n    if (d > 365) add(\"alta\", \"Sem reviews há mais de 1 ano (na amostra)\", `${d} dias`);\n    else if (d > 180) add(\"média\", \"Sem reviews há mais de 6 meses (na amostra)\", `${d} dias`);\n  }\n  if (diagData?.formato?.includes(\"polarizado\"))\n    add(\"média\", \"Distribuição polarizada\", \"Muitas notas extremas (1★ e 5★), pouco meio — opiniões divididas\");\n  if (diagData?.formato?.includes(\"J shape\"))\n    add(\"baixa\", \"Possível viés de seleção\", \"J shape — clientes engajados só nos extremos da experiência\");\n  if (n < minReviews)\n    add(\"alta\", \"Amostra abaixo do mínimo\",\n      `Apenas ${n} de ${minReviews} avaliações mínimas — estatísticas pouco confiáveis`);\n  if (wilson95 && wilson95.amplitude > 1.5)\n    add(\"média\", \"IC 95% (Wilson) muito amplo\", `Amplitude de ${wilson95.amplitude} estrelas — alta incerteza sobre a média verdadeira`);\n  if (credData?.pct_novatos !== undefined && credData.pct_novatos > 60)\n    add(\"baixa\", \"Muitos avaliadores novatos\", `${credData.pct_novatos}% têm ≤2 reviews`);\n  const diff = credData?.diff_experientes_vs_novatos;\n  if (typeof diff === \"number\" && Math.abs(diff) > 1.5)\n    add(\"média\", \"Discrepância forte entre experientes e novatos\", `Diferença de ${diff} estrelas — possível astroturfing`);\n  const trn = textualData?.taxa_resposta_negativas;\n  if (typeof trn === \"number\" && trn < 20 && (textualData?.amostra_size ?? 0) > 3)\n    add(\"baixa\", \"Baixa taxa de resposta às reviews negativas\", `Apenas ${trn}% das negativas receberam resposta`);\n\n  return flags;\n}\n\n// === BLOCO 10 — Score composto e confiança ===\nfunction classificarConfianca(n) {\n  if (n < 5)   return { nivel: \"insuficiente\",  peso: 0.0 };\n  if (n < 15)  return { nivel: \"muito baixa\",   peso: 0.2 };\n  if (n < 30)  return { nivel: \"baixa\",         peso: 0.4 };\n  if (n < 100) return { nivel: \"média\",         peso: 0.6 };\n  if (n < 500) return { nivel: \"alta\",          peso: 0.8 };\n  return         { nivel: \"muito alta\",         peso: 1.0 };\n}\nfunction scoreComposto({ wilson95, n, slopeAno, pctExperientes, indicePol }) {\n  const notaBase    = clamp((wilson95.inferior - 1) / 4, 0, 1);\n  const confAmostra = Math.min(1, Math.log10(n + 1) / Math.log10(501));\n  const slope       = slopeAno ?? 0;\n  const bonusTend   = clamp(0.5 + slope / 2, 0, 1);\n  const bonusCred   = Math.min(1, (pctExperientes ?? 0) / 100 + 0.3);\n  const penalPol    = indicePol ?? 0;\n  let score = 0.50 * notaBase + 0.20 * confAmostra + 0.15 * bonusTend + 0.10 * bonusCred - 0.15 * penalPol;\n  return round(clamp(score, 0, 1) * 10, 2);\n}\n\n// === BLOCO 11 — Veredicto ===\nfunction classificarFaixa(score) {\n  if (score >= 8.5) return \"✅ Excelente\";\n  if (score >= 7.0) return \"🟢 Muito bom\";\n  if (score >= 5.5) return \"🟡 Bom\";\n  if (score >= 4.0) return \"🟠 Regular\";\n  if (score >= 2.5) return \"🔴 Ruim\";\n  return \"⛔ Péssimo\";\n}\nfunction recomendacaoFromFlags(flags) {\n  const altas = flags.filter(f => f.severidade === \"alta\").length;\n  const medias = flags.filter(f => f.severidade === \"média\").length;\n  if (altas >= 2) return \"Evitar — múltiplos sinais de alerta sérios\";\n  if (altas === 1) return \"Verificar contexto antes de visitar — há um alerta importante\";\n  if (medias >= 3) return \"Cautela — vários sinais de inconsistência\";\n  if (medias >= 1) return \"Aceitável com ressalvas\";\n  return \"Sem alertas relevantes — pode visitar com confiança\";\n}\nfunction veredicto({ confianca, score, mediaCalc, n, wilson95, diagData, temporalData, flags }) {\n  if (confianca.nivel === \"insuficiente\") {\n    return {\n      classificacao: \"❌ Indeterminado\", score_final: null,\n      texto: `Apenas ${n} avaliação(ões) — dados insuficientes para um veredicto estatístico confiável.`,\n      recomendacao: \"Buscar outras fontes de informação ou aguardar mais avaliações.\",\n    };\n  }\n  const tendencia = temporalData?.regressao_linear?.interpretacao ?? \"sem dados temporais suficientes\";\n  return {\n    classificacao: classificarFaixa(score),\n    score_final: score,\n    texto: `Nota média de ${round(mediaCalc, 2)} estrelas, baseada em ${n} avaliações (confiança ${confianca.nivel}). IC 95% Wilson: [${wilson95.inferior}, ${wilson95.superior}]. Distribuição: ${diagData.formato}. Tendência temporal: ${tendencia}.`,\n    recomendacao: recomendacaoFromFlags(flags),\n  };\n}\n\n// =============================================================================\n//   AVALIAÇÃO POR CATEGORIA — uma coluna top-level por bloco\n// =============================================================================\n\nfunction confPopulacao(n) {\n  if (n < 5)   return 10;\n  if (n < 15)  return 35;\n  if (n < 30)  return 55;\n  if (n < 100) return 75;\n  if (n < 500) return 90;\n  return 97;\n}\nfunction confAmostra(k) {\n  if (k < 3)  return 15;\n  if (k < 5)  return 30;\n  if (k < 10) return 50;\n  if (k < 20) return 70;\n  return 85;\n}\nfunction ajustarFronteira(base, valor, limiar, range = 0.5) {\n  const dist = Math.abs(valor - limiar);\n  if (dist >= range) return base;\n  return base * (0.6 + 0.4 * (dist / range));\n}\nfunction montarCategoria({ nome, criterio, valor_observado, score, status, confiabilidade_pct, observacao }) {\n  return {\n    nome,\n    status,\n    score: round(score, 2),\n    confiabilidade_pct: round(clamp(confiabilidade_pct, 0, 100), 1),\n    criterio,\n    valor_observado,\n    observacao,\n  };\n}\n\nfunction avaliarCategorias(analise, n) {\n  const reviewsN = analise?.temporal?.amostra_size ?? 0;\n  const cats = {};\n\n  // CAT 1 — Tendência Central\n  (() => {\n    const m = analise.tendencia_central.media;\n    const trunc = analise.tendencia_central.media_truncada_10;\n    const consistencia = Math.abs(m - trunc);\n    let status = \"neutro\";\n    if (m >= 3.5) status = \"aprovado\";\n    else if (m < 3.0) status = \"reprovado\";\n    const score = clamp(((m - 1) / 4) * 10, 0, 10);\n    let conf = confPopulacao(n);\n    if (consistencia > 0.3) conf *= 0.85;\n    const limiar = status === \"aprovado\" ? 3.5 : (status === \"reprovado\" ? 3.0 : 3.25);\n    conf = ajustarFronteira(conf, m, limiar, 0.4);\n    cats.tendencia = montarCategoria({\n      nome: \"Tendência Central\",\n      criterio: \"Aprovado: média ≥ 3.5★. Reprovado: < 3.0★.\",\n      valor_observado: `média=${round(m, 2)}, truncada=${round(trunc, 2)}`,\n      score, status, confiabilidade_pct: conf,\n      observacao: `Média de ${round(m, 2)}★ com consistência ${consistencia < 0.3 ? \"boa\" : \"fraca\"} (|Δ truncada|=${round(consistencia, 2)})`,\n    });\n  })();\n\n  // CAT 2 — Dispersão / Consenso\n  (() => {\n    const dp = analise.dispersao_forma.desvio_padrao;\n    const cv = analise.dispersao_forma.coef_variacao;\n    const ent = analise.dispersao_forma.entropia_normalizada;\n    let status = \"neutro\";\n    if (dp < 1.2) status = \"aprovado\";\n    else if (dp >= 1.7) status = \"reprovado\";\n    const score = clamp(10 - dp * 5, 0, 10);\n    let conf = confPopulacao(n);\n    const limiar = status === \"aprovado\" ? 1.2 : (status === \"reprovado\" ? 1.7 : 1.45);\n    conf = ajustarFronteira(conf, dp, limiar, 0.3);\n    cats.dispersao = montarCategoria({\n      nome: \"Dispersão / Consenso\",\n      criterio: \"Aprovado: σ < 1.2★. Reprovado: σ ≥ 1.7★.\",\n      valor_observado: `σ=${round(dp, 2)}, CV=${round(cv, 3)}, entropia_norm=${round(ent, 3)}`,\n      score, status, confiabilidade_pct: conf,\n      observacao: `Desvio de ${round(dp, 2)}★ — ${dp < 1.2 ? \"forte consenso\" : dp < 1.7 ? \"opiniões moderadamente espalhadas\" : \"opiniões muito divididas\"}`,\n    });\n  })();\n\n  // CAT 3 — Precisão da Estimativa\n  (() => {\n    const w95 = analise.inferencia.wilson_95;\n    const amp = w95.amplitude;\n    let status = \"neutro\";\n    if (amp < 0.8) status = \"aprovado\";\n    else if (amp >= 1.5) status = \"reprovado\";\n    const score = clamp(10 - amp * 2.5, 0, 10);\n    let conf = confPopulacao(n);\n    const limiar = status === \"aprovado\" ? 0.8 : (status === \"reprovado\" ? 1.5 : 1.15);\n    conf = ajustarFronteira(conf, amp, limiar, 0.4);\n    cats.inferencia = montarCategoria({\n      nome: \"Precisão da Estimativa\",\n      criterio: \"Aprovado: amplitude IC95% Wilson < 0.8★. Reprovado: ≥ 1.5★.\",\n      valor_observado: `IC95% Wilson=[${w95.inferior}, ${w95.superior}], amplitude=${amp}`,\n      score, status, confiabilidade_pct: conf,\n      observacao: `Margem de incerteza de ±${round(amp / 2, 2)}★ — ${amp < 0.8 ? \"estimativa precisa\" : amp < 1.5 ? \"incerteza moderada\" : \"alta incerteza\"}`,\n    });\n  })();\n\n  // CAT 4 — Sentimento\n  (() => {\n    const s = analise.sentimento;\n    const pos = s.pct_positivas, neg = s.pct_negativas, nps = s.nps_adaptado;\n    let status = \"neutro\";\n    if (pos >= 65 && neg <= 25) status = \"aprovado\";\n    else if (pos < 45 || neg > 40) status = \"reprovado\";\n    const score = clamp(pos / 10, 0, 10);\n    let conf = confPopulacao(n);\n    conf = ajustarFronteira(conf, pos, status === \"aprovado\" ? 65 : (status === \"reprovado\" ? 45 : 55), 10);\n    cats.sentimento = montarCategoria({\n      nome: \"Sentimento\",\n      criterio: \"Aprovado: ≥65% positivas E ≤25% negativas. Reprovado: <45% positivas OU >40% negativas.\",\n      valor_observado: `pos=${pos}%, neu=${s.pct_neutras}%, neg=${neg}%, NPS=${nps}`,\n      score, status, confiabilidade_pct: conf,\n      observacao: `${pos}% positivas vs. ${neg}% negativas; NPS adaptado de ${nps} (${nps > 50 ? \"muito bom\" : nps > 0 ? \"positivo\" : \"negativo\"})`,\n    });\n  })();\n\n  // CAT 5 — Forma da Distribuição\n  (() => {\n    const f = analise.diagnostico_forma.formato;\n    const idxPol = analise.diagnostico_forma.indice_polarizacao;\n    const tabela = [\n      [/concentrado em 5/, 9.5, \"aprovado\", \"Consenso forte positivo\"],\n      [/concentrado em 4/, 8.0, \"aprovado\", \"Maioria muito satisfeita\"],\n      [/decrescente típico/, 9.0, \"aprovado\", \"Padrão saudável típico\"],\n      [/predominantemente positivo/, 7.0, \"aprovado\", \"Inclinação positiva clara\"],\n      [/centrado em 3/, 5.0, \"neutro\", \"Experiência mediana dominante\"],\n      [/uniforme/, 4.0, \"neutro\", \"Sem padrão claro\"],\n      [/J shape/, 5.0, \"neutro\", \"Viés de seleção — só extremos votam\"],\n      [/polarizado/, 3.5, \"reprovado\", \"Opiniões divididas\"],\n      [/predominantemente negativo/, 2.5, \"reprovado\", \"Inclinação negativa clara\"],\n      [/concentrado em 1/, 1.0, \"reprovado\", \"Consenso forte negativo\"],\n      [/concentrado em 2/, 2.0, \"reprovado\", \"Consenso forte negativo\"],\n    ];\n    let score = 5, status = \"neutro\", obs = \"Formato sem mapeamento explícito\";\n    for (const [rx, s, st, o] of tabela) if (rx.test(f)) { score = s; status = st; obs = o; break; }\n    let conf = confPopulacao(n);\n    if (idxPol < 0.15) conf *= 0.85;\n    if (n < 30) conf *= 0.9;\n    cats.forma = montarCategoria({\n      nome: \"Forma da Distribuição\",\n      criterio: \"Aprovado: J invertido / concentrado-positivo / predominantemente positivo. Reprovado: polarizado / negativo.\",\n      valor_observado: `formato=\"${f}\", índice_polarização=${idxPol}`,\n      score, status, confiabilidade_pct: conf, observacao: obs,\n    });\n  })();\n\n  // CAT 6 — Estabilidade Temporal\n  (() => {\n    const t = analise.temporal;\n    if (!t || t._aviso?.includes(\"indisponível\") || t.amostra_size === 0) {\n      cats.temporal = montarCategoria({\n        nome: \"Estabilidade Temporal\",\n        criterio: \"Aprovado: sem queda + última < 180d. Reprovado: queda clara OU > 365d sem reviews.\",\n        valor_observado: \"amostra temporal vazia\",\n        score: 5, status: \"neutro\", confiabilidade_pct: 0,\n        observacao: \"Sem dados temporais para avaliar\",\n      });\n      return;\n    }\n    const slope = t.regressao_linear?.slope_estrelas_por_ano ?? 0;\n    const dias = t.dias_desde_ultima_review ?? 9999;\n    const delta = t.comparacao_metades?.delta ?? 0;\n    const piorando = slope < -0.3 || delta < -0.7;\n    const muitoAntiga = dias > 365;\n    const recente = dias < 180;\n    let status = \"neutro\";\n    if (!piorando && !muitoAntiga && recente) status = \"aprovado\";\n    else if (piorando || muitoAntiga) status = \"reprovado\";\n    const scoreTend = clamp(5 + slope * 5, 0, 10);\n    const scoreRec = clamp(10 - (dias / 365) * 5, 0, 10);\n    const score = (scoreTend + scoreRec) / 2;\n    let conf = confAmostra(reviewsN);\n    if (Math.abs(slope) < 0.1 && Math.abs(delta) < 0.2) conf *= 0.8;\n    cats.temporal = montarCategoria({\n      nome: \"Estabilidade Temporal\",\n      criterio: \"Aprovado: sem queda + última < 180d. Reprovado: queda clara OU > 365d sem reviews.\",\n      valor_observado: `slope=${slope}★/ano, Δ metades=${delta}, últimos=${dias}d, amostra=${reviewsN}`,\n      score, status, confiabilidade_pct: conf,\n      observacao: `Tendência: ${t.regressao_linear?.interpretacao ?? \"n/d\"}. Última review há ${round(dias, 0)} dias.`,\n    });\n  })();\n\n  // CAT 7 — Credibilidade dos Avaliadores\n  (() => {\n    const c = analise.credibilidade;\n    if (!c || c._aviso || c.amostra_size === 0) {\n      cats.credibilidade = montarCategoria({\n        nome: \"Credibilidade dos Avaliadores\",\n        criterio: \"Aprovado: ≤50% novatos E |Δ exp vs nov| < 1.0. Reprovado: >60% novatos OU |Δ| > 1.5.\",\n        valor_observado: \"amostra de credibilidade vazia\",\n        score: 5, status: \"neutro\", confiabilidade_pct: 0,\n        observacao: \"Sem dados sobre avaliadores\",\n      });\n      return;\n    }\n    const pctNov = c.pct_novatos ?? 0;\n    const pctExp = c.pct_experientes ?? 0;\n    const diff = c.diff_experientes_vs_novatos;\n    const absDiff = diff !== null && diff !== undefined ? Math.abs(diff) : 0;\n    let status = \"neutro\";\n    if (pctNov <= 50 && absDiff < 1.0) status = \"aprovado\";\n    else if (pctNov > 60 || absDiff > 1.5) status = \"reprovado\";\n    const scoreExp = clamp(pctExp / 10 + 3, 0, 10);\n    const scoreDiff = clamp(10 - absDiff * 4, 0, 10);\n    const score = (scoreExp + scoreDiff) / 2;\n    let conf = confAmostra(c.amostra_size);\n    if (absDiff > 2) conf *= 1.15;\n    if (c.amostra_size < 5) conf *= 0.7;\n    cats.credibilidade = montarCategoria({\n      nome: \"Credibilidade dos Avaliadores\",\n      criterio: \"Aprovado: ≤50% novatos E |Δ exp vs nov| < 1.0. Reprovado: >60% novatos OU |Δ| > 1.5.\",\n      valor_observado: `novatos=${pctNov}%, experientes=${pctExp}%, Δ=${diff}★, amostra=${c.amostra_size}`,\n      score, status, confiabilidade_pct: conf,\n      observacao: `${pctNov}% novatos; Δ exp vs nov=${diff ?? \"n/d\"}★${absDiff > 1.5 ? \" → possível astroturfing\" : \"\"}`,\n    });\n  })();\n\n  // CAT 8 — Engajamento do Proprietário\n  (() => {\n    const t = analise.textual;\n    if (!t || t._aviso || t.amostra_size === 0) {\n      cats.engajamento = montarCategoria({\n        nome: \"Engajamento do Proprietário\",\n        criterio: \"Aprovado: engajado=true OU responde ≥40% das negativas. Reprovado: <15% geral.\",\n        valor_observado: \"amostra textual vazia\",\n        score: 5, status: \"neutro\", confiabilidade_pct: 0,\n        observacao: \"Sem dados sobre respostas do estabelecimento\",\n      });\n      return;\n    }\n    const respGeral = t.taxa_resposta_geral ?? 0;\n    const respNeg = t.taxa_resposta_negativas;\n    const engajado = t.proprietario_engajado;\n    let status = \"neutro\";\n    if (engajado || (typeof respNeg === \"number\" && respNeg >= 40)) status = \"aprovado\";\n    else if (respGeral < 15) status = \"reprovado\";\n    const score = typeof respNeg === \"number\"\n      ? clamp((respNeg * 0.7 + respGeral * 0.3) / 10, 0, 10)\n      : clamp(respGeral / 10, 0, 10);\n    let conf = confAmostra(t.amostra_size);\n    if (respNeg === null) conf *= 0.7;\n    if (t.amostra_size < 5) conf *= 0.7;\n    cats.engajamento = montarCategoria({\n      nome: \"Engajamento do Proprietário\",\n      criterio: \"Aprovado: engajado=true OU responde ≥40% das negativas. Reprovado: <15% geral.\",\n      valor_observado: `resp_geral=${respGeral}%, resp_neg=${respNeg ?? \"n/d\"}%, engajado=${engajado}`,\n      score, status, confiabilidade_pct: conf,\n      observacao: `Dono responde ${respGeral}% em geral${typeof respNeg === \"number\" ? ` e ${respNeg}% das negativas` : \" (sem negativas na amostra)\"}`,\n    });\n  })();\n\n  // CAT 9 — Ausência de Red Flags\n  (() => {\n    const flags = analise.red_flags ?? [];\n    const altas = flags.filter(f => f.severidade === \"alta\").length;\n    const medias = flags.filter(f => f.severidade === \"média\").length;\n    const baixas = flags.filter(f => f.severidade === \"baixa\").length;\n    let status = \"neutro\";\n    if (altas === 0 && medias <= 1) status = \"aprovado\";\n    else if (altas >= 2 || medias >= 4) status = \"reprovado\";\n    const score = clamp(10 - (altas * 3 + medias * 1.2 + baixas * 0.4), 0, 10);\n    let conf = confPopulacao(n);\n    if (altas + medias >= 3) conf = Math.min(98, conf * 1.05);\n    cats.red_flags = montarCategoria({\n      nome: \"Ausência de Red Flags\",\n      criterio: \"Aprovado: 0 altas E ≤1 média. Reprovado: ≥2 altas OU ≥4 médias.\",\n      valor_observado: `altas=${altas}, médias=${medias}, baixas=${baixas}`,\n      score, status, confiabilidade_pct: conf,\n      observacao: flags.length === 0\n        ? \"Nenhum alerta detectado\"\n        : `${flags.length} alerta(s): ` + flags.map(f => `[${f.severidade}] ${f.flag}`).join(\"; \"),\n    });\n  })();\n\n  // CAT 10 — Veredicto Global\n  (() => {\n    const v = analise.veredicto;\n    const score = v.score_final ?? 0;\n    const cls = v.classificacao ?? \"❌ Indeterminado\";\n    let status = \"neutro\";\n    if (score >= 7.0) status = \"aprovado\";\n    else if (score < 4.0) status = \"reprovado\";\n    let conf = (analise.confianca?.peso ?? 0) * 100;\n    conf = ajustarFronteira(conf, score, status === \"aprovado\" ? 7.0 : (status === \"reprovado\" ? 4.0 : 5.5), 1.0);\n    cats.veredicto = montarCategoria({\n      nome: \"Veredicto Global\",\n      criterio: \"Aprovado: score ≥ 7.0. Reprovado: < 4.0.\",\n      valor_observado: `classificação=\"${cls}\", score=${score}, confiança=\"${analise.confianca?.nivel ?? \"n/d\"}\"`,\n      score, status, confiabilidade_pct: conf, observacao: v.texto ?? \"\",\n    });\n  })();\n\n  return cats;\n}\n\n// === EXTRAS — tags, highlights, próxima ação ===\nfunction gerarTags(analise, cats) {\n  const tags = [];\n  const f = analise.diagnostico_forma?.formato ?? \"\";\n  if (f.includes(\"polarizado\")) tags.push(\"público-dividido\");\n  if (f.includes(\"J invertido\") || f.includes(\"decrescente\")) tags.push(\"padrão-saudável\");\n  if (f.includes(\"concentrado em 5\")) tags.push(\"consenso-positivo\");\n  if (f.includes(\"concentrado em 1\") || f.includes(\"concentrado em 2\")) tags.push(\"consenso-negativo\");\n  if (f.includes(\"J shape\")) tags.push(\"viés-de-seleção\");\n\n  const sen = analise.sentimento;\n  if (sen?.pct_positivas >= 80) tags.push(\"muito-positivo\");\n  if (sen?.pct_negativas >= 30) tags.push(\"muitas-reclamações\");\n  if (sen?.nps_adaptado >= 50) tags.push(\"NPS-alto\");\n\n  const t = analise.temporal;\n  if (t?.amostra_size === 0) tags.push(\"sem-amostra-temporal\");\n  if (t?.regressao_linear?.interpretacao === \"queda clara\") tags.push(\"em-queda\");\n  if (t?.regressao_linear?.interpretacao === \"melhora clara\") tags.push(\"em-ascensão\");\n  if (typeof t?.dias_desde_ultima_review === \"number\" && t.dias_desde_ultima_review > 365) tags.push(\"inativo\");\n\n  const c = analise.credibilidade;\n  if (c?.pct_novatos > 60) tags.push(\"muitos-novatos\");\n  const diff = c?.diff_experientes_vs_novatos;\n  if (typeof diff === \"number\" && Math.abs(diff) > 1.5) tags.push(\"suspeita-astroturfing\");\n\n  const txt = analise.textual;\n  if (txt?.proprietario_engajado) tags.push(\"dono-engajado\");\n\n  if (analise.confianca?.nivel === \"muito alta\") tags.push(\"dados-robustos\");\n  if (analise.confianca?.nivel === \"insuficiente\") tags.push(\"dados-insuficientes\");\n\n  if (cats.veredicto?.status === \"aprovado\") tags.push(\"recomendado\");\n  if (cats.veredicto?.status === \"reprovado\") tags.push(\"não-recomendado\");\n\n  return Array.from(new Set(tags));\n}\n\nfunction gerarHighlights(analise, cats, resumo) {\n  const hs = [];\n  // 1. Veredicto resumido\n  hs.push(`${resumo.status_global} — ${resumo.aprovadas}/${resumo.total_categorias} categorias aprovadas (score categorias ${resumo.score_categorias_ponderado}/10)`);\n  // 2. Ponto mais forte\n  const ord = Object.values(cats).filter(c => c.confiabilidade_pct > 30).sort((a, b) => b.score - a.score);\n  if (ord[0]) hs.push(`✚ Mais forte: ${ord[0].nome} (score ${ord[0].score}, ${ord[0].status})`);\n  // 3. Ponto mais fraco\n  if (ord.length > 1) {\n    const fraco = ord[ord.length - 1];\n    hs.push(`✗ Mais fraco: ${fraco.nome} (score ${fraco.score}, ${fraco.status})`);\n  }\n  // 4. Red flag principal se houver\n  const flags = analise.red_flags ?? [];\n  const flagAlta = flags.find(f => f.severidade === \"alta\");\n  if (flagAlta) hs.push(`⚠ Alerta alto: ${flagAlta.flag}`);\n  return hs;\n}\n\nfunction proximaAcao(resumo, cats) {\n  if (resumo.status_global.includes(\"Reprovado\")) return \"Evitar — múltiplos pontos críticos\";\n  if (resumo.status_global.includes(\"Insatisfatório\")) return \"Buscar alternativas antes de decidir\";\n  if (cats.veredicto?.status === \"aprovado\" && resumo.reprovadas === 0) return \"Pode visitar com confiança\";\n  if (resumo.aprovadas >= 5) return \"Aceitável — verificar pontos de ressalva antes\";\n  return \"Avaliar caso a caso\";\n}\n\n// === REGRAS HARD DE REPROVAÇÃO ===\n// Sobrescrevem o statusBase quando QUALQUER uma é violada.\n// Servem como \"deal-breakers\" — evitam custo com agente LLM em casos óbvios.\nfunction regrasHardReprovacao({ n, minReviews, score, classificacao, conf, flags, wilson95, dist, temporalData }) {\n  const motivos = [];\n  const altasFlags = flags.filter(f => f.severidade === \"alta\").length;\n  const confNivelOk = [\"alta\", \"muito alta\"].includes(conf?.nivel);\n\n  // 1. Amostra abaixo do mínimo exigido para o estabelecimento\n  if (n < minReviews) motivos.push(`Amostra abaixo do mínimo exigido (n=${n} < ${minReviews})`);\n\n  // 2. Resultado \"Regular\" (score 4.0-5.5) sem confiança alta — não vale gastar LLM\n  if (typeof score === \"number\" && score >= 4.0 && score < 5.5 && !confNivelOk) {\n    motivos.push(`Resultado regular (score=${score}) com confiança apenas ${conf?.nivel}`);\n  }\n\n  // 3. Veredicto categoricamente ruim\n  if (classificacao === \"🔴 Ruim\" || classificacao === \"⛔ Péssimo\") {\n    motivos.push(`Veredicto estatístico: ${classificacao}`);\n  }\n\n  // 4. 2+ red flags de alta severidade\n  if (altasFlags >= 2) motivos.push(`${altasFlags} alertas críticos simultâneos`);\n\n  // 5. Mesmo o melhor caso (IC superior) é insatisfatório\n  if (wilson95 && typeof wilson95.superior === \"number\" && wilson95.superior < 3.0) {\n    motivos.push(`Mesmo o melhor cenário é ruim (IC95% superior=${wilson95.superior}★)`);\n  }\n\n  // 6. Consenso negativo (>60% das notas em 1-2★)\n  if (Array.isArray(dist) && n > 0) {\n    const pctNeg = ((dist[0] + dist[1]) / n) * 100;\n    if (pctNeg > 60) motivos.push(`${pctNeg.toFixed(1)}% das notas são negativas (1-2★)`);\n  }\n\n  // 7. Possivelmente fechado / inativo\n  const dias = temporalData?.dias_desde_ultima_review;\n  if (typeof dias === \"number\" && dias > 730) {\n    motivos.push(`Sem reviews há ${Math.round(dias)} dias (>2 anos) — possivelmente inativo`);\n  }\n\n  return motivos;\n}\n\n// === VERIFICAÇÃO: estabelecimento fechado permanentemente ===\n// Detecta variações de grafia do campo `status` (acentos, underscore, inglês).\nfunction isFechadoPermanente(statusRaw) {\n  const s = String(statusRaw ?? \"\")\n    .toLowerCase()\n    .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\")  // remove acentos\n    .trim();\n  return (\n    s.includes(\"fechado_permanente\") ||\n    s.includes(\"fechado permanente\") ||\n    s.includes(\"permanentemente fechado\") ||\n    s === \"closed_permanently\" ||\n    s === \"permanently_closed\"\n  );\n}\n\n// ===== PIPELINE PRINCIPAL =====\nfunction analisar(e) {\n  const nome = e?.nome ?? \"(sem nome)\";\n\n  // Mínimo de avaliações exigido — vem do próprio estabelecimento (input),\n  // com fallback caso o campo não esteja presente.\n  const MIN_REVIEWS_DEFAULT = 10;\n  const minReviews = (typeof e?.minimum_reviews === \"number\" && e.minimum_reviews > 0)\n    ? e.minimum_reviews\n    : MIN_REVIEWS_DEFAULT;\n\n  // Metadados comuns (calculados antes para reuso nos casos de saída antecipada)\n  const distMeta = (Array.isArray(e?.distribuicao_notas) && e.distribuicao_notas.length === 5)\n    ? e.distribuicao_notas.map(x => Number(x) || 0)\n    : [0, 0, 0, 0, 0];\n  const nMeta = distMeta.reduce((a, b) => a + b, 0);\n  const notaGoogleMeta = typeof e?.nota === \"number\" ? e.nota : null;\n  const qtdAvMeta = typeof e?.qtd_avaliacoes === \"number\" ? e.qtd_avaliacoes : nMeta;\n  const metadados = {\n    subtipos: e?.subtipos ?? null,\n    bairro: e?.bairro ?? null,\n    cidade: e?.cidade ?? null,\n    estado: e?.estado ?? null,\n    endereco: e?.endereco ?? null,\n    faixa_preco: e?.faixa_preco ?? null,\n    status: e?.status ?? null,\n    nota_google: notaGoogleMeta,\n    qtd_avaliacoes: qtdAvMeta,\n    distribuicao_notas: distMeta,\n    minimo_avaliacoes: minReviews,\n  };\n\n  // ===== CASO 1: estabelecimento FECHADO PERMANENTEMENTE =====\n  // Roda ANTES de qualquer análise estatística e antes do caso n=0:\n  // mesmo com muitas avaliações, se está fechado, deve ser reprovado.\n  if (isFechadoPermanente(e?.status)) {\n    const motivo = `Estabelecimento fechado permanentemente (status=\"${e?.status}\")`;\n    const vazio = {\n      nome: \"—\", status: \"reprovado\", score: 0, confiabilidade_pct: 100,\n      criterio: \"Estabelecimento deve estar em operação.\",\n      valor_observado: `status=\"${e?.status}\"`,\n      observacao: motivo,\n    };\n    return {\n      nome,\n      metadados,\n      status_global: `⛔ Reprovado — ${motivo}`,\n      status_codigo: \"reprovado_fechado\",   // código próprio: distinto de reprovado/reprovado_hard\n      motivo_status: motivo,\n      processar_qualitativo: false,          // curto-circuito: não roda agentes LLM\n      regras_hard_violadas: [motivo],\n      leitura_rapida: \"Fechado permanentemente\",\n      score_composto_estatistico: null,\n      score_categorias_ponderado: null,\n      classificacao: \"⛔ Fechado\",\n      confianca_nivel: \"n/a\",\n      proxima_acao: \"Remover da base / não recomendar — não está mais em operação\",\n      tags: [\"fechado-permanente\", \"não-recomendado\"],\n      highlights: [`⛔ ${motivo}`],\n      resumo_categorias: {\n        status_global: `⛔ Reprovado — ${motivo}`,\n        status_base: \"⛔ Reprovado\",\n        status_codigo: \"reprovado_fechado\",\n        motivo_status: motivo,\n        processar_qualitativo: false,\n        regras_hard_violadas: [motivo],\n        aprovadas: 0, reprovadas: 10, neutras: 0, indeterminadas: 0,\n        total_categorias: 10, score_categorias_ponderado: null,\n        confiabilidade_media_pct: 100,\n        leitura_rapida: \"Fechado permanentemente\",\n      },\n      cat_tendencia: vazio, cat_dispersao: vazio, cat_inferencia: vazio,\n      cat_sentimento: vazio, cat_forma: vazio, cat_temporal: vazio,\n      cat_credibilidade: vazio, cat_engajamento: vazio, cat_red_flags: vazio,\n      cat_veredicto: vazio,\n      analise: {\n        status: \"fechado_permanente\",\n        veredicto: {\n          classificacao: \"⛔ Fechado\", score_final: null,\n          texto: motivo,\n          recomendacao: \"Não recomendar — estabelecimento encerrado.\",\n        },\n        leitura_rapida: \"Fechado permanentemente\",\n        validacao_dados: null,\n        tendencia_central: null, dispersao_forma: null, inferencia: null,\n        sentimento: null, diagnostico_forma: null, temporal: null,\n        credibilidade: null, textual: null,\n        confianca: { nivel: \"n/a\", peso: 0 },\n        red_flags: [{ severidade: \"alta\", flag: \"Fechado permanentemente\", detalhe: motivo }],\n      },\n    };\n  }\n\n  // Reusa os metadados já calculados\n  const dist = distMeta;\n  const n = nMeta;\n  const notaGoogle = notaGoogleMeta;\n  const reviews = Array.isArray(e?.reviews) ? e.reviews : [];\n\n  // ===== CASO 2: zero avaliações =====\n  if (n === 0) {\n    const vazio = {\n      nome: \"—\", status: \"indeterminado\", score: null, confiabilidade_pct: 0,\n      criterio: \"\", valor_observado: \"sem dados\", observacao: \"Estabelecimento sem avaliações\",\n    };\n    return {\n      nome,\n      metadados,\n      status_global: \"❌ Indeterminado — Sem avaliações registradas\",\n      status_codigo: \"indeterminado\",\n      motivo_status: \"Sem avaliações registradas (n=0)\",\n      processar_qualitativo: false,\n      regras_hard_violadas: [],\n      resumo_categorias: {\n        status_global: \"❌ Indeterminado — Sem avaliações registradas\",\n        status_base: \"❌ Indeterminado\",\n        status_codigo: \"indeterminado\",\n        motivo_status: \"Sem avaliações registradas (n=0)\",\n        processar_qualitativo: false,\n        aprovadas: 0, reprovadas: 0, neutras: 0, indeterminadas: 10,\n        total_categorias: 10, score_categorias_ponderado: null, confiabilidade_media_pct: 0,\n        leitura_rapida: \"Sem avaliações\",\n      },\n      tags: [\"sem-avaliacoes\", \"indeterminado\"],\n      highlights: [\"Sem avaliações registradas — análise não aplicável\"],\n      proxima_acao: \"Buscar dados em outra fonte\",\n      cat_tendencia: vazio, cat_dispersao: vazio, cat_inferencia: vazio,\n      cat_sentimento: vazio, cat_forma: vazio, cat_temporal: vazio,\n      cat_credibilidade: vazio, cat_engajamento: vazio, cat_red_flags: vazio,\n      cat_veredicto: vazio,\n      analise: {\n        status: \"sem_avaliacoes\",\n        veredicto: {\n          classificacao: \"❌ Indeterminado\", score_final: null,\n          texto: \"Estabelecimento sem avaliações registradas.\",\n          recomendacao: \"Sem dados para análise.\",\n        },\n        leitura_rapida: \"Sem avaliações\",\n        validacao_dados: null,\n        tendencia_central: null, dispersao_forma: null, inferencia: null,\n        sentimento: null, diagnostico_forma: null, temporal: null,\n        credibilidade: null, textual: null,\n        confianca: { nivel: \"insuficiente\", peso: 0 },\n        red_flags: [{ severidade: \"alta\", flag: \"Sem avaliações\", detalhe: \"Distribuição totalmente zerada\" }],\n      },\n    };\n  }\n\n  // ---- Blocos da análise ----\n  const tc   = tendenciaCentral(dist, n);\n  const df   = dispersaoForma(dist, n, tc.media);\n  const inf  = inferencia(tc.media, df.variancia, n);\n  const sen  = sentimento(dist, n);\n  const diag = diagnosticoForma(dist, n, df.variancia);\n  const tmp  = temporal(reviews);\n  const cred = credibilidade(reviews);\n  const txt  = analiseTextual(reviews);\n  const conf = classificarConfianca(n);\n\n  const divergencia = notaGoogle !== null ? notaGoogle - tc.media : null;\n  let interpDiv = \"indeterminado\";\n  if (divergencia !== null) {\n    const ab = Math.abs(divergencia);\n    interpDiv = ab < 0.15 ? \"consistente\" : (ab < 0.30 ? \"leve divergência\" : \"divergente\");\n  }\n\n  const flags = redFlags({\n    divergencia: divergencia ?? 0, notaGoogle, mediaCalc: tc.media,\n    temporalData: tmp, n, minReviews, wilson95: inf.wilson_95,\n    credData: cred, diagData: diag, textualData: txt,\n  });\n\n  const score = conf.nivel === \"insuficiente\" ? null : scoreComposto({\n    wilson95: inf.wilson_95, n,\n    slopeAno: tmp?.regressao_linear?.slope_estrelas_por_ano ?? null,\n    pctExperientes: cred?.pct_experientes ?? 0,\n    indicePol: diag?.indice_polarizacao ?? 0,\n  });\n\n  const ver = veredicto({\n    confianca: conf, score, mediaCalc: tc.media, n,\n    wilson95: inf.wilson_95, diagData: diag, temporalData: tmp, flags,\n  });\n\n  const leituraRapida = `${round(tc.media, 2)} ★ (IC 95%: ${inf.wilson_95.inferior}–${inf.wilson_95.superior}, n=${n}, confiança ${conf.nivel})`;\n\n  const analise = {\n    veredicto: ver,\n    leitura_rapida: leituraRapida,\n    validacao_dados: {\n      nota_google: notaGoogle,\n      media_calculada: round(tc.media, 4),\n      divergencia: divergencia !== null ? round(divergencia, 4) : null,\n      interpretacao: interpDiv,\n    },\n    tendencia_central: tc,\n    dispersao_forma: df,\n    inferencia: inf,\n    sentimento: sen,\n    diagnostico_forma: diag,\n    temporal: tmp,\n    credibilidade: cred,\n    textual: txt,\n    confianca: conf,\n    red_flags: flags,\n  };\n\n  // ---- Categorias ----\n  const cats = avaliarCategorias(analise, n);\n\n  // ---- Resumo agregado ----\n  const lista = Object.values(cats);\n  const aprovadas  = lista.filter(c => c.status === \"aprovado\").length;\n  const reprovadas = lista.filter(c => c.status === \"reprovado\").length;\n  const neutras    = lista.filter(c => c.status === \"neutro\").length;\n\n  // score_categorias_ponderado: média dos scores das 10 categorias, pesada pela\n  // confiabilidade de cada uma. Categorias com confiabilidade 0 (ex.: sem amostra\n  // de reviews) ficam fora do cálculo. Diferente do score_composto_estatistico,\n  // que aplica uma fórmula fixa com penalidade explícita de polarização.\n  const somaConf  = lista.reduce((s, c) => s + (c.confiabilidade_pct ?? 0), 0);\n  const scoreCategoriasPond = somaConf > 0\n    ? lista.reduce((s, c) => s + (c.score ?? 0) * (c.confiabilidade_pct ?? 0), 0) / somaConf\n    : null;\n\n  const confMedia = lista.reduce((s, c) => s + (c.confiabilidade_pct ?? 0), 0) / lista.length;\n\n  // Status base: confiança insuficiente sobrescreve qualquer contagem de categorias\n  let statusBase;\n  if (conf.nivel === \"insuficiente\")            statusBase = \"❌ Indeterminado\";\n  else if (reprovadas >= 4)                     statusBase = \"⛔ Reprovado\";\n  else if (reprovadas >= 2 && aprovadas <= 4)   statusBase = \"🔴 Insatisfatório\";\n  else if (aprovadas >= 7 && reprovadas === 0)  statusBase = \"✅ Aprovado\";\n  else if (aprovadas >= 5)                      statusBase = \"🟢 Aprovado com ressalvas\";\n  else                                          statusBase = \"🟡 Parcialmente aprovado\";\n\n  // Regras hardcoded de reprovação — sobrescrevem o statusBase quando violadas.\n  const regrasHardViolated = regrasHardReprovacao({\n    n, minReviews, score, classificacao: ver.classificacao, conf,\n    flags, wilson95: inf.wilson_95, dist, temporalData: tmp,\n  });\n  if (regrasHardViolated.length > 0) statusBase = \"⛔ Reprovado\";\n\n  // Motivo do status + flag de roteamento (curto-circuito antes dos agentes LLM)\n  const reprovadasList = lista.filter(c => c.status === \"reprovado\");\n  const altasFlags     = flags.filter(f => f.severidade === \"alta\");\n\n  let statusCodigo, motivoStatus, processarQualitativo;\n\n  if (regrasHardViolated.length > 0) {\n    statusCodigo = \"reprovado_hard\";\n    processarQualitativo = false;\n    motivoStatus = `Regras críticas violadas: ${regrasHardViolated.join(\" | \")}`;\n  } else if (statusBase.includes(\"❌ Indeterminado\")) {\n    statusCodigo = \"indeterminado\";\n    processarQualitativo = false;\n    motivoStatus = `Confiança ${conf.nivel} (n=${n}) — dados insuficientes para análise estatística`;\n  } else if (statusBase.includes(\"⛔ Reprovado\")) {\n    statusCodigo = \"reprovado\";\n    processarQualitativo = false;\n    const partes = [];\n    if (altasFlags.length > 0)\n      partes.push(`${altasFlags.length} alerta(s) crítico(s): ${altasFlags.map(f => f.flag).join(\"; \")}`);\n    partes.push(`${reprovadasList.length} categorias reprovadas: ${reprovadasList.map(c => c.nome).join(\", \")}`);\n    motivoStatus = partes.join(\" | \");\n  } else if (statusBase.includes(\"Insatisfatório\")) {\n    statusCodigo = \"insatisfatorio\";\n    processarQualitativo = false;\n    const partes = [];\n    if (altasFlags.length > 0)\n      partes.push(`${altasFlags.length} alerta(s) crítico(s): ${altasFlags.map(f => f.flag).join(\"; \")}`);\n    partes.push(`${reprovadasList.length} reprovadas vs. ${aprovadas} aprovadas`);\n    if (reprovadasList.length > 0)\n      partes.push(`reprovadas em: ${reprovadasList.map(c => c.nome).join(\", \")}`);\n    motivoStatus = partes.join(\" | \");\n  } else if (statusBase.includes(\"✅ Aprovado\")) {\n    statusCodigo = \"aprovado\";\n    processarQualitativo = true;\n    motivoStatus = `${aprovadas}/${lista.length} categorias aprovadas sem reprovações`;\n  } else if (statusBase.includes(\"ressalvas\")) {\n    statusCodigo = \"aprovado_ressalvas\";\n    processarQualitativo = true;\n    const partes = [`${aprovadas}/${lista.length} aprovadas, ${reprovadasList.length} ressalva(s)`];\n    if (reprovadasList.length > 0)\n      partes.push(`atenção em: ${reprovadasList.map(c => c.nome).join(\", \")}`);\n    motivoStatus = partes.join(\" | \");\n  } else {\n    statusCodigo = \"parcial\";\n    processarQualitativo = true;\n    motivoStatus = `${aprovadas} aprovadas, ${reprovadasList.length} reprovadas, ${neutras} neutras`;\n    if (reprovadasList.length > 0)\n      motivoStatus += ` | reprovadas em: ${reprovadasList.map(c => c.nome).join(\", \")}`;\n  }\n\n  const statusGlobal = `${statusBase} — ${motivoStatus}`;\n\n  const resumo = {\n    status_global: statusGlobal,\n    status_base: statusBase,\n    status_codigo: statusCodigo,\n    motivo_status: motivoStatus,\n    processar_qualitativo: processarQualitativo,\n    regras_hard_violadas: regrasHardViolated,\n    aprovadas, reprovadas, neutras,\n    total_categorias: lista.length,\n    score_categorias_ponderado: round(scoreCategoriasPond, 2),\n    confiabilidade_media_pct: round(confMedia, 1),\n    leitura_rapida: `${aprovadas}/${lista.length} aprovadas — score categorias ${round(scoreCategoriasPond, 2)}/10 (confiabilidade ${round(confMedia, 1)}%)`,\n  };\n\n  const tags = gerarTags(analise, cats);\n  const highlights = gerarHighlights(analise, cats, resumo);\n  const acao = proximaAcao(resumo, cats);\n\n  // ---- Saída final: colunas top-level por bloco ----\n  return {\n    nome,\n    metadados,\n    status_global: statusGlobal,\n    status_codigo: statusCodigo,            // \"aprovado\" | \"aprovado_ressalvas\" | \"parcial\" | \"insatisfatorio\" | \"reprovado\" | \"reprovado_hard\" | \"reprovado_fechado\" | \"indeterminado\"\n    motivo_status: motivoStatus,\n    processar_qualitativo: processarQualitativo,\n    regras_hard_violadas: regrasHardViolated,\n    leitura_rapida: leituraRapida,\n    score_composto_estatistico: ver.score_final,\n    score_categorias_ponderado: resumo.score_categorias_ponderado,\n    classificacao: ver.classificacao,\n    confianca_nivel: conf.nivel,\n    proxima_acao: acao,\n    tags,\n    highlights,\n    resumo_categorias: resumo,\n    cat_tendencia:     cats.tendencia,\n    cat_dispersao:     cats.dispersao,\n    cat_inferencia:    cats.inferencia,\n    cat_sentimento:    cats.sentimento,\n    cat_forma:         cats.forma,\n    cat_temporal:      cats.temporal,\n    cat_credibilidade: cats.credibilidade,\n    cat_engajamento:   cats.engajamento,\n    cat_red_flags:     cats.red_flags,\n    cat_veredicto:     cats.veredicto,\n    analise,\n  };\n}\n\n// === NORMALIZAÇÃO DE TIPOS ===\n// Campos do scraping chegam como string JSON (\"[...]\") ou número como texto (\"4.2\").\n// Sem isso, Array.isArray(distribuicao_notas) falha e tudo cai em n=0.\nfunction coerceItem(e) {\n  const parseJSON = (v) => {\n    if (typeof v !== \"string\") return v;\n    const s = v.trim();\n    if (s.startsWith(\"[\") || s.startsWith(\"{\")) {\n      try { return JSON.parse(s); } catch { return v; }\n    }\n    return v;\n  };\n  const toNum = (v) =>\n    (v === null || v === undefined || v === \"\") ? null\n      : (typeof v === \"number\" ? v : (Number.isNaN(Number(v)) ? null : Number(v)));\n\n  return {\n    ...e,\n    nota: toNum(e?.nota),\n    qtd_avaliacoes: toNum(e?.qtd_avaliacoes),\n    minimum_reviews: toNum(e?.minimum_reviews),\n    distribuicao_notas: parseJSON(e?.distribuicao_notas),\n    reviews: parseJSON(e?.reviews),\n  };\n}\n\n// Processa TODAS as rows do input. Mantém os campos originais crus (...eRaw)\n// e adiciona por cima tudo que a análise produziu.\nreturn $input.all().map((item) => {\n  const eRaw = item.json || {};\n  const e = coerceItem(eRaw);          // normaliza tipos primeiro\n  const resultadoAnalise = analisar(e);\n  return { json: { ...eRaw, ...resultadoAnalise } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        1808
      ],
      "id": "72c9fea7-7d6c-4d53-b9c8-99c56baec90d",
      "name": "Análise quantitativa1"
    },
    {
      "parameters": {
        "jsCode": "// === Code Node: avaliar_todos + localização + contagem de filtros ===\n// Modo recomendado: \"Run Once for All Items\"\nconst VALIDOS = ['nenhum', 'todos', 'positivos', 'negativos'];\nconst avaliar_todos = $input.first().json.body.avaliar_todos;\nconst corte = $input.first().json.body.minimum_grade;\nconst minimum_reviews = $input.first().json.body.minimum_reviews\nconst localizacao = {\n  pais: $input.first().json.body.pais,\n  estado: $input.first().json.body.estado,\n  cidade: $input.first().json.body.cidade,\n  bairro: $input.first().json.body.bairro,\n};\n// Conta quantos campos de localização estão preenchidos (1 a 4)\nconst qtd_filtros_localizacao = Object.values(localizacao)\n  .filter((v) => v !== '' && v !== null && v !== undefined)\n  .length;\nreturn [\n  {\n    json: {\n      ...localizacao,\n      qtd_filtros_localizacao,\n      avaliar_todos,\n      corte,\n      minimum_reviews,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4400,
        1776
      ],
      "id": "dd0736dd-7244-4216-ba59-5eedfc161243",
      "name": "parameters"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nreturn items.map(item => {\n  return {\n    json: {\n      id: item.id,\n      nome: item.nome,\n      subtipos: item.subtipos_pt_str,\n      endereco: item.endereco,\n      bairro: item.bairro,\n      cep: item.cep,\n      cidade: item.cidade,\n      estado: item.estado,\n      pais: item.pais,\n      telefone: item.telefone,\n      telefone_extra: item.telefone_extra,\n      email: item.email,\n      website: item.website,\n      instagram: item.instagram,\n      facebook: item.facebook,\n      link_google_maps: item.link_google_maps,\n      nota: item.nota,\n      qtd_avaliacoes: item.qtd_avaliacoes,\n      distribuicao_notas: JSON.stringify(item.distribuicao_notas),\n      status: item.status,\n      horarios: JSON.stringify(item.horarios),\n      faixa_preco: item.faixa_preco,\n      qtd_fotos: item.qtd_fotos,\n      fotos: JSON.stringify(item.fotos ?? []),\n      gallery: [],\n      capa: null,\n      resumo: item.resumo ?? null,\n      details_google: item.details_google ?? null,\n      google_id: item.google_id,\n      place_id: item.place_id,\n      verificado: item.verificado,\n      timezone: item.timezone,\n      reviews: JSON.stringify(item.reviews),\n      par1: null,\n      just1: null,\n      par2: null,\n      just2: null,\n      par3: null,\n      just3: null,\n      par4: null,\n      just4: null,\n      par5: null,\n      just5: null,\n      média: null,\n      aproved: false,\n      reason: item.motivo_status ?? null,\n      segmento: item.segmento,\n      subsegmento: item.subsegmento,\n      nr_latitude: item.nr_latitude,\n      nr_longitude: item.nr_longitude,\n      Reevaluation: item.Reevaluation,\n      minimum_grade: item.minimum_grade,\n      go_to_reevaluation: true,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        2080
      ],
      "id": "7b6dd328-5951-4e45-908f-12f570496017",
      "name": "Normalizer1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "geral_estabelecimentos_avaliados",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2960,
        2080
      ],
      "id": "8349cbb7-9b02-4c81-b8b3-6e91d7e84c24",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — \"Run Once for All Items\"\n// Processa TODOS os itens de entrada, cada um pelo seu id/Reevaluation próprio.\nconst items = $input.all();\n\n// valor de corte vindo do node anterior \"parameters\" (igual para todos os itens)\nfunction paraNumero(v) {\n  if (typeof v === 'number') return v;\n  if (typeof v === 'string' && v.trim() !== '' && !isNaN(Number(v))) return Number(v);\n  return v;\n}\nconst corte = paraNumero($('parameters').first().json.corte);\n\nconst REMOVER = [\n  'par1', 'just1', 'par2', 'just2', 'par3', 'just3',\n  'par4', 'just4', 'par5', 'just5',\n  'reason',\n  'gallery', 'capa', 'acessibilidade', 'resumo',\n  'média', 'aproved',  // saem da raiz (vão para dentro do Reevaluation)\n];\n\nfunction parseSeForString(v) {\n  if (typeof v !== 'string') return v;\n  const s = v.trim();\n  if (!s) return v;\n  try { return JSON.parse(s); } catch { return v; }\n}\n\n// timestamp atual no horário do Brasil (America/Sao_Paulo), ISO com offset\nfunction tsBrasil() {\n  return new Date()\n    .toLocaleString('sv-SE', { timeZone: 'America/Sao_Paulo' })\n    .replace(' ', 'T') + '-03:00';\n}\n\n// monta Reevaluation acumulando médias, sobrescrevendo aproved e updated_at\nfunction montarReevaluation(o) {\n  const mediaAtual = o['média'] ?? null;\n  const aprovedAtual = o.aproved ?? null;\n  let prev = o.Reevaluation;\n  if (typeof prev === 'string') { try { prev = JSON.parse(prev); } catch { prev = null; } }\n  let medias = [];\n  if (prev && prev['média'] != null) {\n    medias = Array.isArray(prev['média']) ? [...prev['média']] : [prev['média']];\n  }\n  if (mediaAtual != null) medias.push(mediaAtual);\n  return {\n    'média': medias,\n    aproved: aprovedAtual,\n    updated_at: tsBrasil(),\n  };\n}\n\nfunction transformar(entrada) {\n  const o = { ...entrada };\n\n  if ('subtipos' in o) { o.subsegmento = o.subtipos; delete o.subtipos; }\n  // crated_at mantido como veio (sem rename)\n\n  if ('fotos' in o)              o.fotos = parseSeForString(o.fotos);\n  if ('reviews' in o)            o.reviews = parseSeForString(o.reviews);\n  if ('distribuicao_notas' in o) o.distribuicao_notas = parseSeForString(o.distribuicao_notas);\n  if ('horarios' in o)           o.horarios = parseSeForString(o.horarios);\n\n  if ('nota' in o)           o.nota = paraNumero(o.nota);\n  if ('qtd_avaliacoes' in o) o.qtd_avaliacoes = paraNumero(o.qtd_avaliacoes);\n  if ('qtd_fotos' in o)      o.qtd_fotos = paraNumero(o.qtd_fotos);\n\n  // minimum_grade recebe o valor de corte do node \"parameters\"\n  o.minimum_grade = corte;\n\n  // monta o Reevaluation ANTES de remover média/aproved da raiz\n  o.Reevaluation = montarReevaluation(o);\n\n  for (const campo of REMOVER) delete o[campo];\n\n  return o;\n}\n\nreturn items.map((item) => ({ json: transformar(item.json) }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        1760
      ],
      "id": "885e2297-b429-4f49-8dc8-01ad17e487ba",
      "name": "montar_revaluation"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        1808
      ],
      "id": "aa29da79-5c90-4e01-9d39-efc554975f96",
      "name": "organizer1"
    },
    {
      "parameters": {
        "jsCode": "// === n8n Code Node (Run Once for All Items) ===\n\n// 1. Normaliza a entrada: monta uma lista única de objetos,\n//    venham eles como itens separados ou como um array dentro de um item.\nlet registros = [];\n\nfor (const item of items) {\n  const j = item.json;\n  if (Array.isArray(j)) {\n    registros.push(...j);\n  } else if (Array.isArray(j.data)) {   // caso venha embrulhado em .data\n    registros.push(...j.data);\n  } else {\n    registros.push(j);\n  }\n}\n\n// 2. Extrai o minimum_reviews (linha de config no fim do array, sem id)\nlet minimumReviews = null;\nconst cfg = registros.find(\n  (r) => r && r.minimum_reviews !== undefined && r.id === undefined\n);\nif (cfg) minimumReviews = cfg.minimum_reviews;\n\n// 3. Injeta o campo em cada estabelecimento (linhas que têm id)\nreturn registros\n  .filter((r) => r && r.id !== undefined)\n  .map((r) => ({\n    json: {\n      ...r,\n      minimum_reviews: minimumReviews,\n    },\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1808
      ],
      "id": "74f0e04d-1ed5-4ba6-821f-235c7c975c0f",
      "name": "minimum reviews"
    },
    {
      "parameters": {
        "jsCode": "const campos = [\n  \"pais\",\n  \"estado\",\n  \"cidade\",\n  \"bairro\",\n  \"qtd_filtros_localizacao\",\n  \"avaliar_todos\",\n  \"corte\",\n  \"minimum_reviews\"\n];\n\nreturn $('parameters').all().map(item => {\n  const out = {};\n  for (const k of campos) {\n    if (k in item.json) out[k] = item.json[k];\n  }\n  return { json: out };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5472,
        1856
      ],
      "id": "c1a322c0-4e31-42e7-8437-909eab0b82c8",
      "name": "loop"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5648,
        1856
      ],
      "id": "bbaa3815-68ee-4be0-9009-788e13f1783d",
      "name": "Wait",
      "webhookId": "7b348e59-5b3c-4c02-a16c-08ae9d1dcdea"
    }
  ],
  "connections": {
    "Switch2": {
      "main": [
        [
          {
            "node": "Call 'entreterimento_e_lazer'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'restaurante! reevaluation'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'cultura_e_historia'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'natureza_e_aventura! reevaluation'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'mercados_e_compras! reevaluation'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'turismo_e_experiencias! reevaluation'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'fazenda_e_animais'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalizer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Vai para o modo certo então bobão",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "deepler1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "deepler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "deepler2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deepler": {
      "main": [
        [
          {
            "node": "DB request positivos (1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB request positivos (2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB request positivos (3)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB request positivos (4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deepler1": {
      "main": [
        [
          {
            "node": "DB request ALL (1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB request ALL (2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB request ALL (3)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB request ALL (4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deepler2": {
      "main": [
        [
          {
            "node": "DB request negativos (1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB request negativos (2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB request negativos (3)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB request negativos (4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB request ALL (3)": {
      "main": [
        [
          {
            "node": "montar_revaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB request ALL (1)": {
      "main": [
        [
          {
            "node": "montar_revaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB request ALL (2)": {
      "main": [
        [
          {
            "node": "montar_revaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB request ALL (4)": {
      "main": [
        [
          {
            "node": "montar_revaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB request positivos (1)": {
      "main": [
        [
          {
            "node": "montar_revaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB request positivos (2)": {
      "main": [
        [
          {
            "node": "montar_revaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB request positivos (3)": {
      "main": [
        [
          {
            "node": "montar_revaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB request positivos (4)": {
      "main": [
        [
          {
            "node": "montar_revaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB request negativos (1)": {
      "main": [
        [
          {
            "node": "montar_revaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB request negativos (2)": {
      "main": [
        [
          {
            "node": "montar_revaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB request negativos (3)": {
      "main": [
        [
          {
            "node": "montar_revaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB request negativos (4)": {
      "main": [
        [
          {
            "node": "montar_revaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "organizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "organizer": {
      "main": [
        [
          {
            "node": "Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizer": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pre": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Análise quantitativa1": {
      "main": [
        [
          {
            "node": "pre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parameters": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizer1": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "montar_revaluation": {
      "main": [
        [
          {
            "node": "organizer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "organizer1": {
      "main": [
        [
          {
            "node": "minimum reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "minimum reviews": {
      "main": [
        [
          {
            "node": "Análise quantitativa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'fazenda_e_animais'1": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'turismo_e_experiencias! reevaluation'": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'mercados_e_compras! reevaluation'": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'natureza_e_aventura! reevaluation'": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'cultura_e_historia'1": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'restaurante! reevaluation'": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'entreterimento_e_lazer'1": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "headers": {
            "host": "trip-n8n.3vyu0i.easypanel.host",
            "user-agent": "axios/1.16.1",
            "content-length": "130",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.16.1.1",
            "x-forwarded-host": "trip-n8n.3vyu0i.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "76e76919d272",
            "x-real-ip": "172.16.1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "pais": "Brasil",
            "estado": "ES",
            "cidade": "Linhares",
            "bairro": "Centro",
            "avaliar_todos": "neg",
            "minimum_grade": 7,
            "minimum_reviews": 85
          },
          "webhookUrl": "https://trip-n8n.3vyu0i.easypanel.host/webhook/2762341a-c640-4bc6-921d-83af774634ca",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "0730d026-3e1f-4450-9baa-8a09ebfa62fb",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-08T15:50:09.346Z",
      "createdAt": "2026-06-08T15:50:09.346Z",
      "role": "workflow:owner",
      "workflowId": "7WmJy3kicHEmJ5Ge",
      "projectId": "G6oOhMxSr8k56eQz"
    }
  ],
  "activeVersion": null,
  "tags": []
}