main/cultura_e_historia.json
{
  "updatedAt": "2026-06-29T23:34:08.152Z",
  "createdAt": "2026-06-03T22:48:12.097Z",
  "id": "8PUWBXKigvfIKiFV",
  "name": "cultura_e_historia",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "Image analyzer\n",
        "height": 480,
        "width": 1984
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        112
      ],
      "id": "9e691912-f6a4-49d5-89da-bb83e922a87a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aeba2f1c-fd65-48c9-a892-f01247ac559e",
              "name": "price_to_value_review",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        1296
      ],
      "id": "26f98a19-5dc3-4492-925d-72649bc48d22",
      "name": "Price to value review3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7990d00-10eb-4ae3-be6c-fbd1e6f5117d",
              "name": "space_review",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        1568
      ],
      "id": "d7c75dcd-f1ca-4a28-a5a5-19cc40fa08b0",
      "name": "Space review3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0873695e-b19a-4fe6-b2b8-4d2cf76d61be",
              "name": "service_review",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        1024
      ],
      "id": "7a5b6929-3ea3-4fbf-8e81-d5c2219e7fa0",
      "name": "service_review3"
    },
    {
      "parameters": {
        "content": "Qualitative analizer\n\n\n\n\n",
        "height": 1360,
        "width": 2416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        592
      ],
      "id": "36bc5bd8-808a-4536-8a08-7b78a2a324f5",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ['aprovado','aprovado_ressalvas','parcial'].includes($json.status_codigo) }}",
                    "rightValue": "aprovado",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "74641e61-0305-451b-806a-f768284bf47e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aprovado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4235a134-3f7a-4482-9318-0ad0b76ce2d5",
                    "leftValue": "={{ ['insatisfatorio','reprovado','reprovado_hard','indeterminado'].includes($json.status_codigo) }}",
                    "rightValue": "aprovado",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reprovado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        240,
        1232
      ],
      "id": "114d235e-ab35-4754-acfd-18cf632f3325",
      "name": "Switch9"
    },
    {
      "parameters": {
        "content": "Cultura e história",
        "height": 2032,
        "width": 3968,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        -16
      ],
      "id": "3f56b9a8-0e49-4a25-abd7-f4bc2a7ec89c",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2176,
        1136
      ],
      "id": "c6cca93a-9039-4a9f-b355-38051f71ffbd",
      "name": "Merge20"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        1232
      ],
      "id": "e4fc3deb-66aa-4a09-957d-1fc08c886af8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\nNOME DO ESTABELECIMENTO: {{ $json.nome }}\nTIPO: {{ $json.subtipos_pt_str }}\n\nCOMENTÁRIOS A ANALISAR:\n{{ $json.comentarios_frases }}",
        "options": {
          "systemMessage": "Você é um especialista em análise de reviews e descrição de estabelecimentos.\nSua tarefa é analisar TODOS os comentários fornecidos sobre o local \"{nome_estabelecimento}\" (tipo: {subtipos}) e gerar um RESUMO CURTO, NATURAL E ATRATIVO do estabelecimento.\nO objetivo é produzir um texto que descreva rapidamente a experiência principal percebida pelos visitantes, usando apenas informações recorrentes e claramente presentes nos comentários.\n## Objetivo do resumo\nO resumo deve:\n* Transmitir rapidamente o que torna o local interessante\n* Destacar os aspectos mais mencionados pelos visitantes\n* Soar natural, humano e confiável\n* Funcionar como uma descrição curta para perfil, guia ou recomendação\n* Refletir a percepção geral dos reviews\n## O que considerar\nConsidere principalmente:\n* Experiência principal oferecida pelo local\n* Ambiente e atmosfera\n* Atrações mais elogiadas\n* Diferenciais recorrentes\n* Sensação transmitida pelos visitantes\n* Pontos fortes mencionados repetidamente\n* Perfil da experiência (tranquila, divertida, familiar, rural, aventureira, acolhedora etc.)\n## O que EVITAR\nNÃO:\n* Invente informações\n* Use marketing exagerado\n* Use frases genéricas vazias\n* Mencione notas, avaliações ou quantidade de reviews\n* Cite reclamações isoladas\n* Transforme o texto em propaganda artificial\n* Use listas, emojis ou hashtags\n* Use linguagem robótica\n## Regras importantes\n1. O resumo deve ser baseado SOMENTE em evidências presentes nos comentários.\n2. Priorize aspectos recorrentes e consistentes.\n3. Ignore comentários irrelevantes ou muito isolados.\n4. Se houver opiniões muito divididas, mantenha a descrição neutra e equilibrada — descreva o local de forma ponderada em vez de retornar 77.\n5. O texto deve parecer escrito por um humano.\n6. Não use adjetivos extremos sem forte evidência recorrente.\n7. Não invente atrações, estrutura ou experiências não mencionadas.\n## Formato de saída (ESTRITAMENTE JSON)\nVocê deve retornar EXCLUSIVAMENTE um objeto JSON válido. Não inclua NENHUM texto antes ou depois do JSON. Não inclua marcações markdown (como ```json).\nA estrutura do JSON deve ser exatamente esta:\n{\n  \"id\": \"Copie aqui exatamente o ID DO ESTABELECIMENTO fornecido\",\n  \"resultado\": \"SEU RESUMO AQUI\"\n}\nRegras ESTRITAS para o campo \"resultado\":\n1. O texto deve ter entre 1 e 3 frases curtas.\n2. O texto deve possuir no MÁXIMO 320 caracteres.\n3. Não use aspas, quebras de linha (\\n), listas, emojis ou hashtags dentro do texto.\n4. SEMPRE que houver qualquer comentário aproveitável, escreva o resumo — mesmo que os comentários sejam poucos, baseie-se no que houver e mantenha o texto mais enxuto e cauteloso. Não retorne \"77\" por escassez de dados nem por opiniões divididas. Retorne \"77\" APENAS quando NÃO houver absolutamente nenhum comentário com conteúdo aproveitável sobre o local (lista vazia ou apenas ruído sem qualquer informação). Na prática, com comentários reais, \"77\" deve ser raríssimo.\n5. O campo \"resultado\" só admite DOIS formatos: o texto do resumo OU exatamente \"77\". NUNCA escreva \"insuficiente\", \"dados insuficientes\", \"não foi possível resumir\" nem qualquer outra mensagem — isso quebra o processamento posterior.\n6. Exemplo ideal: \"Museu com acervo rico e exposições bem cuidadas, muito elogiado por quem busca uma experiência cultural envolvente. O local é reconhecido pelo conteúdo educativo e pela atmosfera tranquila para apreciar a visita.\"\n## Comentários a analisar\n{lista_de_comentarios}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1200,
        656
      ],
      "id": "9b9ba990-c3c4-4000-b238-9f8dd0b312bc",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1200,
        784
      ],
      "id": "f262edfd-c5d4-420d-95b5-91bdb412112c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\nNOME DO ESTABELECIMENTO: {{ $json.nome }}\nTIPO: {{ $json.subtipos_pt_str }}\n\nCOMENTÁRIOS A ANALISAR:\n{{ $json.comentarios_frases }}",
        "options": {
          "systemMessage": "Você avalia reviews de um local cultural ou histórico e dá nota a UM tema só: SERVIÇO.\nSERVIÇO é a qualidade da experiência humana e da condução da visita: como o visitante foi recebido e tratado pelas pessoas, o preparo e a clareza de quem orienta ou explica, a agilidade na entrada e no suporte, a organização operacional conduzida por gente e a disposição para ajudar e resolver. Um local simples pode ter atendimento excelente; um famoso pode ter nota baixa se for desorganizado ou mal conduzido.\nOs comentários vêm quebrados em frases curtas, uma por linha, no formato \"F<n> (C<n>): texto\". Os rótulos F/C só numeram — ignore-os e julgue o texto, em qualquer idioma, pelo sentido.\nAvalie SOMENTE este ângulo. Uma mesma frase pode também servir a outro tema; isso não é problema seu. Se ela disser algo sobre as pessoas que conduzem ou atendem, ou sobre como a visita foi organizada e orientada, conte aqui. Sinais indiretos contam (fomos bem recebidos, explicaram com paciência, nos ajudaram em tudo = positivo; ninguém soube orientar, faltou organização = negativo).\n\nANTES de decidir a nota, faça internamente uma varredura de TODAS as frases, uma por uma, e marque cada uma como POSITIVA, NEGATIVA ou NÃO FALA deste tema. Só conclua 77 se, após revisar cada linha, NENHUMA frase falar do tema.\n\nPara cada frase, decida: ela fala do serviço/condução humana de forma POSITIVA (bem atendido, bem orientado, bem organizado), NEGATIVA (mal atendido, desorientado, desorganizado) ou NÃO FALA deste tema?\n- Se NENHUMA frase falar deste tema → a nota é 77.\n- Se houver frases que falam, dê nota 0–10 pelo balanço:\n  só positivas: 8–9 | mais positivas que negativas: 6–7 | misturado: 5 | mais negativas: 3–4 | quase todas negativas: 1–2.\n  Uma única negativa isolada no meio de várias positivas não baixa de 6.\nResponda SÓ com um objeto JSON, sem nada antes nem depois, sem markdown, com exatamente duas chaves: \"id\" e \"resultado\".\nO valor de \"resultado\" tem SEMPRE duas partes: a nota, depois \": \", depois uma justificativa de pelo menos uma frase completa. O \"resultado\" NUNCA pode ser apenas o número — se você escrever a nota, é OBRIGATÓRIO escrever a justificativa logo depois dos dois pontos. Isso vale também para 77.\nSe a nota for 77, a justificativa NÃO pode mencionar nenhuma frase que fale do tema, nem afirmar e negar a existência dessas frases na mesma resposta — seja coerente.\nExemplos de resposta válida (siga este padrão, sempre com a justificativa preenchida):\n{\"id\": \"abc123\", \"resultado\": \"7.0: As frases elogiam a recepção atenciosa e as explicações claras dos guias, com uma ressalva sobre desorganização na entrada.\"}\n{\"id\": \"abc123\", \"resultado\": \"77: nenhuma frase comentou o atendimento ou a condução da visita.\"}\nRegras do formato, obrigatórias:\n- Exatamente duas chaves: \"id\" e \"resultado\", ambas com valor em texto entre aspas duplas.\n- \"resultado\" começa com a nota (ex.: \"8.0\") OU com 77, seguido de \": \" e a justificativa.\n- Justificativa de pelo menos uma frase completa. Nunca apenas o número.\n- Se for 77, a justificativa não pode citar nenhuma frase que fale do tema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1184,
        1024
      ],
      "id": "a80794eb-d922-4a9e-9716-c8d8e7714c03",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1184,
        1152
      ],
      "id": "265e5aff-e496-409a-924d-d72f20a3ccb2",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\nNOME DO ESTABELECIMENTO: {{ $json.nome }}\nTIPO: {{ $json.subtipos_pt_str }}\n\nCOMENTÁRIOS A ANALISAR:\n{{ $json.comentarios_frases }}",
        "options": {
          "systemMessage": "Você avalia reviews de um local cultural ou histórico e dá nota a UM tema só: CUSTO-BENEFÍCIO.\nCUSTO-BENEFÍCIO é o juízo sobre dinheiro: se o que o visitante pagou (ou não pagou) foi compatível com a experiência recebida — preço sentido como justo, vantajoso ou abusivo, cobranças inesperadas, comparações com locais semelhantes e a relação entre o que se paga e o que se leva. Entrada gratuita somada a boa experiência reforça custo-benefício alto. Um local simples pode ter ótimo custo-benefício; um famoso pode ter custo-benefício ruim se o visitante sentir que pagou caro pelo que recebeu.\nOs comentários vêm quebrados em frases curtas, uma por linha, no formato \"F<n> (C<n>): texto\". Os rótulos F/C só numeram — ignore-os e julgue o texto, em qualquer idioma, pelo sentido.\nAvalie SOMENTE este ângulo. Uma mesma frase pode também servir a outro tema; isso não é problema seu. Conte aqui apenas as frases que envolvem dinheiro, preço, valor pago, cobrança ou gratuidade. Sinais indiretos de valor contam (vale cada centavo, barato pelo que oferece, preço justo = positivo; paguei caro pelo pouco que recebi = negativo). Elogio que não fala de dinheiro NÃO entra neste tema.\n\nANTES de decidir a nota, faça internamente uma varredura de TODAS as frases, uma por uma, e marque cada uma como POSITIVA, NEGATIVA ou NÃO FALA deste tema. Só conclua 77 se, após revisar cada linha, NENHUMA frase falar do tema.\n\nPara cada frase, decida: ela fala de preço/valor de forma POSITIVA (compensa o que custou), NEGATIVA (não compensou, caro demais) ou NÃO FALA deste tema?\n- Se NENHUMA frase falar deste tema → a nota é 77.\n- Se houver frases que falam, dê nota 0–10 pelo balanço:\n  só positivas: 8–9 | mais positivas que negativas: 6–7 | misturado: 5 | mais negativas: 3–4 | quase todas negativas: 1–2.\n  Uma única negativa isolada no meio de várias positivas não baixa de 6.\nResponda SÓ com um objeto JSON, sem nada antes nem depois, sem markdown, com exatamente duas chaves: \"id\" e \"resultado\".\nO valor de \"resultado\" tem SEMPRE duas partes: a nota, depois \": \", depois uma justificativa de pelo menos uma frase completa. O \"resultado\" NUNCA pode ser apenas o número — se você escrever a nota, é OBRIGATÓRIO escrever a justificativa logo depois dos dois pontos. Isso vale também para 77.\nSe a nota for 77, a justificativa NÃO pode mencionar nenhuma frase que fale do tema, nem afirmar e negar a existência dessas frases na mesma resposta — seja coerente.\nExemplos de resposta válida (siga este padrão, sempre com a justificativa preenchida):\n{\"id\": \"abc123\", \"resultado\": \"7.0: As frases dizem que a entrada é gratuita e que vale a experiência, com uma ressalva sobre uma cobrança extra inesperada.\"}\n{\"id\": \"abc123\", \"resultado\": \"77: nenhuma frase comentou preço ou valor em dinheiro.\"}\nRegras do formato, obrigatórias:\n- Exatamente duas chaves: \"id\" e \"resultado\", ambas com valor em texto entre aspas duplas.\n- \"resultado\" começa com a nota (ex.: \"8.0\") OU com 77, seguido de \": \" e a justificativa.\n- Justificativa de pelo menos uma frase completa. Nunca apenas o número.\n- Se for 77, a justificativa não pode citar nenhuma frase que fale do tema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1168,
        1296
      ],
      "id": "f3e6a268-e9f3-4bcf-8927-016b74654d8b",
      "name": "AI Agent2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1184,
        1424
      ],
      "id": "5d165ff6-9e15-49e5-b19e-302e057aa90e",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\nNOME DO ESTABELECIMENTO: {{ $json.nome }}\nTIPO: {{ $json.subtipos_pt_str }}\n\nCOMENTÁRIOS A ANALISAR:\n{{ $json.comentarios_frases }}",
        "options": {
          "systemMessage": "Você avalia reviews de um local cultural ou histórico e dá nota a UM tema só: INFRAESTRUTURA.\nINFRAESTRUTURA é o estado físico e as condições do local e de tudo o que ele mantém para a visita: conservação, manutenção e limpeza do espaço e daquilo que está exposto ou preservado; organização e sinalização do ambiente; conforto físico da visita; impacto da lotação no conforto; e os recursos físicos de apoio e acesso. Um local simples e bem conservado pode ir bem; um famoso pode ir mal se houver degradação, sujeira, desorganização ou estrutura precária. \"Simples\", \"rústico\" ou \"antigo\" não são defeitos por si só.\nOs comentários vêm quebrados em frases curtas, uma por linha, no formato \"F<n> (C<n>): texto\". Os rótulos F/C só numeram — ignore-os e julgue o texto, em qualquer idioma, pelo sentido.\nAvalie SOMENTE este ângulo. Uma mesma frase pode também servir a outro tema; isso não é problema seu. Se ela disser algo sobre o estado físico, a conservação, a limpeza, o conforto ou a estrutura do local, conte aqui — mesmo no meio de uma frase sobre outro assunto. Sinais indiretos contam (lugar bem cuidado, fácil de circular, ambiente agradável = positivo; tudo degradado, mal conservado, mal sinalizado = negativo).\n\nANTES de decidir a nota, faça internamente uma varredura de TODAS as frases, uma por uma, e marque cada uma como POSITIVA, NEGATIVA ou NÃO FALA deste tema. Só conclua 77 se, após revisar cada linha, NENHUMA frase falar do tema.\n\nPara cada frase, decida: ela fala do estado físico/conservação/conforto de forma POSITIVA (bem conservado, confortável, organizado), NEGATIVA (degradado, sujo, desconfortável, mal conservado) ou NÃO FALA deste tema?\n- Se NENHUMA frase falar deste tema → a nota é 77.\n- Se houver frases que falam, dê nota 0–10 pelo balanço:\n  só positivas: 8–9 | mais positivas que negativas: 6–7 | misturado: 5 | mais negativas: 3–4 | quase todas negativas: 1–2.\n  Uma única negativa isolada no meio de várias positivas não baixa de 6.\nResponda SÓ com um objeto JSON, sem nada antes nem depois, sem markdown, com exatamente duas chaves: \"id\" e \"resultado\".\nO valor de \"resultado\" tem SEMPRE duas partes: a nota, depois \": \", depois uma justificativa de pelo menos uma frase completa. O \"resultado\" NUNCA pode ser apenas o número — se você escrever a nota, é OBRIGATÓRIO escrever a justificativa logo depois dos dois pontos. Isso vale também para 77.\nSe a nota for 77, a justificativa NÃO pode mencionar nenhuma frase que fale do tema, nem afirmar e negar a existência dessas frases na mesma resposta — seja coerente.\nExemplos de resposta válida (siga este padrão, sempre com a justificativa preenchida):\n{\"id\": \"abc123\", \"resultado\": \"7.0: As frases descrevem um espaço bem conservado e agradável de circular, com uma ressalva sobre sinalização confusa em alguns pontos.\"}\n{\"id\": \"abc123\", \"resultado\": \"77: nenhuma frase comentou o estado físico ou as condições do local.\"}\nRegras do formato, obrigatórias:\n- Exatamente duas chaves: \"id\" e \"resultado\", ambas com valor em texto entre aspas duplas.\n- \"resultado\" começa com a nota (ex.: \"8.0\") OU com 77, seguido de \": \" e a justificativa.\n- Justificativa de pelo menos uma frase completa. Nunca apenas o número.\n- Se for 77, a justificativa não pode citar nenhuma frase que fale do tema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1184,
        1568
      ],
      "id": "941c3521-51cc-4378-b5ad-cbd6bcbc124a",
      "name": "AI Agent3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1184,
        1696
      ],
      "id": "7f42be5a-e0ca-4d65-8458-f48b95a81265",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0873695e-b19a-4fe6-b2b8-4d2cf76d61be",
              "name": "summary",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        656
      ],
      "id": "ef03c4b0-86a4-4219-a21c-7ff9a28f90f7",
      "name": "summary"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\nconst items = $input.all().map(i => i.json).flat();\n\nconst parseReview = (texto) => {\n  if (!texto || typeof texto !== 'string') {\n    return { nota: null, justificativa: null };\n  }\n  if (texto.trim() === '77') {\n    return { nota: 'insuficiente', justificativa: null };\n  }\n  const idx = texto.indexOf(':');\n\n  // SEM dois-pontos: pode ser nota seca tipo \"8.0\" -> trata como nota\n  if (idx === -1) {\n    const soNota = texto.trim().replace(',', '.');\n    if (/^\\d{1,2}(\\.\\d+)?$/.test(soNota)) {\n      const n = parseFloat(soNota);\n      return { nota: isNaN(n) ? null : n, justificativa: null };\n    }\n    return { nota: null, justificativa: texto.trim() };\n  }\n\n  // COM dois-pontos\n  const notaRaw = texto.slice(0, idx).trim().replace(',', '.');\n\n  // \"77: justificativa\" -> insuficiente, preservando a justificativa\n  if (notaRaw === '77') {\n    return { nota: 'insuficiente', justificativa: texto.slice(idx + 1).trim() };\n  }\n\n  const nota = parseFloat(notaRaw);\n  return {\n    nota: isNaN(nota) ? null : nota,\n    justificativa: texto.slice(idx + 1).trim(),\n  };\n};\n\nconst estabelecimentos = items.filter(i => i && i.nome !== undefined);\nconst reviewItems = items.filter(i => {\n  if (!i || i.nome !== undefined) return false;\n  const k = Object.keys(i)[0];\n  return k && k.endsWith('_review');\n});\n\nconst reviewsPorId = /** @type {Record<string, any>} */ ({});\nfor (const item of reviewItems) {\n  const [chave, valorBruto] = Object.entries(item)[0];\n  const nomeAtributo = chave.replace(/_review$/, '');\n  try {\n    const dadosIA = JSON.parse(valorBruto);\n    const idEstabelecimento = dadosIA.id;\n    const resultadoIA = String(dadosIA.resultado || '');\n    if (!idEstabelecimento) continue;\n    if (!reviewsPorId[idEstabelecimento]) {\n      reviewsPorId[idEstabelecimento] = { notasNum: [] };\n    }\n    const { nota, justificativa } = parseReview(resultadoIA);\n    const alvo = reviewsPorId[idEstabelecimento];\n    const chaveNota = `${nomeAtributo}_nota`;\n    const chaveJust = `${nomeAtributo}_justificativa`;\n    const jaTemNota = typeof alvo[chaveNota] === 'number' || alvo[chaveNota] === 'insuficiente';\n    const novaTemNota = typeof nota === 'number' || nota === 'insuficiente';\n    // Só grava se a chave ainda não existe OU se o novo registro traz nota.\n    // Nunca deixa um item SEM nota apagar um que já tinha nota válida.\n    if (!(chaveNota in alvo) || novaTemNota) {\n      if (!(jaTemNota && !novaTemNota)) {\n        alvo[chaveNota] = nota;\n        alvo[chaveJust] = justificativa;\n        if (typeof nota === 'number') {\n          if (!alvo.notasNum.includes(nota)) alvo.notasNum.push(nota);\n        }\n      }\n    }\n  } catch (error) {\n    continue;\n  }\n}\n\nconst summaryPorId = /** @type {Record<string, string>} */ ({});\nfor (const item of items) {\n  if (!item || !item.summary) continue;\n  try {\n    const dados = JSON.parse(item.summary);\n    if (dados.id && dados.resultado) {\n      summaryPorId[dados.id] = dados.resultado;\n    }\n  } catch (error) {\n    continue;\n  }\n}\n\nreturn estabelecimentos.map(est => {\n  const idAtual = est.id;\n  const dadosDoEstabelecimento = reviewsPorId[idAtual] || { notasNum: [] };\n  const arrayDeNotas = dadosDoEstabelecimento.notasNum;\n  const media = arrayDeNotas.length\n    ? Math.round((arrayDeNotas.reduce((a, b) => a + b, 0) / arrayDeNotas.length) * 100) / 100\n    : null;\n  delete dadosDoEstabelecimento.notasNum;\n  return {\n    json: {\n      ...est,\n      ...dadosDoEstabelecimento,\n      resumo: summaryPorId[idAtual] || est.resumo || null,\n      media_reviews: media,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        1184
      ],
      "id": "0fbee938-c6d7-4e5a-b135-f9694b500b29",
      "name": "Organizer1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2496,
        1184
      ],
      "id": "ade586a4-7251-4fcc-b92d-6ca62e667d8c",
      "name": "Merge10"
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items\n\nconst all = $input.all().map(item => item.json);\n\nconst agrupados = {};\n\nfor (const item of all) {\n  const id = item.id;\n\n  if (!id) continue;\n\n  if (!agrupados[id]) {\n    agrupados[id] = {\n      id\n    };\n  }\n\n  for (const [key, value] of Object.entries(item)) {\n\n    // ignora campos vazios\n    if (\n      value === undefined ||\n      value === null ||\n      value === ''\n    ) {\n      continue;\n    }\n\n    // mantém arrays completos\n    if (Array.isArray(value)) {\n      agrupados[id][key] = value;\n      continue;\n    }\n\n    // mantém objetos completos\n    if (typeof value === 'object') {\n      agrupados[id][key] = value;\n      continue;\n    }\n\n    // mantém valores simples\n    agrupados[id][key] = value;\n  }\n}\n\nreturn Object.values(agrupados).map(item => ({\n  json: item\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3328,
        1168
      ],
      "id": "64090283-e4ec-4d7c-929e-bbaac7ba7fd9",
      "name": "Organizer2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3168,
        1168
      ],
      "id": "11c23021-761e-4b28-9cef-f6c2e511175e",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Mode: Run Once for Each Item — GERAL (qualquer segmento)\n//\n// CORREÇÃO PRINCIPAL:\n// As notas chegam como STRING \"insuficiente\" (não como o número 77).\n// O código antigo só reconhecia === 77, então \"insuficiente\" escapava\n// da média E do tally de não-avaliadas. Agora tudo passa por normalizar():\n//   - \"insuficiente\" / \"77\" / 77   -> SENTINELA (77) = sem dados\n//   - número (ou \"7,5\" / \"7.5\")     -> número\n//   - null / undefined / \"\"         -> null = não se aplica ao segmento (não conta)\n//\n// MÍNIMOS:\n//   - food e fun  => MIN_FOOD_FUN (6 fixo)\n//   - média       => MIN (vem de minimum_grade; fallback 6)\n// FOOD é portão crítico: insuficiente OU nota < MIN_FOOD_FUN => reprova.\n//   - PORÉM: se já reprovou por >2 insuficientes, a justificativa fica só a dos insuficientes.\n\nconst e = $input.item.json;\n\nconst SENTINELA = 77;\nconst MAX_NAO_AVALIADAS = 2; // acima disso (>2 => 3+) reprova\nconst MIN_FOOD_FUN = 6;      // mínimo fixo para comida e diversão\n\nconst ehNotaValida = (v) =>\n  typeof v === \"number\" && Number.isFinite(v) && v !== SENTINELA;\n\nconst MIN = ehNotaValida(e.minimum_grade) ? e.minimum_grade : 6; // mínimo da média\n\nconst round = (x, d = 2) => {\n  if (x === null || x === undefined || Number.isNaN(x) || !Number.isFinite(x)) {\n    return null;\n  }\n  const f = Math.pow(10, d);\n  return Math.round(x * f) / f;\n};\n\n// --------------------\n// NORMALIZAÇÃO (a peça que faltava)\n// --------------------\nconst normalizar = (v) => {\n  if (v === null || v === undefined) return null;          // ausente\n  if (typeof v === \"number\") return Number.isFinite(v) ? v : null;\n  if (typeof v === \"string\") {\n    const s = v.trim().toLowerCase();\n    if (s === \"\") return null;                             // vazio => ausente\n    if (s === \"insuficiente\") return SENTINELA;            // insuficiente\n    const n = Number(s.replace(\",\", \".\"));\n    if (Number.isFinite(n)) return n;                      // \"77\"->77, \"7,5\"->7.5\n    return SENTINELA;                                      // texto inesperado => insuficiente\n  }\n  return null;\n};\n\n// Todas as notas possíveis, JÁ normalizadas\nconst candidatas = {\n  variety: normalizar(e.variety_nota),\n  service: normalizar(e.service_nota),\n  price_to_value: normalizar(e.price_to_value_nota),\n  capacity: normalizar(e.capacity_nota),\n  beauty: normalizar(e.beauty_nota),\n  space: normalizar(e.space_nota),\n  fun: normalizar(e.fun_nota),\n  food: normalizar(e.food_nota),\n};\n\nconst rotulos = {\n  variety: \"variedade\",\n  service: \"atendimento\",\n  price_to_value: \"custo-benefício\",\n  capacity: \"capacidade\",\n  beauty: \"beleza\",\n  space: \"espaço\",\n  fun: \"diversão\",\n  food: \"comida\",\n};\n\n// --------------------\n// MÉDIA\n// --------------------\nconst presentes = Object.entries(candidatas).filter(([, v]) => ehNotaValida(v));\nconst notasUsadas = presentes.map(([, v]) => v);\nconst media = notasUsadas.length\n  ? notasUsadas.reduce((a, b) => a + b, 0) / notasUsadas.length\n  : null;\n\n// --------------------\n// NÃO AVALIADAS (insuficientes) — agora pega \"insuficiente\"/77 igual\n// --------------------\nconst notasNaoAvaliadas = Object.entries(candidatas)\n  .filter(([, v]) => v === SENTINELA)\n  .map(([k]) => k);\n\nconst reprovaPorInsuficientes = notasNaoAvaliadas.length > MAX_NAO_AVALIADAS;\n\n// --------------------\n// REGRAS\n// --------------------\nconst motivos = [];\nconst observacoes = [];\n\n// FOTOS (crítico)\nconst temFotoAnalise = Array.isArray(e.fotos_analise) && e.fotos_analise.length > 0;\nif (!temFotoAnalise) {\n  motivos.push(\"Sem fotos analisadas (fotos_analise ausente ou vazio)\");\n}\n\n// FOOD (crítico) — insuficiente REPROVA; mínimo = MIN_FOOD_FUN\n// Se já reprovou por >2 insuficientes, NÃO duplica o motivo de comida insuficiente.\nconst foodN = candidatas.food;\nif (foodN !== null) {\n  if (foodN === SENTINELA) {\n    if (!reprovaPorInsuficientes) {\n      motivos.push(\"Comida não pôde ser avaliada (insuficiente)\");\n    }\n  } else if (foodN < MIN_FOOD_FUN) {\n    motivos.push(`Nota de comida abaixo de ${MIN_FOOD_FUN} (food_nota=${round(foodN)})`);\n  }\n}\n\n// FUN (crítico) — mínimo = MIN_FOOD_FUN\nconst funN = candidatas.fun;\nif (funN !== null) {\n  if (funN === SENTINELA) {\n    if (!reprovaPorInsuficientes) {\n      observacoes.push(\"diversão não pôde ser avaliada (insuficiente)\");\n    }\n  } else if (funN < MIN_FOOD_FUN) {\n    motivos.push(`Nota de diversão abaixo de ${MIN_FOOD_FUN} (fun_nota=${round(funN)})`);\n  }\n}\n\n// NÃO AVALIADAS (crítico) — mais de 2 insuficientes => reprova\nif (reprovaPorInsuficientes) {\n  const nomes = notasNaoAvaliadas.map((k) => rotulos[k] || k);\n  motivos.push(\n    `Notas insuficientes: ${notasNaoAvaliadas.length} notas sem dados ` +\n    `— máximo permitido é ${MAX_NAO_AVALIADAS} (${nomes.join(\", \")})`\n  );\n}\n\n// MÉDIA — não repete \"sem notas válidas\" se já reprovou por excesso de insuficientes\nif (media === null) {\n  if (!reprovaPorInsuficientes) {\n    motivos.push(\"Sem notas qualitativas válidas para calcular a média\");\n  }\n} else if (media < MIN) {\n  motivos.push(`media das notas qualitativas abaixo do corte (${MIN})`);\n}\n\nconst aprovado = motivos.length === 0;\n\n// --------------------\n// JUSTIFICATIVA\n// --------------------\nlet motivo;\n\nif (aprovado) {\n  const partes = [`Média das notas qualitativas ${round(media)} (≥ ${MIN})`];\n  if (ehNotaValida(foodN)) partes.push(`comida ${round(foodN)} (≥ ${MIN_FOOD_FUN})`);\n  if (ehNotaValida(funN)) partes.push(`diversão ${round(funN)} (≥ ${MIN_FOOD_FUN})`);\n  if (observacoes.length) partes.push(...observacoes);\n  if (notasNaoAvaliadas.length) {\n    const nomes = notasNaoAvaliadas.map((k) => rotulos[k] || k);\n    partes.push(`não avaliadas: ${nomes.join(\", \")}`);\n  }\n  motivo = \"Aprovado — \" + partes.join(\"; \");\n} else {\n  let txt = \"Reprovado — \" + motivos.join(\" | \");\n  if (observacoes.length) txt += \" | (obs: \" + observacoes.join(\"; \") + \")\";\n  motivo = txt;\n}\n\n// --------------------\n// OUTPUT\n// --------------------\nreturn {\n  json: {\n    ...e,\n    minimum_grade_usado: MIN,\n    min_food_fun_usado: MIN_FOOD_FUN,\n    media_qualitativa: round(media),\n    notas_consideradas: notasUsadas.length,\n    notas_usadas: presentes.map(([k]) => k),\n    notas_nao_avaliadas: notasNaoAvaliadas,\n    qtd_notas_nao_avaliadas: notasNaoAvaliadas.length,\n    tem_fotos_analise: temFotoAnalise,\n    aprovado_notas: aprovado,\n    motivo_notas: motivo,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        1168
      ],
      "id": "38ddcdc1-0d7f-4e5c-8e60-a8f3e3bdfac3",
      "name": "média"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  if (!Array.isArray(item.json.fotos_analise)) {\n    continue;\n  }\n  item.json.fotos_analise = item.json.fotos_analise\n    .filter(foto => {\n      const nota = Number(foto.nota_capa ?? 0);\n      const inutil = foto.eh_inutil === true;\n      return !inutil && nota >= 6;\n    })\n    .sort((a, b) => Number(b.nota_capa ?? 0) - Number(a.nota_capa ?? 0));\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        1168
      ],
      "id": "6a2fca17-d7ba-4d57-9182-ff1daff26038",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items\nconst items = $input.all().map(i => i.json ?? {});\n\nreturn items.map(item => {\n  return {\n    json: {\n      id: item.id ?? null,\n      nome: item.nome ?? null,\n      subtipos: item.subtipos_pt_str ?? null,\n      endereco: item.endereco ?? null,\n      bairro: item.bairro ?? null,\n      cep: item.cep ?? null,\n      cidade: item.cidade ?? null,\n      estado: item.estado ?? null,\n      pais: item.pais ?? null,\n      telefone: item.telefone ?? null,\n      telefone_extra: item.telefone_extra ?? null,\n      email: item.email ?? null,\n      website: item.website ?? null,\n      instagram: item.instagram ?? null,\n      facebook: item.facebook ?? null,\n      link_google_maps: item.link_google_maps ?? null,\n      nota: item.nota ?? null,\n      qtd_avaliacoes: item.qtd_avaliacoes ?? null,\n      distribuicao_notas: item.distribuicao_notas != null ? JSON.stringify(item.distribuicao_notas) : null,\n      status: item.status ?? null,\n      horarios: item.horarios != null ? JSON.stringify(item.horarios) : null,\n      faixa_preco: item.faixa_preco ?? null,\n      qtd_fotos: item.qtd_fotos ?? null,\n      fotos: item.fotos_analise != null ? JSON.stringify(item.fotos_analise) : null,\n      resumo: item.resumo ?? null,\n      details_google: item.details_google ?? null,\n      google_id: item.google_id ?? null,\n      place_id: item.place_id ?? null,\n      verificado: item.verificado ?? null,\n      timezone: item.timezone ?? null,\n      reviews: item.reviews ?? null,          // jsonb -> objeto cru, SEM stringify\n      par1: item.service_nota ?? null,\n      just1: item.service_justificativa ?? null,\n      par2: item.space_nota ?? null,\n      just2: item.space_justificativa ?? null,\n      par3: item.price_to_value_nota ?? null,\n      just3: item.price_to_value_justificativa ?? null,\n      par4: null,\n      just4: null,\n      par5: null,\n      just5: null,\n      média: item.media_qualitativa ?? null,\n      aproved: item.aprovado_notas ?? null,\n      reason: item.motivo_notas ?? null,\n      segmento: item.categoria_principal ?? null,\n      subsegmento: item.subsegmento ?? null,\n      nr_latitude: item.nr_latitude ?? null,\n      nr_longitude: item.nr_longitude ?? null,\n      minimum_grade: item.minimum_grade ?? null,\n      go_to_reevaluation: true,\n      \n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3952,
        1168
      ],
      "id": "4ea22caa-402f-4e62-b93a-1df615063447",
      "name": "organizer1"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n// Extrai as URLs das imagens, 1 imagem por row, com id e foto_index.\nconst rows = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const e = item.json || {};\n  const idEstabelecimento = e.id || null;\n\n  let fotos = [];\n  try {\n    fotos = typeof e.fotos === \"string\" ? JSON.parse(e.fotos) : (e.fotos || []);\n  } catch (err) {\n    fotos = [];\n  }\n  if (!Array.isArray(fotos)) fotos = [];\n\n  const urlsProcessadas = new Set();\n\n  for (const foto of fotos) {\n    const url = (foto && foto.url_original) || \"\";\n    if (!url || urlsProcessadas.has(url)) continue;\n    urlsProcessadas.add(url);\n\n    rows.push({\n      json: {\n        id: idEstabelecimento,\n        foto_index: foto.foto_index ?? null,\n        url: url\n      }\n    });\n  }\n}\n\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4576,
        720
      ],
      "id": "9abe1b93-0686-446e-b4d8-e72bc02e84c4",
      "name": "image split"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\nconst items = $input.all();\nreturn items.map((item) => {\n  const e = item.json || {};\n\n  let fotos = [];\n  try {\n    fotos = typeof e.fotos === \"string\" ? JSON.parse(e.fotos) : (e.fotos || []);\n  } catch (err) {\n    fotos = [];\n  }\n  if (!Array.isArray(fotos)) fotos = [];\n\n  const fotosOrdenadas = [...fotos].sort((a, b) => {\n    const na = (a && typeof a.nota_capa === \"number\") ? a.nota_capa : -Infinity;\n    const nb = (b && typeof b.nota_capa === \"number\") ? b.nota_capa : -Infinity;\n\n    // Primeiro: nota decrescente\n    if (nb !== na) return nb - na;\n\n    // Desempate: foto_index crescente (menor index primeiro)\n    const ia = (a && typeof a.foto_index === \"number\") ? a.foto_index : Infinity;\n    const ib = (b && typeof b.foto_index === \"number\") ? b.foto_index : Infinity;\n    return ia - ib;\n  });\n\n  return {\n    json: {\n      ...e,\n      fotos: fotosOrdenadas,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        720
      ],
      "id": "2c29ae1e-d031-421c-be77-8fcec6af94c0",
      "name": "image organizer"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n\nconst SUPABASE_URL = \"https://veedrfffsquvyypjrquh.supabase.co\";\nconst BUCKET = \"TRIP\";\nconst KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZlZWRyZmZmc3F1dnl5cGpycXVoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODg2OTQyMSwiZXhwIjoyMDk0NDQ1NDIxfQ.0Z341oGGbmFl2ce8TLVTs55F2667wdug0aF1iFNSNVw\";\n\nconst MAX_RETRIES = 3;\nconst RETRY_DELAY_MS = 1500;\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\n\nconst extPorContentType = (ct) => {\n  if (!ct) return \"jpg\";\n  if (ct.includes(\"png\")) return \"png\";\n  if (ct.includes(\"webp\")) return \"webp\";\n  if (ct.includes(\"gif\")) return \"gif\";\n  return \"jpg\";\n};\n\nconst items = $input.all();\nconst contadorPorId = {};\nconst resultados = [];\n\nfor (const item of items) {\n  const e = item.json || {};\n\n  let url = e.url || e.url_original;\n  const id = e.id || \"sem_id\";\n\n  if (!url) continue;\n\n  // Tenta obter uma versão de boa qualidade sem ficar pesada\n  if (url.includes(\"googleusercontent.com\")) {\n    url = url.replace(\n      /=w\\d+-h\\d+.*$/i,\n      \"=w1600-h1600-k-no\"\n    );\n  }\n\n  const idx = contadorPorId[id] ?? 0;\n  contadorPorId[id] = idx + 1;\n\n  // 1. Download da imagem\n  let img = null;\n  let lastErr = null;\n\n  for (let tentativa = 1; tentativa <= MAX_RETRIES; tentativa++) {\n    try {\n      img = await this.helpers.httpRequest({\n        method: \"GET\",\n        url,\n        encoding: \"arraybuffer\",\n        returnFullResponse: true,\n        timeout: 20000,\n        headers: {\n          \"User-Agent\":\n            \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36\",\n          Accept: \"image/webp,image/apng,image/*,*/*;q=0.8\",\n        },\n      });\n\n      break;\n    } catch (err) {\n      lastErr = err;\n\n      const status =\n        err.response?.statusCode || err.statusCode;\n\n      if (status === 403 || status === 404) {\n        break;\n      }\n\n      if (tentativa < MAX_RETRIES) {\n        await sleep(RETRY_DELAY_MS * tentativa);\n      }\n    }\n  }\n\n  if (!img || !img.body || img.body.length === 0) {\n    const status =\n      lastErr?.response?.statusCode ||\n      lastErr?.statusCode ||\n      \"vazio\";\n\n    resultados.push({\n      json: {\n        id,\n        foto_index: idx,\n        url,\n        sucesso: false,\n        erro: `download_falhou_${status}`,\n      },\n    });\n\n    continue;\n  }\n\n  const contentType =\n    img.headers[\"content-type\"] || \"image/jpeg\";\n\n  const ext = extPorContentType(contentType);\n\n  const path = `${id}/${idx}.${ext}`;\n\n  // 2. Upload para Supabase Storage\n  let uploadOk = false;\n  let uploadErr = null;\n\n  for (let tentativa = 1; tentativa <= MAX_RETRIES; tentativa++) {\n    try {\n      await this.helpers.httpRequest({\n        method: \"POST\",\n        url: `${SUPABASE_URL}/storage/v1/object/${BUCKET}/${path}`,\n        timeout: 30000,\n        headers: {\n          Authorization: `Bearer ${KEY}`,\n          \"Content-Type\": contentType,\n          \"x-upsert\": \"true\",\n        },\n        body: Buffer.from(img.body),\n      });\n\n      uploadOk = true;\n      break;\n    } catch (err) {\n      uploadErr = err;\n\n      if (tentativa < MAX_RETRIES) {\n        await sleep(RETRY_DELAY_MS * tentativa);\n      }\n    }\n  }\n\n  if (!uploadOk) {\n    resultados.push({\n      json: {\n        id,\n        foto_index: idx,\n        url,\n        path,\n        sucesso: false,\n        erro:\n          \"upload_falhou: \" +\n          JSON.stringify(\n            uploadErr?.response?.body ??\n              uploadErr?.response?.data ??\n              uploadErr?.message\n          ),\n      },\n    });\n\n    continue;\n  }\n\n  resultados.push({\n    json: {\n      id,\n      foto_index: idx,\n      path,\n      sucesso: true,\n      public_url: `${SUPABASE_URL}/storage/v1/object/public/${BUCKET}/${path}`,\n    },\n  });\n}\n\nreturn resultados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4816,
        720
      ],
      "id": "5d0c298e-0c47-445a-92c8-e28b41a085d0",
      "name": "STORAGE"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n// Agrupa as imagens por estabelecimento (id), montando uma lista de URLs por id.\n\nconst items = $input.all();\nconst porId = {};\n\nfor (const item of items) {\n  const e = item.json || {};\n  const id = e.id;\n  if (!id) continue;\n\n  if (!porId[id]) {\n    porId[id] = {\n      id,\n      qtd_fotos: 0,\n      capa: null,\n      _temp: [],   // guarda index+url para ordenar depois\n    };\n  }\n\n  porId[id]._temp.push({ foto_index: e.foto_index, url: e.public_url });\n\n  if (e.foto_index === 0) {\n    porId[id].capa = e.public_url;\n  }\n}\n\nreturn Object.values(porId).map((grupo) => {\n  // ordena por foto_index e extrai só a URL\n  grupo._temp.sort((a, b) => a.foto_index - b.foto_index);\n  const fotos = grupo._temp.map((f) => f.url);\n  delete grupo._temp;\n\n  return {\n    json: {\n      id: grupo.id,\n      qtd_fotos: fotos.length,\n      capa: grupo.capa,\n      fotos, // array só com as URLs, em ordem\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5056,
        720
      ],
      "id": "9ddc1a57-be54-4c89-bc83-989f5ef470bc",
      "name": "Organizador"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5440,
        1136
      ],
      "id": "8d78299e-ac7b-4130-bc86-504b3e68b3d0",
      "name": "Merge4"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\n// Separa uploads de estabelecimentos\nconst uploads = {};\nconst estabelecimentos = {};\n\nfor (const item of items) {\n  const id = item.id;\n  if (!id) continue;\n\n  // É um item de upload se tiver capa e não tiver nome\n  if (item.capa && !item.nome) {\n    uploads[id] = item;\n  } else if (item.nome) {\n    estabelecimentos[id] = item;\n  }\n}\n\n// Mescla upload + estabelecimento pelo id\nreturn Object.keys(estabelecimentos).map(id => {\n  const est = estabelecimentos[id];\n  const upload = uploads[id] || {};\n\n  return {\n    json: {\n      ...est,\n      capa: upload.capa ?? null,\n      fotos_salvas: upload.fotos ?? [],\n      qtd_fotos_salvas: upload.qtd_fotos ?? 0,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5648,
        1136
      ],
      "id": "96a72ebb-3370-4b72-b741-a3348a5b1382",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\nreturn items.map(item => {\n  return {\n    json: {\n      id: item.id ?? null,\n      nome: item.nome ?? null,\n      subtipos: item.subtipos ?? null,\n      endereco: item.endereco ?? null,\n      bairro: item.bairro ?? null,\n      cep: item.cep ?? null,\n      cidade: item.cidade ?? null,\n      estado: item.estado ?? null,\n      pais: item.pais ?? null,\n      telefone: item.telefone ?? null,\n      telefone_extra: item.telefone_extra ?? null,\n      email: item.email ?? null,\n      website: item.website ?? null,\n      instagram: item.instagram ?? null,\n      facebook: item.facebook ?? null,\n      link_google_maps: item.link_google_maps ?? null,\n      nota: item.nota ?? null,\n      qtd_avaliacoes: item.qtd_avaliacoes ?? null,\n      distribuicao_notas: item.distribuicao_notas ?? null,\n      status: item.status ?? null,\n      horarios: item.horarios ?? null,\n      faixa_preco: item.faixa_preco ?? null,\n\n      qtd_fotos: item.qtd_fotos_salvas ?? item.qtd_fotos ?? null,\n      gallery: item.fotos_salvas ?? item.gallery ?? [],\n      capa: item.capa ?? null,\n\n      fotos: item.fotos ?? null,\n      resumo: item.resumo ?? null,\n      details_google: item.details_google ?? null,\n      google_id: item.google_id ?? null,\n      place_id: item.place_id ?? null,\n      verificado: item.verificado ?? null,\n      timezone: item.timezone ?? null,\n\n      reviews: typeof item.reviews === 'string'\n        ? JSON.parse(item.reviews)\n        : (item.reviews ?? null),\n\n      par1: item.par1 ?? null,\n      just1: item.just1 ?? null,\n      par2: item.par2 ?? null,\n      just2: item.just2 ?? null,\n      par3: item.par3 ?? null,\n      just3: item.just3 ?? null,\n      par4: item.par4 ?? null,\n      just4: item.just4 ?? null,\n      par5: item.par5 ?? null,\n      just5: item.just5 ?? null,\n      \"média\": item[\"média\"] ?? null,\n      aproved: item.aproved ?? null,\n      reason: item.reason ?? null,\n      segmento: item.segmento ?? null,\n      subsegmento: item.subsegmento ?? null,\n      nr_latitude: item.nr_latitude ?? null,\n      nr_longitude: item.nr_longitude ?? null,\n      minimum_grade: item.minimum_grade ?? null,\n      go_to_reevaluation: true,\n      \n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5856,
        1136
      ],
      "id": "35f12452-83c0-4686-be46-84a799d00d20",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "tableId": "geral_estabelecimentos_avaliados",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6144,
        1184
      ],
      "id": "2204a731-490d-4088-a105-c276f954f5d7",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cb30c38e-ad3c-458a-8342-7d67e0a8c747",
              "leftValue": "={{ $json.aproved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4160,
        1168
      ],
      "id": "0eee74cb-8103-4300-98b1-93c09196484f",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "geral_estabelecimentos_avaliados",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4560,
        1440
      ],
      "id": "1e31880a-eb74-42fc-8cfd-75cbf39b73d2",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40dba803-f2ac-4b82-8650-dbe40562f84d",
              "name": "fotos",
              "value": "={{ $json.fotos }}",
              "type": "array"
            },
            {
              "id": "64e70dac-1ff7-483b-8812-4ab5621c8e33",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        256
      ],
      "id": "39b575d5-662c-4577-bda7-edaefbdbf01b",
      "name": "Fotos"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n// Gera UMA row por foto (para o Switch funcionar), sem duplicatas e COM O ID do restaurante.\nconst categoriasInuteis = [\"Street View & 360°\", \"Videos\", \"Menu\"];\nconst rows = [];\n// 1. Pega TODOS os restaurantes que entraram no nó\nconst items = $input.all();\nfor (const item of items) {\n  const e = item.json || {};\n  const idEstabelecimento = e.id || null;\n  const fotos = Array.isArray(e.fotos) ? e.fotos : [];\n  const urlsProcessadas = new Set();\n  // 2. Transforma cada foto em um item isolado\n  for (let i = 0; i < fotos.length; i++) {\n    const foto = fotos[i] || {};\n    const url = foto.url || \"\";\n    const description = foto.description || \"\";\n    if (!url || urlsProcessadas.has(url)) {\n      continue;\n    }\n    const ehInutil = categoriasInuteis.includes(description) || url.includes(\"streetviewpixels\");\n    urlsProcessadas.add(url);\n    // 3. Joga a foto na lista final\n    rows.push({\n      json: {\n        id: idEstabelecimento,\n        foto_index: i,\n        description: description,\n        url_original: url,\n        eh_inutil: ehInutil\n      }\n    });\n  }\n}\n// Retorna uma lista plana (1 item = 1 foto)\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        256
      ],
      "id": "922e0936-8bc0-4087-8833-adbc140fdcb0",
      "name": "Fotos organizer"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.eh_inutil }}",
                    "rightValue": "=",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "6a82029b-4182-4a2f-8e4f-432cc4ec6a3e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5bf04c1e-a46b-49ae-a66a-7982239aa9ed",
                    "leftValue": "={{ $json.eh_inutil }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1056,
        256
      ],
      "id": "eaaa484b-b9f9-4fee-b41c-76685ec32971",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2256,
        304
      ],
      "id": "7bb24257-2c2c-4a3e-822a-b3b42610103a",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\nconst items = $input.all().map(i => i.json);\n\n// Uma FOTO tem url_original. Uma RESPOSTA da IA tem o JSON com \"resultado\".\n// Um mesmo item nunca é os dois ao mesmo tempo, então separamos com prioridade\n// para a resposta: se parece resposta, é resposta; senão, se tem url, é foto.\nfunction looksLikeResposta(i) {\n  if (!i) return false;\n  if (i.choices !== undefined) return true;\n  if (i.message?.content !== undefined) return true;\n  if (typeof i.content === 'string') return true;\n  if (typeof i.resultado === 'string') return true;\n  return false;\n}\n\nconst respostasRaw = items.filter(i => looksLikeResposta(i));\nconst fotos = items.filter(i => !looksLikeResposta(i) && i.url_original !== undefined);\n\nfunction parseResposta(aiOutput) {\n  if (!aiOutput) return null;\n\n  // 1) Extrai o texto bruto de onde quer que ele esteja\n  let rawText = \"\";\n  if (aiOutput.choices && aiOutput.choices[0] && aiOutput.choices[0].message) {\n    rawText = aiOutput.choices[0].message.content;\n  } else if (typeof aiOutput.content === 'string') {\n    rawText = aiOutput.content;\n  } else if (typeof aiOutput === 'string') {\n    rawText = aiOutput;\n  } else if (typeof aiOutput.resultado === 'string') {\n    // caso o item já venha \"achatado\" com resultado/id/foto_index no topo\n    rawText = JSON.stringify(aiOutput);\n  }\n  if (!rawText) return null;\n\n  // 2) Tenta parsear o JSON da IA\n  let parsedJson = null;\n  try {\n    let fixedText = rawText.trim();\n    // tira cercas de markdown se a IA escapou e mandou ```json ... ```\n    fixedText = fixedText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n    if (!fixedText.endsWith('}')) fixedText += '\\n}';\n    parsedJson = JSON.parse(fixedText);\n  } catch (e) {\n    parsedJson = null;\n  }\n\n  // 3) Se parseou, extrai pelos campos; senão cai no regex\n  let id = null;\n  let foto_index = null;\n  let resultado = \"\";\n\n  if (parsedJson) {\n    id = parsedJson.id ?? null;\n    foto_index = parsedJson.foto_index ?? null;\n    resultado = parsedJson.resultado || \"\";\n  } else {\n    const idMatch = rawText.match(/\"id\"\\s*:\\s*\"([^\"]+)\"/);\n    const fiMatch = rawText.match(/\"foto_index\"\\s*:\\s*(\\d+)/);\n    const resMatch = rawText.match(/\"resultado\"\\s*:\\s*\"([^\"]*(?:\\\\.[^\"]*)*)\"/);\n    id = idMatch ? idMatch[1] : null;\n    foto_index = fiMatch ? parseInt(fiMatch[1], 10) : null;\n    resultado = resMatch ? resMatch[1].replace(/\\\\\"/g, '\"') : \"\";\n  }\n\n  // normaliza foto_index para número inteiro quando possível\n  if (foto_index !== null && foto_index !== undefined) {\n    const fiNum = parseInt(foto_index, 10);\n    foto_index = isNaN(fiNum) ? null : fiNum;\n  }\n\n  // 4) Separa nota e justificativa de \"N.N: justificativa\"\n  let nota = null;\n  let justificativa = null;\n  if (resultado && resultado.trim() !== \"\") {\n    const idx = resultado.indexOf(\":\");\n    if (idx !== -1) {\n      const notaNum = parseFloat(resultado.slice(0, idx).trim().replace(\",\", \".\"));\n      nota = isNaN(notaNum) ? null : notaNum;\n      justificativa = resultado.slice(idx + 1).trim();\n    } else {\n      justificativa = resultado.trim();\n    }\n  }\n\n  return {\n    id,\n    foto_index,\n    nota,\n    justificativa,\n    resposta_bruta: rawText,\n  };\n}\n\n// Indexa as respostas por chave \"id__foto_index\".\n// Se houver vários ids diferentes e/ou vários foto_index, cada par é único.\nconst respMap = new Map();\nfor (const r of respostasRaw) {\n  const p = parseResposta(r);\n  if (!p || p.id === null || p.foto_index === null) continue;\n  const key = `${p.id}__${p.foto_index}`;\n  // não sobrescreve uma resposta já casada (mantém a primeira válida)\n  if (!respMap.has(key)) respMap.set(key, p);\n}\n\n// Casa cada foto com sua resposta pela chave id+foto_index (não por posição)\nconst rows = fotos.map((foto) => {\n  const key = `${foto.id}__${foto.foto_index}`;\n  const parsed = respMap.get(key) || { nota: null, justificativa: null, resposta_bruta: null };\n  return {\n    id: foto.id,\n    foto_index_original: foto.foto_index, // guarda o original pra desempate\n    description: foto.description,\n    url_original: foto.url_original,\n    eh_inutil: foto.eh_inutil,\n    nota_capa: parsed.nota,\n    justificativa_capa: parsed.justificativa,\n    resposta_bruta: parsed.resposta_bruta,\n    serve_como_capa: parsed.nota !== null && parsed.nota >= 7,\n  };\n});\n\n// Agrupa por id: o ranking/reindex de foto_index é feito DENTRO de cada id,\n// para funcionar quando o batch traz vários estabelecimentos misturados.\nconst porId = new Map();\nfor (const row of rows) {\n  if (!porId.has(row.id)) porId.set(row.id, []);\n  porId.get(row.id).push(row);\n}\n\nconst out = [];\nfor (const grupo of porId.values()) {\n  // Ordena por nota decrescente; empate: foto_index_original crescente\n  grupo.sort((a, b) => {\n    const na = a.nota_capa ?? -Infinity;\n    const nb = b.nota_capa ?? -Infinity;\n    if (nb !== na) return nb - na;\n    return (a.foto_index_original ?? Infinity) - (b.foto_index_original ?? Infinity);\n  });\n\n  // Reatribui foto_index em ordem crescente conforme a posição pós-sort,\n  // por estabelecimento (0 = melhor foto daquele id)\n  grupo.forEach((row, i) => {\n    out.push({\n      json: {\n        id: row.id,\n        foto_index: i, // 0 = melhor foto deste id, 1 = segunda melhor, etc.\n        description: row.description,\n        url_original: row.url_original,\n        eh_inutil: row.eh_inutil,\n        nota_capa: row.nota_capa,\n        justificativa_capa: row.justificativa_capa,\n        resposta_bruta: row.resposta_bruta,\n        serve_como_capa: row.serve_como_capa,\n      }\n    });\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        304
      ],
      "id": "859f3543-273f-4fc0-88e3-85624ab0897c",
      "name": "Indexer"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n// Adiciona campos de avaliação de capa em cada foto.\n// Fotos marcadas como eh_inutil recebem valores padrão de rejeição automática.\n\nconst items = $input.all().map(i => i.json);\n\nconst rows = items.map(foto => {\n  if (foto.eh_inutil) {\n    return {\n      json: {\n        ...foto,\n        nota_capa: 0,\n        justificativa_capa: \"Imagem do Google Street View (ou outras), inadequada como capa de perfil profissional.\",\n        resposta_bruta: \"Imagem do Google Street View (ou outras), inadequada como capa de perfil profissional.\",\n        serve_como_capa: false,\n      }\n    };\n  }\n\n  // Foto útil: campos vazios, prontos para serem preenchidos pela IA depois\n  return {\n    json: {\n      ...foto,\n      nota_capa: null,\n      justificativa_capa: null,\n      resposta_bruta: null,\n      serve_como_capa: null,\n    }\n  };\n});\n\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        160
      ],
      "id": "d7c6598d-24d8-4091-bd51-d134c85c8435",
      "name": "Automatic rejection"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "=gpt-4.1-mini",
          "mode": "id"
        },
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\n\nÍNDICE DA FOTO: {{ $json.foto_index }}\n\nVocê é um avaliador de qualidade de imagens. Antes de qualquer coisa, você faz uma VARREDURA DE PESSOAS. Depois aplica o filtro de eliminação. Só então, se a imagem sobreviver, avalia a qualidade.\n\n==================================================\nPASSO 0 — VARREDURA DE PESSOAS (FAÇA ISSO ANTES DE TUDO)\n==================================================\n\nAntes de pensar em qualidade, beleza ou nota, responda mentalmente a UMA pergunta, olhando a imagem inteira com atenção: HÁ ALGUM SER HUMANO NA IMAGEM?\n\nProcure ativamente por: rostos (inteiros ou parciais), cabeças, corpos, mãos segurando a câmera, pessoas em pé, sentadas, ao fundo, de lado, de costas, refletidas em espelho/vidro, ou parcialmente cortadas pela borda.\n\nSe você encontrar QUALQUER ser humano, classifique-o em uma de duas categorias:\n\n(A) HUMANO EM DESTAQUE → ELIMINAÇÃO OBRIGATÓRIA (nota 0.0). Enquadra-se aqui se:\n    • é uma selfie (rosto próximo, braço esticado, alguém segurando a câmera);\n    • há QUALQUER rosto humano reconhecível em foco em qualquer parte do quadro, mesmo que pequeno;\n    • há uma pessoa posando, olhando ou sorrindo para a câmera;\n    • uma pessoa está no centro, no primeiro plano, ou ocupa parte relevante do quadro;\n    • uma pessoa divide o destaque com o ambiente;\n    • há um grupo de pessoas.\n  Se a pessoa tem rosto visível e dá pra reconhecer que é uma pessoa, ela está EM DESTAQUE. Na dúvida entre \"destaque\" e \"acidental\", é SEMPRE destaque → ELIMINE.\n\n(B) HUMANO ACIDENTAL → não elimina por esse motivo. SÓ se enquadra aqui se a pessoa é inequivocamente irrelevante: minúscula ao fundo, totalmente desfocada, de costas e sem rosto visível, ou claramente só parte do movimento do ambiente. Esta categoria é a EXCEÇÃO RARA, não a regra.\n\nREGRA DE DECISÃO: se há humano e você não tem CERTEZA ABSOLUTA de que é categoria (B), trate como (A) e dê 0.0. É melhor eliminar uma foto boa do que aprovar uma foto com rosto.\n\nO resultado desta varredura vai OBRIGATORIAMENTE para o campo \"pessoas\" do JSON final. Você não pode dar nota alta e ao mesmo tempo admitir um humano em destaque — isso é uma contradição proibida.\n\n==================================================\nPASSO 1 — FILTRO DE ELIMINAÇÃO\n==================================================\n\nTRAVA ABSOLUTA: assim que identificar que a foto se enquadra em uma condição de eliminação, a nota é 0.0 e ESSA NOTA NÃO MUDA. Não reconsidere, não compense com qualidade técnica, não arredonde para cima. Qualidade NUNCA cancela uma eliminação. Na dúvida, ELIMINE.\n\nPRINCÍPIO ANTI-ALUCINAÇÃO: avalie SOMENTE o que está visível. Não suponha nem invente. Na dúvida sobre um detalhe, trate-o como ausente e NÃO dê o benefício da dúvida.\n\nO QUE NÃO É MOTIVO DE ELIMINAÇÃO: fotografar um ambiente fechado, objeto, vitrine, aquário, terrário, tela de TV/monitor exibindo conteúdo, ou qualquer cena com elementos artificiais CONTINUA SENDO uma fotografia real. O que elimina é a imagem SER uma renderização/arte/print — não o ASSUNTO ser artificial. Um aquário fotografado é uma foto real e legítima.\n\nCondições de eliminação (qualquer uma = 0.0):\n\n- HÁ HUMANO EM DESTAQUE (categoria A do Passo 0). Motivo: \"pessoa em destaque / rosto visível\".\n- NÃO é fotografia real: logo, ícone, ilustração, desenho, pintura digital, render 3D, arte gráfica, cartaz, flyer, banner, peça publicitária, print de tela (screenshot), mapa, ou imagem gerada/desenhada/montada por computador. Arte gráfica elimina mesmo que seja bonita e bem feita.\n- É um PRINT de app/rede social: interface, barra de status, ícones de sistema (bateria, wifi, hora) ou UI de Instagram/WhatsApp/Google Maps, mesmo que haja foto real dentro do print.\n- É majoritariamente TEXTO: cardápio, tabela de preços, horário, ou imagem em que o texto cobre a maior parte do quadro.\n- É COLAGEM/MONTAGEM: várias fotos em grade, painéis ou faixas numa única imagem.\n- Tem tarja preta larga, moldura decorativa ou bordas artificiais ocupando parte relevante do quadro.\n- Tem marca d'água invasiva, logo de terceiros dominante ou texto promocional cobrindo a imagem.\n- É tecnicamente imprestável: muito borrada, escura demais ou estourada a ponto de não dar pra distinguir o que é.\n\nSe NENHUMA condição se aplicar, vá para o PASSO 2.\n\n==================================================\nPASSO 2 — NOTA DE QUALIDADE (0.0 a 10.0)\n==================================================\n\nSó execute se a imagem sobreviveu aos passos 0 e 1. NÃO escolha uma nota redonda primeiro. Avalie as quatro dimensões SEPARADAMENTE, atribua valores conforme a EVIDÊNCIA visual, e SOME.\n\n- NITIDEZ / FOCO (0.0 a 3.0)\n- ILUMINAÇÃO (0.0 a 2.5)\n- ENQUADRAMENTO / COMPOSIÇÃO (0.0 a 2.5)\n- CLAREZA DO ASSUNTO / APELO (0.0 a 2.0)\n\nREGRA DECIMAL OBRIGATÓRIA: para CADA dimensão, escolha um valor com decimal \"quebrada\" que reflita exatamente aquela foto (ex.: 2.7, 1.8, 2.2, 1.3). NÃO use máximos redondos (3.0, 2.5, 2.0) nem meios redondos (1.5) salvo em casos extremos e inquestionáveis. É esperado que quase nenhuma sub-nota seja redonda.\n\nSome as quatro para a nota base. A maioria das fotos boas soma entre 6.5 e 8.0; passar de 9.0 exige as quatro dimensões quase no máximo.\n\nTETO: se é close extremo de um único prato/bebida sem contexto do ambiente, OU tem filtro/saturação artificial muito evidente, a nota não passa de 6.5.\n\n==================================================\nPASSO 3 — PEQUENO BÔNUS DE CAPA\n==================================================\n\nSome +0.7 SOMENTE se TODAS forem verdadeiras: (a) mostra com clareza a FACHADA do estabelecimento — vista externa com entrada, letreiro ou estrutura reconhecível; (b) você tem CERTEZA de que é a vista externa, sem inferir; (c) a nota base do PASSO 2 já é ≥ 5.0. Faltando qualquer uma, não some nada. A nota final nunca passa de 10.0. O bônus nunca se aplica se houve eliminação.\n\nArredonde a nota final para UMA casa decimal.\n\n==================================================\nFORMATO DA RESPOSTA\n==================================================\n\nResponda SÓ com este objeto JSON, sem nada antes nem depois, sem markdown:\n\n{\n\n\"id\": \"<copie exatamente o ID DO ESTABELECIMENTO do topo>\",\n\n\"foto_index\": <copie exatamente o ÍNDICE DA FOTO do topo, como número inteiro>,\n\n\"pessoas\": \"<um de: 'nenhuma' | 'acidental' | 'em destaque'>\",\n\n\"resultado\": \"N.N: justificativa\"\n\n}\n\nRegras do formato, obrigatórias:\n\n- Copie \"id\" e \"foto_index\" EXATAMENTE como vieram no topo. \"foto_index\" é número inteiro, sem aspas.\n- \"pessoas\" registra o resultado do PASSO 0. Se for \"em destaque\", \"resultado\" TEM que começar com 0.0. É proibido \"pessoas\":\"em destaque\" com nota acima de 0.0.\n- \"resultado\" SEMPRE começa com a nota (0.0 a 10.0, UMA casa decimal), seguida de \": \" e a justificativa. Nunca escreva só o número.\n- A justificativa é UMA frase curta (máx ~20 palavras) citando só os fatores DECISIVOS. Quando houver eliminação, nomeie o motivo (ex.: \"0.0: pessoa em destaque / rosto visível.\" ou \"0.0: arte gráfica, não é fotografia.\").\n- NUNCA escreva que NÃO houve eliminação, que não há pessoas, ou qualquer frase sobre o que NÃO aconteceu (exceto o campo \"pessoas\", que é obrigatório).\n- Evite os valores \"ímã\" 7.4, 8.0 e 8.2 como nota final. Se cair neles, reavalie as sub-notas com mais precisão decimal.\n- Nunca escreva \"insuficiente\" nem nada fora do formato. Toda imagem recebe uma nota.",
        "imageUrls": "={{ $json.url_original }}",
        "simplify": false,
        "options": {}
      },
      "id": "9a8bb44b-6db8-4250-bff5-96c3812fe348",
      "name": "Picasso",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        2000,
        416
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\nconst fotosPorId = /** @type {Record<string, any[]>} */ ({});\n\nfor (const item of items) {\n  if (item && item.id && item.foto_index !== undefined && !item.eh_inutil && item.nota_capa >= 6) {\n    if (!fotosPorId[item.id]) {\n      fotosPorId[item.id] = [];\n    }\n    fotosPorId[item.id].push(item);\n  }\n}\n\nconst resultados = Object.keys(fotosPorId).map(id => {\n  const fotosDoEstabelecimento = fotosPorId[id];\n  \n  fotosDoEstabelecimento.sort((a, b) => a.foto_index - b.foto_index);\n  \n  return {\n    json: {\n      id: id,\n      fotos_analise: fotosDoEstabelecimento\n    }\n  };\n});\n\nreturn resultados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        288
      ],
      "id": "b37c89cb-df1d-4765-944e-60a5f3d19508",
      "name": "organizer"
    },
    {
      "parameters": {
        "url": "={{ $json.url_original }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        432
      ],
      "id": "cc8fdb6a-3648-4062-a96d-e464ee77604e",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst previousItems = $('Switch').all();\n\nconst vistos = new Set();\n\nreturn inputItems.map((item, index) => {\n  const original = previousItems[index].json;\n\n  // Erro de download/processamento → inútil\n  if (item.json.error) {\n    return {\n      json: {\n        ...original,        // url_original preservada\n        eh_inutil: true\n      }\n    };\n  }\n\n  // Chave SÓ para comparação (não afeta o que sai no fluxo)\n  const chaveComparacao = (original.url_original || '')\n    .split('?')[0]\n    .replace(/=s\\d+-k-no$/, '')\n    .replace(/=s\\d+.*$/, '');\n\n  const ehDuplicata = Boolean(chaveComparacao) && vistos.has(chaveComparacao);\n  if (chaveComparacao && !ehDuplicata) {\n    vistos.add(chaveComparacao);\n  }\n\n  return {\n    json: {\n      ...original,          // url_original sai exatamente como entrou\n      eh_inutil: original.eh_inutil || ehDuplicata\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        432
      ],
      "id": "a62c8dc0-b105-4292-b9c5-0bd74296d381",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "43a74f54-74c7-4a59-8c4b-a53157c929dc",
              "leftValue": "={{ $json.eh_inutil }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1696,
        432
      ],
      "id": "70f53285-8b87-430c-8811-cfc0167bce09",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2224,
        160
      ],
      "id": "73cc5035-35b4-4f0e-8a57-44895a6f8005",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "geral_estabelecimentos_desc",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "go_to_trip",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6368,
        1184
      ],
      "id": "25853f85-9cd8-454c-bd5e-b4a2c5a1e45c",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "geral_estabelecimentos_desc",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "go_to_trip",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4768,
        1440
      ],
      "id": "4123c5ca-d56e-4c40-be9e-0d6837ee0263",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Lê o campo existente SEM alterá-lo, e adiciona um campo novo com frases numeradas.\nconst texto = $json.comentarios_formatados || \"\";\n\n// 1) separa cada \"Comentário N: ...\" preservando o número original\nconst blocos = texto\n  .split(/\\n\\s*\\n/)            // comentários são separados por linha em branco\n  .map(b => b.trim())\n  .filter(Boolean);\n\nconst linhas = [];\nlet contadorFrase = 0;\n\nfor (const bloco of blocos) {\n  // remove o rótulo \"Comentário N:\" do início, guardando o número\n  const m = bloco.match(/^Coment[áa]rio\\s+(\\d+)\\s*:\\s*([\\s\\S]*)$/i);\n  const numComentario = m ? m[1] : \"?\";\n  const corpo = m ? m[2] : bloco;\n\n  // 2) quebra o corpo em frases (fim de frase ou quebra de linha)\n  const frases = corpo\n    .split(/(?<=[.!?])\\s+|\\n+/)\n    .map(f => f.trim())\n    .filter(f => f.length > 0);\n\n  // se o comentário não tiver pontuação, ele inteiro vira uma \"frase\"\n  const lista = frases.length ? frases : [corpo.trim()].filter(Boolean);\n\n  for (const f of lista) {\n    contadorFrase++;\n    // formato: \"F12 (C10): frase isolada\"\n    linhas.push(`F${contadorFrase} (C${numComentario}): ${f}`);\n  }\n}\n\n// adiciona o campo novo, mantém todo o resto do item intacto\n$json.comentarios_frases = linhas.join(\"\\n\");\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        1216
      ],
      "id": "bb43ca60-78da-401c-b7cf-30f27cfa8575",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "// Limpa a saída dos agentes mas MANTÉM cada campo de review como STRING JSON,\n// e MANTÉM os itens separados (é o que o Organizer espera receber).\n// Só desembrulha {action,text} e normaliza, sem mudar a estrutura.\n// Detecta automaticamente qualquer campo \"*_review\" + \"summary\", então\n// funciona em qualquer fluxo (service, food, fun, beauty, etc.).\n\nfunction ehCampoReview(chave) {\n  return chave === \"summary\" || chave.endsWith(\"_review\");\n}\n\nfunction limpaParaString(valor) {\n  if (valor == null) return valor;\n  let obj = (typeof valor === \"object\") ? valor : null;\n  if (obj === null && typeof valor === \"string\") {\n    try { obj = JSON.parse(valor.trim()); } catch (e) { return valor; } // não parseou: devolve como veio\n  }\n  if (!obj) return valor;\n  // desembrulha {action:\"parse\", text:\"{...}\"}\n  if (obj.text && (obj.action || obj.resultado === undefined)) {\n    try {\n      const inner = JSON.parse(obj.text);\n      if (inner && (inner.resultado !== undefined || inner.id !== undefined)) obj = inner;\n    } catch (e) {}\n  }\n  // re-serializa como string JSON limpa { id, resultado }\n  return JSON.stringify({\n    id: obj.id ?? null,\n    resultado: obj.resultado ?? null\n  });\n}\n\nconst out = [];\nfor (const item of $input.all()) {\n  const novo = { ...item.json };\n  for (const campo of Object.keys(novo)) {\n    if (ehCampoReview(campo) && novo[campo] !== undefined) {\n      novo[campo] = limpaParaString(novo[campo]);\n    }\n  }\n  out.push({ json: novo });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        1168
      ],
      "id": "db5ccef2-b101-4d1a-9057-a2f13abcf76c",
      "name": "Code in JavaScript5"
    }
  ],
  "connections": {
    "Price to value review3": {
      "main": [
        [
          {
            "node": "Merge20",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Space review3": {
      "main": [
        [
          {
            "node": "Merge20",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "service_review3": {
      "main": [
        [
          {
            "node": "Merge20",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch9": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 1
          },
          {
            "node": "Fotos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge20": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Space review3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Price to value review3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "service_review3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summary": {
      "main": [
        [
          {
            "node": "Merge20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizer1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge10": {
      "main": [
        [
          {
            "node": "Organizer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizer2": {
      "main": [
        [
          {
            "node": "média",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Organizer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "média": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "organizer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "organizer1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image split": {
      "main": [
        [
          {
            "node": "STORAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image organizer": {
      "main": [
        [
          {
            "node": "image split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STORAGE": {
      "main": [
        [
          {
            "node": "Organizador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizador": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "image organizer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fotos": {
      "main": [
        [
          {
            "node": "Fotos organizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fotos organizer": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Automatic rejection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Indexer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indexer": {
      "main": [
        [
          {
            "node": "organizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automatic rejection": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Picasso": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Picasso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Automatic rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "organizer": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "id": "d12f929f-2cf4-427b-aa85-d2e0621f7dc5",
          "nome": "Comunidade Santa Clara de Assis",
          "subsegmento": "Catholic church, Chapel",
          "endereco": "Comunidade Santa Clara de Assis - Av. Alziro Zarur, 470 - Jardim da Penha, Vitória - ES, 29060-350, Brazil",
          "bairro": "Jardim da Penha",
          "cep": "29060-350",
          "cidade": "Vitória",
          "estado": "ES",
          "telefone": "+552730249700",
          "website": "https://www.paroquiasaofranciscojp.com/",
          "nota": 4.8,
          "qtd_avaliacoes": 150,
          "distribuicao_notas": [
            4,
            1,
            2,
            11,
            132
          ],
          "status": "ativo",
          "horarios": {
            "Friday": "Closed",
            "Monday": "Closed",
            "Sunday": "9–10 AM",
            "Tuesday": "Closed",
            "Saturday": "Closed",
            "Thursday": "Closed",
            "Wednesday": "12–1 PM"
          },
          "faixa_preco": null,
          "qtd_fotos": 4,
          "fotos": [
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAELMfmF6Hsx_NEOHRXj01MueVlt10luFLPC9Fa_SOczFh4TvjL4KYzRrWUvrAAtigJUKLGO1yN1H0qecp-IGcDkGYpvoDRfssEKdxdoqrCjw5GwCv7ZgEkAWG9knEjpaHId3ZdF=w398-h298-k-no",
              "description": "All"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAEr03jGqYuIcXCezmAcrHqDP4I_9BepfZ7ZRRKJ6SE6fLKXn9aVvOd5tlmF9lIXYU3Wllh4NalvirR07AX871qUDWXWc1pL6zaNDFi9HHAOeQoTSTIz-yVDZikj2UP97VsWyLBl=w224-h398-k-no",
              "description": "Church"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAFofcTRyAbsAZXU7CDwCMFcimUGmT2iLwgXeweGzwD2Y2khl6ZjM5JOWgDlKCkqi7X9II08h2IeKrPpSA2jgOvlB0Q0t5bX7mrH3rr2Z_G30sytNUHxIWnTZUPO8MewIjsx38u-=w529-h298-k-no",
              "description": "Videos"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAH-awG1LKczqRxOwwjpdJOgb_lkjRPHSlgFMk0QU9H1VTbYsyrumcXVrH9R9MXNC2UN1qfzIlRDKpDb1o98Usf8aFtWZsjEQQMKokB0vT3SWvLpEtAqSRw4XTMCOqPmADp51jbZFg=w224-h298-k-no-pi-0-ya355-ro-0-fo100",
              "description": "Street View & 360°"
            }
          ],
          "resumo": null,
          "acessibilidade": "Wheelchair accessible entrance, Wheelchair accessible parking lot, Wheelchair accessible restroom",
          "email": null,
          "telefone_extra": null,
          "instagram": null,
          "facebook": null,
          "link_google_maps": "https://www.google.com/maps/place/data=!3m1!4b1!4m2!3m1!1s0xb8181d1ded2a9f:0xf51234d73f293def",
          "google_id": "0xb8181d1ded2a9f:0xf51234d73f293def",
          "place_id": "ChIJnyrtHR0YuAAR7z0pP9c0EvU",
          "verificado": "true",
          "timezone": "America/Sao_Paulo",
          "created_at": "2026-06-12T18:35:47.662641+00:00",
          "atualizacoes": null,
          "reviews": [
            {
              "iso_date": "2017-06-14 18:38:39",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUNnenA3ZGZREAE",
              "user_link": "https://www.google.com/maps/contrib/105284971398422382630?hl=en",
              "user_name": "Suporte Tecnico Beltone ES",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUNnenA3ZGZREAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgICgzp7dfQ%7C%7C?hl=en",
              "review_rate": 4,
              "review_text": "A good church",
              "review_time": "Edited 8 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjVe1-rQrz4UGhmWby32Cxl7V0Oqnw7emlllHfUVI9gbeNEv87s=s120-c-rp-mo-br100",
              "review_cursor": "CjEIARIpCgoAP7_L-VwVT___EhDM1-W1PdXhDLuR0qwAAAAAGgn9_vwCoeuS5aEYACIA:1",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1503581248094000,
              "user_total_photos": 130,
              "iso_date_timestamp": 1497465519484000,
              "user_total_reviews": 642,
              "iso_date_of_last_edit": "2017-08-24 13:27:28",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1503581248094000
            },
            {
              "iso_date": "2025-07-20 13:01:35",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT21neGF6WnZMVEpTTFhGQ2VtcFFOV0ZxUVhaYU4xRRAB",
              "user_link": "https://www.google.com/maps/contrib/108744158438496958331?hl=en",
              "user_name": "Rodolfo Poyares",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT21neGF6WnZMVEpTTFhGQ2VtcFFOV0ZxUVhaYU4xRRAB!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CAIQACodChtycF9oOmgxazZvLTJSLXFCempQNWFqQXZaN1E%7C%7C?hl=en",
              "review_rate": 1,
              "review_text": "Por favor, se policiem perante ao volume sonoro emitido pela igreja. Ja é a 5 vez que peço. Por favor.",
              "review_time": "Edited 8 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocKsFcga6-AjQlVJKlCVY17Uj_UOWslsFwv09jbSkchJNp2RVw=s120-c-rp-mo-br100",
              "owner_answer": {
                "date": "10 months ago",
                "text": {
                  "en": "Rodolfo, peace and blessings! We regret that you had a negative experience in our community. We maintain sound levels in accordance with the limits defined by the resolutions of the Municipal Council for the Defense of the Environment (CODEMA) for daytime hours. If you have any suggestions on how we can improve, please do not hesitate to contact us via email at pascom@paroquiasaofrandicojp.com",
                  "pt": "Rodolfo, paz e bem! Lamentamos que teve uma experiência negativa em nossa comunidade. Mantemos o som em conformidade com os limites definidos pelas resoluções do Conselho Municipal de Defesa do Meio Ambiente (CODEMA) para o horário diurno. Caso tenha alguma sugestão de como podemos melhorar, não hesite em nos comunicar através do e-mail pascom@paroquiasaofrancicojp.com"
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_aJCr7____EhAPx7UYawoXY5sakPsAAAAAGgn927ECZnRaRtcYACIA:2",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1758984517928548,
              "user_total_photos": 0,
              "iso_date_timestamp": 1753016495415696,
              "user_total_reviews": 5,
              "iso_date_of_last_edit": "2025-09-27 14:48:38",
              "business_response_text": "Rodolfo, paz e bem! Lamentamos que teve uma experiência negativa em nossa comunidade. Mantemos o som em conformidade com os limites definidos pelas resoluções do Conselho Municipal de Defesa do Meio Ambiente (CODEMA) para o horário diurno. Caso tenha alguma sugestão de como podemos melhorar, não hesite em nos comunicar através do e-mail pascom@paroquiasaofrancicojp.com",
              "iso_date_of_last_edit_timestamp": 1758984517928548
            },
            {
              "iso_date": "2022-07-29 10:09:05",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnSUN1M3EtdTd3RRAB",
              "user_link": "https://www.google.com/maps/contrib/103343436350863397491?hl=en",
              "user_name": "Rosimary Nonato",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSUN1M3EtdTd3RRAB!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgICu3q-u7wE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Minha querida,💕 amada e abençoada 🙏🏼 comunidade 💕",
              "review_time": "3 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjVFEUNr7dr2qe-3GvfROCA3jMk4N5b20zN8B38nuNWxWFX7OBJw=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_af6l3____EhDvfDL4DtMgx05jnkcAAAAAGgn94qwCfbaP-UQYACIA:3",
              "review_photos": [
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn0v5ju9C4xDobZAYq9wfRq9dtiEbsiSMlm4mhlcBAMPIVDD6rqcnsx-BzDwDONY91NPm3JWp-rGHvXphrPKO9Syz7FHKIuPVWhX_Not0sXWHvZUkpp7b5ESYF27_Q7BQ35m7Xs=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn1bhJPxYj1vVB8Ug6beTzqD11fPsNwyPGJUw82kbm9plaIP9ATbQQXFwgIhZ7pp7OzGHKL4o5kTRf_YfymcQ-ctdpr02T6ZpYBRBkOeLzsBTR2Mn-T3roWlf4SBGcTM7AojqtLFGg=k-no"
              ],
              "review_services": [],
              "review_timestamp": 1659089454779159,
              "user_total_photos": 39,
              "iso_date_timestamp": 1659089345157086,
              "user_total_reviews": 18,
              "iso_date_of_last_edit": "2022-07-29 10:10:55",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1659089454779159
            },
            {
              "iso_date": "2020-04-10 11:52:49",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUNjcTk3OU1REAE",
              "user_link": "https://www.google.com/maps/contrib/101504955135041338122?hl=en",
              "user_name": "Rosana Mara Furtado Maia",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUNjcTk3OU1REAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgICcq979MQ%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Igreja maravilhosa Bodas de Diamante de meus país foi nela 😍",
              "review_time": "6 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjXm4dwY9YSbBKaGJEvC0zMsY98vvY1bCPASmR4WpMdyxeJHqRmlfQ=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_agdVH____EhDUtBiC3tv5j97hKdMAAAAAGgn94tcCjpwQjj0YACIA:4",
              "review_photos": [
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn2PTFgkuvLc75fQVaHyfGj26BoXuBC8XPvyfwAVuXYJCgDxuazo7Q9cgKLh2V88igJPYmkqy1Sy0b7Uai3ZcT3Ycak3m4NLbw0RoykMhEXhlYk9Skcfblo5b4yS8IqxU7nUDc74=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn01SMk-k-TL_5H8bzFsdOpHySQG4AJ_VcSaPjdfVRt4Ny4m9njqFUccZFpaV7dIJqOcNzBnNvVS3XYTqm-4pc3AeRCEL4pgoH9kFMpEhtkYtFF9fMZ6SsdDikgr6HueaY16zZvd=k-no"
              ],
              "review_services": [],
              "review_timestamp": 1586519568834082,
              "user_total_photos": 53,
              "iso_date_timestamp": 1586519568834082,
              "user_total_reviews": 31,
              "iso_date_of_last_edit": "2020-04-10 11:52:49",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1586519568834082
            },
            {
              "iso_date": "2023-06-28 00:31:22",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUNKM3VyYmV3EAE",
              "user_link": "https://www.google.com/maps/contrib/116210202903378606615?hl=en",
              "user_name": "Wesley Kinack",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUNKM3VyYmV3EAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgICJ3urbew%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Lugar abençoado",
              "review_time": "Edited 2 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjWuKdvFfc6iCxO2HmyLcTQKgD6BzKnPru-_uVeICMAa0GPEj7hx9w=s120-c-rp-mo-ba12-br100",
              "owner_answer": {
                "date": "a year ago",
                "text": {
                  "en": "Wesley, peace and blessings! We are delighted with your positive feedback about our chapel. You are always welcome in our community!",
                  "pt": "Wesley, paz e bem! Nos alegramos com sua avaliação positiva de nossa capela. Sinta-se sempre bem vindo em nossa comunidade!"
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_apKzZ____EhB7e6wvp6PNLDzaUdkAAAAAGgn95X8CctEIC70YACIA:5",
              "review_photos": [
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn2Sxxr03SVdNiwbfDsrFlbOqbLOgNI2jflvfYJHQ9yLzTkZC4joBIkptSOOFSgC_8-VAV4uk-9J3w1fLS28ZnMiv4YkIOI0_TPGPlgMJIdHUapcExsKdzgUf-Mfwq_8ZMoCTKH6Tg=k-no"
              ],
              "review_services": [],
              "review_timestamp": 1705890018370556,
              "user_total_photos": 19,
              "iso_date_timestamp": 1687912281556392,
              "user_total_reviews": 31,
              "iso_date_of_last_edit": "2024-01-22 02:20:18",
              "business_response_text": "Wesley, paz e bem! Nos alegramos com sua avaliação positiva de nossa capela. Sinta-se sempre bem vindo em nossa comunidade!",
              "iso_date_of_last_edit_timestamp": 1705890018370556
            },
            {
              "iso_date": "2018-11-18 08:17:13",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUNJX3ZMc0NREAE",
              "user_link": "https://www.google.com/maps/contrib/106088623595199186632?hl=en",
              "user_name": "Rafaela R Rauta Donadia",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUNJX3ZMc0NREAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgICI_vLsCQ%7C%7C?hl=en",
              "review_rate": 2,
              "review_text": "as  pessoas que organizam casamentos não tem estrutura e nem conhecimento e tb não deixam a pessoa que vc contratou coordenar\ne aí da falam mal de você e dos convidados.",
              "review_time": "7 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjWtq2gAbgu5fDFQbFxBdw7Lq70OGliFN_LYZCRx2dlcA7m-AzK2Gg=s120-c-rp-mo-br100",
              "review_cursor": "CjEIARIpCgoAP7_aqvfn____EhD2GUrZkUZlgpOoDIoAAAAAGgn95foCmNoYaXwYACIA:6",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1542529193603553,
              "user_total_photos": 6,
              "iso_date_timestamp": 1542529032609990,
              "user_total_reviews": 12,
              "iso_date_of_last_edit": "2018-11-18 08:19:54",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1542529193603553
            },
            {
              "iso_date": "2018-08-11 20:53:39",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUNBc19yY1RnEAE",
              "user_link": "https://www.google.com/maps/contrib/106027158873893700910?hl=en",
              "user_name": "Sidney Junior (Vix KiteSurf)",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUNBc19yY1RnEAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgICAs_rcTg%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Muito bem organizada e administrada! Apesar de ser uma igreja com tamanho físico pequeno, ela é um charme! Muita Paz e Orações!",
              "review_time": "7 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjV2zWWF8s5dGqBL4bRmKEn-9GTLOzqGwcVMDUEwyRvm5B-TsVk=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_awTYF____EhBwCHmcHNELzjSVLXYAAAAAGgn9560CmtU7500YACIA:7",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1534020819122000,
              "user_total_photos": 54,
              "iso_date_timestamp": 1534020819122000,
              "user_total_reviews": 97,
              "iso_date_of_last_edit": "2018-08-11 20:53:39",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1534020819122000
            },
            {
              "iso_date": "2021-09-17 13:51:31",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUQ2Z1BQUUZREAE",
              "user_link": "https://www.google.com/maps/contrib/113926036897259537095?hl=en",
              "user_name": "Scheyla Armani",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUQ2Z1BQUUZREAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgID6gPPQFQ%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "O local está aberto aos fiéis aos domingos nos horários das 9hs da manhã e 19hs, horários estes que temos missas.",
              "review_time": "4 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjURW72E8V2vzJ9aq0Ml0NRjJXmyX9rcwztAAjq2MCzfVPee3kmS=s120-c-rp-mo-br100",
              "review_cursor": "CjEIARIpCgoAP7_axYh_____EhBgSC6e4NsUa_vQzCQAAAAAGgn96AEChAv5M1kYACIA:8",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1631886691494407,
              "user_total_photos": 0,
              "iso_date_timestamp": 1631886691494407,
              "user_total_reviews": 3,
              "iso_date_of_last_edit": "2021-09-17 13:51:31",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1631886691494407
            },
            {
              "iso_date": "2021-11-14 14:34:57",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUNHXzh1T0N3EAE",
              "user_link": "https://www.google.com/maps/contrib/107880533860646774865?hl=en",
              "user_name": "Vitor Hugo Campos",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUNHXzh1T0N3EAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgICG_8uOCw%7C%7C?hl=en",
              "review_rate": 4,
              "review_text": "Bela igreja, o único problema é que ela é pequena, então os que chegam por último precisam ficar na garagem e assistir à missa por um projetor.",
              "review_time": "4 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjVG8jgQ79nrSy8ohpGjT_-bwE-0CYQdKs44yJR-q7dKf60xk5VbVQ=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_axlr9____EhBXAxWLVMNaZLRXAkwAAAAAGgn96BECguEd-4EYACIA:9",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1636900668542586,
              "user_total_photos": 39,
              "iso_date_timestamp": 1636900496822210,
              "user_total_reviews": 117,
              "iso_date_of_last_edit": "2021-11-14 14:37:49",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1636900668542586
            },
            {
              "iso_date": "2019-06-29 12:55:17",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSURraWJEVlVREAE",
              "user_link": "https://www.google.com/maps/contrib/109369586579871803446?hl=en",
              "user_name": "Rosa de Paula",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSURraWJEVlVREAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgIDkibDVUQ%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Pq vou a missa lá todo sábado e Deus e o meu senhor!!!  ❤️❤️",
              "review_time": "6 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocJlaXgNleqEkqqweGlcLqHHhBl-Q3vUgZavLjq4TQ_wFqVW2A=s120-c-rp-mo-br100",
              "review_cursor": "CjEIARIpCgoAP7_a8kud____EhAk8gs8fMccAaeB48YAAAAAGgn962sClFyyJKUYACIA:10",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1561812917082382,
              "user_total_photos": 3,
              "iso_date_timestamp": 1561812917082382,
              "user_total_reviews": 7,
              "iso_date_of_last_edit": "2019-06-29 12:55:17",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1561812917082382
            },
            {
              "iso_date": "2020-02-11 01:48:29",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUNzblpyMkl3EAE",
              "user_link": "https://www.google.com/maps/contrib/102323718424998557216?hl=en",
              "user_name": "Rosania Said Massini Freitas",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUNzblpyMkl3EAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgICsnZr2Iw%7C%7C?hl=en",
              "review_rate": 4,
              "review_text": "É uma comunidade da Paróquia são Francisco, minha paróquia, aconchegante, gosto de visitá-la sempre que posso.",
              "review_time": "6 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjUNL1Z9s-_6Q8LNmDbD3SFFhma2UnjBHRqSsJL4W1aS0y9LQ_By=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_a935v____EhASp-26fb419CPqddYAAAAAGgn969ECj84RCOUYACIA:11",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1581385709338027,
              "user_total_photos": 0,
              "iso_date_timestamp": 1581385709338027,
              "user_total_reviews": 45,
              "iso_date_of_last_edit": "2020-02-11 01:48:29",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1581385709338027
            },
            {
              "iso_date": "2022-05-20 16:46:04",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUQybGJuRmVREAE",
              "user_link": "https://www.google.com/maps/contrib/111635106020931651319?hl=en",
              "user_name": "Ricardo Reis",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUQybGJuRmVREAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgID2lbnFeQ%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Local sagrado e de paz com ótima energia muita fé e seriedade",
              "review_time": "4 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocLd2HZ35YkFDkIXsU3sJ45jSIX8c57wNgnQVAV60gb3sRjJcw=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_a-_8F____EhC6fogEncXIUq3giZsAAAAAGgn97CkCfx2jWTIYACIA:12",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1653065164493006,
              "user_total_photos": 2,
              "iso_date_timestamp": 1653065164493006,
              "user_total_reviews": 19,
              "iso_date_of_last_edit": "2022-05-20 16:46:04",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1653065164493006
            },
            {
              "iso_date": "2019-01-12 02:10:28",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSURJMmFYMUlnEAE",
              "user_link": "https://www.google.com/maps/contrib/103110085259130635235?hl=en",
              "user_name": "Carlos Alberto Meneghelli",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSURJMmFYMUlnEAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgIDI2aX1Ig%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Capela aconchegante e fiéis bem receptivos. Fácil de localizar e horários de cultos e missas excelente",
              "review_time": "7 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocIaP86jScGWcU9uthB6CypXLM8ITvwl_zUNvlANsOQQwIMYPw=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_a_CK9____EhDqF1YU267l3DhihkgAAAAAGgn97CwCl8ArYZ0YACIA:13",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1547259125346561,
              "user_total_photos": 54,
              "iso_date_timestamp": 1547259028013861,
              "user_total_reviews": 73,
              "iso_date_of_last_edit": "2019-01-12 02:12:05",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1547259125346561
            },
            {
              "iso_date": "2022-02-05 13:43:36",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnSURtemFUeXd3RRAB",
              "user_link": "https://www.google.com/maps/contrib/112230864441791286261?hl=en",
              "user_name": "Marcelo Fernando Gonzaga de Campos",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSURtemFUeXd3RRAB!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgIDmzaTywwE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Experimentei o encontro com Jesus Cristo, por intercessão de Santa Clara, no terço dos homens, oração profunda!",
              "review_time": "4 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjXogjxvTWW1tTYony59Tc9rXOWIwwUW2hftKvJ8Xb_LQtOp0-VutA=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_a_2Zz____EhBg9OMx099DsDhbfcwAAAAAGgn97GsCgTXfyd0YACIA:14",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1644068615714134,
              "user_total_photos": 16,
              "iso_date_timestamp": 1644068615714134,
              "user_total_reviews": 152,
              "iso_date_of_last_edit": "2022-02-05 13:43:36",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1644068615714134
            },
            {
              "iso_date": "2017-10-21 22:49:28",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSURnNE5EMFJ3EAE",
              "user_link": "https://www.google.com/maps/contrib/116660825791840207000?hl=en",
              "user_name": "Gessyca Moreira",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSURnNE5EMFJ3EAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgIDg4ND0Rw%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Sou cerimonialista e fui muito bem recebida pela equipe da igreja.",
              "review_time": "8 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjXtMXOFe1fUEJ-DrWFDq9lTwA6HVIibP5w3RUDKfvnYSMhif5Gd=s120-c-rp-mo-br100",
              "review_cursor": "CjEIARIpCgoAP7_bFjBg____EhD9UfiNCGi_gUnMrNoAAAAAGgn97igCoL7fCmMYACIA:15",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1508626199964000,
              "user_total_photos": 1,
              "iso_date_timestamp": 1508626167939000,
              "user_total_reviews": 1,
              "iso_date_of_last_edit": "2017-10-21 22:50:00",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1508626199964000
            },
            {
              "iso_date": "2023-04-04 12:09:20",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUNSc1lUNE5REAE",
              "user_link": "https://www.google.com/maps/contrib/106217439740769403980?hl=en",
              "user_name": "Adilson Oliveira Carvalho",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUNSc1lUNE5REAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgICRsYT4NQ%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Muito bom, vou sempre\nRecomendo!",
              "review_time": "3 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjVGBEdzxy_CknrCx0184BQWk33H2LNNLSYauvj22PPJbGpB-uSW=s120-c-rp-mo-ba12-br100",
              "owner_answer": {
                "date": "a year ago",
                "text": {
                  "en": "Adilson, peace and blessings! We are delighted with your positive feedback about our chapel. You are always welcome in our community!",
                  "pt": "Adilson, paz e bem! Nos alegramos com sua avaliação positiva de nossa capela. Sinta-se sempre bem vindo em nossa comunidade!"
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_bG7th____EhBnkODt_WvCw18Zj18AAAAAGgn97pUCeLPUEqIYACIA:16",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1680610159965452,
              "user_total_photos": 0,
              "iso_date_timestamp": 1680610159965452,
              "user_total_reviews": 24,
              "iso_date_of_last_edit": "2023-04-04 12:09:20",
              "business_response_text": "Adilson, paz e bem! Nos alegramos com sua avaliação positiva de nossa capela. Sinta-se sempre bem vindo em nossa comunidade!",
              "iso_date_of_last_edit_timestamp": 1680610159965452
            },
            {
              "iso_date": "2024-09-23 10:56:46",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnSUNuakxqUWtnRRAB",
              "user_link": "https://www.google.com/maps/contrib/110316976057931316530?hl=en",
              "user_name": "Mariana Cuzzuol",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSUNuakxqUWtnRRAB!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgICnjLjQkgE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Pequena e organizada. Amo as missas.",
              "review_time": "a year ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocLy_pw-DvslNHDnptBd8BasMW54PaArAw5YBjXiC64JhoP2lA=s120-c-rp-mo-ba12-br100",
              "owner_answer": {
                "date": "a year ago",
                "text": {
                  "en": "Mariana, peace and blessings! We are delighted with your positive feedback about our chapel. You are always welcome in our community!",
                  "pt": "Mariana, paz e bem! Nos alegramos com sua avaliação positiva de nossa capela. Sinta-se sempre bem vinda em nossa comunidade!"
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_bMy2W____EhCJgJdtdYPKCM-2C6AAAAAAGgn98F8CbeF5KoYYACIA:17",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1727089005945676,
              "user_total_photos": 0,
              "iso_date_timestamp": 1727089005945676,
              "user_total_reviews": 41,
              "iso_date_of_last_edit": "2024-09-23 10:56:46",
              "business_response_text": "Mariana, paz e bem! Nos alegramos com sua avaliação positiva de nossa capela. Sinta-se sempre bem vinda em nossa comunidade!",
              "iso_date_of_last_edit_timestamp": 1727089005945676
            },
            {
              "iso_date": "2019-03-09 21:18:49",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSURvaVBUd0Z3EAE",
              "user_link": "https://www.google.com/maps/contrib/107803930494976072693?hl=en",
              "user_name": "Maria Aparecida",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSURvaVBUd0Z3EAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgIDoiPTwFw%7C%7C?hl=en",
              "review_rate": 4,
              "review_text": "Adorei à missa equipe perfeita",
              "review_time": "7 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjU-RSfbxadTYn9oWJR61TB6AJ0mlFaIbLlHxfvGMKTIbwD5OiRb7A=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_bObE6____EhAhVoSJ6BtxBT3qmOQAAAAAGgn98N4ClputY_kYACIA:18",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1552166329350828,
              "user_total_photos": 1771,
              "iso_date_timestamp": 1552166329350828,
              "user_total_reviews": 301,
              "iso_date_of_last_edit": "2019-03-09 21:18:49",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1552166329350828
            },
            {
              "iso_date": "2022-06-20 05:06:53",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUNPcTlHTEhBEAE",
              "user_link": "https://www.google.com/maps/contrib/109937969516108491114?hl=en",
              "user_name": "Lora Menezes",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUNPcTlHTEhBEAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgICOq9GLHA%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Sempre ótimo ir!",
              "review_time": "3 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjV2TMvZVUKAmuUa5gy76tkkXM0e_mqGJsyP453bfQ7fFDs6Zlw=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_bQn-w____EhAeSg6FHpq2qxrUwaIAAAAAGgn98YoCfoB-VVAYACIA:19",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1655701613231395,
              "user_total_photos": 1171,
              "iso_date_timestamp": 1655701613231395,
              "user_total_reviews": 458,
              "iso_date_of_last_edit": "2022-06-20 05:06:53",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1655701613231395
            },
            {
              "iso_date": "2019-04-14 22:17:19",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUNZcVpiS1d3EAE",
              "user_link": "https://www.google.com/maps/contrib/112531467732923991847?hl=en",
              "user_name": "Arthur Zippnotti",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUNZcVpiS1d3EAE!2m1!1s0x0:0xf51234d73f293def!3m1!1s2@1:CIHM0ogKEICAgICYqZbKWw%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Pequena e acolhedora. Gostei da missa e da comunidade",
              "review_time": "7 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjUL5r5POWVI-9EiMZW8ABr7Yteki0Ua1VOn34rNkiesKP765UZ4=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_bRvLf____EhDFcJfWniXs4o8PhKkAAAAAGgn98eECleIS6EgYACIA:20",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1555280238519440,
              "user_total_photos": 44,
              "iso_date_timestamp": 1555280238519440,
              "user_total_reviews": 150,
              "iso_date_of_last_edit": "2019-04-14 22:17:19",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1555280238519440
            }
          ],
          "Segmento": null,
          "details_google": null,
          "crated_at": "2026-06-12T18:35:47.662641+00:00",
          "nr_latitude": -20.2800059,
          "nr_longitude": -40.2969921,
          "pais": "Brasil",
          "go_to_trip": false,
          "categoria_principal": "Cultura e história",
          "categorias": [
            "Cultura e história"
          ],
          "subtipos_normalizados": [
            "Catholic church",
            "Chapel"
          ],
          "subtipos_pt": [
            "Igreja católica",
            "Capela"
          ],
          "subtipos_pt_str": "Igreja católica, Capela",
          "comentarios_formatados": "Comentário 1: Por favor, se policiem perante ao volume sonoro emitido pela igreja. Ja é a 5 vez que peço. Por favor.\n\nComentário 2: Pequena e organizada. Amo as missas.\n\nComentário 3: Lugar abençoado\n\nComentário 4: Muito bom, vou sempre\nRecomendo!\n\nComentário 5: Minha querida,💕 amada e abençoada 🙏🏼 comunidade 💕\n\nComentário 6: Sempre ótimo ir!\n\nComentário 7: Local sagrado e de paz com ótima energia muita fé e seriedade\n\nComentário 8: Experimentei o encontro com Jesus Cristo, por intercessão de Santa Clara, no terço dos homens, oração profunda!\n\nComentário 9: Bela igreja, o único problema é que ela é pequena, então os que chegam por último precisam ficar na garagem e assistir à missa por um projetor.\n\nComentário 10: O local está aberto aos fiéis aos domingos nos horários das 9hs da manhã e 19hs, horários estes que temos missas.\n\nComentário 11: Igreja maravilhosa Bodas de Diamante de meus país foi nela 😍\n\nComentário 12: É uma comunidade da Paróquia são Francisco, minha paróquia, aconchegante, gosto de visitá-la sempre que posso.\n\nComentário 13: Pq vou a missa lá todo sábado e Deus e o meu senhor!!!  ❤️❤️\n\nComentário 14: Pequena e acolhedora. Gostei da missa e da comunidade\n\nComentário 15: Adorei à missa equipe perfeita\n\nComentário 16: Capela aconchegante e fiéis bem receptivos. Fácil de localizar e horários de cultos e missas excelente\n\nComentário 17: as  pessoas que organizam casamentos não tem estrutura e nem conhecimento e tb não deixam a pessoa que vc contratou coordenar\ne aí da falam mal de você e dos convidados.\n\nComentário 18: Muito bem organizada e administrada! Apesar de ser uma igreja com tamanho físico pequeno, ela é um charme! Muita Paz e Orações!\n\nComentário 19: Sou cerimonialista e fui muito bem recebida pela equipe da igreja.\n\nComentário 20: A good church",
          "qtd_comentarios_reais": 20,
          "metadados": {
            "subtipos": null,
            "bairro": "Jardim da Penha",
            "cidade": "Vitória",
            "estado": "ES",
            "endereco": "Comunidade Santa Clara de Assis - Av. Alziro Zarur, 470 - Jardim da Penha, Vitória - ES, 29060-350, Brazil",
            "faixa_preco": null,
            "status": "ativo",
            "nota_google": 4.8,
            "qtd_avaliacoes": 150,
            "distribuicao_notas": [
              4,
              1,
              2,
              11,
              132
            ]
          },
          "status_global": "✅ Aprovado — 9/10 categorias aprovadas sem reprovações",
          "status_codigo": "aprovado",
          "motivo_status": "9/10 categorias aprovadas sem reprovações",
          "processar_qualitativo": true,
          "regras_hard_violadas": [],
          "leitura_rapida": "4.77 ★ (IC 95%: 4.5763–4.8817, n=150, confiança alta)",
          "score_composto_estatistico": 7.58,
          "score_categorias_ponderado": 7.93,
          "classificacao": "🟢 Muito bom",
          "confianca_nivel": "alta",
          "proxima_acao": "Pode visitar com confiança",
          "tags": [
            "consenso-positivo",
            "muito-positivo",
            "NPS-alto",
            "recomendado"
          ],
          "highlights": [
            "✅ Aprovado — 9/10 categorias aprovadas sem reprovações — 9/10 categorias aprovadas (score categorias 7.93/10)",
            "✚ Mais forte: Sentimento (score 9.53, aprovado)",
            "✗ Mais fraco: Engajamento do Proprietário (score 4.1, aprovado)"
          ],
          "resumo_categorias": {
            "status_global": "✅ Aprovado — 9/10 categorias aprovadas sem reprovações",
            "status_base": "✅ Aprovado",
            "status_codigo": "aprovado",
            "motivo_status": "9/10 categorias aprovadas sem reprovações",
            "processar_qualitativo": true,
            "regras_hard_violadas": [],
            "aprovadas": 9,
            "reprovadas": 0,
            "neutras": 1,
            "total_categorias": 10,
            "score_categorias_ponderado": 7.93,
            "confiabilidade_media_pct": 83.1,
            "leitura_rapida": "9/10 aprovadas — score categorias 7.93/10 (confiabilidade 83.1%)"
          },
          "cat_tendencia": {
            "nome": "Tendência Central",
            "status": "aprovado",
            "score": 9.43,
            "confiabilidade_pct": 90,
            "criterio": "Aprovado: média ≥ 3.5★. Reprovado: < 3.0★.",
            "valor_observado": "média=4.77, truncada=4.97",
            "observacao": "Média de 4.77★ com consistência boa (|Δ truncada|=0.2)"
          },
          "cat_dispersao": {
            "nome": "Dispersão / Consenso",
            "status": "aprovado",
            "score": 6.25,
            "confiabilidade_pct": 90,
            "criterio": "Aprovado: σ < 1.2★. Reprovado: σ ≥ 1.7★.",
            "valor_observado": "σ=0.75, CV=0.157, entropia_norm=0.306",
            "observacao": "Desvio de 0.75★ — forte consenso"
          },
          "cat_inferencia": {
            "nome": "Precisão da Estimativa",
            "status": "aprovado",
            "score": 9.24,
            "confiabilidade_pct": 90,
            "criterio": "Aprovado: amplitude IC95% Wilson < 0.8★. Reprovado: ≥ 1.5★.",
            "valor_observado": "IC95% Wilson=[4.5763, 4.8817], amplitude=0.3054",
            "observacao": "Margem de incerteza de ±0.15★ — estimativa precisa"
          },
          "cat_sentimento": {
            "nome": "Sentimento",
            "status": "aprovado",
            "score": 9.53,
            "confiabilidade_pct": 90,
            "criterio": "Aprovado: ≥65% positivas E ≤25% negativas. Reprovado: <45% positivas OU >40% negativas.",
            "valor_observado": "pos=95.33%, neu=1.33%, neg=3.33%, NPS=84.67",
            "observacao": "95.33% positivas vs. 3.33% negativas; NPS adaptado de 84.67 (muito bom)"
          },
          "cat_forma": {
            "nome": "Forma da Distribuição",
            "status": "aprovado",
            "score": 9.5,
            "confiabilidade_pct": 76.5,
            "criterio": "Aprovado: J invertido / concentrado-positivo / predominantemente positivo. Reprovado: polarizado / negativo.",
            "valor_observado": "formato=\"concentrado em 5★\", índice_polarização=0.1405",
            "observacao": "Consenso forte positivo"
          },
          "cat_temporal": {
            "nome": "Estabilidade Temporal",
            "status": "neutro",
            "score": 5.07,
            "confiabilidade_pct": 68,
            "criterio": "Aprovado: sem queda + última < 180d. Reprovado: queda clara OU > 365d sem reviews.",
            "valor_observado": "slope=-0.0622★/ano, Δ metades=0.1, últimos=332.5d, amostra=20",
            "observacao": "Tendência: estável. Última review há 333 dias."
          },
          "cat_credibilidade": {
            "nome": "Credibilidade dos Avaliadores",
            "status": "aprovado",
            "score": 9.13,
            "confiabilidade_pct": 85,
            "criterio": "Aprovado: ≤50% novatos E |Δ exp vs nov| < 1.0. Reprovado: >60% novatos OU |Δ| > 1.5.",
            "valor_observado": "novatos=5%, experientes=80%, Δ=-0.437★, amostra=20",
            "observacao": "5% novatos; Δ exp vs nov=-0.437★"
          },
          "cat_engajamento": {
            "nome": "Engajamento do Proprietário",
            "status": "aprovado",
            "score": 4.1,
            "confiabilidade_pct": 85,
            "criterio": "Aprovado: engajado=true OU responde ≥40% das negativas. Reprovado: <15% geral.",
            "valor_observado": "resp_geral=20%, resp_neg=50%, engajado=false",
            "observacao": "Dono responde 20% em geral e 50% das negativas"
          },
          "cat_red_flags": {
            "nome": "Ausência de Red Flags",
            "status": "aprovado",
            "score": 8.8,
            "confiabilidade_pct": 90,
            "criterio": "Aprovado: 0 altas E ≤1 média. Reprovado: ≥2 altas OU ≥4 médias.",
            "valor_observado": "altas=0, médias=1, baixas=0",
            "observacao": "1 alerta(s): [média] Sem reviews há mais de 6 meses (na amostra)"
          },
          "cat_veredicto": {
            "nome": "Veredicto Global",
            "status": "aprovado",
            "score": 7.58,
            "confiabilidade_pct": 66.6,
            "criterio": "Aprovado: score ≥ 7.0. Reprovado: < 4.0.",
            "valor_observado": "classificação=\"🟢 Muito bom\", score=7.58, confiança=\"alta\"",
            "observacao": "Nota média de 4.77 estrelas, baseada em 150 avaliações (confiança alta). IC 95% Wilson: [4.5763, 4.8817]. Distribuição: concentrado em 5★. Tendência temporal: estável."
          },
          "analise": {
            "veredicto": {
              "classificacao": "🟢 Muito bom",
              "score_final": 7.58,
              "texto": "Nota média de 4.77 estrelas, baseada em 150 avaliações (confiança alta). IC 95% Wilson: [4.5763, 4.8817]. Distribuição: concentrado em 5★. Tendência temporal: estável.",
              "recomendacao": "Aceitável com ressalvas"
            },
            "leitura_rapida": "4.77 ★ (IC 95%: 4.5763–4.8817, n=150, confiança alta)",
            "validacao_dados": {
              "nota_google": 4.8,
              "media_calculada": 4.7733,
              "divergencia": 0.0267,
              "interpretacao": "consistente"
            },
            "tendencia_central": {
              "media": 4.7733,
              "media_truncada_10": 4.975,
              "media_laplace": 4.6625,
              "mediana": 5,
              "moda": 5,
              "q1": 5,
              "q3": 5,
              "iqr": 0
            },
            "dispersao_forma": {
              "variancia": 0.562,
              "desvio_padrao": 0.7496,
              "coef_variacao": 0.157,
              "assimetria": -3.971,
              "curtose_excesso": 15.8746,
              "entropia_shannon": 0.7094,
              "entropia_normalizada": 0.3055
            },
            "inferencia": {
              "normal_95": {
                "inferior": 4.6533,
                "superior": 4.8933,
                "amplitude": 0.2399
              },
              "normal_99": {
                "inferior": 4.6156,
                "superior": 4.931,
                "amplitude": 0.3154
              },
              "wilson_95": {
                "inferior": 4.5763,
                "superior": 4.8817,
                "amplitude": 0.3054
              },
              "wilson_99": {
                "inferior": 4.4935,
                "superior": 4.9028,
                "amplitude": 0.4093
              },
              "bayes_95": {
                "inferior": 4.5685,
                "superior": 4.886,
                "amplitude": 0.3175
              },
              "bayes_99": {
                "inferior": 4.5186,
                "superior": 4.9359,
                "amplitude": 0.4172
              },
              "posterior_beta": {
                "alpha": 143.4988,
                "beta": 10.5013,
                "media_posterior_rescalada": 4.7272
              }
            },
            "sentimento": {
              "pct_negativas": 3.33,
              "pct_neutras": 1.33,
              "pct_positivas": 95.33,
              "razao_pos_neg": 28.6,
              "nps_adaptado": 84.67,
              "top_box": 88,
              "top_2_box": 95.33,
              "bottom_box": 2.67,
              "bottom_2_box": 3.33,
              "proporcoes": [
                0.0267,
                0.0067,
                0.0133,
                0.0733,
                0.88
              ]
            },
            "diagnostico_forma": {
              "formato": "concentrado em 5★",
              "distancia_uniforme": 0.68,
              "indice_polarizacao": 0.1405
            },
            "temporal": {
              "_aviso": "Métricas baseadas APENAS na amostra de reviews — não na população completa",
              "amostra_size": 20,
              "ultimos_30_dias": null,
              "ultimos_90_dias": null,
              "ultimos_180_dias": null,
              "ultimos_365_dias": {
                "media": 1,
                "n": 1
              },
              "comparacao_metades": {
                "media_metade_antiga": 4.4,
                "media_metade_recente": 4.5,
                "delta": 0.1,
                "direcao": "estável"
              },
              "regressao_linear": {
                "slope_por_dia": -0.00017,
                "slope_estrelas_por_ano": -0.0622,
                "interpretacao": "estável"
              },
              "reviews_por_mes_amostra": 0.203,
              "periodo_coberto_dias": 2957.8,
              "media_fim_de_semana": 4.1,
              "media_dias_uteis": 4.8,
              "dias_desde_ultima_review": 332.5
            },
            "credibilidade": {
              "amostra_size": 20,
              "media_user_total_reviews": 111.35,
              "mediana_user_total_reviews": 36,
              "pct_novatos": 5,
              "pct_intermediarios": 15,
              "pct_experientes": 80,
              "media_nota_novatos": 5,
              "media_nota_intermediarios": 3.667,
              "media_nota_experientes": 4.563,
              "diff_experientes_vs_novatos": -0.437,
              "pct_com_foto": 15,
              "pct_com_texto": 100,
              "comprimento_medio_texto": 73.7
            },
            "textual": {
              "amostra_size": 20,
              "comprimento_medio_positivas": 66.8,
              "comprimento_medio_negativas": 135.5,
              "top_palavras_positivas": [
                {
                  "palavra": "igreja",
                  "freq": 4
                },
                {
                  "palavra": "missa",
                  "freq": 4
                },
                {
                  "palavra": "comunidade",
                  "freq": 3
                },
                {
                  "palavra": "horarios",
                  "freq": 3
                },
                {
                  "palavra": "missas",
                  "freq": 3
                },
                {
                  "palavra": "pequena",
                  "freq": 3
                },
                {
                  "palavra": "sempre",
                  "freq": 3
                },
                {
                  "palavra": "organizada",
                  "freq": 2
                },
                {
                  "palavra": "muita",
                  "freq": 2
                },
                {
                  "palavra": "local",
                  "freq": 2
                }
              ],
              "top_palavras_negativas": [
                {
                  "palavra": "favor",
                  "freq": 2
                },
                {
                  "palavra": "policiem",
                  "freq": 1
                },
                {
                  "palavra": "perante",
                  "freq": 1
                },
                {
                  "palavra": "volume",
                  "freq": 1
                },
                {
                  "palavra": "sonoro",
                  "freq": 1
                },
                {
                  "palavra": "emitido",
                  "freq": 1
                },
                {
                  "palavra": "igreja",
                  "freq": 1
                },
                {
                  "palavra": "peco",
                  "freq": 1
                },
                {
                  "palavra": "pessoas",
                  "freq": 1
                },
                {
                  "palavra": "organizam",
                  "freq": 1
                }
              ],
              "taxa_resposta_geral": 20,
              "taxa_resposta_negativas": 50,
              "taxa_resposta_positivas": 16.67,
              "proprietario_engajado": false
            },
            "confianca": {
              "nivel": "alta",
              "peso": 0.8
            },
            "red_flags": [
              {
                "severidade": "média",
                "flag": "Sem reviews há mais de 6 meses (na amostra)",
                "detalhe": "332.5 dias"
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "25e709d2-966c-432d-85c5-eb1718a131e8",
          "nome": "Square Philogomiro Lannes",
          "subsegmento": "Plaza, Landmark",
          "endereco": "Square Philogomiro Lannes - Praça Filogomiro Lanes - Jardim da Penha, Vitória - ES, 29060-740, Brazil",
          "bairro": "Jardim da Penha",
          "cep": "29060-740",
          "cidade": "Vitória",
          "estado": "ES",
          "telefone": null,
          "website": "http://m.vitoria.es.gov.br/",
          "nota": 4.3,
          "qtd_avaliacoes": 1494,
          "distribuicao_notas": [
            42,
            37,
            193,
            354,
            868
          ],
          "status": "ativo",
          "horarios": {
            "Friday": "Open 24 hours",
            "Monday": "Open 24 hours",
            "Sunday": "Open 24 hours",
            "Tuesday": "Open 24 hours",
            "Saturday": "Open 24 hours",
            "Thursday": "Open 24 hours",
            "Wednesday": "Open 24 hours"
          },
          "faixa_preco": null,
          "qtd_fotos": 4,
          "fotos": [
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAFPG03SWycQjALUJGyLRbSP9WdqxFMn9AgsX7teDG1ZCc23eFSbZX5SlJcb1XNHnpRoKHDfw4DCKTBuX0djED4Txs_oRFZmvofTO7vwiWyWFxy0aal_cHchdeEqdUXHbKHda3bF=w529-h298-k-no",
              "description": "All"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAEoqO1dNosE2_0m8BpOAsZiMDEnQgZp7mmKysWt_e5SpqJI-TR8ezimndK4amOuReytXeelDl5IbuW4odTo7H4RIHg0ScACvhN7ED2StLOd7wMIQ_YZhg9BBM4eHuXxiso3o8ovwIADMnY=w397-h298-k-no",
              "description": "Latest"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAF5r7zvMcPHbFyFSsiZH-iG4cM2kBMNEF6cwpxWJkuP5UDNSzzBiyYs-gzt5Ha7O_4WEtzC5RvuNkdlGQSLDJIGLW99BCFJPs3ofERsYIqL0gzgqGNoZaAQjZI8BHlRd68Aj9UtZHbNIrxi=w224-h398-k-no",
              "description": "Videos"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAEiCilV7jDSBvV2e5FyUCJapyKOhcEw_5876DTxO5Bfunpav7cX5fAfS-pRrgbQ3XglnObAzu5BZe-NIQfeAMG9nS_2yuvBc4YnXwUIO33foDO4NcXGuUkeGO0L7bM2MelVuVE=w224-h298-k-no-pi-10-ya320-ro0-fo100",
              "description": "Street View & 360°"
            }
          ],
          "resumo": null,
          "acessibilidade": "Wheelchair accessible entrance, Wheelchair accessible parking lot",
          "email": null,
          "telefone_extra": null,
          "instagram": null,
          "facebook": null,
          "link_google_maps": "https://www.google.com/maps/place/data=!3m1!4b1!4m2!3m1!1s0xb817f6bfab106b:0xb8ae4325b685a930",
          "google_id": "0xb817f6bfab106b:0xb8ae4325b685a930",
          "place_id": "ChIJaxCrv_YXuAARMKmFtiVDrrg",
          "verificado": "false",
          "timezone": "America/Sao_Paulo",
          "created_at": "2026-06-12T18:39:37.344706+00:00",
          "atualizacoes": null,
          "reviews": [
            {
              "iso_date": "2017-04-18 11:41:07",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnSURRNTcyT2hBRRAB",
              "user_link": "https://www.google.com/maps/contrib/112399053364642317845?hl=en",
              "user_name": "João",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSURRNTcyT2hBRRAB!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgIDQ572OhAE%7C%7C?hl=en",
              "review_rate": 2,
              "review_text": "Nobody respect the rule about the space for dogs.",
              "review_time": "9 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjVlp-jrtsw1pIamQ_HWpHLZSU37BP4r1ti6eqMHmRLBWtaB9B4a=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_LuTj6____EhC58WfHxG1p20koriEAAAAAGgn99TICpH8hQe4YACIA:1",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1492515733009000,
              "user_total_photos": 683,
              "iso_date_timestamp": 1492515666773000,
              "user_total_reviews": 175,
              "iso_date_of_last_edit": "2017-04-18 11:42:13",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1492515733009000
            },
            {
              "iso_date": "2017-06-14 18:31:57",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUNnenM2TlNnEAE",
              "user_link": "https://www.google.com/maps/contrib/105284971398422382630?hl=en",
              "user_name": "Suporte Tecnico Beltone ES",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUNnenM2TlNnEAE!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgICgzs6NSg%7C%7C?hl=en",
              "review_rate": 4,
              "review_text": "A nice place for kids",
              "review_time": "Edited 8 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjVe1-rQrz4UGhmWby32Cxl7V0Oqnw7emlllHfUVI9gbeNEv87s=s120-c-rp-mo-br100",
              "review_cursor": "CjEIARIpCgoAP7_Ly0S3v___EhD6TeOHzRZ_Ta5NTqwAAAAAGgn99_MCoeuqoz0YACIA:2",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1503579692226000,
              "user_total_photos": 130,
              "iso_date_timestamp": 1497465116954000,
              "user_total_reviews": 642,
              "iso_date_of_last_edit": "2017-08-24 13:01:32",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1503579692226000
            },
            {
              "iso_date": "2019-11-04 21:55:02",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUQwOXNPQ2JnEAE",
              "user_link": "https://www.google.com/maps/contrib/113003698114297517966?hl=en",
              "user_name": "Traveling Mundo",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUQwOXNPQ2JnEAE!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgID09sOCbg%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Sell good street food",
              "review_time": "6 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocLjd242GLP_aqMjVWvY3--_ONJUCxg3ue3hl-kjo75SvpNRLEmL=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_L0IJsf___EhDz-NbK8iCIA8Njp5oAAAAAGgn9-MACkceV--EYACIA:3",
              "review_photos": [
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn3udYeY4WFBJTSuW9ii9nJ6z065mmj5mw9fbb1PdRbbUZ3eLjJTYRBCS4WJYFaJY8qLfV8P42YkVZCpxySPWRLPXk6nF0fIJEl83iljkFfVEvlgiGeW58WDujeR7R1hNFvo4yFcRQ=k-no"
              ],
              "review_services": [],
              "review_timestamp": 1572904502302366,
              "user_total_photos": 1848,
              "iso_date_timestamp": 1572904502302366,
              "user_total_reviews": 677,
              "iso_date_of_last_edit": "2019-11-04 21:55:02",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1572904502302366
            },
            {
              "iso_date": "2017-12-29 00:45:41",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSURRNTh1WFNREAE",
              "user_link": "https://www.google.com/maps/contrib/113638816484234357095?hl=en",
              "user_name": "Paula Lenz",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSURRNTh1WFNREAE!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgIDQ58uXSQ%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "I Love Food Truck",
              "review_time": "Edited 2 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjV8u-uLhK52pQUch7FUY6HdXU8_HakX9ifZKNSyLdyakzWFK9J6uQ=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_L20fO____EhAy0c5v2g29AfsCILkAAAAAGgn9-mUCdQK8uJAYACIA:4",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1696466159471808,
              "user_total_photos": 0,
              "iso_date_timestamp": 1514508340929000,
              "user_total_reviews": 8,
              "iso_date_of_last_edit": "2023-10-05 00:35:59",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1696466159471808
            },
            {
              "iso_date": "2023-03-16 09:09:29",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSURod19ERkZBEAE",
              "user_link": "https://www.google.com/maps/contrib/100374241058180261102?hl=en",
              "user_name": "Izabelle Gasparini",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSURod19ERkZBEAE!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgIDhw_DFFA%7C%7C?hl=en",
              "review_rate": 3,
              "review_text": "Ok.",
              "review_time": "3 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocKZmLVYxiwTryWzkafnuPYV0ScWNQ-XnjBiqMwVjotxf6Whgg=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_L4FTu____EhAKKa53XGaXv6bZdXUAAAAAGgn9-yoCeRZRj8wYACIA:5",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1678957768755314,
              "user_total_photos": 0,
              "iso_date_timestamp": 1678957768755314,
              "user_total_reviews": 3,
              "iso_date_of_last_edit": "2023-03-16 09:09:29",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1678957768755314
            },
            {
              "iso_date": "2021-10-02 03:27:34",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUQ2NGJUVlVREAE",
              "user_link": "https://www.google.com/maps/contrib/111867308303365506922?hl=en",
              "user_name": "Tatiana Melissy",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUQ2NGJUVlVREAE!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgID64bTVUQ%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Top",
              "review_time": "4 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjVgptB7f4Etl9uWuFSx_99tjDyBiyWLAEP2KjZSEAnD953tUpim=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_L6m5y3___EhBtw2MIGrHqboYdGasAAAAAGgn9_LQCg8D1EVMYACIA:6",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1633145253548492,
              "user_total_photos": 1,
              "iso_date_timestamp": 1633145253548492,
              "user_total_reviews": 8,
              "iso_date_of_last_edit": "2021-10-02 03:27:34",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1633145253548492
            },
            {
              "iso_date": "2019-10-14 22:02:54",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnSUMwejRpeWhnRRAB",
              "user_link": "https://www.google.com/maps/contrib/106769164910162715770?hl=en",
              "user_name": "Selena Carvalho",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSUMwejRpeWhnRRAB!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgIC0z4iyhgE%7C%7C?hl=en",
              "review_rate": 4,
              "review_text": "Ok",
              "review_time": "6 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjUjKElNueJdvR0pyrlZpSbgKt3jQmg5hKefQ_mIzL3jhMy7WSg8-g=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_L6yC9n___EhCgqyDB-CV_Ag2-klEAAAAAGgn9_NACkjO0VtEYACIA:7",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1571090573614210,
              "user_total_photos": 29,
              "iso_date_timestamp": 1571090573614210,
              "user_total_reviews": 79,
              "iso_date_of_last_edit": "2019-10-14 22:02:54",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1571090573614210
            },
            {
              "iso_date": "2018-02-23 21:47:20",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnSUNBc1kzNGt3RRAB",
              "user_link": "https://www.google.com/maps/contrib/101041255364876925721?hl=en",
              "user_name": "Joventino B Coelho",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSUNBc1kzNGt3RRAB!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgICAsY34kwE%7C%7C?hl=en",
              "review_rate": 3,
              "review_text": "Ok",
              "review_time": "8 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocKfGiwpCoIQrb20fCIsGlq3F9kOdlY_Yxo8hhuqtpGE2L0aVw=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_L63p-n___EhB3g48NzpMR77HNKQEAAAAAGgn9_N0CnjtdfZkYACIA:8",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1519422440038000,
              "user_total_photos": 17,
              "iso_date_timestamp": 1519422440038000,
              "user_total_reviews": 48,
              "iso_date_of_last_edit": "2018-02-23 21:47:20",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1519422440038000
            },
            {
              "iso_date": "2020-09-24 22:18:32",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnSURDcHZERW9BRRAB",
              "user_link": "https://www.google.com/maps/contrib/100914091139228174210?hl=en",
              "user_name": "Ismael Roenio",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSURDcHZERW9BRRAB!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgIDCpvDEoAE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Top",
              "review_time": "5 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocInZbpkwPz5GI8tgH3p8QzgK5VJq0o_0kam_5DRFHwlCRNOwQ=s120-c-rp-mo-br100",
              "review_cursor": "CjEIARIpCgoAP7_L68mP____EhDY7cGxOUzykQmIvBMAAAAAGgn9_OkCiz3NrAMYACIA:9",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1600985912316944,
              "user_total_photos": 0,
              "iso_date_timestamp": 1600985912316944,
              "user_total_reviews": 18,
              "iso_date_of_last_edit": "2020-09-24 22:18:32",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1600985912316944
            },
            {
              "iso_date": "2021-03-04 15:41:26",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnSUR5dXY2d3RnRRAB",
              "user_link": "https://www.google.com/maps/contrib/108073527136949123085?hl=en",
              "user_name": "Lucas Moro",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSUR5dXY2d3RnRRAB!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgIDyuv6wtgE%7C%7C?hl=en",
              "review_rate": 4,
              "review_text": "Show",
              "review_time": "5 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjXnHrDtDevoAmxrKpz2z27UuD19-kTcTTAiIEuoAIP7pu-5onw=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_L8AmBP___EhBAEzcw40BxQEfGOe4AAAAAGgn9_Y8CiAIZXhEYACIA:10",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1614872486382723,
              "user_total_photos": 0,
              "iso_date_timestamp": 1614872486382723,
              "user_total_reviews": 41,
              "iso_date_of_last_edit": "2021-03-04 15:41:26",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1614872486382723
            },
            {
              "iso_date": "2022-02-10 21:52:16",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSURtaDV6WmRnEAE",
              "user_link": "https://www.google.com/maps/contrib/108110580991832779806?hl=en",
              "user_name": "Farias Filho",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSURtaDV6WmRnEAE!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgIDmh5zZdg%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Show",
              "review_time": "4 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocIhqFRMFxb5D9TWs-tMEgbdXoXx9FmeNbo2jfHEryUj4FOjFQ=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_L8G4IH___EhAVWadKCMyhZ8gkE_MAAAAAGgn9_Z8CgRpgl7sYACIA:11",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1644529936452337,
              "user_total_photos": 0,
              "iso_date_timestamp": 1644529936452337,
              "user_total_reviews": 171,
              "iso_date_of_last_edit": "2022-02-10 21:52:16",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1644529936452337
            },
            {
              "iso_date": "2018-02-16 00:01:31",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnSURRdWRMSXlRRRAB",
              "user_link": "https://www.google.com/maps/contrib/102644640383335368935?hl=en",
              "user_name": "Cesar Teixeira",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSURRdWRMSXlRRRAB!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgIDQudLIyQE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Show",
              "review_time": "8 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjUCL1VYzNr86sOqt46u2YcYR-NA1PtEszM2NX9U3C4N38sYvITV6g=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_L8Oebn___EhCAWbg5Oz9z5Xr7V04AAAAAGgn9_bECnmQVg6wYACIA:12",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1518739291219000,
              "user_total_photos": 558,
              "iso_date_timestamp": 1518739291219000,
              "user_total_reviews": 222,
              "iso_date_of_last_edit": "2018-02-16 00:01:31",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1518739291219000
            },
            {
              "iso_date": "2016-11-23 15:42:18",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUN3OVpfWkJnEAE",
              "user_link": "https://www.google.com/maps/contrib/113103775051180334088?hl=en",
              "user_name": "Luana Jacob",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUN3OVpfWkJnEAE!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgICw9Z_ZBg%7C%7C?hl=en",
              "review_rate": 3,
              "review_text": "Normal",
              "review_time": "9 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjXM9JXNWPa7k8KGLMsbAcK77BCX5LrkzaGvF1MLqYKqc79UPCcQ6g=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_L8fgyf___EhCbV-5C9vd97IRmT2UAAAAAGgn9_dsCp24lqSAYACIA:13",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1479915755231000,
              "user_total_photos": 0,
              "iso_date_timestamp": 1479915737950000,
              "user_total_reviews": 33,
              "iso_date_of_last_edit": "2016-11-23 15:42:35",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1479915755231000
            },
            {
              "iso_date": "2020-06-10 14:32:23",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSURjbHVQekRREAE",
              "user_link": "https://www.google.com/maps/contrib/114630212666941828703?hl=en",
              "user_name": "Rayanne Abrante",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSURjbHVQekRREAE!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgIDcluPzDQ%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "S2",
              "review_time": "6 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjXIz00Lf77-iZA-wYOYF8q8kRU2GvZ8GwwVwqv_xb6gJuVw2nyn=s120-c-rp-mo-br100",
              "review_cursor": "CjEIARIpCgoAP7_L8fxTj___EhCQHBL7SNbS5pxEKUEAAAAAGgn9_dwCjWFai70YACIA:14",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1591799542850853,
              "user_total_photos": 0,
              "iso_date_timestamp": 1591799542850853,
              "user_total_reviews": 6,
              "iso_date_of_last_edit": "2020-06-10 14:32:23",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1591799542850853
            },
            {
              "iso_date": "2017-08-08 15:23:51",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUNndWJ5MFVnEAE",
              "user_link": "https://www.google.com/maps/contrib/109908936072572608070?hl=en",
              "user_name": "João Carlos",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUNndWJ5MFVnEAE!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgICguby0Ug%7C%7C?hl=en",
              "review_rate": 4,
              "review_text": "Good place",
              "review_time": "8 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjUMIEXERvysU4IP0-eTvZyWKlZiJgH2FzNw9RHaoqGGUt9xQsdd=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_L8qQzn___EhCNvPNwetSBpLors98AAAAAGgn9_fUCoj2Ncp4YACIA:15",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1502205873505000,
              "user_total_photos": 69,
              "iso_date_timestamp": 1502205830978000,
              "user_total_reviews": 32,
              "iso_date_of_last_edit": "2017-08-08 15:24:34",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1502205873505000
            },
            {
              "iso_date": "2018-06-08 03:34:03",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnSURnNUxyZ3BBRRAB",
              "user_link": "https://www.google.com/maps/contrib/104952681633283808772?hl=en",
              "user_name": "Hélio Carvalho",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSURnNUxyZ3BBRRAB!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgIDg5LrgpAE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Show",
              "review_time": "8 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjVlkYkVKOpMsNd_v0zKRh9E0iDZeGGWJzASDvVjSHhsFf3PJ5a6=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_L8xHH____EhC8qmK7GGJ-fSSRgvsAAAAAGgn9_gYCnCKKlVAYACIA:16",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1528428849839000,
              "user_total_photos": 35,
              "iso_date_timestamp": 1528428843072000,
              "user_total_reviews": 204,
              "iso_date_of_last_edit": "2018-06-08 03:34:10",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1528428849839000
            },
            {
              "iso_date": "2016-09-28 21:55:04",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnSURBMFpuYWhBRRAB",
              "user_link": "https://www.google.com/maps/contrib/115237049643914875010?hl=en",
              "user_name": "Daniel Reis Nandova (Nandova Diamonds)",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSURBMFpuYWhBRRAB!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgIDA0ZnahAE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Show",
              "review_time": "9 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjWm6LGP1fXtuU4aqR9bTy0yikL0G-lt3JW_ynvDo6hEq3cTOT0N9g=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_L81O13___EhB8_dvsC6gYgcvgmeIAAAAAGgn9_hACqI00tJIYACIA:17",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1475099708269000,
              "user_total_photos": 76,
              "iso_date_timestamp": 1475099703773000,
              "user_total_reviews": 30,
              "iso_date_of_last_edit": "2016-09-28 21:55:08",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1475099708269000
            },
            {
              "iso_date": "2026-04-05 11:24:26",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT21WMGRrWkxWVmR3YUROelJtMXVXR1Z4V0RoNFVrRRAB",
              "user_link": "https://www.google.com/maps/contrib/111823293328866380864?hl=en",
              "user_name": "Gleide Soares",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT21WMGRrWkxWVmR3YUROelJtMXVXR1Z4V0RoNFVrRRAB!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CAIQACodChtycF9oOmV0dkZLVVdwaDNzRm1uWGVxWDh4UkE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Ótimo para criança. Super inço para família",
              "review_time": "2 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjWpCWJCWB3zCGW9IPgPFhDYI8S1oO1eOLa4B0MpqSGqeVtONeI71A=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_aBVkN____EhDY4XAbKOphnmhioOYAAAAAGgn92VcCYqKc8uUYACIA:18",
              "review_photos": [
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn3nDfmlKcTRMTMXUOKJwfgHhCBWRop7qO70utcYC9zxR2wNdjByNOml4rK8IB2G68_i8QbrBFU2j30HrPl0j2azVygkbTLjpQ1PUhp8UcOWh2YG1nT9CBOJ2epd_CUAA5o6YTWsERjacszr=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn02MZhqnKZV_n4aRPqfwRFqIbw_wYk4jZLxdLknH7DrxbS65Ohi6RKQ0X0u66Dik8wLverDHYhXiwy0DuNtGRnh_Lwt11YnIEj2PHxATtEAnPIXAWXT5an_XHeBTgsvztkLzdzGGfx95g2U=k-no"
              ],
              "review_services": [],
              "review_timestamp": 1775388265754348,
              "user_total_photos": 867,
              "iso_date_timestamp": 1775388265754348,
              "user_total_reviews": 110,
              "iso_date_of_last_edit": "2026-04-05 11:24:26",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1775388265754348
            },
            {
              "iso_date": "2025-11-14 23:04:36",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT2tKamNrd3pVR2xuZGxKd1ZHcHJRMHhSTjNocU0zYxAB",
              "user_link": "https://www.google.com/maps/contrib/109787671048439253001?hl=en",
              "user_name": "Thiago Arruda",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT2tKamNrd3pVR2xuZGxKd1ZHcHJRMHhSTjNocU0zYxAB!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CAIQACodChtycF9oOkJjckwzUGlndlJwVGprQ0xRN3hqM3c%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Pracinha muito agradável e arborizada. Ótimo para sentar, levaras crianças de 2 e 4 patas. Local com parquinho e pracão.",
              "review_time": "6 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjXT9D6fGMpmJWJ-FnrfpPgLZYbeY2xzV4DoRwqwHyTE2bDa0QXy=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_aCYWd____EhBHlaG3DkILARdYd8EAAAAAGgn92akCZXti9JQYACIA:19",
              "review_photos": [],
              "review_services": {
                "Wait time": "No wait",
                "Visited on": "Weekday",
                "Reservation recommended": "No"
              },
              "review_timestamp": 1763161475947883,
              "user_total_photos": 5,
              "iso_date_timestamp": 1763161475947883,
              "user_total_reviews": 35,
              "iso_date_of_last_edit": "2025-11-14 23:04:36",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1763161475947883
            },
            {
              "iso_date": "2021-09-27 16:21:27",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUQ2LXFXOFdBEAE",
              "user_link": "https://www.google.com/maps/contrib/115781440907870145475?hl=en",
              "user_name": "Hebert",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUQ2LXFXOFdBEAE!2m1!1s0x0:0xb8ae4325b685a930!3m1!1s2@1:CIHM0ogKEICAgID6-qW8WA%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Excelente local para as crianças e os cachorrinhos se divertirem pra valer.\nEm dias esporádicos, há food trucks, com os mais variados tipos de comida e cervejas artesanais. Pode aproveitar ouvindo uma música ambiente no saxofone. Há também, pula-pula escorregadores infláveis gigantes, etc.\nTop demais!!!!",
              "review_time": "Edited 3 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjU0uOuzopQpxDejHTmr17U14u84eS-Tk2VBqTIS0ht52J-j1cWB=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_aCv3L____EhDqeNIepz3zvAHZxI8AAAAAGgn92cYCfPXDfX0YACIA:20",
              "review_photos": [
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn3XjjJsn0AvmdSkHhdVcn6njUKp0u6HUgweA4E2nztydD5zV2r77a4rHfrHzRQg7q8ddbGbYoCi2ZyHEI4Ray5ARJqnxYQ7sHPkSk0a_xeZBVhCEOit0Q5yj53O75QOnjgYjJpGbw=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn1EdskULye4LEFmqgF3FbPLaXPZ7lv4tXH-0dk1ftJZa2Vqjb5BYCjH0LJRf49ptNoYPOKCKnNofQTl2Vr73IL9e8byveSdPcPfPBqfGCnW-wHCuyIH5m503CXiZIIwpqEDvwD4=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn1pN89LxcWiBQDbo1JcV1Soxsby_RtNeZnXazkkRtqLLEdnwCzxlABckHPLI-DIC3ua467UX2wKc1N26xFbQz5FP3tT3d2fcv1sb3Osfh8jPtNCJsNQ41dgS0VtWoFAxAGlstRVqg=k-no"
              ],
              "review_services": [],
              "review_timestamp": 1662324081282478,
              "user_total_photos": 162,
              "iso_date_timestamp": 1632759686544918,
              "user_total_reviews": 107,
              "iso_date_of_last_edit": "2022-09-04 20:41:21",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1662324081282478
            }
          ],
          "Segmento": null,
          "details_google": null,
          "crated_at": "2026-06-12T18:39:37.344706+00:00",
          "nr_latitude": -20.286829,
          "nr_longitude": -40.2947277,
          "pais": "Brasil",
          "go_to_trip": false,
          "categoria_principal": "Cultura e história",
          "categorias": [
            "Turismo e experiências",
            "Cultura e história"
          ],
          "subtipos_normalizados": [
            "Plaza",
            "Landmark"
          ],
          "subtipos_pt": [
            "Praça",
            "Marco histórico"
          ],
          "subtipos_pt_str": "Praça, Marco histórico",
          "comentarios_formatados": "Comentário 1: Ótimo para criança. Super inço para família\n\nComentário 2: Pracinha muito agradável e arborizada. Ótimo para sentar, levaras crianças de 2 e 4 patas. Local com parquinho e pracão.\n\nComentário 3: Ok.\n\nComentário 4: Show\n\nComentário 5: Top\n\nComentário 6: Excelente local para as crianças e os cachorrinhos se divertirem pra valer.\nEm dias esporádicos, há food trucks, com os mais variados tipos de comida e cervejas artesanais. Pode aproveitar ouvindo uma música ambiente no saxofone. Há também, pula-pula escorregadores infláveis gigantes, etc.\nTop demais!!!!\n\nComentário 7: Show\n\nComentário 8: Top\n\nComentário 9: S2\n\nComentário 10: Sell good street food\n\nComentário 11: Ok\n\nComentário 12: Show\n\nComentário 13: Ok\n\nComentário 14: Show\n\nComentário 15: I Love Food Truck\n\nComentário 16: Good place\n\nComentário 17: A nice place for kids\n\nComentário 18: Nobody respect the rule about the space for dogs.\n\nComentário 19: Normal\n\nComentário 20: Show",
          "qtd_comentarios_reais": 20,
          "metadados": {
            "subtipos": null,
            "bairro": "Jardim da Penha",
            "cidade": "Vitória",
            "estado": "ES",
            "endereco": "Square Philogomiro Lannes - Praça Filogomiro Lanes - Jardim da Penha, Vitória - ES, 29060-740, Brazil",
            "faixa_preco": null,
            "status": "ativo",
            "nota_google": 4.3,
            "qtd_avaliacoes": 1494,
            "distribuicao_notas": [
              42,
              37,
              193,
              354,
              868
            ]
          },
          "status_global": "🟢 Aprovado com ressalvas — 9/10 aprovadas, 1 ressalva(s) | atenção em: Engajamento do Proprietário",
          "status_codigo": "aprovado_ressalvas",
          "motivo_status": "9/10 aprovadas, 1 ressalva(s) | atenção em: Engajamento do Proprietário",
          "processar_qualitativo": true,
          "regras_hard_violadas": [],
          "leitura_rapida": "4.32 ★ (IC 95%: 4.2383–4.3908, n=1494, confiança muito alta)",
          "score_composto_estatistico": 7.52,
          "score_categorias_ponderado": 7.34,
          "classificacao": "🟢 Muito bom",
          "confianca_nivel": "muito alta",
          "proxima_acao": "Aceitável — verificar pontos de ressalva antes",
          "tags": [
            "muito-positivo",
            "NPS-alto",
            "dados-robustos",
            "recomendado"
          ],
          "highlights": [
            "🟢 Aprovado com ressalvas — 9/10 aprovadas, 1 ressalva(s) | atenção em: Engajamento do Proprietário — 9/10 categorias aprovadas (score categorias 7.34/10)",
            "✚ Mais forte: Credibilidade dos Avaliadores (score 10, aprovado)",
            "✗ Mais fraco: Engajamento do Proprietário (score 0, reprovado)"
          ],
          "resumo_categorias": {
            "status_global": "🟢 Aprovado com ressalvas — 9/10 aprovadas, 1 ressalva(s) | atenção em: Engajamento do Proprietário",
            "status_base": "🟢 Aprovado com ressalvas",
            "status_codigo": "aprovado_ressalvas",
            "motivo_status": "9/10 aprovadas, 1 ressalva(s) | atenção em: Engajamento do Proprietário",
            "processar_qualitativo": true,
            "regras_hard_violadas": [],
            "aprovadas": 9,
            "reprovadas": 1,
            "neutras": 0,
            "total_categorias": 10,
            "score_categorias_ponderado": 7.34,
            "confiabilidade_media_pct": 90.7,
            "leitura_rapida": "9/10 aprovadas — score categorias 7.34/10 (confiabilidade 90.7%)"
          },
          "cat_tendencia": {
            "nome": "Tendência Central",
            "status": "aprovado",
            "score": 8.29,
            "confiabilidade_pct": 97,
            "criterio": "Aprovado: média ≥ 3.5★. Reprovado: < 3.0★.",
            "valor_observado": "média=4.32, truncada=4.5",
            "observacao": "Média de 4.32★ com consistência boa (|Δ truncada|=0.18)"
          },
          "cat_dispersao": {
            "nome": "Dispersão / Consenso",
            "status": "aprovado",
            "score": 5.1,
            "confiabilidade_pct": 86.6,
            "criterio": "Aprovado: σ < 1.2★. Reprovado: σ ≥ 1.7★.",
            "valor_observado": "σ=0.98, CV=0.227, entropia_norm=0.692",
            "observacao": "Desvio de 0.98★ — forte consenso"
          },
          "cat_inferencia": {
            "nome": "Precisão da Estimativa",
            "status": "aprovado",
            "score": 9.62,
            "confiabilidade_pct": 97,
            "criterio": "Aprovado: amplitude IC95% Wilson < 0.8★. Reprovado: ≥ 1.5★.",
            "valor_observado": "IC95% Wilson=[4.2383, 4.3908], amplitude=0.1525",
            "observacao": "Margem de incerteza de ±0.08★ — estimativa precisa"
          },
          "cat_sentimento": {
            "nome": "Sentimento",
            "status": "aprovado",
            "score": 8.18,
            "confiabilidade_pct": 97,
            "criterio": "Aprovado: ≥65% positivas E ≤25% negativas. Reprovado: <45% positivas OU >40% negativas.",
            "valor_observado": "pos=81.79%, neu=12.92%, neg=5.29%, NPS=52.81",
            "observacao": "81.79% positivas vs. 5.29% negativas; NPS adaptado de 52.81 (muito bom)"
          },
          "cat_forma": {
            "nome": "Forma da Distribuição",
            "status": "aprovado",
            "score": 7,
            "confiabilidade_pct": 97,
            "criterio": "Aprovado: J invertido / concentrado-positivo / predominantemente positivo. Reprovado: polarizado / negativo.",
            "valor_observado": "formato=\"predominantemente positivo\", índice_polarização=0.2403",
            "observacao": "Inclinação positiva clara"
          },
          "cat_temporal": {
            "nome": "Estabilidade Temporal",
            "status": "aprovado",
            "score": 7.27,
            "confiabilidade_pct": 85,
            "criterio": "Aprovado: sem queda + última < 180d. Reprovado: queda clara OU > 365d sem reviews.",
            "valor_observado": "slope=0.1112★/ano, Δ metades=0.7, últimos=73.6d, amostra=20",
            "observacao": "Tendência: leve melhora. Última review há 74 dias."
          },
          "cat_credibilidade": {
            "nome": "Credibilidade dos Avaliadores",
            "status": "aprovado",
            "score": 10,
            "confiabilidade_pct": 85,
            "criterio": "Aprovado: ≤50% novatos E |Δ exp vs nov| < 1.0. Reprovado: >60% novatos OU |Δ| > 1.5.",
            "valor_observado": "novatos=0%, experientes=80%, Δ=null★, amostra=20",
            "observacao": "0% novatos; Δ exp vs nov=n/d★"
          },
          "cat_engajamento": {
            "nome": "Engajamento do Proprietário",
            "status": "reprovado",
            "score": 0,
            "confiabilidade_pct": 85,
            "criterio": "Aprovado: engajado=true OU responde ≥40% das negativas. Reprovado: <15% geral.",
            "valor_observado": "resp_geral=0%, resp_neg=0%, engajado=false",
            "observacao": "Dono responde 0% em geral e 0% das negativas"
          },
          "cat_red_flags": {
            "nome": "Ausência de Red Flags",
            "status": "aprovado",
            "score": 9.6,
            "confiabilidade_pct": 97,
            "criterio": "Aprovado: 0 altas E ≤1 média. Reprovado: ≥2 altas OU ≥4 médias.",
            "valor_observado": "altas=0, médias=0, baixas=1",
            "observacao": "1 alerta(s): [baixa] Baixa taxa de resposta às reviews negativas"
          },
          "cat_veredicto": {
            "nome": "Veredicto Global",
            "status": "aprovado",
            "score": 7.52,
            "confiabilidade_pct": 80.8,
            "criterio": "Aprovado: score ≥ 7.0. Reprovado: < 4.0.",
            "valor_observado": "classificação=\"🟢 Muito bom\", score=7.52, confiança=\"muito alta\"",
            "observacao": "Nota média de 4.32 estrelas, baseada em 1494 avaliações (confiança muito alta). IC 95% Wilson: [4.2383, 4.3908]. Distribuição: predominantemente positivo. Tendência temporal: leve melhora."
          },
          "analise": {
            "veredicto": {
              "classificacao": "🟢 Muito bom",
              "score_final": 7.52,
              "texto": "Nota média de 4.32 estrelas, baseada em 1494 avaliações (confiança muito alta). IC 95% Wilson: [4.2383, 4.3908]. Distribuição: predominantemente positivo. Tendência temporal: leve melhora.",
              "recomendacao": "Sem alertas relevantes — pode visitar com confiança"
            },
            "leitura_rapida": "4.32 ★ (IC 95%: 4.2383–4.3908, n=1494, confiança muito alta)",
            "validacao_dados": {
              "nota_google": 4.3,
              "media_calculada": 4.3179,
              "divergencia": -0.0179,
              "interpretacao": "consistente"
            },
            "tendencia_central": {
              "media": 4.3179,
              "media_truncada_10": 4.4987,
              "media_laplace": 4.3092,
              "mediana": 5,
              "moda": 5,
              "q1": 4,
              "q3": 5,
              "iqr": 1
            },
            "dispersao_forma": {
              "variancia": 0.9612,
              "desvio_padrao": 0.9804,
              "coef_variacao": 0.2271,
              "assimetria": -1.5432,
              "curtose_excesso": 2.0221,
              "entropia_shannon": 1.6058,
              "entropia_normalizada": 0.6916
            },
            "inferencia": {
              "normal_95": {
                "inferior": 4.2682,
                "superior": 4.3676,
                "amplitude": 0.0994
              },
              "normal_99": {
                "inferior": 4.2526,
                "superior": 4.3832,
                "amplitude": 0.1307
              },
              "wilson_95": {
                "inferior": 4.2383,
                "superior": 4.3908,
                "amplitude": 0.1525
              },
              "wilson_99": {
                "inferior": 4.2119,
                "superior": 4.4123,
                "amplitude": 0.2004
              },
              "bayes_95": {
                "inferior": 4.2381,
                "superior": 4.3907,
                "amplitude": 0.1526
              },
              "bayes_99": {
                "inferior": 4.2141,
                "superior": 4.4147,
                "amplitude": 0.2006
              },
              "posterior_beta": {
                "alpha": 1241.2356,
                "beta": 256.7644,
                "media_posterior_rescalada": 4.3144
              }
            },
            "sentimento": {
              "pct_negativas": 5.29,
              "pct_neutras": 12.92,
              "pct_positivas": 81.79,
              "razao_pos_neg": 15.468,
              "nps_adaptado": 52.81,
              "top_box": 58.1,
              "top_2_box": 81.79,
              "bottom_box": 2.81,
              "bottom_2_box": 5.29,
              "proporcoes": [
                0.0281,
                0.0248,
                0.1292,
                0.2369,
                0.581
              ]
            },
            "diagnostico_forma": {
              "formato": "predominantemente positivo",
              "distancia_uniforme": 0.4179,
              "indice_polarizacao": 0.2403
            },
            "temporal": {
              "_aviso": "Métricas baseadas APENAS na amostra de reviews — não na população completa",
              "amostra_size": 20,
              "ultimos_30_dias": null,
              "ultimos_90_dias": {
                "media": 5,
                "n": 1
              },
              "ultimos_180_dias": {
                "media": 5,
                "n": 1
              },
              "ultimos_365_dias": {
                "media": 5,
                "n": 2
              },
              "comparacao_metades": {
                "media_metade_antiga": 4,
                "media_metade_recente": 4.7,
                "delta": 0.7,
                "direcao": "melhorando"
              },
              "regressao_linear": {
                "slope_por_dia": 0.000304,
                "slope_estrelas_por_ano": 0.1112,
                "interpretacao": "leve melhora"
              },
              "reviews_por_mes_amostra": 0.173,
              "periodo_coberto_dias": 3475.6,
              "media_fim_de_semana": 5,
              "media_dias_uteis": 4.278,
              "dias_desde_ultima_review": 73.6
            },
            "credibilidade": {
              "amostra_size": 20,
              "media_user_total_reviews": 132.45,
              "mediana_user_total_reviews": 44.5,
              "pct_novatos": 0,
              "pct_intermediarios": 20,
              "pct_experientes": 80,
              "media_nota_novatos": null,
              "media_nota_intermediarios": 4.5,
              "media_nota_experientes": 4.313,
              "diff_experientes_vs_novatos": null,
              "pct_com_foto": 15,
              "pct_com_texto": 100,
              "comprimento_medio_texto": 31.4
            },
            "textual": {
              "amostra_size": 20,
              "comprimento_medio_positivas": 35.4,
              "comprimento_medio_negativas": 49,
              "top_palavras_positivas": [
                {
                  "palavra": "show",
                  "freq": 5
                },
                {
                  "palavra": "food",
                  "freq": 3
                },
                {
                  "palavra": "place",
                  "freq": 2
                },
                {
                  "palavra": "good",
                  "freq": 2
                },
                {
                  "palavra": "otimo",
                  "freq": 2
                },
                {
                  "palavra": "criancas",
                  "freq": 2
                },
                {
                  "palavra": "local",
                  "freq": 2
                },
                {
                  "palavra": "pula",
                  "freq": 2
                },
                {
                  "palavra": "nice",
                  "freq": 1
                },
                {
                  "palavra": "kids",
                  "freq": 1
                }
              ],
              "top_palavras_negativas": [
                {
                  "palavra": "nobody",
                  "freq": 1
                },
                {
                  "palavra": "respect",
                  "freq": 1
                },
                {
                  "palavra": "rule",
                  "freq": 1
                },
                {
                  "palavra": "about",
                  "freq": 1
                },
                {
                  "palavra": "space",
                  "freq": 1
                },
                {
                  "palavra": "dogs",
                  "freq": 1
                }
              ],
              "taxa_resposta_geral": 0,
              "taxa_resposta_negativas": 0,
              "taxa_resposta_positivas": 0,
              "proprietario_engajado": false
            },
            "confianca": {
              "nivel": "muito alta",
              "peso": 1
            },
            "red_flags": [
              {
                "severidade": "baixa",
                "flag": "Baixa taxa de resposta às reviews negativas",
                "detalhe": "Apenas 0% das negativas receberam resposta"
              }
            ]
          }
        },
        "pairedItem": {
          "item": 1
        }
      }
    ]
  },
  "versionId": "631ccd12-3358-43b8-a73c-621da4e1847a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-03T22:48:12.099Z",
      "createdAt": "2026-06-03T22:48:12.099Z",
      "role": "workflow:owner",
      "workflowId": "8PUWBXKigvfIKiFV",
      "projectId": "G6oOhMxSr8k56eQz"
    }
  ],
  "activeVersion": null,
  "tags": []
}