main/entreterimento_e_lazer.json
{
  "updatedAt": "2026-06-29T23:35:09.891Z",
  "createdAt": "2026-06-03T22:47:41.779Z",
  "id": "wKr9H241uNvuTGOI",
  "name": "entreterimento_e_lazer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "Image analyzer\n",
        "height": 480,
        "width": 1984
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        96
      ],
      "id": "aa135fff-5173-4916-83e5-d078abbdf815",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aeba2f1c-fd65-48c9-a892-f01247ac559e",
              "name": "price_to_value_review",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        1408
      ],
      "id": "ddadff09-451e-454b-a9b1-90931caff4e4",
      "name": "Price to value review1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7990d00-10eb-4ae3-be6c-fbd1e6f5117d",
              "name": "space_review",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        1680
      ],
      "id": "44147476-181c-40eb-b097-611cd5753cf9",
      "name": "Space review1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0873695e-b19a-4fe6-b2b8-4d2cf76d61be",
              "name": "service_review",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        1136
      ],
      "id": "35d1c83b-915d-49c2-b23e-39de0312a901",
      "name": "service_review1"
    },
    {
      "parameters": {
        "content": "Qualitative analizer\n\n\n\n\n",
        "height": 1360,
        "width": 2416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        576
      ],
      "id": "2219dc8a-e6a8-4ff0-92ea-0d449e193bdb",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status_codigo === 'aprovado' || $json.status_codigo === 'aprovado_ressalvas' || $json.status_codigo === 'parcial' }}",
                    "rightValue": "aprovado",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "74641e61-0305-451b-806a-f768284bf47e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aprovado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4235a134-3f7a-4482-9318-0ad0b76ce2d5",
                    "leftValue": "={{ $json.status_codigo === 'aprovado' || $json.status_codigo === 'aprovado_ressalvas' || $json.status_codigo === 'parcial' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reprovado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        176,
        1200
      ],
      "id": "7f6d4491-cfa4-4e90-9df8-e52e6f64d493",
      "name": "Switch5"
    },
    {
      "parameters": {
        "content": "Entreterimento e lazer\n",
        "height": 2032,
        "width": 5136,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        16
      ],
      "id": "620a8002-9034-4b7d-81a1-020c48e6057d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2320,
        1184
      ],
      "id": "27ce095c-023b-4731-b0b1-f05369d9b085",
      "name": "Merge9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0873695e-b19a-4fe6-b2b8-4d2cf76d61be",
              "name": "fun_review",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        848
      ],
      "id": "26ddde8a-5361-44d0-a4af-16543b32415f",
      "name": "fun_review"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -192,
        1200
      ],
      "id": "e05a7bce-e808-4934-9491-080de82ddb3e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1216,
        1872
      ],
      "id": "9d185bed-1f57-49db-ba3d-846124cd4810",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1248,
        1024
      ],
      "id": "6eec3a16-8cfb-48a8-96c5-e2257af1e651",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1248,
        1312
      ],
      "id": "f3d92dab-dbed-4958-8d87-8bdc37e7491b",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1216,
        1584
      ],
      "id": "110d3474-b5e6-4a72-9fee-b4c5780fb81b",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1248,
        768
      ],
      "id": "a807170e-275f-43dc-9088-5a6fa9f10cb1",
      "name": "OpenAI Chat Model32",
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\nNOME DO ESTABELECIMENTO: {{ $json.nome }}\nTIPO: {{ $json.subtipos_pt_str }}\n\nCOMENTÁRIOS A ANALISAR:\n{{ $json.comentarios_frases }}",
        "options": {
          "systemMessage": "Você é um especialista em análise de reviews e descrição de estabelecimentos.\nSua tarefa é analisar TODOS os comentários fornecidos sobre o local \"{nome_estabelecimento}\" (tipo: {subtipos}) e gerar um RESUMO CURTO, NATURAL E ATRATIVO do estabelecimento.\nO objetivo é produzir um texto que descreva rapidamente a experiência principal percebida pelos visitantes, usando apenas informações recorrentes e claramente presentes nos comentários.\n\n## Objetivo do resumo\nO resumo deve:\n* Transmitir rapidamente o que torna o local interessante\n* Destacar os aspectos mais mencionados pelos visitantes\n* Soar natural, humano e confiável\n* Funcionar como uma descrição curta para perfil, guia ou recomendação\n* Refletir a percepção geral dos reviews\n\n## O que considerar\nConsidere principalmente:\n* Experiência principal oferecida pelo local\n* Ambiente e atmosfera\n* Atrações mais elogiadas\n* Diferenciais recorrentes\n* Sensação transmitida pelos visitantes\n* Pontos fortes mencionados repetidamente\n* Perfil da experiência (tranquila, divertida, familiar, rural, aventureira, acolhedora etc.)\n\n## O que EVITAR\nNÃO:\n* Invente informações\n* Use marketing exagerado\n* Use frases genéricas vazias\n* Mencione notas, avaliações ou quantidade de reviews\n* Cite reclamações isoladas\n* Transforme o texto em propaganda artificial\n* Use listas, emojis ou hashtags\n* Use linguagem robótica\n\n## Regras importantes\n1. O resumo deve ser baseado SOMENTE em evidências presentes nos comentários.\n2. Priorize aspectos recorrentes e consistentes.\n3. Ignore comentários irrelevantes ou muito isolados.\n4. Se houver opiniões muito divididas, mantenha a descrição neutra e equilibrada.\n5. O texto deve parecer escrito por um humano.\n6. Não use adjetivos extremos sem forte evidência recorrente.\n7. Não invente atrações, estrutura ou experiências não mencionadas.\n\n## Formato de saída (ESTRITAMENTE JSON)\nVocê deve retornar EXCLUSIVAMENTE um objeto JSON válido. Não inclua NENHUM texto antes ou depois do JSON. Não inclua marcações markdown (como ```json).\nA estrutura do JSON deve ser exatamente esta:\n```\n{\n  \"id\": \"Copie aqui exatamente o ID DO ESTABELECIMENTO fornecido\",\n  \"resultado\": \"SEU RESUMO AQUI\"\n}\n```\nRegras ESTRITAS para o campo \"resultado\":\n1. O texto deve ter entre 1 e 3 frases curtas.\n2. O texto deve possuir no MÁXIMO 320 caracteres.\n3. Não use aspas, quebras de linha (\\n), listas, emojis ou hashtags dentro do texto.\n4. Se houver menos de 3 comentários ou evidências insuficientes para criar um resumo confiável, retorne apenas \"77\" neste campo.\n5. Exemplo ideal: \"Fazenda com ambiente tranquilo e contato próximo com animais, muito elogiada por famílias e crianças. O local é reconhecido pela experiência rural acolhedora e pela ótima estrutura para passar o dia na natureza.\"\n\n## Comentários a analisar\n{lista_de_comentarios}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1248,
        576
      ],
      "id": "785c6e56-0e16-4dcf-978d-dfc73757be35",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\nNOME DO ESTABELECIMENTO: {{ $json.nome }}\nTIPO: {{ $json.subtipos_pt_str }}\n\nCOMENTÁRIOS A ANALISAR:\n{{ $json.comentarios_frases }}",
        "options": {
          "systemMessage": "Você avalia reviews de um estabelecimento de entretenimento e lazer e dá nota a UM tema só: DIVERSÃO E ENTRETENIMENTO.\nDIVERSÃO E ENTRETENIMENTO é o quanto a experiência foi percebida como animada, envolvente e divertida, ou parada e sem graça: a energia do ambiente, a programação e as atrações, a imersão e o clima vivido — ou tédio e monotonia. Julgue dentro da proposta do local; \"calmo\" ou \"bonito\" não significam diversão por si só.\nOs comentários vêm quebrados em frases curtas, uma por linha, no formato \"F<n> (C<n>): texto\". Os rótulos F/C só numeram — ignore-os e julgue o texto, em qualquer idioma, pelo sentido.\nAvalie SOMENTE este ângulo. Uma mesma frase pode também servir a outro tema; isso não é problema seu. Se ela disser algo sobre o quanto foi divertido, animado ou envolvente, conte aqui. Sinais indiretos contam (todo mundo se divertiu, saímos animados, não teve momento parado = positivo; entediante, nada pra fazer, sem graça = negativo).\n\nANTES de decidir a nota, faça internamente uma varredura de TODAS as frases, uma por uma, e marque cada uma como POSITIVA, NEGATIVA ou NÃO FALA deste tema. Só conclua 77 se, após revisar cada linha, NENHUMA frase falar do tema.\n\nPara cada frase, decida: ela fala da diversão/experiência de forma POSITIVA (divertido, animado), NEGATIVA (sem graça, monótono) ou NÃO FALA deste tema?\n- Se NENHUMA frase falar deste tema → a nota é 77.\n- Se houver frases que falam, dê nota 0–10 pelo balanço:\n  só positivas: 8–9 | mais positivas que negativas: 6–7 | misturado: 5 | mais negativas: 3–4 | quase todas negativas: 1–2.\n  Uma única negativa isolada no meio de várias positivas não baixa de 6.\nResponda SÓ com um objeto JSON, sem nada antes nem depois, sem markdown, com exatamente duas chaves: \"id\" e \"resultado\".\nO valor de \"resultado\" tem SEMPRE duas partes: a nota, depois \": \", depois uma justificativa de pelo menos uma frase completa. O \"resultado\" NUNCA pode ser apenas o número — se você escrever a nota, é OBRIGATÓRIO escrever a justificativa logo depois dos dois pontos. Isso vale também para 77.\nSe a nota for 77, a justificativa NÃO pode mencionar nenhuma frase que fale do tema, nem afirmar e negar a existência dessas frases na mesma resposta — seja coerente.\nExemplos de resposta válida (siga este padrão, sempre com a justificativa preenchida):\n{\"id\": \"abc123\", \"resultado\": \"7.0: As frases descrevem um ambiente animado e envolvente, com uma ressalva sobre momentos parados entre as atrações.\"}\n{\"id\": \"abc123\", \"resultado\": \"77: nenhuma frase comentou o nível de diversão ou entretenimento do local.\"}\nRegras do formato, obrigatórias:\n- Exatamente duas chaves: \"id\" e \"resultado\", ambas com valor em texto entre aspas duplas.\n- \"resultado\" começa com a nota (ex.: \"8.0\") OU com 77, seguido de \": \" e a justificativa.\n- Justificativa de pelo menos uma frase completa. Nunca apenas o número.\n- Se for 77, a justificativa não pode citar nenhuma frase que fale do tema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1248,
        880
      ],
      "id": "39b0d1aa-6758-4963-9fda-8b04c008b52f",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\nNOME DO ESTABELECIMENTO: {{ $json.nome }}\nTIPO: {{ $json.subtipos_pt_str }}\n\nCOMENTÁRIOS A ANALISAR:\n{{ $json.comentarios_frases }}",
        "options": {
          "systemMessage": "Você avalia reviews de um estabelecimento de entretenimento e lazer e dá nota a UM tema só: SERVIÇO.\nSERVIÇO é a qualidade do atendimento e da experiência humana: como o cliente foi tratado pelas pessoas, a cordialidade e o preparo da equipe, a agilidade e o tempo de espera, a disposição para ajudar, a resolução de problemas e a operação conduzida por gente. Um atendimento caloroso conta mesmo em local simples; um famoso pode ter nota baixa se a equipe for negligente.\nOs comentários vêm quebrados em frases curtas, uma por linha, no formato \"F<n> (C<n>): texto\". Os rótulos F/C só numeram — ignore-os e julgue o texto, em qualquer idioma, pelo sentido.\nAvalie SOMENTE este ângulo. Uma mesma frase pode também servir a outro tema; isso não é problema seu. Se ela disser algo sobre a equipe, o atendimento ou a operação conduzida por pessoas, conte aqui. Sinais indiretos contam (bem atendido, pessoal prestativo, resolveram na hora = positivo; fomos ignorados, demora enorme, ninguém dava atenção = negativo).\n\nANTES de decidir a nota, faça internamente uma varredura de TODAS as frases, uma por uma, e marque cada uma como POSITIVA, NEGATIVA ou NÃO FALA deste tema. Só conclua 77 se, após revisar cada linha, NENHUMA frase falar do tema.\n\nPara cada frase, decida: ela fala do serviço/atendimento de forma POSITIVA (bem atendido, ágil, equipe boa), NEGATIVA (mal atendido, demorado, negligente) ou NÃO FALA deste tema?\n- Se NENHUMA frase falar deste tema → a nota é 77.\n- Se houver frases que falam, dê nota 0–10 pelo balanço:\n  só positivas: 8–9 | mais positivas que negativas: 6–7 | misturado: 5 | mais negativas: 3–4 | quase todas negativas: 1–2.\n  Uma única negativa isolada no meio de várias positivas não baixa de 6.\nResponda SÓ com um objeto JSON, sem nada antes nem depois, sem markdown, com exatamente duas chaves: \"id\" e \"resultado\".\nO valor de \"resultado\" tem SEMPRE duas partes: a nota, depois \": \", depois uma justificativa de pelo menos uma frase completa. O \"resultado\" NUNCA pode ser apenas o número — se você escrever a nota, é OBRIGATÓRIO escrever a justificativa logo depois dos dois pontos. Isso vale também para 77.\nSe a nota for 77, a justificativa NÃO pode mencionar nenhuma frase que fale do tema, nem afirmar e negar a existência dessas frases na mesma resposta — seja coerente.\nExemplos de resposta válida (siga este padrão, sempre com a justificativa preenchida):\n{\"id\": \"abc123\", \"resultado\": \"7.0: As frases elogiam o atendimento ágil e a equipe prestativa, com uma ressalva sobre demora em horário cheio.\"}\n{\"id\": \"abc123\", \"resultado\": \"77: nenhuma frase comentou o atendimento ou a equipe do local.\"}\nRegras do formato, obrigatórias:\n- Exatamente duas chaves: \"id\" e \"resultado\", ambas com valor em texto entre aspas duplas.\n- \"resultado\" começa com a nota (ex.: \"8.0\") OU com 77, seguido de \": \" e a justificativa.\n- Justificativa de pelo menos uma frase completa. Nunca apenas o número.\n- Se for 77, a justificativa não pode citar nenhuma frase que fale do tema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1248,
        1136
      ],
      "id": "29b050b5-4e3a-4f59-8909-dcb5a567d0a8",
      "name": "AI Agent2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\nNOME DO ESTABELECIMENTO: {{ $json.nome }}\nTIPO: {{ $json.subtipos_pt_str }}\n\nCOMENTÁRIOS A ANALISAR:\n{{ $json.comentarios_frases }}",
        "options": {
          "systemMessage": "Você avalia reviews de um estabelecimento de entretenimento e lazer e dá nota a UM tema só: AMBIENTE FÍSICO E CONFORTO.\n\nAMBIENTE FÍSICO E CONFORTO é o quanto o espaço foi percebido como limpo, confortável e organizado, ou desconfortável e mal conservado: limpeza e conservação, organização e circulação, climatização e conforto sensorial (ruído, iluminação), e o impacto de lotação, aperto ou tamanho do espaço. Um local simples e limpo pode ir bem; um bonito pode ir mal com sujeira ou desconforto. \"Simples\" sozinho não é defeito.\nOs comentários vêm quebrados em frases curtas, uma por linha, no formato \"F<n> (C<n>): texto\". Os rótulos F/C só numeram — ignore-os e julgue o texto, em qualquer idioma, pelo sentido.\nAvalie SOMENTE este ângulo. Uma mesma frase pode também servir a outro tema; isso não é problema seu. Se ela disser algo sobre o estado físico, a limpeza, o conforto, a climatização ou o espaço do local, conte aqui — mesmo no meio de uma frase sobre outro assunto. Sinais indiretos contam (lugar agradável e arejado, dava gosto de ficar = positivo; muito quente, apertado demais, sujo = negativo).\n\nANTES de decidir a nota, faça internamente uma varredura de TODAS as frases, uma por uma, e marque cada uma como POSITIVA, NEGATIVA ou NÃO FALA deste tema. Só conclua 77 se, após revisar cada linha, NENHUMA frase falar do tema.\n\nPara cada frase, decida: ela fala do ambiente físico/conforto de forma POSITIVA (limpo, confortável, organizado), NEGATIVA (sujo, desconfortável, abafado, apertado) ou NÃO FALA deste tema?\n- Se NENHUMA frase falar deste tema → a nota é 77.\n- Se houver frases que falam, dê nota 0–10 pelo balanço:\n  só positivas: 8–9 | mais positivas que negativas: 6–7 | misturado: 5 | mais negativas: 3–4 | quase todas negativas: 1–2.\n  Uma única negativa isolada no meio de várias positivas não baixa de 6.\nResponda SÓ com um objeto JSON, sem nada antes nem depois, sem markdown, com exatamente duas chaves: \"id\" e \"resultado\".\nO valor de \"resultado\" tem SEMPRE duas partes: a nota, depois \": \", depois uma justificativa de pelo menos uma frase completa. O \"resultado\" NUNCA pode ser apenas o número — se você escrever a nota, é OBRIGATÓRIO escrever a justificativa logo depois dos dois pontos. Isso vale também para 77.\nSe a nota for 77, a justificativa NÃO pode mencionar nenhuma frase que fale do tema, nem afirmar e negar a existência dessas frases na mesma resposta — seja coerente.\nExemplos de resposta válida (siga este padrão, sempre com a justificativa preenchida):\n{\"id\": \"abc123\", \"resultado\": \"7.0: As frases elogiam o ambiente limpo e arejado, com uma ressalva sobre lotação que deixou o espaço apertado.\"}\n{\"id\": \"abc123\", \"resultado\": \"77: nenhuma frase comentou o ambiente físico ou as condições do espaço.\"}\nRegras do formato, obrigatórias:\n- Exatamente duas chaves: \"id\" e \"resultado\", ambas com valor em texto entre aspas duplas.\n- \"resultado\" começa com a nota (ex.: \"8.0\") OU com 77, seguido de \": \" e a justificativa.\n- Justificativa de pelo menos uma frase completa. Nunca apenas o número.\n- Se for 77, a justificativa não pode citar nenhuma frase que fale do tema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1216,
        1696
      ],
      "id": "4130b477-6758-466d-90b5-e4418a7eedf7",
      "name": "AI Agent3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\nNOME DO ESTABELECIMENTO: {{ $json.nome }}\nTIPO: {{ $json.subtipos_pt_str }}\n\nCOMENTÁRIOS A ANALISAR:\n{{ $json.comentarios_frases }}",
        "options": {
          "systemMessage": "Você avalia reviews de um estabelecimento de entretenimento e lazer e dá nota a UM tema só: CUSTO-BENEFÍCIO.\nCUSTO-BENEFÍCIO é o juízo sobre dinheiro: se o que se pagou foi compatível com a experiência recebida — preço sentido como justo, vantajoso ou abusivo, cobranças extras ou taxas surpresa, comparações com concorrentes e a relação entre o que se paga e o que se leva. \"Caro mas vale a pena\" pende pro positivo; \"caro demais pelo que oferece\" pende pro negativo. Um local simples pode ter ótimo custo-benefício; um famoso pode ter custo-benefício ruim se os preços forem sentidos como abusivos.\nOs comentários vêm quebrados em frases curtas, uma por linha, no formato \"F<n> (C<n>): texto\". Os rótulos F/C só numeram — ignore-os e julgue o texto, em qualquer idioma, pelo sentido.\nAvalie SOMENTE este ângulo. Uma mesma frase pode também servir a outro tema; isso não é problema seu. Conte aqui apenas as frases que envolvem dinheiro, preço, valor pago, consumação, cobrança ou gratuidade. Sinais indiretos de valor contam (compensa muito, vale a pena pelo preço, barato pelo que oferece = positivo; salgado demais, não vale o que cobram = negativo). Elogio que não fala de dinheiro NÃO entra neste tema.\n\nANTES de decidir a nota, faça internamente uma varredura de TODAS as frases, uma por uma, e marque cada uma como POSITIVA, NEGATIVA ou NÃO FALA deste tema. Só conclua 77 se, após revisar cada linha, NENHUMA frase falar do tema.\n\nPara cada frase, decida: ela fala de preço/valor de forma POSITIVA (compensa o que custou), NEGATIVA (não compensou, caro demais) ou NÃO FALA deste tema?\n- Se NENHUMA frase falar deste tema → a nota é 77.\n- Se houver frases que falam, dê nota 0–10 pelo balanço:\n  só positivas: 8–9 | mais positivas que negativas: 6–7 | misturado: 5 | mais negativas: 3–4 | quase todas negativas: 1–2.\n  Uma única negativa isolada no meio de várias positivas não baixa de 6.\nResponda SÓ com um objeto JSON, sem nada antes nem depois, sem markdown, com exatamente duas chaves: \"id\" e \"resultado\".\nO valor de \"resultado\" tem SEMPRE duas partes: a nota, depois \": \", depois uma justificativa de pelo menos uma frase completa. O \"resultado\" NUNCA pode ser apenas o número — se você escrever a nota, é OBRIGATÓRIO escrever a justificativa logo depois dos dois pontos. Isso vale também para 77.\nSe a nota for 77, a justificativa NÃO pode mencionar nenhuma frase que fale do tema, nem afirmar e negar a existência dessas frases na mesma resposta — seja coerente.\nExemplos de resposta válida (siga este padrão, sempre com a justificativa preenchida):\n{\"id\": \"abc123\", \"resultado\": \"7.0: As frases dizem que vale a pena pelo preço e compensa, com uma ressalva sobre a consumação um pouco salgada.\"}\n{\"id\": \"abc123\", \"resultado\": \"77: nenhuma frase comentou preço ou valor em dinheiro.\"}\nRegras do formato, obrigatórias:\n- Exatamente duas chaves: \"id\" e \"resultado\", ambas com valor em texto entre aspas duplas.\n- \"resultado\" começa com a nota (ex.: \"8.0\") OU com 77, seguido de \": \" e a justificativa.\n- Justificativa de pelo menos uma frase completa. Nunca apenas o número.\n- Se for 77, a justificativa não pode citar nenhuma frase que fale do tema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1216,
        1424
      ],
      "id": "9f26d603-1cca-4edb-9cd1-6a26880db286",
      "name": "AI Agent4",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0873695e-b19a-4fe6-b2b8-4d2cf76d61be",
              "name": "summary",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        608
      ],
      "id": "ac66ae14-0fdc-4d0c-b07a-ff3c48c5c4ad",
      "name": "summary"
    },
    {
      "parameters": {
        "content": "Image analyzer\n",
        "height": 480,
        "width": 1984
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        96
      ],
      "id": "af28ae28-b87e-41fa-a6ef-1f8f177e0c61",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\nconst items = $input.all().map(i => i.json).flat();\n\nconst parseReview = (texto) => {\n  if (!texto || typeof texto !== 'string') {\n    return { nota: null, justificativa: null };\n  }\n  if (texto.trim() === '77') {\n    return { nota: 'insuficiente', justificativa: null };\n  }\n  const idx = texto.indexOf(':');\n\n  // SEM dois-pontos: pode ser nota seca tipo \"8.0\" -> trata como nota\n  if (idx === -1) {\n    const soNota = texto.trim().replace(',', '.');\n    if (/^\\d{1,2}(\\.\\d+)?$/.test(soNota)) {\n      const n = parseFloat(soNota);\n      return { nota: isNaN(n) ? null : n, justificativa: null };\n    }\n    return { nota: null, justificativa: texto.trim() };\n  }\n\n  // COM dois-pontos\n  const notaRaw = texto.slice(0, idx).trim().replace(',', '.');\n\n  // \"77: justificativa\" -> insuficiente, preservando a justificativa\n  if (notaRaw === '77') {\n    return { nota: 'insuficiente', justificativa: texto.slice(idx + 1).trim() };\n  }\n\n  const nota = parseFloat(notaRaw);\n  return {\n    nota: isNaN(nota) ? null : nota,\n    justificativa: texto.slice(idx + 1).trim(),\n  };\n};\n\nconst estabelecimentos = items.filter(i => i && i.nome !== undefined);\nconst reviewItems = items.filter(i => {\n  if (!i || i.nome !== undefined) return false;\n  const k = Object.keys(i)[0];\n  return k && k.endsWith('_review');\n});\n\nconst reviewsPorId = /** @type {Record<string, any>} */ ({});\nfor (const item of reviewItems) {\n  const [chave, valorBruto] = Object.entries(item)[0];\n  const nomeAtributo = chave.replace(/_review$/, '');\n  try {\n    const dadosIA = JSON.parse(valorBruto);\n    const idEstabelecimento = dadosIA.id;\n    const resultadoIA = String(dadosIA.resultado || '');\n    if (!idEstabelecimento) continue;\n    if (!reviewsPorId[idEstabelecimento]) {\n      reviewsPorId[idEstabelecimento] = { notasNum: [] };\n    }\n    const { nota, justificativa } = parseReview(resultadoIA);\n    const alvo = reviewsPorId[idEstabelecimento];\n    const chaveNota = `${nomeAtributo}_nota`;\n    const chaveJust = `${nomeAtributo}_justificativa`;\n    const jaTemNota = typeof alvo[chaveNota] === 'number' || alvo[chaveNota] === 'insuficiente';\n    const novaTemNota = typeof nota === 'number' || nota === 'insuficiente';\n    // Só grava se a chave ainda não existe OU se o novo registro traz nota.\n    // Nunca deixa um item SEM nota apagar um que já tinha nota válida.\n    if (!(chaveNota in alvo) || novaTemNota) {\n      if (!(jaTemNota && !novaTemNota)) {\n        alvo[chaveNota] = nota;\n        alvo[chaveJust] = justificativa;\n        if (typeof nota === 'number') {\n          if (!alvo.notasNum.includes(nota)) alvo.notasNum.push(nota);\n        }\n      }\n    }\n  } catch (error) {\n    continue;\n  }\n}\n\nconst summaryPorId = /** @type {Record<string, string>} */ ({});\nfor (const item of items) {\n  if (!item || !item.summary) continue;\n  try {\n    const dados = JSON.parse(item.summary);\n    if (dados.id && dados.resultado) {\n      summaryPorId[dados.id] = dados.resultado;\n    }\n  } catch (error) {\n    continue;\n  }\n}\n\nreturn estabelecimentos.map(est => {\n  const idAtual = est.id;\n  const dadosDoEstabelecimento = reviewsPorId[idAtual] || { notasNum: [] };\n  const arrayDeNotas = dadosDoEstabelecimento.notasNum;\n  const media = arrayDeNotas.length\n    ? Math.round((arrayDeNotas.reduce((a, b) => a + b, 0) / arrayDeNotas.length) * 100) / 100\n    : null;\n  delete dadosDoEstabelecimento.notasNum;\n  return {\n    json: {\n      ...est,\n      ...dadosDoEstabelecimento,\n      resumo: summaryPorId[idAtual] || est.resumo || null,\n      media_reviews: media,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        1248
      ],
      "id": "26cdbfbc-cd44-47e5-a7fa-a4ef9bc5832f",
      "name": "Organizer1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2640,
        1248
      ],
      "id": "5ae72a4a-3f69-4d9d-980b-f01ea78e3873",
      "name": "Merge10"
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items\n\nconst all = $input.all().map(item => item.json);\n\nconst agrupados = {};\n\nfor (const item of all) {\n  const id = item.id;\n\n  if (!id) continue;\n\n  if (!agrupados[id]) {\n    agrupados[id] = {\n      id\n    };\n  }\n\n  for (const [key, value] of Object.entries(item)) {\n\n    // ignora campos vazios\n    if (\n      value === undefined ||\n      value === null ||\n      value === ''\n    ) {\n      continue;\n    }\n\n    // mantém arrays completos\n    if (Array.isArray(value)) {\n      agrupados[id][key] = value;\n      continue;\n    }\n\n    // mantém objetos completos\n    if (typeof value === 'object') {\n      agrupados[id][key] = value;\n      continue;\n    }\n\n    // mantém valores simples\n    agrupados[id][key] = value;\n  }\n}\n\nreturn Object.values(agrupados).map(item => ({\n  json: item\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3472,
        1232
      ],
      "id": "9fd3ba1f-1b70-4933-8523-e1f3c8cd5663",
      "name": "Organizer2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3312,
        1232
      ],
      "id": "e96a5b39-d5cc-40ad-a5ba-eef9d4a870f5",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Mode: Run Once for Each Item — GERAL (qualquer segmento)\n//\n// CORREÇÃO PRINCIPAL:\n// As notas chegam como STRING \"insuficiente\" (não como o número 77).\n// O código antigo só reconhecia === 77, então \"insuficiente\" escapava\n// da média E do tally de não-avaliadas. Agora tudo passa por normalizar():\n//   - \"insuficiente\" / \"77\" / 77   -> SENTINELA (77) = sem dados\n//   - número (ou \"7,5\" / \"7.5\")     -> número\n//   - null / undefined / \"\"         -> null = não se aplica ao segmento (não conta)\n//\n// MÍNIMOS:\n//   - food e fun  => MIN_FOOD_FUN (6 fixo)\n//   - média       => MIN (vem de minimum_grade; fallback 6)\n// FOOD é portão crítico: insuficiente OU nota < MIN_FOOD_FUN => reprova.\n//   - PORÉM: se já reprovou por >2 insuficientes, a justificativa fica só a dos insuficientes.\n\nconst e = $input.item.json;\n\nconst SENTINELA = 77;\nconst MAX_NAO_AVALIADAS = 2; // acima disso (>2 => 3+) reprova\nconst MIN_FOOD_FUN = 6;      // mínimo fixo para comida e diversão\n\nconst ehNotaValida = (v) =>\n  typeof v === \"number\" && Number.isFinite(v) && v !== SENTINELA;\n\nconst MIN = ehNotaValida(e.minimum_grade) ? e.minimum_grade : 6; // mínimo da média\n\nconst round = (x, d = 2) => {\n  if (x === null || x === undefined || Number.isNaN(x) || !Number.isFinite(x)) {\n    return null;\n  }\n  const f = Math.pow(10, d);\n  return Math.round(x * f) / f;\n};\n\n// --------------------\n// NORMALIZAÇÃO (a peça que faltava)\n// --------------------\nconst normalizar = (v) => {\n  if (v === null || v === undefined) return null;          // ausente\n  if (typeof v === \"number\") return Number.isFinite(v) ? v : null;\n  if (typeof v === \"string\") {\n    const s = v.trim().toLowerCase();\n    if (s === \"\") return null;                             // vazio => ausente\n    if (s === \"insuficiente\") return SENTINELA;            // insuficiente\n    const n = Number(s.replace(\",\", \".\"));\n    if (Number.isFinite(n)) return n;                      // \"77\"->77, \"7,5\"->7.5\n    return SENTINELA;                                      // texto inesperado => insuficiente\n  }\n  return null;\n};\n\n// Todas as notas possíveis, JÁ normalizadas\nconst candidatas = {\n  variety: normalizar(e.variety_nota),\n  service: normalizar(e.service_nota),\n  price_to_value: normalizar(e.price_to_value_nota),\n  capacity: normalizar(e.capacity_nota),\n  beauty: normalizar(e.beauty_nota),\n  space: normalizar(e.space_nota),\n  fun: normalizar(e.fun_nota),\n  food: normalizar(e.food_nota),\n};\n\nconst rotulos = {\n  variety: \"variedade\",\n  service: \"atendimento\",\n  price_to_value: \"custo-benefício\",\n  capacity: \"capacidade\",\n  beauty: \"beleza\",\n  space: \"espaço\",\n  fun: \"diversão\",\n  food: \"comida\",\n};\n\n// --------------------\n// MÉDIA\n// --------------------\nconst presentes = Object.entries(candidatas).filter(([, v]) => ehNotaValida(v));\nconst notasUsadas = presentes.map(([, v]) => v);\nconst media = notasUsadas.length\n  ? notasUsadas.reduce((a, b) => a + b, 0) / notasUsadas.length\n  : null;\n\n// --------------------\n// NÃO AVALIADAS (insuficientes) — agora pega \"insuficiente\"/77 igual\n// --------------------\nconst notasNaoAvaliadas = Object.entries(candidatas)\n  .filter(([, v]) => v === SENTINELA)\n  .map(([k]) => k);\n\nconst reprovaPorInsuficientes = notasNaoAvaliadas.length > MAX_NAO_AVALIADAS;\n\n// --------------------\n// REGRAS\n// --------------------\nconst motivos = [];\nconst observacoes = [];\n\n// FOTOS (crítico)\nconst temFotoAnalise = Array.isArray(e.fotos_analise) && e.fotos_analise.length > 0;\nif (!temFotoAnalise) {\n  motivos.push(\"Sem fotos analisadas (fotos_analise ausente ou vazio)\");\n}\n\n// FOOD (crítico) — insuficiente REPROVA; mínimo = MIN_FOOD_FUN\n// Se já reprovou por >2 insuficientes, NÃO duplica o motivo de comida insuficiente.\nconst foodN = candidatas.food;\nif (foodN !== null) {\n  if (foodN === SENTINELA) {\n    if (!reprovaPorInsuficientes) {\n      motivos.push(\"Comida não pôde ser avaliada (insuficiente)\");\n    }\n  } else if (foodN < MIN_FOOD_FUN) {\n    motivos.push(`Nota de comida abaixo de ${MIN_FOOD_FUN} (food_nota=${round(foodN)})`);\n  }\n}\n\n// FUN (crítico) — mínimo = MIN_FOOD_FUN\nconst funN = candidatas.fun;\nif (funN !== null) {\n  if (funN === SENTINELA) {\n    if (!reprovaPorInsuficientes) {\n      observacoes.push(\"diversão não pôde ser avaliada (insuficiente)\");\n    }\n  } else if (funN < MIN_FOOD_FUN) {\n    motivos.push(`Nota de diversão abaixo de ${MIN_FOOD_FUN} (fun_nota=${round(funN)})`);\n  }\n}\n\n// NÃO AVALIADAS (crítico) — mais de 2 insuficientes => reprova\nif (reprovaPorInsuficientes) {\n  const nomes = notasNaoAvaliadas.map((k) => rotulos[k] || k);\n  motivos.push(\n    `Notas insuficientes: ${notasNaoAvaliadas.length} notas sem dados ` +\n    `— máximo permitido é ${MAX_NAO_AVALIADAS} (${nomes.join(\", \")})`\n  );\n}\n\n// MÉDIA — não repete \"sem notas válidas\" se já reprovou por excesso de insuficientes\nif (media === null) {\n  if (!reprovaPorInsuficientes) {\n    motivos.push(\"Sem notas qualitativas válidas para calcular a média\");\n  }\n} else if (media < MIN) {\n  motivos.push(`media das notas qualitativas abaixo do corte (${MIN})`);\n}\n\nconst aprovado = motivos.length === 0;\n\n// --------------------\n// JUSTIFICATIVA\n// --------------------\nlet motivo;\n\nif (aprovado) {\n  const partes = [`Média das notas qualitativas ${round(media)} (≥ ${MIN})`];\n  if (ehNotaValida(foodN)) partes.push(`comida ${round(foodN)} (≥ ${MIN_FOOD_FUN})`);\n  if (ehNotaValida(funN)) partes.push(`diversão ${round(funN)} (≥ ${MIN_FOOD_FUN})`);\n  if (observacoes.length) partes.push(...observacoes);\n  if (notasNaoAvaliadas.length) {\n    const nomes = notasNaoAvaliadas.map((k) => rotulos[k] || k);\n    partes.push(`não avaliadas: ${nomes.join(\", \")}`);\n  }\n  motivo = \"Aprovado — \" + partes.join(\"; \");\n} else {\n  let txt = \"Reprovado — \" + motivos.join(\" | \");\n  if (observacoes.length) txt += \" | (obs: \" + observacoes.join(\"; \") + \")\";\n  motivo = txt;\n}\n\n// --------------------\n// OUTPUT\n// --------------------\nreturn {\n  json: {\n    ...e,\n    minimum_grade_usado: MIN,\n    min_food_fun_usado: MIN_FOOD_FUN,\n    media_qualitativa: round(media),\n    notas_consideradas: notasUsadas.length,\n    notas_usadas: presentes.map(([k]) => k),\n    notas_nao_avaliadas: notasNaoAvaliadas,\n    qtd_notas_nao_avaliadas: notasNaoAvaliadas.length,\n    tem_fotos_analise: temFotoAnalise,\n    aprovado_notas: aprovado,\n    motivo_notas: motivo,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        1232
      ],
      "id": "6b6046bd-d330-494c-990b-aed430ed59df",
      "name": "média"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  if (!Array.isArray(item.json.fotos_analise)) {\n    continue;\n  }\n  item.json.fotos_analise = item.json.fotos_analise\n    .filter(foto => {\n      const nota = Number(foto.nota_capa ?? 0);\n      const inutil = foto.eh_inutil === true;\n      return !inutil && nota >= 6;\n    })\n    .sort((a, b) => Number(b.nota_capa ?? 0) - Number(a.nota_capa ?? 0));\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3888,
        1232
      ],
      "id": "ae328763-06bf-4ecf-8ee1-9075a096dcc8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items\nconst items = $input.all().map(i => i.json ?? {});\n\nreturn items.map(item => {\n  return {\n    json: {\n      id: item.id ?? null,\n      nome: item.nome ?? null,\n      subtipos: item.subtipos_pt_str ?? null,\n      endereco: item.endereco ?? null,\n      bairro: item.bairro ?? null,\n      cep: item.cep ?? null,\n      cidade: item.cidade ?? null,\n      estado: item.estado ?? null,\n      pais: item.pais ?? null,\n      telefone: item.telefone ?? null,\n      telefone_extra: item.telefone_extra ?? null,\n      email: item.email ?? null,\n      website: item.website ?? null,\n      instagram: item.instagram ?? null,\n      facebook: item.facebook ?? null,\n      link_google_maps: item.link_google_maps ?? null,\n      nota: item.nota ?? null,\n      qtd_avaliacoes: item.qtd_avaliacoes ?? null,\n      distribuicao_notas: item.distribuicao_notas != null ? JSON.stringify(item.distribuicao_notas) : null,\n      status: item.status ?? null,\n      horarios: item.horarios != null ? JSON.stringify(item.horarios) : null,\n      faixa_preco: item.faixa_preco ?? null,\n      qtd_fotos: item.qtd_fotos ?? null,\n      fotos: item.fotos_analise != null ? JSON.stringify(item.fotos_analise) : null,\n      resumo: item.resumo ?? null,\n      details_google: item.details_google ?? null,\n      google_id: item.google_id ?? null,\n      place_id: item.place_id ?? null,\n      verificado: item.verificado ?? null,\n      timezone: item.timezone ?? null,\n      acessibilidade: item.acessibilidade ?? null,\n      reviews: item.reviews ?? null,          // jsonb -> objeto cru, SEM stringify\n      par1: item.fun_nota ?? null,\n      just1: item.fun_justificativa ?? null,\n      par2: item.service_nota ?? null,\n      just2: item.service_justificativa ?? null,\n      par3: item.space_nota ?? null,\n      just3: item.space_justificativa ?? null,\n      par4: item.price_to_value_nota ?? null,\n      just4: item.price_to_value_justificativa ?? null,\n      par5: null,\n      just5: null,\n      média: item.media_qualitativa ?? null,\n      aproved: item.aprovado_notas ?? null,\n      reason: item.motivo_notas ?? null,\n      segmento: item.categoria_principal ?? null,\n      subsegmento: item.subsegmento ?? null,\n      nr_latitude: item.nr_latitude ?? null,\n      nr_longitude: item.nr_longitude ?? null,\n      minimum_grade: item.minimum_grade ?? null,\n      go_to_reevaluation: true,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4096,
        1232
      ],
      "id": "f6a38c13-ce50-4eca-9b45-932ba1f0cebf",
      "name": "organizer1"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n// Extrai as URLs das imagens, 1 imagem por row, com id e foto_index.\nconst rows = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const e = item.json || {};\n  const idEstabelecimento = e.id || null;\n\n  let fotos = [];\n  try {\n    fotos = typeof e.fotos === \"string\" ? JSON.parse(e.fotos) : (e.fotos || []);\n  } catch (err) {\n    fotos = [];\n  }\n  if (!Array.isArray(fotos)) fotos = [];\n\n  const urlsProcessadas = new Set();\n\n  for (const foto of fotos) {\n    const url = (foto && foto.url_original) || \"\";\n    if (!url || urlsProcessadas.has(url)) continue;\n    urlsProcessadas.add(url);\n\n    rows.push({\n      json: {\n        id: idEstabelecimento,\n        foto_index: foto.foto_index ?? null,\n        url: url\n      }\n    });\n  }\n}\n\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4720,
        784
      ],
      "id": "c0efa292-5543-4412-b2ff-384c6dc2b6d5",
      "name": "image split"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\nconst items = $input.all();\nreturn items.map((item) => {\n  const e = item.json || {};\n\n  let fotos = [];\n  try {\n    fotos = typeof e.fotos === \"string\" ? JSON.parse(e.fotos) : (e.fotos || []);\n  } catch (err) {\n    fotos = [];\n  }\n  if (!Array.isArray(fotos)) fotos = [];\n\n  const fotosOrdenadas = [...fotos].sort((a, b) => {\n    const na = (a && typeof a.nota_capa === \"number\") ? a.nota_capa : -Infinity;\n    const nb = (b && typeof b.nota_capa === \"number\") ? b.nota_capa : -Infinity;\n\n    // Primeiro: nota decrescente\n    if (nb !== na) return nb - na;\n\n    // Desempate: foto_index crescente (menor index primeiro)\n    const ia = (a && typeof a.foto_index === \"number\") ? a.foto_index : Infinity;\n    const ib = (b && typeof b.foto_index === \"number\") ? b.foto_index : Infinity;\n    return ia - ib;\n  });\n\n  return {\n    json: {\n      ...e,\n      fotos: fotosOrdenadas,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4544,
        784
      ],
      "id": "00932467-9c41-49dc-8eae-7a2a4b4e2d28",
      "name": "image organizer"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n\nconst SUPABASE_URL = \"https://veedrfffsquvyypjrquh.supabase.co\";\nconst BUCKET = \"TRIP\";\nconst KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZlZWRyZmZmc3F1dnl5cGpycXVoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODg2OTQyMSwiZXhwIjoyMDk0NDQ1NDIxfQ.0Z341oGGbmFl2ce8TLVTs55F2667wdug0aF1iFNSNVw\";\n\nconst MAX_RETRIES = 3;\nconst RETRY_DELAY_MS = 1500;\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\n\nconst extPorContentType = (ct) => {\n  if (!ct) return \"jpg\";\n  if (ct.includes(\"png\")) return \"png\";\n  if (ct.includes(\"webp\")) return \"webp\";\n  if (ct.includes(\"gif\")) return \"gif\";\n  return \"jpg\";\n};\n\nconst items = $input.all();\nconst contadorPorId = {};\nconst resultados = [];\n\nfor (const item of items) {\n  const e = item.json || {};\n\n  let url = e.url || e.url_original;\n  const id = e.id || \"sem_id\";\n\n  if (!url) continue;\n\n  // Tenta obter uma versão de boa qualidade sem ficar pesada\n  if (url.includes(\"googleusercontent.com\")) {\n    url = url.replace(\n      /=w\\d+-h\\d+.*$/i,\n      \"=w1600-h1600-k-no\"\n    );\n  }\n\n  const idx = contadorPorId[id] ?? 0;\n  contadorPorId[id] = idx + 1;\n\n  // 1. Download da imagem\n  let img = null;\n  let lastErr = null;\n\n  for (let tentativa = 1; tentativa <= MAX_RETRIES; tentativa++) {\n    try {\n      img = await this.helpers.httpRequest({\n        method: \"GET\",\n        url,\n        encoding: \"arraybuffer\",\n        returnFullResponse: true,\n        timeout: 20000,\n        headers: {\n          \"User-Agent\":\n            \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36\",\n          Accept: \"image/webp,image/apng,image/*,*/*;q=0.8\",\n        },\n      });\n\n      break;\n    } catch (err) {\n      lastErr = err;\n\n      const status =\n        err.response?.statusCode || err.statusCode;\n\n      if (status === 403 || status === 404) {\n        break;\n      }\n\n      if (tentativa < MAX_RETRIES) {\n        await sleep(RETRY_DELAY_MS * tentativa);\n      }\n    }\n  }\n\n  if (!img || !img.body || img.body.length === 0) {\n    const status =\n      lastErr?.response?.statusCode ||\n      lastErr?.statusCode ||\n      \"vazio\";\n\n    resultados.push({\n      json: {\n        id,\n        foto_index: idx,\n        url,\n        sucesso: false,\n        erro: `download_falhou_${status}`,\n      },\n    });\n\n    continue;\n  }\n\n  const contentType =\n    img.headers[\"content-type\"] || \"image/jpeg\";\n\n  const ext = extPorContentType(contentType);\n\n  const path = `${id}/${idx}.${ext}`;\n\n  // 2. Upload para Supabase Storage\n  let uploadOk = false;\n  let uploadErr = null;\n\n  for (let tentativa = 1; tentativa <= MAX_RETRIES; tentativa++) {\n    try {\n      await this.helpers.httpRequest({\n        method: \"POST\",\n        url: `${SUPABASE_URL}/storage/v1/object/${BUCKET}/${path}`,\n        timeout: 30000,\n        headers: {\n          Authorization: `Bearer ${KEY}`,\n          \"Content-Type\": contentType,\n          \"x-upsert\": \"true\",\n        },\n        body: Buffer.from(img.body),\n      });\n\n      uploadOk = true;\n      break;\n    } catch (err) {\n      uploadErr = err;\n\n      if (tentativa < MAX_RETRIES) {\n        await sleep(RETRY_DELAY_MS * tentativa);\n      }\n    }\n  }\n\n  if (!uploadOk) {\n    resultados.push({\n      json: {\n        id,\n        foto_index: idx,\n        url,\n        path,\n        sucesso: false,\n        erro:\n          \"upload_falhou: \" +\n          JSON.stringify(\n            uploadErr?.response?.body ??\n              uploadErr?.response?.data ??\n              uploadErr?.message\n          ),\n      },\n    });\n\n    continue;\n  }\n\n  resultados.push({\n    json: {\n      id,\n      foto_index: idx,\n      path,\n      sucesso: true,\n      public_url: `${SUPABASE_URL}/storage/v1/object/public/${BUCKET}/${path}`,\n    },\n  });\n}\n\nreturn resultados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4960,
        784
      ],
      "id": "96fae869-28a7-4400-9e5f-cad9552a83fc",
      "name": "STORAGE"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n// Agrupa as imagens por estabelecimento (id), montando uma lista de URLs por id.\n\nconst items = $input.all();\nconst porId = {};\n\nfor (const item of items) {\n  const e = item.json || {};\n  const id = e.id;\n  if (!id) continue;\n\n  if (!porId[id]) {\n    porId[id] = {\n      id,\n      qtd_fotos: 0,\n      capa: null,\n      _temp: [],   // guarda index+url para ordenar depois\n    };\n  }\n\n  porId[id]._temp.push({ foto_index: e.foto_index, url: e.public_url });\n\n  if (e.foto_index === 0) {\n    porId[id].capa = e.public_url;\n  }\n}\n\nreturn Object.values(porId).map((grupo) => {\n  // ordena por foto_index e extrai só a URL\n  grupo._temp.sort((a, b) => a.foto_index - b.foto_index);\n  const fotos = grupo._temp.map((f) => f.url);\n  delete grupo._temp;\n\n  return {\n    json: {\n      id: grupo.id,\n      qtd_fotos: fotos.length,\n      capa: grupo.capa,\n      fotos, // array só com as URLs, em ordem\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5200,
        784
      ],
      "id": "a7b750a2-ea5c-41fc-b276-215cb8447395",
      "name": "Organizador"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5584,
        1200
      ],
      "id": "0373509f-b56d-4bf2-a1a9-e5c291dada13",
      "name": "Merge4"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\n// Separa uploads de estabelecimentos\nconst uploads = {};\nconst estabelecimentos = {};\n\nfor (const item of items) {\n  const id = item.id;\n  if (!id) continue;\n\n  // É um item de upload se tiver capa e não tiver nome\n  if (item.capa && !item.nome) {\n    uploads[id] = item;\n  } else if (item.nome) {\n    estabelecimentos[id] = item;\n  }\n}\n\n// Mescla upload + estabelecimento pelo id\nreturn Object.keys(estabelecimentos).map(id => {\n  const est = estabelecimentos[id];\n  const upload = uploads[id] || {};\n\n  return {\n    json: {\n      ...est,\n      capa: upload.capa ?? null,\n      fotos_salvas: upload.fotos ?? [],\n      qtd_fotos_salvas: upload.qtd_fotos ?? 0,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5792,
        1200
      ],
      "id": "10f2d514-9db4-4e7a-b720-587f80bb581c",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\nreturn items.map(item => {\n  return {\n    json: {\n      id: item.id ?? null,\n      nome: item.nome ?? null,\n      subtipos: item.subtipos ?? null,\n      endereco: item.endereco ?? null,\n      bairro: item.bairro ?? null,\n      cep: item.cep ?? null,\n      cidade: item.cidade ?? null,\n      estado: item.estado ?? null,\n      pais: item.pais ?? null,\n      telefone: item.telefone ?? null,\n      telefone_extra: item.telefone_extra ?? null,\n      email: item.email ?? null,\n      website: item.website ?? null,\n      instagram: item.instagram ?? null,\n      facebook: item.facebook ?? null,\n      link_google_maps: item.link_google_maps ?? null,\n      nota: item.nota ?? null,\n      qtd_avaliacoes: item.qtd_avaliacoes ?? null,\n      distribuicao_notas: item.distribuicao_notas ?? null,\n      status: item.status ?? null,\n      horarios: item.horarios ?? null,\n      faixa_preco: item.faixa_preco ?? null,\n\n      qtd_fotos: item.qtd_fotos_salvas ?? item.qtd_fotos ?? null,\n      gallery: item.fotos_salvas ?? item.gallery ?? [],\n      capa: item.capa ?? null,\n\n      fotos: item.fotos ?? null,\n      resumo: item.resumo ?? null,\n      details_google: item.details_google ?? null,\n      google_id: item.google_id ?? null,\n      place_id: item.place_id ?? null,\n      verificado: item.verificado ?? null,\n      timezone: item.timezone ?? null,\n      acessibilidade: item.acessibilidade ?? null, \n\n      reviews: typeof item.reviews === 'string'\n        ? JSON.parse(item.reviews)\n        : (item.reviews ?? null),\n\n      par1: item.par1 ?? null,\n      just1: item.just1 ?? null,\n      par2: item.par2 ?? null,\n      just2: item.just2 ?? null,\n      par3: item.par3 ?? null,\n      just3: item.just3 ?? null,\n      par4: item.par4 ?? null,\n      just4: item.just4 ?? null,\n      par5: item.par5 ?? null,\n      just5: item.just5 ?? null,\n      \"média\": item[\"média\"] ?? null,\n      aproved: item.aproved ?? null,\n      reason: item.reason ?? null,\n      segmento: item.segmento ?? null,\n      subsegmento: item.subsegmento ?? null,\n      nr_latitude: item.nr_latitude ?? null,\n      nr_longitude: item.nr_longitude ?? null,\n      minimum_grade: item.minimum_grade ?? null,\n      go_to_reevaluation: true,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6000,
        1200
      ],
      "id": "bc8a7671-ef20-41a1-8c5f-d04b280ecd7c",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "tableId": "geral_estabelecimentos_avaliados",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6160,
        1200
      ],
      "id": "1d97304a-4c95-4997-9e55-373cc07e97f3",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cb30c38e-ad3c-458a-8342-7d67e0a8c747",
              "leftValue": "={{ $json.aproved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4304,
        1232
      ],
      "id": "1c94c89d-69d0-4ced-83c3-f9c40cd144a4",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "geral_estabelecimentos_avaliados",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4704,
        1504
      ],
      "id": "627ac7f4-32f9-419e-98eb-ee022645e7c2",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40dba803-f2ac-4b82-8650-dbe40562f84d",
              "name": "fotos",
              "value": "={{ $json.fotos }}",
              "type": "array"
            },
            {
              "id": "64e70dac-1ff7-483b-8812-4ab5621c8e33",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        208
      ],
      "id": "43d13e9c-6824-40f0-a7dd-3d28102bf90d",
      "name": "Fotos"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n// Gera UMA row por foto (para o Switch funcionar), sem duplicatas e COM O ID do restaurante.\nconst categoriasInuteis = [\"Street View & 360°\", \"Videos\", \"Menu\"];\nconst rows = [];\n// 1. Pega TODOS os restaurantes que entraram no nó\nconst items = $input.all();\nfor (const item of items) {\n  const e = item.json || {};\n  const idEstabelecimento = e.id || null;\n  const fotos = Array.isArray(e.fotos) ? e.fotos : [];\n  const urlsProcessadas = new Set();\n  // 2. Transforma cada foto em um item isolado\n  for (let i = 0; i < fotos.length; i++) {\n    const foto = fotos[i] || {};\n    const url = foto.url || \"\";\n    const description = foto.description || \"\";\n    if (!url || urlsProcessadas.has(url)) {\n      continue;\n    }\n    const ehInutil = categoriasInuteis.includes(description) || url.includes(\"streetviewpixels\");\n    urlsProcessadas.add(url);\n    // 3. Joga a foto na lista final\n    rows.push({\n      json: {\n        id: idEstabelecimento,\n        foto_index: i,\n        description: description,\n        url_original: url,\n        eh_inutil: ehInutil\n      }\n    });\n  }\n}\n// Retorna uma lista plana (1 item = 1 foto)\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        208
      ],
      "id": "386eccc3-e368-414b-b2fa-96bb82bb286b",
      "name": "Fotos organizer"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.eh_inutil }}",
                    "rightValue": "=",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "6a82029b-4182-4a2f-8e4f-432cc4ec6a3e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5bf04c1e-a46b-49ae-a66a-7982239aa9ed",
                    "leftValue": "={{ $json.eh_inutil }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        928,
        208
      ],
      "id": "0ac3a466-b620-4c1c-8dad-dc00728fb341",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2128,
        256
      ],
      "id": "d6953108-4423-4a82-9f8b-6bf96f2bfa51",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\nconst items = $input.all().map(i => i.json);\n\n// Uma FOTO tem url_original. Uma RESPOSTA da IA tem o JSON com \"resultado\".\n// Um mesmo item nunca é os dois ao mesmo tempo, então separamos com prioridade\n// para a resposta: se parece resposta, é resposta; senão, se tem url, é foto.\nfunction looksLikeResposta(i) {\n  if (!i) return false;\n  if (i.choices !== undefined) return true;\n  if (i.message?.content !== undefined) return true;\n  if (typeof i.content === 'string') return true;\n  if (typeof i.resultado === 'string') return true;\n  return false;\n}\n\nconst respostasRaw = items.filter(i => looksLikeResposta(i));\nconst fotos = items.filter(i => !looksLikeResposta(i) && i.url_original !== undefined);\n\nfunction parseResposta(aiOutput) {\n  if (!aiOutput) return null;\n\n  // 1) Extrai o texto bruto de onde quer que ele esteja\n  let rawText = \"\";\n  if (aiOutput.choices && aiOutput.choices[0] && aiOutput.choices[0].message) {\n    rawText = aiOutput.choices[0].message.content;\n  } else if (typeof aiOutput.content === 'string') {\n    rawText = aiOutput.content;\n  } else if (typeof aiOutput === 'string') {\n    rawText = aiOutput;\n  } else if (typeof aiOutput.resultado === 'string') {\n    // caso o item já venha \"achatado\" com resultado/id/foto_index no topo\n    rawText = JSON.stringify(aiOutput);\n  }\n  if (!rawText) return null;\n\n  // 2) Tenta parsear o JSON da IA\n  let parsedJson = null;\n  try {\n    let fixedText = rawText.trim();\n    // tira cercas de markdown se a IA escapou e mandou ```json ... ```\n    fixedText = fixedText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n    if (!fixedText.endsWith('}')) fixedText += '\\n}';\n    parsedJson = JSON.parse(fixedText);\n  } catch (e) {\n    parsedJson = null;\n  }\n\n  // 3) Se parseou, extrai pelos campos; senão cai no regex\n  let id = null;\n  let foto_index = null;\n  let resultado = \"\";\n\n  if (parsedJson) {\n    id = parsedJson.id ?? null;\n    foto_index = parsedJson.foto_index ?? null;\n    resultado = parsedJson.resultado || \"\";\n  } else {\n    const idMatch = rawText.match(/\"id\"\\s*:\\s*\"([^\"]+)\"/);\n    const fiMatch = rawText.match(/\"foto_index\"\\s*:\\s*(\\d+)/);\n    const resMatch = rawText.match(/\"resultado\"\\s*:\\s*\"([^\"]*(?:\\\\.[^\"]*)*)\"/);\n    id = idMatch ? idMatch[1] : null;\n    foto_index = fiMatch ? parseInt(fiMatch[1], 10) : null;\n    resultado = resMatch ? resMatch[1].replace(/\\\\\"/g, '\"') : \"\";\n  }\n\n  // normaliza foto_index para número inteiro quando possível\n  if (foto_index !== null && foto_index !== undefined) {\n    const fiNum = parseInt(foto_index, 10);\n    foto_index = isNaN(fiNum) ? null : fiNum;\n  }\n\n  // 4) Separa nota e justificativa de \"N.N: justificativa\"\n  let nota = null;\n  let justificativa = null;\n  if (resultado && resultado.trim() !== \"\") {\n    const idx = resultado.indexOf(\":\");\n    if (idx !== -1) {\n      const notaNum = parseFloat(resultado.slice(0, idx).trim().replace(\",\", \".\"));\n      nota = isNaN(notaNum) ? null : notaNum;\n      justificativa = resultado.slice(idx + 1).trim();\n    } else {\n      justificativa = resultado.trim();\n    }\n  }\n\n  return {\n    id,\n    foto_index,\n    nota,\n    justificativa,\n    resposta_bruta: rawText,\n  };\n}\n\n// Indexa as respostas por chave \"id__foto_index\".\n// Se houver vários ids diferentes e/ou vários foto_index, cada par é único.\nconst respMap = new Map();\nfor (const r of respostasRaw) {\n  const p = parseResposta(r);\n  if (!p || p.id === null || p.foto_index === null) continue;\n  const key = `${p.id}__${p.foto_index}`;\n  // não sobrescreve uma resposta já casada (mantém a primeira válida)\n  if (!respMap.has(key)) respMap.set(key, p);\n}\n\n// Casa cada foto com sua resposta pela chave id+foto_index (não por posição)\nconst rows = fotos.map((foto) => {\n  const key = `${foto.id}__${foto.foto_index}`;\n  const parsed = respMap.get(key) || { nota: null, justificativa: null, resposta_bruta: null };\n  return {\n    id: foto.id,\n    foto_index_original: foto.foto_index, // guarda o original pra desempate\n    description: foto.description,\n    url_original: foto.url_original,\n    eh_inutil: foto.eh_inutil,\n    nota_capa: parsed.nota,\n    justificativa_capa: parsed.justificativa,\n    resposta_bruta: parsed.resposta_bruta,\n    serve_como_capa: parsed.nota !== null && parsed.nota >= 7,\n  };\n});\n\n// Agrupa por id: o ranking/reindex de foto_index é feito DENTRO de cada id,\n// para funcionar quando o batch traz vários estabelecimentos misturados.\nconst porId = new Map();\nfor (const row of rows) {\n  if (!porId.has(row.id)) porId.set(row.id, []);\n  porId.get(row.id).push(row);\n}\n\nconst out = [];\nfor (const grupo of porId.values()) {\n  // Ordena por nota decrescente; empate: foto_index_original crescente\n  grupo.sort((a, b) => {\n    const na = a.nota_capa ?? -Infinity;\n    const nb = b.nota_capa ?? -Infinity;\n    if (nb !== na) return nb - na;\n    return (a.foto_index_original ?? Infinity) - (b.foto_index_original ?? Infinity);\n  });\n\n  // Reatribui foto_index em ordem crescente conforme a posição pós-sort,\n  // por estabelecimento (0 = melhor foto daquele id)\n  grupo.forEach((row, i) => {\n    out.push({\n      json: {\n        id: row.id,\n        foto_index: i, // 0 = melhor foto deste id, 1 = segunda melhor, etc.\n        description: row.description,\n        url_original: row.url_original,\n        eh_inutil: row.eh_inutil,\n        nota_capa: row.nota_capa,\n        justificativa_capa: row.justificativa_capa,\n        resposta_bruta: row.resposta_bruta,\n        serve_como_capa: row.serve_como_capa,\n      }\n    });\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        256
      ],
      "id": "0b39ffaa-2135-4085-bbd5-4eba1ed7ff98",
      "name": "Indexer"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n// Adiciona campos de avaliação de capa em cada foto.\n// Fotos marcadas como eh_inutil recebem valores padrão de rejeição automática.\n\nconst items = $input.all().map(i => i.json);\n\nconst rows = items.map(foto => {\n  if (foto.eh_inutil) {\n    return {\n      json: {\n        ...foto,\n        nota_capa: 0,\n        justificativa_capa: \"Imagem do Google Street View (ou outras), inadequada como capa de perfil profissional.\",\n        resposta_bruta: \"Imagem do Google Street View (ou outras), inadequada como capa de perfil profissional.\",\n        serve_como_capa: false,\n      }\n    };\n  }\n\n  // Foto útil: campos vazios, prontos para serem preenchidos pela IA depois\n  return {\n    json: {\n      ...foto,\n      nota_capa: null,\n      justificativa_capa: null,\n      resposta_bruta: null,\n      serve_como_capa: null,\n    }\n  };\n});\n\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        112
      ],
      "id": "45c2b6c2-ec78-4769-8f11-af5592156bbb",
      "name": "Automatic rejection"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "=gpt-4.1-mini",
          "mode": "id"
        },
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\n\nÍNDICE DA FOTO: {{ $json.foto_index }}\n\nVocê é um avaliador de qualidade de imagens. Antes de qualquer coisa, você faz uma VARREDURA DE PESSOAS. Depois aplica o filtro de eliminação. Só então, se a imagem sobreviver, avalia a qualidade.\n\n==================================================\nPASSO 0 — VARREDURA DE PESSOAS (FAÇA ISSO ANTES DE TUDO)\n==================================================\n\nAntes de pensar em qualidade, beleza ou nota, responda mentalmente a UMA pergunta, olhando a imagem inteira com atenção: HÁ ALGUM SER HUMANO NA IMAGEM?\n\nProcure ativamente por: rostos (inteiros ou parciais), cabeças, corpos, mãos segurando a câmera, pessoas em pé, sentadas, ao fundo, de lado, de costas, refletidas em espelho/vidro, ou parcialmente cortadas pela borda.\n\nSe você encontrar QUALQUER ser humano, classifique-o em uma de duas categorias:\n\n(A) HUMANO EM DESTAQUE → ELIMINAÇÃO OBRIGATÓRIA (nota 0.0). Enquadra-se aqui se:\n    • é uma selfie (rosto próximo, braço esticado, alguém segurando a câmera);\n    • há QUALQUER rosto humano reconhecível em foco em qualquer parte do quadro, mesmo que pequeno;\n    • há uma pessoa posando, olhando ou sorrindo para a câmera;\n    • uma pessoa está no centro, no primeiro plano, ou ocupa parte relevante do quadro;\n    • uma pessoa divide o destaque com o ambiente;\n    • há um grupo de pessoas.\n  Se a pessoa tem rosto visível e dá pra reconhecer que é uma pessoa, ela está EM DESTAQUE. Na dúvida entre \"destaque\" e \"acidental\", é SEMPRE destaque → ELIMINE.\n\n(B) HUMANO ACIDENTAL → não elimina por esse motivo. SÓ se enquadra aqui se a pessoa é inequivocamente irrelevante: minúscula ao fundo, totalmente desfocada, de costas e sem rosto visível, ou claramente só parte do movimento do ambiente. Esta categoria é a EXCEÇÃO RARA, não a regra.\n\nREGRA DE DECISÃO: se há humano e você não tem CERTEZA ABSOLUTA de que é categoria (B), trate como (A) e dê 0.0. É melhor eliminar uma foto boa do que aprovar uma foto com rosto.\n\nO resultado desta varredura vai OBRIGATORIAMENTE para o campo \"pessoas\" do JSON final. Você não pode dar nota alta e ao mesmo tempo admitir um humano em destaque — isso é uma contradição proibida.\n\n==================================================\nPASSO 1 — FILTRO DE ELIMINAÇÃO\n==================================================\n\nTRAVA ABSOLUTA: assim que identificar que a foto se enquadra em uma condição de eliminação, a nota é 0.0 e ESSA NOTA NÃO MUDA. Não reconsidere, não compense com qualidade técnica, não arredonde para cima. Qualidade NUNCA cancela uma eliminação. Na dúvida, ELIMINE.\n\nPRINCÍPIO ANTI-ALUCINAÇÃO: avalie SOMENTE o que está visível. Não suponha nem invente. Na dúvida sobre um detalhe, trate-o como ausente e NÃO dê o benefício da dúvida.\n\nO QUE NÃO É MOTIVO DE ELIMINAÇÃO: fotografar um ambiente fechado, objeto, vitrine, aquário, terrário, tela de TV/monitor exibindo conteúdo, ou qualquer cena com elementos artificiais CONTINUA SENDO uma fotografia real. O que elimina é a imagem SER uma renderização/arte/print — não o ASSUNTO ser artificial. Um aquário fotografado é uma foto real e legítima.\n\nCondições de eliminação (qualquer uma = 0.0):\n\n- HÁ HUMANO EM DESTAQUE (categoria A do Passo 0). Motivo: \"pessoa em destaque / rosto visível\".\n- NÃO é fotografia real: logo, ícone, ilustração, desenho, pintura digital, render 3D, arte gráfica, cartaz, flyer, banner, peça publicitária, print de tela (screenshot), mapa, ou imagem gerada/desenhada/montada por computador. Arte gráfica elimina mesmo que seja bonita e bem feita.\n- É um PRINT de app/rede social: interface, barra de status, ícones de sistema (bateria, wifi, hora) ou UI de Instagram/WhatsApp/Google Maps, mesmo que haja foto real dentro do print.\n- É majoritariamente TEXTO: cardápio, tabela de preços, horário, ou imagem em que o texto cobre a maior parte do quadro.\n- É COLAGEM/MONTAGEM: várias fotos em grade, painéis ou faixas numa única imagem.\n- Tem tarja preta larga, moldura decorativa ou bordas artificiais ocupando parte relevante do quadro.\n- Tem marca d'água invasiva, logo de terceiros dominante ou texto promocional cobrindo a imagem.\n- É tecnicamente imprestável: muito borrada, escura demais ou estourada a ponto de não dar pra distinguir o que é.\n\nSe NENHUMA condição se aplicar, vá para o PASSO 2.\n\n==================================================\nPASSO 2 — NOTA DE QUALIDADE (0.0 a 10.0)\n==================================================\n\nSó execute se a imagem sobreviveu aos passos 0 e 1. NÃO escolha uma nota redonda primeiro. Avalie as quatro dimensões SEPARADAMENTE, atribua valores conforme a EVIDÊNCIA visual, e SOME.\n\n- NITIDEZ / FOCO (0.0 a 3.0)\n- ILUMINAÇÃO (0.0 a 2.5)\n- ENQUADRAMENTO / COMPOSIÇÃO (0.0 a 2.5)\n- CLAREZA DO ASSUNTO / APELO (0.0 a 2.0)\n\nREGRA DECIMAL OBRIGATÓRIA: para CADA dimensão, escolha um valor com decimal \"quebrada\" que reflita exatamente aquela foto (ex.: 2.7, 1.8, 2.2, 1.3). NÃO use máximos redondos (3.0, 2.5, 2.0) nem meios redondos (1.5) salvo em casos extremos e inquestionáveis. É esperado que quase nenhuma sub-nota seja redonda.\n\nSome as quatro para a nota base. A maioria das fotos boas soma entre 6.5 e 8.0; passar de 9.0 exige as quatro dimensões quase no máximo.\n\nTETO: se é close extremo de um único prato/bebida sem contexto do ambiente, OU tem filtro/saturação artificial muito evidente, a nota não passa de 6.5.\n\n==================================================\nPASSO 3 — PEQUENO BÔNUS DE CAPA\n==================================================\n\nSome +0.7 SOMENTE se TODAS forem verdadeiras: (a) mostra com clareza a FACHADA do estabelecimento — vista externa com entrada, letreiro ou estrutura reconhecível; (b) você tem CERTEZA de que é a vista externa, sem inferir; (c) a nota base do PASSO 2 já é ≥ 5.0. Faltando qualquer uma, não some nada. A nota final nunca passa de 10.0. O bônus nunca se aplica se houve eliminação.\n\nArredonde a nota final para UMA casa decimal.\n\n==================================================\nFORMATO DA RESPOSTA\n==================================================\n\nResponda SÓ com este objeto JSON, sem nada antes nem depois, sem markdown:\n\n{\n\n\"id\": \"<copie exatamente o ID DO ESTABELECIMENTO do topo>\",\n\n\"foto_index\": <copie exatamente o ÍNDICE DA FOTO do topo, como número inteiro>,\n\n\"pessoas\": \"<um de: 'nenhuma' | 'acidental' | 'em destaque'>\",\n\n\"resultado\": \"N.N: justificativa\"\n\n}\n\nRegras do formato, obrigatórias:\n\n- Copie \"id\" e \"foto_index\" EXATAMENTE como vieram no topo. \"foto_index\" é número inteiro, sem aspas.\n- \"pessoas\" registra o resultado do PASSO 0. Se for \"em destaque\", \"resultado\" TEM que começar com 0.0. É proibido \"pessoas\":\"em destaque\" com nota acima de 0.0.\n- \"resultado\" SEMPRE começa com a nota (0.0 a 10.0, UMA casa decimal), seguida de \": \" e a justificativa. Nunca escreva só o número.\n- A justificativa é UMA frase curta (máx ~20 palavras) citando só os fatores DECISIVOS. Quando houver eliminação, nomeie o motivo (ex.: \"0.0: pessoa em destaque / rosto visível.\" ou \"0.0: arte gráfica, não é fotografia.\").\n- NUNCA escreva que NÃO houve eliminação, que não há pessoas, ou qualquer frase sobre o que NÃO aconteceu (exceto o campo \"pessoas\", que é obrigatório).\n- Evite os valores \"ímã\" 7.4, 8.0 e 8.2 como nota final. Se cair neles, reavalie as sub-notas com mais precisão decimal.\n- Nunca escreva \"insuficiente\" nem nada fora do formato. Toda imagem recebe uma nota.",
        "imageUrls": "={{ $json.url_original }}",
        "simplify": false,
        "options": {}
      },
      "id": "7f001c2a-c117-4b77-883b-fe66c3ce618b",
      "name": "Picasso",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1856,
        368
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\nconst fotosPorId = /** @type {Record<string, any[]>} */ ({});\n\nfor (const item of items) {\n  if (item && item.id && item.foto_index !== undefined && !item.eh_inutil && item.nota_capa >= 6) {\n    if (!fotosPorId[item.id]) {\n      fotosPorId[item.id] = [];\n    }\n    fotosPorId[item.id].push(item);\n  }\n}\n\nconst resultados = Object.keys(fotosPorId).map(id => {\n  const fotosDoEstabelecimento = fotosPorId[id];\n  \n  fotosDoEstabelecimento.sort((a, b) => a.foto_index - b.foto_index);\n  \n  return {\n    json: {\n      id: id,\n      fotos_analise: fotosDoEstabelecimento\n    }\n  };\n});\n\nreturn resultados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        256
      ],
      "id": "c73037f8-c2f2-4e0d-90b2-85077d1ba84f",
      "name": "organizer"
    },
    {
      "parameters": {
        "url": "={{ $json.url_original }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        384
      ],
      "id": "c4d2f1a4-ffe4-41bf-b992-666ab3ae0943",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst previousItems = $('Switch').all();\n\nconst vistos = new Set();\n\nreturn inputItems.map((item, index) => {\n  const original = previousItems[index].json;\n\n  // Erro de download/processamento → inútil\n  if (item.json.error) {\n    return {\n      json: {\n        ...original,        // url_original preservada\n        eh_inutil: true\n      }\n    };\n  }\n\n  // Chave SÓ para comparação (não afeta o que sai no fluxo)\n  const chaveComparacao = (original.url_original || '')\n    .split('?')[0]\n    .replace(/=s\\d+-k-no$/, '')\n    .replace(/=s\\d+.*$/, '');\n\n  const ehDuplicata = Boolean(chaveComparacao) && vistos.has(chaveComparacao);\n  if (chaveComparacao && !ehDuplicata) {\n    vistos.add(chaveComparacao);\n  }\n\n  return {\n    json: {\n      ...original,          // url_original sai exatamente como entrou\n      eh_inutil: original.eh_inutil || ehDuplicata\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        384
      ],
      "id": "d924f12c-b8f1-418d-8fab-36bdd8040016",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "43a74f54-74c7-4a59-8c4b-a53157c929dc",
              "leftValue": "={{ $json.eh_inutil }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        384
      ],
      "id": "6a4f98fd-c17a-47b7-9eee-b5286f2d7d72",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2096,
        112
      ],
      "id": "ca698f90-fe76-4f3d-9666-37403eee4a5c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "geral_estabelecimentos_desc",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "go_to_trip",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4896,
        1504
      ],
      "id": "00a45466-b638-4393-82f7-b761cff3038a",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "geral_estabelecimentos_desc",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "go_to_trip",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6336,
        1200
      ],
      "id": "2e8e6c73-7bdc-47a6-84a3-ac5cc113f80a",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Lê o campo existente SEM alterá-lo, e adiciona um campo novo com frases numeradas.\nconst texto = $json.comentarios_formatados || \"\";\n\n// 1) separa cada \"Comentário N: ...\" preservando o número original\nconst blocos = texto\n  .split(/\\n\\s*\\n/)            // comentários são separados por linha em branco\n  .map(b => b.trim())\n  .filter(Boolean);\n\nconst linhas = [];\nlet contadorFrase = 0;\n\nfor (const bloco of blocos) {\n  // remove o rótulo \"Comentário N:\" do início, guardando o número\n  const m = bloco.match(/^Coment[áa]rio\\s+(\\d+)\\s*:\\s*([\\s\\S]*)$/i);\n  const numComentario = m ? m[1] : \"?\";\n  const corpo = m ? m[2] : bloco;\n\n  // 2) quebra o corpo em frases (fim de frase ou quebra de linha)\n  const frases = corpo\n    .split(/(?<=[.!?])\\s+|\\n+/)\n    .map(f => f.trim())\n    .filter(f => f.length > 0);\n\n  // se o comentário não tiver pontuação, ele inteiro vira uma \"frase\"\n  const lista = frases.length ? frases : [corpo.trim()].filter(Boolean);\n\n  for (const f of lista) {\n    contadorFrase++;\n    // formato: \"F12 (C10): frase isolada\"\n    linhas.push(`F${contadorFrase} (C${numComentario}): ${f}`);\n  }\n}\n\n// adiciona o campo novo, mantém todo o resto do item intacto\n$json.comentarios_frases = linhas.join(\"\\n\");\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1184
      ],
      "id": "83eaea58-c2f4-4a54-be8a-9957bbf9b646",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "// Limpa a saída dos agentes mas MANTÉM cada campo de review como STRING JSON,\n// e MANTÉM os itens separados (é o que o Organizer espera receber).\n// Só desembrulha {action,text} e normaliza, sem mudar a estrutura.\n// Detecta automaticamente qualquer campo \"*_review\" + \"summary\", então\n// funciona em qualquer fluxo (service, food, fun, beauty, etc.).\n\nfunction ehCampoReview(chave) {\n  return chave === \"summary\" || chave.endsWith(\"_review\");\n}\n\nfunction limpaParaString(valor) {\n  if (valor == null) return valor;\n  let obj = (typeof valor === \"object\") ? valor : null;\n  if (obj === null && typeof valor === \"string\") {\n    try { obj = JSON.parse(valor.trim()); } catch (e) { return valor; } // não parseou: devolve como veio\n  }\n  if (!obj) return valor;\n  // desembrulha {action:\"parse\", text:\"{...}\"}\n  if (obj.text && (obj.action || obj.resultado === undefined)) {\n    try {\n      const inner = JSON.parse(obj.text);\n      if (inner && (inner.resultado !== undefined || inner.id !== undefined)) obj = inner;\n    } catch (e) {}\n  }\n  // re-serializa como string JSON limpa { id, resultado }\n  return JSON.stringify({\n    id: obj.id ?? null,\n    resultado: obj.resultado ?? null\n  });\n}\n\nconst out = [];\nfor (const item of $input.all()) {\n  const novo = { ...item.json };\n  for (const campo of Object.keys(novo)) {\n    if (ehCampoReview(campo) && novo[campo] !== undefined) {\n      novo[campo] = limpaParaString(novo[campo]);\n    }\n  }\n  out.push({ json: novo });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        1200
      ],
      "id": "ad8e20bd-9278-4cd8-b0fb-06ead5ff2444",
      "name": "Code in JavaScript5"
    }
  ],
  "connections": {
    "Price to value review1": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Space review1": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "service_review1": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 1
          },
          {
            "node": "Fotos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge9": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fun_review": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model32": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Space review1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Price to value review1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "service_review1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "fun_review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summary": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Organizer1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge10": {
      "main": [
        [
          {
            "node": "Organizer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizer2": {
      "main": [
        [
          {
            "node": "média",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Organizer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "média": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "organizer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "organizer1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image split": {
      "main": [
        [
          {
            "node": "STORAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image organizer": {
      "main": [
        [
          {
            "node": "image split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STORAGE": {
      "main": [
        [
          {
            "node": "Organizador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizador": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "image organizer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fotos": {
      "main": [
        [
          {
            "node": "Fotos organizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fotos organizer": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Automatic rejection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Indexer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indexer": {
      "main": [
        [
          {
            "node": "organizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automatic rejection": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Picasso": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Picasso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Automatic rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "organizer": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "id": "3412f580-555a-4a7c-ae0f-b230e218d53d",
          "nome": "Cervejaria LBS - Centro",
          "subsegmento": "Bar",
          "endereco": "Cervejaria LBS - Centro - Governador Lindemberg, 1289 - Centro - Colina, Linhares - ES, 29901-627, Brazil",
          "bairro": "Colina",
          "cep": "29901-627",
          "cidade": "Linhares",
          "estado": "ES",
          "telefone": null,
          "website": null,
          "nota": 4.6,
          "qtd_avaliacoes": 31,
          "distribuicao_notas": [
            1,
            1,
            1,
            2,
            26
          ],
          "status": "ativo",
          "horarios": {
            "Friday": "5–11 PM",
            "Monday": "5–11 PM",
            "Sunday": "Closed",
            "Tuesday": "5–11 PM",
            "Saturday": "Closed",
            "Thursday": "5–11 PM",
            "Wednesday": "5–11 PM"
          },
          "faixa_preco": "R$20–120",
          "qtd_fotos": 10,
          "fotos": [
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAFTPxM4IwLTbCrQaWTLr6TPFxqdH0akLnRFq8U9TxQZRq-ufS1aK3-aJIGS9LUjS9eFVzrDXCl1t5sBsrh4qESpu7AWy6MdXVMe8_PZ5FJFRv8qQPQlZAqTXOhaJdgHOfmYkmr3sA=s800-k-no",
              "description": "All"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAHeJEGUtcRptrbFVHvOwcLg5DSaIN12BrpN00A0XZod2mMeKLYvOgoiUQIU7rxLZEpFXUgqvVtVwsyTu4gM4iXwSKq9ShLCB060cpd1BF6gMdrgLjjuJM1cvw9fsz5Hq1mN8UCD=s800-k-no",
              "description": "Menu"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAGqElapSW4GwGAumTRT33ep8sxIpd3l5zBXRRr1bLszM6-XoWtso-NL54hw3M5qhHpGFhtJnNmVBRUC1Icf2Gm_4WyYrdfaKbOOsz_WcOGtH1znJTLk6HM4OrSMFBYhrS-Pw0_yGfnIn3Cf=s800-k-no",
              "description": "Videos"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAHojjj40DbSM_T--AZ-k8rPtu9mQ5_L3ZvHLqLqn7ZlhSukkgym7MJS8EYncxO8NddQYnRYQ259kuHzphlUwGklYIj0AAXyJDQdfooYtLfL8EM8QkNxC3BE9NdZBOe5aPYfpke4ItQbLzZY=s800-k-no",
              "description": "Food & drink"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAGtWocMPT0AXamsCkPZUXLQxT8-C9DsQWAwdSc1tnq4Vojb2xteFkHdcg4SQBxFgcUqMjrBQphqBYdv4PfBs_ZFSfQZK-AxF3AvU3FlNCYJpNStQkTKb4bzT62Usvuzo8mWKe2N6VBe_1EU=s800-k-no",
              "description": "Vibe"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAFCcrLXonWRcsrM1-ZCHtaXje3QEt-LSC7PeXKQO7lCdB-Iq2N0s7WsUPtMShtdk184a_4yVgSH67gROtmIhUo8fLKjXnuxWKhVkWoMu9Ykj_xoqZHgCVJWa0a_m0edskXVdvNf2w=s800-k-no",
              "description": "By owner"
            },
            {
              "url": "https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=JMYT28dwk7G6bB17Jw14pA&cb_client=maps_sv.tactile.gps&w=800&h=800&yaw=239.50992&pitch=0&thumbfov=100",
              "description": "Street View & 360°"
            },
            {
              "url": "https://lh3.googleusercontent.com/grass-cs/ANxoTn3CTwaYO4pyV63CRaMbaimRFdk7ehlQLKzNkgcOQ4l-z5H3MCY2fgQvOMBWatz5WBzjVFSZFQ85nXh1OcKgH9YYVPh9v2Pq-4TJ6Jg6Uph_A5Dy-H_iKvw0ZiXrMvcoZy3XEMb3Sqee86V8=s800-k-no",
              "description": "review"
            },
            {
              "url": "https://lh3.googleusercontent.com/grass-cs/ANxoTn0I8Sy-SNjpblgbNS8nbkqZP5rV4esZZi_pvF05F5MpBREtsmKTCUOuyhCcR2F-OXbh1p2rW1BA8lFz3NQEGiTEB3_4mtcDWV2yXg99BEqqG3YIDd5vwrpLHS5i3GTD4qgtTaz4wg=s800-k-no",
              "description": "review"
            },
            {
              "url": "https://lh3.googleusercontent.com/grass-cs/ANxoTn3yojaF8KB6n-BGt8LFGmMfTeeRwzbns9MzYpFSbft5cx4cByY_3mRUthcXRem1nm_N-O2VqRvGXItVxJQdYiYcmjNo3N67Us-OBSMo7l455gCysqZVLlLqGvVqE4bk4JI1BME=s800-k-no",
              "description": "review"
            }
          ],
          "resumo": null,
          "acessibilidade": "Wheelchair accessible entrance",
          "email": null,
          "telefone_extra": null,
          "instagram": null,
          "facebook": null,
          "link_google_maps": "https://www.google.com/maps/place/data=!3m1!4b1!4m2!3m1!1s0xb6252b7dc86573:0x5e8ad6ca7f71f529",
          "google_id": "0xb6252b7dc86573:0x5e8ad6ca7f71f529",
          "place_id": "ChIJc2XIfSsltgARKfVxf8rWil4",
          "verificado": "true",
          "timezone": "America/Sao_Paulo",
          "created_at": "2026-06-22T19:12:13.198516+00:00",
          "atualizacoes": null,
          "reviews": [
            {
              "iso_date": "2026-04-22 07:49:33",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT2xabk5FazNMWE5NWmtoVlp6RmFVbWxJUjJOelJtYxAB",
              "user_link": "https://www.google.com/maps/contrib/110858228295840048924?hl=en-GB",
              "user_name": "Jean Bezerra",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT2xabk5FazNMWE5NWmtoVlp6RmFVbWxJUjJOelJtYxAB!2m1!1s0x0:0x5e8ad6ca7f71f529!3m1!1s2@1:CAIQACodChtycF9oOlZnNEk3LXNMZkhVZzFaUmlIR2NzRmc%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": null,
              "review_time": "2 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjViNcBG8hSWNzKWLsvziPfiquD-Utu_CW6ndiaqBvDiw9P4czp5JQ=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP72GJL1ZAA__EhCjNjASfzjFoscMGDIAAAAAGgn9-xUCYkvVkAAYACIA:1",
              "review_photos": [],
              "review_services": {
                "Food": 5,
                "Service": 5,
                "Atmosphere": 5
              },
              "review_timestamp": 1776844173311840,
              "user_total_photos": 6,
              "iso_date_timestamp": 1776844173311840,
              "user_total_reviews": 65,
              "iso_date_of_last_edit": "2026-04-22 07:49:33",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1776844173311840
            },
            {
              "iso_date": "2025-10-11 14:03:19",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT2twcGNGaGFNMlJIVjJoVVp6bG9UVkV3Y21sMGVGRRAB",
              "user_link": "https://www.google.com/maps/contrib/100246610329788707349?hl=en-GB",
              "user_name": "gercinio feltz",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT2twcGNGaGFNMlJIVjJoVVp6bG9UVkV3Y21sMGVGRRAB!2m1!1s0x0:0x5e8ad6ca7f71f529!3m1!1s2@1:CAIQACodChtycF9oOkppcFhaM2RHV2hUZzloTVEwcml0eFE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": null,
              "review_time": "8 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocKXm5--inasUDRkR1FpVauOfwM7S4Lm--GwlqEFW_g_GCxmiGpc=s120-c-rp-mo-br100",
              "review_cursor": "CjEIARIpCgoAP72GYsarv7__EhAyBGATvxG2aWSyrasAAAAAGgn9_bgCZixqu_sYACIA:2",
              "review_photos": [],
              "review_services": {
                "Food": 5,
                "Service": 5,
                "Atmosphere": 5
              },
              "review_timestamp": 1760191398916712,
              "user_total_photos": 1,
              "iso_date_timestamp": 1760191398916712,
              "user_total_reviews": 4,
              "iso_date_of_last_edit": "2025-10-11 14:03:19",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1760191398916712
            },
            {
              "iso_date": "2025-09-09 21:01:19",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT2xaMFJGcHVjR2RmVGtneGJsRXhaakZWU1dwME5VRRAB",
              "user_link": "https://www.google.com/maps/contrib/102059071880789542346?hl=en-GB",
              "user_name": "Calibre de Rosas Cover Brazil",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT2xaMFJGcHVjR2RmVGtneGJsRXhaakZWU1dwME5VRRAB!2m1!1s0x0:0x5e8ad6ca7f71f529!3m1!1s2@1:CAIQACodChtycF9oOlZ0RFpucGdfTkgxblExZjFVSWp0NUE%7C%7C?hl=en",
              "review_rate": 4,
              "review_text": null,
              "review_time": "9 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjX8C-XCBhQOlK7Lj5H4V-SEOY_uBPp8HySNqJ5jjmaulCchLQG7=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP72GbPt4r5__EhDhvmk_rZHu3EjZVeQAAAAAGgn9_cMCZs-3ivkYACIA:3",
              "review_photos": [],
              "review_services": {
                "Food": 5,
                "Service": 5,
                "Atmosphere": 5
              },
              "review_timestamp": 1757451678982164,
              "user_total_photos": 10,
              "iso_date_timestamp": 1757451678982164,
              "user_total_reviews": 2,
              "iso_date_of_last_edit": "2025-09-09 21:01:19",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1757451678982164
            },
            {
              "iso_date": "2025-08-14 20:58:23",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT25kbk9FdGtNVEpVUXpKQ2FuSk5Sak5TVERJNFEzYxAB",
              "user_link": "https://www.google.com/maps/contrib/112101125175805443942?hl=en-GB",
              "user_name": "Wellington Almeida",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT25kbk9FdGtNVEpVUXpKQ2FuSk5Sak5TVERJNFEzYxAB!2m1!1s0x0:0x5e8ad6ca7f71f529!3m1!1s2@1:CAIQACodChtycF9oOndnOEtkMTJUQzJCanJNRjNSTDI4Q3c%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": null,
              "review_time": "10 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjWO05BtJN3DHDxsUe3RvkaUKPn7Of97Jchcep5kR_ockVdvadL7=s120-c-rp-mo-br100",
              "review_cursor": "Ci8IARInCgoAP72GdVn5FZ__EhCJACPx4BX3K5ie3ZoAAAAAGgf_AmdVn5FZGAAiAA:4",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1755205103270961,
              "user_total_photos": 0,
              "iso_date_timestamp": 1755205103270961,
              "user_total_reviews": 0,
              "iso_date_of_last_edit": "2025-08-14 20:58:23",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1755205103270961
            },
            {
              "iso_date": "2025-08-06 16:57:31",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT2xWalkzVlRSVVY2U1RsNFFuSXlWak42ZEZNMFUwRRAB",
              "user_link": "https://www.google.com/maps/contrib/112456392688775456683?hl=en-GB",
              "user_name": "Wellington Santana",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT2xWalkzVlRSVVY2U1RsNFFuSXlWak42ZEZNMFUwRRAB!2m1!1s0x0:0x5e8ad6ca7f71f529!3m1!1s2@1:CAIQACodChtycF9oOlVjY3VTRUV6STl4QnIyVjN6dFM0U0E%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": null,
              "review_time": "10 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocKI3TWrNW0XOXhkZ_1zJOUQCX1IfLiokphnOJAODsfqTLWIbg=s120-c-rp-mo-br100",
              "review_cursor": "Ci8IARInCgoAP72Gd_rvaf__EhBkNVj11NSTI0V2gdYAAAAAGgf_Amd_rvafGAAiAA:5",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1754499451232988,
              "user_total_photos": 2,
              "iso_date_timestamp": 1754499451232988,
              "user_total_reviews": 1,
              "iso_date_of_last_edit": "2025-08-06 16:57:31",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1754499451232988
            },
            {
              "iso_date": "2025-06-24 22:03:42",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT21aV2FIRkNZWFJGVERFeVFtUTNhek5EWkVwcGFVRRAB",
              "user_link": "https://www.google.com/maps/contrib/117852556869697638136?hl=en-GB",
              "user_name": "Luiz Gomes fotógrafo Google Street view",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT21aV2FIRkNZWFJGVERFeVFtUTNhek5EWkVwcGFVRRAB!2m1!1s0x0:0x5e8ad6ca7f71f529!3m1!1s2@1:CAIQACodChtycF9oOmZWaHFCYXRFTDEyQmQ3azNDZEppaUE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Excelente",
              "review_time": "11 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjXB7HQBnC8Mrj3XNgR6xLhkLfjMqeu0OsNV01eo-cGkuaHqj0L5=s120-c-rp-mo-ba12-br100",
              "owner_answer": {
                "date": "11 months ago",
                "text": {
                  "en": "Thank you for the feedback! 🙏🏼",
                  "pt": "Obrigado pelo feedback! 🙏🏼"
                }
              },
              "review_cursor": "CjEIARIpCgoAP72GhcCBr-__EhAG0-lf62dyRsXNWfMAAAAAGgn96nMCaFwIGv4YACIA:6",
              "review_photos": [],
              "review_services": {
                "Food": 5,
                "Service": 5,
                "Atmosphere": 5
              },
              "review_timestamp": 1750802621697277,
              "user_total_photos": 15187,
              "iso_date_timestamp": 1750802621697277,
              "user_total_reviews": 639,
              "iso_date_of_last_edit": "2025-06-24 22:03:42",
              "business_response_text": "Obrigado pelo feedback! 🙏🏼",
              "iso_date_of_last_edit_timestamp": 1750802621697277
            },
            {
              "iso_date": "2025-06-22 10:43:23",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT204eFdWRkJiREZrUzNwYU5rOVJYMUl5YlROZmJrRRAB",
              "user_link": "https://www.google.com/maps/contrib/106585207440263878904?hl=en-GB",
              "user_name": "Wanderson Santos",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT204eFdWRkJiREZrUzNwYU5rOVJYMUl5YlROZmJrRRAB!2m1!1s0x0:0x5e8ad6ca7f71f529!3m1!1s2@1:CAIQACodChtycF9oOm8xWVFBbDFkS3paNk9RX1IybTNfbkE%7C%7C?hl=en",
              "review_rate": 2,
              "review_text": "A festa foi muito divulgada e esperava ser bem animada, fui de São Mateus até lá pela festa e ela foi bem mais ou menos.",
              "review_time": "a year ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjV_RX3RrWmKO4_ZvzUwQGVS5DqGX_LujnBEl-zlW-cDBETWbqV80Q=s120-c-rp-mo-ba12-br100",
              "owner_answer": {
                "date": "a year ago",
                "text": {
                  "en": "Hi Wanderson! Yesterday's event was organized by a third party, as our space was rented for that purpose. We're very sorry it wasn't what you expected.",
                  "pt": "Olá, Wanderson! O evento de ontem foi organizado por terceiros, pois nosso espaço foi locado para esse fim. Sentimos muito por não ter sido como você imaginava. "
                }
              },
              "review_cursor": "CjEIARIpCgoAP72Ghow6tK__EhAIhz0-BmbKwVE15xcAAAAAGgn92SwCaGjDq0oYACIA:7",
              "review_photos": [
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn3CTwaYO4pyV63CRaMbaimRFdk7ehlQLKzNkgcOQ4l-z5H3MCY2fgQvOMBWatz5WBzjVFSZFQ85nXh1OcKgH9YYVPh9v2Pq-4TJ6Jg6Uph_A5Dy-H_iKvw0ZiXrMvcoZy3XEMb3Sqee86V8=k-no"
              ],
              "review_services": {
                "Food": 4,
                "Service": 4,
                "Atmosphere": 2,
                "Price per person": "R$40–60"
              },
              "review_timestamp": 1750589002933165,
              "user_total_photos": 8,
              "iso_date_timestamp": 1750589002933165,
              "user_total_reviews": 46,
              "iso_date_of_last_edit": "2025-06-22 10:43:23",
              "business_response_text": "Olá, Wanderson! O evento de ontem foi organizado por terceiros, pois nosso espaço foi locado para esse fim. Sentimos muito por não ter sido como você imaginava. ",
              "iso_date_of_last_edit_timestamp": 1750589002933165
            },
            {
              "iso_date": "2025-03-16 12:29:16",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnTUN3MkpMRjZRRRAB",
              "user_link": "https://www.google.com/maps/contrib/115817233685687266738?hl=en-GB",
              "user_name": "Alex Schultz",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnTUN3MkpMRjZRRRAB!2m1!1s0x0:0x5e8ad6ca7f71f529!3m1!1s2@1:CIHM0ogKEICAgMCw2JLF6QE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "O lugar é ótimo.",
              "review_time": "a year ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjXwHb-cc-NkjcMDD2lN8gyct7obnpQwCb-dy8G6fAhswxGaPaSHEw=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP72GphEfND__EhBEVfHxhjgXIQgo3p0AAAAAGgn97GQCamER80MYACIA:8",
              "review_photos": [],
              "review_services": {
                "Food": 5,
                "Service": 5,
                "Atmosphere": 5,
                "Parking space": "Plenty of parking",
                "Parking options": "Free of charge street parking, Paid street parking",
                "Price per person": "R$100–120"
              },
              "review_timestamp": 1742128155836487,
              "user_total_photos": 1121,
              "iso_date_timestamp": 1742128155836487,
              "user_total_reviews": 579,
              "iso_date_of_last_edit": "2025-03-16 12:29:16",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1742128155836487
            },
            {
              "iso_date": "2025-03-16 11:25:38",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnTUN3bUp6MWNREAE",
              "user_link": "https://www.google.com/maps/contrib/103154952524339655913?hl=en-GB",
              "user_name": "Malacarne Informatica (Juliano Malacarne Bravim)",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnTUN3bUp6MWNREAE!2m1!1s0x0:0x5e8ad6ca7f71f529!3m1!1s2@1:CIHM0ogKEICAgMCwmJz1cQ%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Lugar muito bom",
              "review_time": "a year ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjV_4UtTq3NqQ4wnnvlR1sfeFualjYQJa_DhoEhHe5LiFWp5ZY0zYA=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP72GphTDYs__EhCDbwMJMNHEIK3oq10AAAAAGgn93r4CamFMNiwYACIA:9",
              "review_photos": [
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn0I8Sy-SNjpblgbNS8nbkqZP5rV4esZZi_pvF05F5MpBREtsmKTCUOuyhCcR2F-OXbh1p2rW1BA8lFz3NQEGiTEB3_4mtcDWV2yXg99BEqqG3YIDd5vwrpLHS5i3GTD4qgtTaz4wg=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn3yojaF8KB6n-BGt8LFGmMfTeeRwzbns9MzYpFSbft5cx4cByY_3mRUthcXRem1nm_N-O2VqRvGXItVxJQdYiYcmjNo3N67Us-OBSMo7l455gCysqZVLlLqGvVqE4bk4JI1BME=k-no"
              ],
              "review_services": {
                "Food": 5,
                "Service": 5,
                "Wait time": "No wait",
                "Atmosphere": 5,
                "Group size": "Suitable for all group sizes"
              },
              "review_timestamp": 1742124337619867,
              "user_total_photos": 59,
              "iso_date_timestamp": 1742124337619867,
              "user_total_reviews": 34,
              "iso_date_of_last_edit": "2025-03-16 11:25:38",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1742124337619867
            },
            {
              "iso_date": "2025-03-12 15:43:49",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnTURRbFlDQl93RRAB",
              "user_link": "https://www.google.com/maps/contrib/112351210214389536270?hl=en-GB",
              "user_name": "Bizarrell Trigger Finger",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnTURRbFlDQl93RRAB!2m1!1s0x0:0x5e8ad6ca7f71f529!3m1!1s2@1:CIHM0ogKEICAgMDQlYCB_wE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": null,
              "review_time": "a year ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjVoX3fQDdaWT2VL2Jzk245xazheg839piVfnnuQ9XhvGCTtWgV6=s120-c-rp-mo-br100",
              "review_cursor": "CjEIARIpCgoAP72Gp0-UVE__EhDXqJzNs6F0me-MOjIAAAAAGgn9_eQCanT5RUQYACIA:10",
              "review_photos": [],
              "review_services": {
                "Food": 5,
                "Service": 5,
                "Atmosphere": 5,
                "Price per person": "R$100–120"
              },
              "review_timestamp": 1741794228923910,
              "user_total_photos": 0,
              "iso_date_timestamp": 1741794228923910,
              "user_total_reviews": 2,
              "iso_date_of_last_edit": "2025-03-12 15:43:49",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1741794228923910
            }
          ],
          "Segmento": null,
          "details_google": null,
          "crated_at": "2026-06-22T19:12:13.198516+00:00",
          "nr_latitude": -19.3973782,
          "nr_longitude": -40.0699573,
          "pais": "Brasil",
          "go_to_trip": false,
          "categoria_principal": "Entretenimento e lazer",
          "categorias": [
            "Entretenimento e lazer"
          ],
          "subtipos_normalizados": [
            "Bar"
          ],
          "subtipos_pt": [
            "Bar"
          ],
          "subtipos_pt_str": "Bar",
          "comentarios_formatados": "Comentário 1: Excelente\n\nComentário 2: A festa foi muito divulgada e esperava ser bem animada, fui de São Mateus até lá pela festa e ela foi bem mais ou menos.\n\nComentário 3: O lugar é ótimo.\n\nComentário 4: Lugar muito bom",
          "qtd_comentarios_reais": 4,
          "metadados": {
            "subtipos": null,
            "bairro": "Colina",
            "cidade": "Linhares",
            "estado": "ES",
            "endereco": "Cervejaria LBS - Centro - Governador Lindemberg, 1289 - Centro - Colina, Linhares - ES, 29901-627, Brazil",
            "faixa_preco": "R$20–120",
            "status": "ativo",
            "nota_google": 4.6,
            "qtd_avaliacoes": 31,
            "distribuicao_notas": [
              1,
              1,
              1,
              2,
              26
            ]
          },
          "status_global": "✅ Aprovado — 8/10 categorias aprovadas sem reprovações",
          "status_codigo": "aprovado",
          "motivo_status": "8/10 categorias aprovadas sem reprovações",
          "processar_qualitativo": true,
          "regras_hard_violadas": [],
          "leitura_rapida": "4.65 ★ (IC 95%: 4.0449–4.8827, n=31, confiança média)",
          "score_composto_estatistico": 6.22,
          "score_categorias_ponderado": 8.11,
          "classificacao": "🟡 Bom",
          "confianca_nivel": "média",
          "proxima_acao": "Aceitável — verificar pontos de ressalva antes",
          "tags": [
            "consenso-positivo",
            "muito-positivo",
            "NPS-alto"
          ],
          "highlights": [
            "✅ Aprovado — 8/10 categorias aprovadas sem reprovações — 8/10 categorias aprovadas (score categorias 8.11/10)",
            "✚ Mais forte: Ausência de Red Flags (score 10, aprovado)",
            "✗ Mais fraco: Dispersão / Consenso (score 5.33, aprovado)"
          ],
          "resumo_categorias": {
            "status_global": "✅ Aprovado — 8/10 categorias aprovadas sem reprovações",
            "status_base": "✅ Aprovado",
            "status_codigo": "aprovado",
            "motivo_status": "8/10 categorias aprovadas sem reprovações",
            "processar_qualitativo": true,
            "regras_hard_violadas": [],
            "aprovadas": 8,
            "reprovadas": 0,
            "neutras": 2,
            "total_categorias": 10,
            "score_categorias_ponderado": 8.11,
            "confiabilidade_media_pct": 70.3,
            "leitura_rapida": "8/10 aprovadas — score categorias 8.11/10 (confiabilidade 70.3%)"
          },
          "cat_tendencia": {
            "nome": "Tendência Central",
            "status": "aprovado",
            "score": 9.11,
            "confiabilidade_pct": 75,
            "criterio": "Aprovado: média ≥ 3.5★. Reprovado: < 3.0★.",
            "valor_observado": "média=4.65, truncada=4.92",
            "observacao": "Média de 4.65★ com consistência boa (|Δ truncada|=0.28)"
          },
          "cat_dispersao": {
            "nome": "Dispersão / Consenso",
            "status": "aprovado",
            "score": 5.33,
            "confiabilidade_pct": 71.5,
            "criterio": "Aprovado: σ < 1.2★. Reprovado: σ ≥ 1.7★.",
            "valor_observado": "σ=0.93, CV=0.201, entropia_norm=0.408",
            "observacao": "Desvio de 0.93★ — forte consenso"
          },
          "cat_inferencia": {
            "nome": "Precisão da Estimativa",
            "status": "neutro",
            "score": 7.91,
            "confiabilidade_pct": 68.4,
            "criterio": "Aprovado: amplitude IC95% Wilson < 0.8★. Reprovado: ≥ 1.5★.",
            "valor_observado": "IC95% Wilson=[4.0449, 4.8827], amplitude=0.8379",
            "observacao": "Margem de incerteza de ±0.42★ — incerteza moderada"
          },
          "cat_sentimento": {
            "nome": "Sentimento",
            "status": "aprovado",
            "score": 9.03,
            "confiabilidade_pct": 75,
            "criterio": "Aprovado: ≥65% positivas E ≤25% negativas. Reprovado: <45% positivas OU >40% negativas.",
            "valor_observado": "pos=90.32%, neu=3.23%, neg=6.45%, NPS=77.42",
            "observacao": "90.32% positivas vs. 6.45% negativas; NPS adaptado de 77.42 (muito bom)"
          },
          "cat_forma": {
            "nome": "Forma da Distribuição",
            "status": "aprovado",
            "score": 9.5,
            "confiabilidade_pct": 75,
            "criterio": "Aprovado: J invertido / concentrado-positivo / predominantemente positivo. Reprovado: polarizado / negativo.",
            "valor_observado": "formato=\"concentrado em 5★\", índice_polarização=0.2185",
            "observacao": "Consenso forte positivo"
          },
          "cat_temporal": {
            "nome": "Estabilidade Temporal",
            "status": "aprovado",
            "score": 7.34,
            "confiabilidade_pct": 70,
            "criterio": "Aprovado: sem queda + última < 180d. Reprovado: queda clara OU > 365d sem reviews.",
            "valor_observado": "slope=0.1063★/ano, Δ metades=0.4, últimos=61.5d, amostra=10",
            "observacao": "Tendência: leve melhora. Última review há 62 dias."
          },
          "cat_credibilidade": {
            "nome": "Credibilidade dos Avaliadores",
            "status": "aprovado",
            "score": 8.3,
            "confiabilidade_pct": 70,
            "criterio": "Aprovado: ≤50% novatos E |Δ exp vs nov| < 1.0. Reprovado: >60% novatos OU |Δ| > 1.5.",
            "valor_observado": "novatos=40%, experientes=50%, Δ=-0.35★, amostra=10",
            "observacao": "40% novatos; Δ exp vs nov=-0.35★"
          },
          "cat_engajamento": {
            "nome": "Engajamento do Proprietário",
            "status": "aprovado",
            "score": 7.6,
            "confiabilidade_pct": 70,
            "criterio": "Aprovado: engajado=true OU responde ≥40% das negativas. Reprovado: <15% geral.",
            "valor_observado": "resp_geral=20%, resp_neg=100%, engajado=false",
            "observacao": "Dono responde 20% em geral e 100% das negativas"
          },
          "cat_red_flags": {
            "nome": "Ausência de Red Flags",
            "status": "aprovado",
            "score": 10,
            "confiabilidade_pct": 75,
            "criterio": "Aprovado: 0 altas E ≤1 média. Reprovado: ≥2 altas OU ≥4 médias.",
            "valor_observado": "altas=0, médias=0, baixas=0",
            "observacao": "Nenhum alerta detectado"
          },
          "cat_veredicto": {
            "nome": "Veredicto Global",
            "status": "neutro",
            "score": 6.22,
            "confiabilidade_pct": 53.3,
            "criterio": "Aprovado: score ≥ 7.0. Reprovado: < 4.0.",
            "valor_observado": "classificação=\"🟡 Bom\", score=6.22, confiança=\"média\"",
            "observacao": "Nota média de 4.65 estrelas, baseada em 31 avaliações (confiança média). IC 95% Wilson: [4.0449, 4.8827]. Distribuição: concentrado em 5★. Tendência temporal: leve melhora."
          },
          "analise": {
            "veredicto": {
              "classificacao": "🟡 Bom",
              "score_final": 6.22,
              "texto": "Nota média de 4.65 estrelas, baseada em 31 avaliações (confiança média). IC 95% Wilson: [4.0449, 4.8827]. Distribuição: concentrado em 5★. Tendência temporal: leve melhora.",
              "recomendacao": "Sem alertas relevantes — pode visitar com confiança"
            },
            "leitura_rapida": "4.65 ★ (IC 95%: 4.0449–4.8827, n=31, confiança média)",
            "validacao_dados": {
              "nota_google": 4.6,
              "media_calculada": 4.6452,
              "divergencia": -0.0452,
              "interpretacao": "consistente"
            },
            "tendencia_central": {
              "media": 4.6452,
              "media_truncada_10": 4.9234,
              "media_laplace": 4.2439,
              "mediana": 5,
              "moda": 5,
              "q1": 5,
              "q3": 5,
              "iqr": 0
            },
            "dispersao_forma": {
              "variancia": 0.8741,
              "desvio_padrao": 0.9349,
              "coef_variacao": 0.2013,
              "assimetria": -2.7937,
              "curtose_excesso": 6.8628,
              "entropia_shannon": 0.9474,
              "entropia_normalizada": 0.408
            },
            "inferencia": {
              "normal_95": {
                "inferior": 4.3161,
                "superior": 4.9743,
                "amplitude": 0.6582
              },
              "normal_99": {
                "inferior": 4.2126,
                "superior": 5,
                "amplitude": 0.7874
              },
              "wilson_95": {
                "inferior": 4.0449,
                "superior": 4.8827,
                "amplitude": 0.8379
              },
              "wilson_99": {
                "inferior": 3.7964,
                "superior": 4.9139,
                "amplitude": 1.1175
              },
              "bayes_95": {
                "inferior": 4.0097,
                "superior": 4.9047,
                "amplitude": 0.895
              },
              "bayes_99": {
                "inferior": 3.869,
                "superior": 5,
                "amplitude": 1.131
              },
              "posterior_beta": {
                "alpha": 30.2503,
                "beta": 4.7497,
                "media_posterior_rescalada": 4.4572
              }
            },
            "sentimento": {
              "pct_negativas": 6.45,
              "pct_neutras": 3.23,
              "pct_positivas": 90.32,
              "razao_pos_neg": 14,
              "nps_adaptado": 77.42,
              "top_box": 83.87,
              "top_2_box": 90.32,
              "bottom_box": 3.23,
              "bottom_2_box": 6.45,
              "proporcoes": [
                0.0323,
                0.0323,
                0.0323,
                0.0645,
                0.8387
              ]
            },
            "diagnostico_forma": {
              "formato": "concentrado em 5★",
              "distancia_uniforme": 0.6387,
              "indice_polarizacao": 0.2185
            },
            "temporal": {
              "_aviso": "Métricas baseadas APENAS na amostra de reviews — não na população completa",
              "amostra_size": 10,
              "ultimos_30_dias": null,
              "ultimos_90_dias": {
                "media": 5,
                "n": 1
              },
              "ultimos_180_dias": {
                "media": 5,
                "n": 1
              },
              "ultimos_365_dias": {
                "media": 4.833,
                "n": 6
              },
              "comparacao_metades": {
                "media_metade_antiga": 4.4,
                "media_metade_recente": 4.8,
                "delta": 0.4,
                "direcao": "estável"
              },
              "regressao_linear": {
                "slope_por_dia": 0.000291,
                "slope_estrelas_por_ano": 0.1063,
                "interpretacao": "leve melhora"
              },
              "reviews_por_mes_amostra": 0.74,
              "periodo_coberto_dias": 405.7,
              "media_fim_de_semana": 4.25,
              "media_dias_uteis": 4.833,
              "dias_desde_ultima_review": 61.5
            },
            "credibilidade": {
              "amostra_size": 10,
              "media_user_total_reviews": 137.2,
              "mediana_user_total_reviews": 19,
              "pct_novatos": 40,
              "pct_intermediarios": 10,
              "pct_experientes": 50,
              "media_nota_novatos": 4.75,
              "media_nota_intermediarios": 5,
              "media_nota_experientes": 4.4,
              "diff_experientes_vs_novatos": -0.35,
              "pct_com_foto": 20,
              "pct_com_texto": 40,
              "comprimento_medio_texto": 40
            },
            "textual": {
              "amostra_size": 10,
              "comprimento_medio_positivas": 13.3,
              "comprimento_medio_negativas": 120,
              "top_palavras_positivas": [
                {
                  "palavra": "lugar",
                  "freq": 2
                },
                {
                  "palavra": "excelente",
                  "freq": 1
                },
                {
                  "palavra": "otimo",
                  "freq": 1
                }
              ],
              "top_palavras_negativas": [
                {
                  "palavra": "festa",
                  "freq": 2
                },
                {
                  "palavra": "divulgada",
                  "freq": 1
                },
                {
                  "palavra": "esperava",
                  "freq": 1
                },
                {
                  "palavra": "animada",
                  "freq": 1
                },
                {
                  "palavra": "mateus",
                  "freq": 1
                },
                {
                  "palavra": "menos",
                  "freq": 1
                }
              ],
              "taxa_resposta_geral": 20,
              "taxa_resposta_negativas": 100,
              "taxa_resposta_positivas": 11.11,
              "proprietario_engajado": false
            },
            "confianca": {
              "nivel": "média",
              "peso": 0.6
            },
            "red_flags": []
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "925db022-a9b5-44e3-a0fd-80ddc8a50449",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-03T22:47:41.782Z",
      "createdAt": "2026-06-03T22:47:41.782Z",
      "role": "workflow:owner",
      "workflowId": "wKr9H241uNvuTGOI",
      "projectId": "G6oOhMxSr8k56eQz"
    }
  ],
  "activeVersion": null,
  "tags": []
}