main/natureza_e_aventura.json
{
  "updatedAt": "2026-06-29T23:34:43.778Z",
  "createdAt": "2026-06-03T22:47:55.304Z",
  "id": "aMxaZnciMV3JcYVY",
  "name": "natureza_e_aventura",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "Image analyzer\n",
        "height": 480,
        "width": 1984
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        64
      ],
      "id": "745cbd40-1af9-4280-bec4-3201a11d9ac2",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aeba2f1c-fd65-48c9-a892-f01247ac559e",
              "name": "price_to_value_review",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        1696
      ],
      "id": "1736ea34-aa3a-409f-a0ec-c09e30723b8b",
      "name": "Price to value review2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7990d00-10eb-4ae3-be6c-fbd1e6f5117d",
              "name": "space_review",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        1952
      ],
      "id": "b9c235df-2984-47cc-8aa5-d6dd55832a8e",
      "name": "Space review2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0873695e-b19a-4fe6-b2b8-4d2cf76d61be",
              "name": "service_review",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        1408
      ],
      "id": "86d47ca6-ed0c-413b-a37d-34ebccd559e7",
      "name": "service_review2"
    },
    {
      "parameters": {
        "content": "Qualitative analizer\n\n\n\n\n",
        "height": 1568,
        "width": 2480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        592
      ],
      "id": "2319f2ab-3028-411d-b88d-77274de6412d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ['aprovado','aprovado_ressalvas','parcial'].includes($json.status_codigo) }}",
                    "rightValue": "aprovado",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "74641e61-0305-451b-806a-f768284bf47e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aprovado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4235a134-3f7a-4482-9318-0ad0b76ce2d5",
                    "leftValue": "={{ ['insatisfatorio','reprovado','reprovado_hard','indeterminado'].includes($json.status_codigo) }}",
                    "rightValue": "aprovado",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reprovado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        224,
        1424
      ],
      "id": "33116789-3bce-4b77-87b6-898522727778",
      "name": "Switch7"
    },
    {
      "parameters": {
        "content": "Natureza e aventura.",
        "height": 2192,
        "width": 4032,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        32
      ],
      "id": "757a9279-40d7-4516-9c3e-9192722e2175",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2288,
        1392
      ],
      "id": "65cc84f9-4db5-492c-b7f9-e9bbc73e351b",
      "name": "Merge15"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0873695e-b19a-4fe6-b2b8-4d2cf76d61be",
              "name": "fun_review",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        1136
      ],
      "id": "73059628-b162-408d-aab2-6828778ce1fc",
      "name": "fun_review1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        1440
      ],
      "id": "088137c0-c460-475a-a2ff-c65a2e0923e9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\nNOME DO ESTABELECIMENTO: {{ $json.nome }}\nTIPO: {{ $json.subtipos_pt_str }}\n\nCOMENTÁRIOS A ANALISAR:\n{{ $json.comentarios_frases }}",
        "options": {
          "systemMessage": "Você é um especialista em análise de reviews e descrição de estabelecimentos.\nSua tarefa é analisar TODOS os comentários fornecidos sobre o local \"{nome_estabelecimento}\" (tipo: {subtipos}) e gerar um RESUMO CURTO, NATURAL E ATRATIVO do estabelecimento.\nO objetivo é produzir um texto que descreva rapidamente a experiência principal percebida pelos visitantes, usando apenas informações recorrentes e claramente presentes nos comentários.\nObjetivo do resumo\nO resumo deve:\n\nTransmitir rapidamente o que torna o local interessante\nDestacar os aspectos mais mencionados pelos visitantes\nSoar natural, humano e confiável\nFuncionar como uma descrição curta para perfil, guia ou recomendação\nRefletir a percepção geral dos reviews\n\nO que considerar\nConsidere principalmente:\n\nExperiência principal oferecida pelo local\nAmbiente e atmosfera\nAtrações mais elogiadas\nDiferenciais recorrentes\nSensação transmitida pelos visitantes\nPontos fortes mencionados repetidamente\nPerfil da experiência (tranquila, divertida, familiar, rural, aventureira, acolhedora etc.)\n\nO que EVITAR\nNÃO:\n\nInvente informações\nUse marketing exagerado\nUse frases genéricas vazias\nMencione notas, avaliações ou quantidade de reviews\nCite reclamações isoladas\nTransforme o texto em propaganda artificial\nUse listas, emojis ou hashtags\nUse linguagem robótica\n\nRegras importantes\n\nO resumo deve ser baseado SOMENTE em evidências presentes nos comentários.\nPriorize aspectos recorrentes e consistentes.\nIgnore comentários irrelevantes ou muito isolados.\nSe houver opiniões muito divididas, mantenha a descrição neutra e equilibrada.\nO texto deve parecer escrito por um humano.\nNão use adjetivos extremos sem forte evidência recorrente.\nNão invente atrações, estrutura ou experiências não mencionadas.\n\nFormato de saída (ESTRITAMENTE JSON)\nVocê deve retornar EXCLUSIVAMENTE um objeto JSON válido. Não inclua NENHUM texto antes ou depois do JSON. Não inclua marcações markdown (como ```json).\nA estrutura do JSON deve ser exatamente esta:\n{\n  \"id\": \"Copie aqui exatamente o ID DO ESTABELECIMENTO fornecido\",\n  \"resultado\": \"SEU RESUMO AQUI\"\n}\nRegras ESTRITAS para o campo \"resultado\":\n\nO texto deve ter entre 1 e 3 frases curtas.\nO texto deve possuir no MÁXIMO 320 caracteres.\nNão use aspas, quebras de linha (\\n), listas, emojis ou hashtags dentro do texto.\nSe houver menos de 3 comentários ou evidências insuficientes para criar um resumo confiável, retorne apenas \"77\" neste campo.\nExemplo ideal: \"Fazenda com ambiente tranquilo e contato próximo com animais, muito elogiada por famílias e crianças. O local é reconhecido pela experiência rural acolhedora e pela ótima estrutura para passar o dia na natureza.\"\n\nComentários a analisar\n{lista_de_comentarios}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1360,
        576
      ],
      "id": "c2531510-532c-46ad-8439-51e4a10be7c0",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1360,
        720
      ],
      "id": "e03e8cbf-b129-4755-8c2e-1959fdfe71f8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\nNOME DO ESTABELECIMENTO: {{ $json.nome }}\nTIPO: {{ $json.subtipos_pt_str }}\n\nCOMENTÁRIOS A ANALISAR:\n{{ $json.comentarios_frases }}",
        "options": {
          "systemMessage": "Você avalia reviews de um local de natureza ou turismo ao ar livre e dá nota a UM tema só: BELEZA NATURAL.\nBELEZA NATURAL é o quanto a paisagem e o cenário foram percebidos como bonitos, marcantes e preservados visualmente, ou degradados e visualmente decepcionantes. Popularidade não significa beleza; julgue só o que os comentários expressam sobre o visual do ambiente.\nOs comentários vêm quebrados em frases curtas, uma por linha, no formato \"F<n> (C<n>): texto\". Os rótulos F/C só numeram — ignore-os e julgue o texto, em qualquer idioma, pelo sentido.\nAvalie SOMENTE este ângulo. Uma mesma frase pode também servir a outro tema; isso não é problema seu. Se ela disser algo sobre a beleza, o impacto visual ou a preservação estética do ambiente, conte aqui. Sinais indiretos contam (vista de tirar o fôlego, paradisíaco, água cristalina = positivo; degradado, cheio de lixo, vista prejudicada = negativo).\n\nANTES de decidir a nota, faça internamente uma varredura de TODAS as frases, uma por uma, e marque cada uma como POSITIVA, NEGATIVA ou NÃO FALA deste tema. Só conclua 77 se, após revisar cada linha, NENHUMA frase falar do tema.\n\nPara cada frase, decida: ela fala da beleza/visual do ambiente de forma POSITIVA (bonito, preservado), NEGATIVA (feio, degradado) ou NÃO FALA deste tema?\n- Se NENHUMA frase falar deste tema → a nota é 77.\n- Se houver frases que falam, dê nota 0–10 pelo balanço:\n  só positivas: 8–9 | mais positivas que negativas: 6–7 | misturado: 5 | mais negativas: 3–4 | quase todas negativas: 1–2.\n  Uma única negativa isolada no meio de várias positivas não baixa de 6.\nResponda SÓ com um objeto JSON, sem nada antes nem depois, sem markdown, com exatamente duas chaves: \"id\" e \"resultado\".\nO valor de \"resultado\" tem SEMPRE duas partes: a nota, depois \": \", depois uma justificativa de pelo menos uma frase completa. O \"resultado\" NUNCA pode ser apenas o número — se você escrever a nota, é OBRIGATÓRIO escrever a justificativa logo depois dos dois pontos. Isso vale também para 77.\nSe a nota for 77, a justificativa NÃO pode mencionar nenhuma frase que fale do tema, nem afirmar e negar a existência dessas frases na mesma resposta — seja coerente.\nExemplos de resposta válida (siga este padrão, sempre com a justificativa preenchida):\n{\"id\": \"abc123\", \"resultado\": \"8.0: As frases descrevem uma paisagem deslumbrante e bem preservada, com vista marcante e água cristalina.\"}\n{\"id\": \"abc123\", \"resultado\": \"77: nenhuma frase comentou a beleza ou o visual do ambiente.\"}\nRegras do formato, obrigatórias:\n- Exatamente duas chaves: \"id\" e \"resultado\", ambas com valor em texto entre aspas duplas.\n- \"resultado\" começa com a nota (ex.: \"8.0\") OU com 77, seguido de \": \" e a justificativa.\n- Justificativa de pelo menos uma frase completa. Nunca apenas o número.\n- Se for 77, a justificativa não pode citar nenhuma frase que fale do tema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1376,
        864
      ],
      "id": "dd7c0c58-1e01-4af2-92a6-4f1da0763366",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1376,
        1008
      ],
      "id": "2741b03c-5e80-46ee-a6e4-61cb8a02daf5",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\nNOME DO ESTABELECIMENTO: {{ $json.nome }}\nTIPO: {{ $json.subtipos_pt_str }}\n\nCOMENTÁRIOS A ANALISAR:\n{{ $json.comentarios_frases }}",
        "options": {
          "systemMessage": "Você avalia reviews de um local de natureza ou turismo ao ar livre e dá nota a UM tema só: DIVERSÃO E AVENTURA.\nDIVERSÃO E AVENTURA é o quanto a experiência foi percebida como divertida, envolvente e marcante: animação, engajamento, variedade de atividades, imersão e momentos memoráveis — ou tédio e falta do que fazer. Julgue dentro da proposta do local: lazer tranquilo e passeio em família são diversão legítima; não exija radicalidade onde o contexto não a propõe. \"Calmo\" ou \"bonito\" não significam diversão por si só.\nOs comentários vêm quebrados em frases curtas, uma por linha, no formato \"F<n> (C<n>): texto\". Os rótulos F/C só numeram — ignore-os e julgue o texto, em qualquer idioma, pelo sentido.\nAvalie SOMENTE este ângulo. Uma mesma frase pode também servir a outro tema; isso não é problema seu. Se ela disser algo sobre o quanto foi divertido, envolvente ou marcante, conte aqui. Sinais indiretos contam (muito divertido, inesquecível, todo mundo se divertiu = positivo; sem graça, nada pra fazer, monótono = negativo).\n\nANTES de decidir a nota, faça internamente uma varredura de TODAS as frases, uma por uma, e marque cada uma como POSITIVA, NEGATIVA ou NÃO FALA deste tema. Só conclua 77 se, após revisar cada linha, NENHUMA frase falar do tema.\n\nPara cada frase, decida: ela fala da diversão/experiência de forma POSITIVA (divertido, envolvente), NEGATIVA (sem graça, monótono) ou NÃO FALA deste tema?\n- Se NENHUMA frase falar deste tema → a nota é 77.\n- Se houver frases que falam, dê nota 0–10 pelo balanço:\n  só positivas: 8–9 | mais positivas que negativas: 6–7 | misturado: 5 | mais negativas: 3–4 | quase todas negativas: 1–2.\n  Uma única negativa isolada no meio de várias positivas não baixa de 6.\nResponda SÓ com um objeto JSON, sem nada antes nem depois, sem markdown, com exatamente duas chaves: \"id\" e \"resultado\".\nO valor de \"resultado\" tem SEMPRE duas partes: a nota, depois \": \", depois uma justificativa de pelo menos uma frase completa. O \"resultado\" NUNCA pode ser apenas o número — se você escrever a nota, é OBRIGATÓRIO escrever a justificativa logo depois dos dois pontos. Isso vale também para 77.\nSe a nota for 77, a justificativa NÃO pode mencionar nenhuma frase que fale do tema, nem afirmar e negar a existência dessas frases na mesma resposta — seja coerente.\nExemplos de resposta válida (siga este padrão, sempre com a justificativa preenchida):\n{\"id\": \"abc123\", \"resultado\": \"8.0: As frases descrevem uma experiência muito divertida e marcante, com atividades variadas que agradaram a todos.\"}\n{\"id\": \"abc123\", \"resultado\": \"77: nenhuma frase comentou o nível de diversão ou a experiência vivida.\"}\nRegras do formato, obrigatórias:\n- Exatamente duas chaves: \"id\" e \"resultado\", ambas com valor em texto entre aspas duplas.\n- \"resultado\" começa com a nota (ex.: \"8.0\") OU com 77, seguido de \": \" e a justificativa.\n- Justificativa de pelo menos uma frase completa. Nunca apenas o número.\n- Se for 77, a justificativa não pode citar nenhuma frase que fale do tema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1376,
        1152
      ],
      "id": "2158cfda-7b35-4fd7-8e41-adf71225a535",
      "name": "AI Agent2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1376,
        1296
      ],
      "id": "f7bd2110-ba8d-4566-a923-aee8c86c9ecd",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\nNOME DO ESTABELECIMENTO: {{ $json.nome }}\nTIPO: {{ $json.subtipos_pt_str }}\n\nCOMENTÁRIOS A ANALISAR:\n{{ $json.comentarios_frases }}",
        "options": {
          "systemMessage": "Você avalia reviews de um local de natureza ou turismo ao ar livre e dá nota a UM tema só: SERVIÇO.\nSERVIÇO é a qualidade da experiência humana e da condução da visita: como o visitante foi recebido e tratado pelas pessoas, o preparo e a clareza de quem orienta ou guia, a agilidade na entrada e no suporte, a organização operacional conduzida por gente, a comunicação e a segurança conduzida pela equipe. Um local simples pode ter ótimo atendimento; um bonito e famoso pode ter nota baixa se for desorganizado ou mal conduzido.\nOs comentários vêm quebrados em frases curtas, uma por linha, no formato \"F<n> (C<n>): texto\". Os rótulos F/C só numeram — ignore-os e julgue o texto, em qualquer idioma, pelo sentido.\nAvalie SOMENTE este ângulo. Uma mesma frase pode também servir a outro tema; isso não é problema seu. Se ela disser algo sobre as pessoas que conduzem, atendem ou orientam, ou sobre como a visita foi organizada, conte aqui. Sinais indiretos contam (bem recebidos, guias atenciosos, comunicação clara = positivo; ninguém ajudava, desorganização total, equipe não avisou dos riscos = negativo).\n\nANTES de decidir a nota, faça internamente uma varredura de TODAS as frases, uma por uma, e marque cada uma como POSITIVA, NEGATIVA ou NÃO FALA deste tema. Só conclua 77 se, após revisar cada linha, NENHUMA frase falar do tema.\n\nPara cada frase, decida: ela fala do serviço/condução humana de forma POSITIVA (bem atendido, bem orientado, bem organizado), NEGATIVA (mal atendido, desorientado, desorganizado) ou NÃO FALA deste tema?\n- Se NENHUMA frase falar deste tema → a nota é 77.\n- Se houver frases que falam, dê nota 0–10 pelo balanço:\n  só positivas: 8–9 | mais positivas que negativas: 6–7 | misturado: 5 | mais negativas: 3–4 | quase todas negativas: 1–2.\n  Uma única negativa isolada no meio de várias positivas não baixa de 6.\nResponda SÓ com um objeto JSON, sem nada antes nem depois, sem markdown, com exatamente duas chaves: \"id\" e \"resultado\".\nO valor de \"resultado\" tem SEMPRE duas partes: a nota, depois \": \", depois uma justificativa de pelo menos uma frase completa. O \"resultado\" NUNCA pode ser apenas o número — se você escrever a nota, é OBRIGATÓRIO escrever a justificativa logo depois dos dois pontos. Isso vale também para 77.\nSe a nota for 77, a justificativa NÃO pode mencionar nenhuma frase que fale do tema, nem afirmar e negar a existência dessas frases na mesma resposta — seja coerente.\nExemplos de resposta válida (siga este padrão, sempre com a justificativa preenchida):\n{\"id\": \"abc123\", \"resultado\": \"7.0: As frases elogiam os guias atenciosos e a comunicação clara, com uma ressalva sobre desorganização na entrada.\"}\n{\"id\": \"abc123\", \"resultado\": \"77: nenhuma frase comentou o atendimento ou a condução da visita.\"}\nRegras do formato, obrigatórias:\n- Exatamente duas chaves: \"id\" e \"resultado\", ambas com valor em texto entre aspas duplas.\n- \"resultado\" começa com a nota (ex.: \"8.0\") OU com 77, seguido de \": \" e a justificativa.\n- Justificativa de pelo menos uma frase completa. Nunca apenas o número.\n- Se for 77, a justificativa não pode citar nenhuma frase que fale do tema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1392,
        1424
      ],
      "id": "21643a75-defd-4f26-a226-b0974ee7efe9",
      "name": "AI Agent3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1376,
        1568
      ],
      "id": "96f95052-aece-4c23-8098-0e4df786d7c0",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\nNOME DO ESTABELECIMENTO: {{ $json.nome }}\nTIPO: {{ $json.subtipos_pt_str }}\n\nCOMENTÁRIOS A ANALISAR:\n{{ $json.comentarios_frases }}",
        "options": {
          "systemMessage": "Você avalia reviews de um local de natureza ou turismo ao ar livre e dá nota a UM tema só: CUSTO-BENEFÍCIO.\nCUSTO-BENEFÍCIO é o juízo sobre dinheiro: se o que o visitante pagou (ou não pagou) foi compatível com a experiência recebida — preço sentido como justo, vantajoso ou abusivo, cobranças inesperadas, comparações com locais semelhantes e a relação entre o que se paga e o que se leva. Entrada gratuita somada a boa experiência reforça custo-benefício alto. Um local simples pode ter ótimo custo-benefício; um bonito e famoso pode ter custo-benefício ruim se for caro demais pelo que entrega.\nOs comentários vêm quebrados em frases curtas, uma por linha, no formato \"F<n> (C<n>): texto\". Os rótulos F/C só numeram — ignore-os e julgue o texto, em qualquer idioma, pelo sentido.\nAvalie SOMENTE este ângulo. Uma mesma frase pode também servir a outro tema; isso não é problema seu. Conte aqui apenas as frases que envolvem dinheiro, preço, valor pago, cobrança ou gratuidade. Sinais indiretos de valor contam (vale a pena pelo preço, acessível pelo que oferece = positivo; caro demais, não vale o ingresso = negativo). Elogio que não fala de dinheiro NÃO entra neste tema.\n\nANTES de decidir a nota, faça internamente uma varredura de TODAS as frases, uma por uma, e marque cada uma como POSITIVA, NEGATIVA ou NÃO FALA deste tema. Só conclua 77 se, após revisar cada linha, NENHUMA frase falar do tema.\n\nPara cada frase, decida: ela fala de preço/valor de forma POSITIVA (compensa o que custou), NEGATIVA (não compensou, caro demais) ou NÃO FALA deste tema?\n- Se NENHUMA frase falar deste tema → a nota é 77.\n- Se houver frases que falam, dê nota 0–10 pelo balanço:\n  só positivas: 8–9 | mais positivas que negativas: 6–7 | misturado: 5 | mais negativas: 3–4 | quase todas negativas: 1–2.\n  Uma única negativa isolada no meio de várias positivas não baixa de 6.\nResponda SÓ com um objeto JSON, sem nada antes nem depois, sem markdown, com exatamente duas chaves: \"id\" e \"resultado\".\nO valor de \"resultado\" tem SEMPRE duas partes: a nota, depois \": \", depois uma justificativa de pelo menos uma frase completa. O \"resultado\" NUNCA pode ser apenas o número — se você escrever a nota, é OBRIGATÓRIO escrever a justificativa logo depois dos dois pontos. Isso vale também para 77.\nSe a nota for 77, a justificativa NÃO pode mencionar nenhuma frase que fale do tema, nem afirmar e negar a existência dessas frases na mesma resposta — seja coerente.\nExemplos de resposta válida (siga este padrão, sempre com a justificativa preenchida):\n{\"id\": \"abc123\", \"resultado\": \"8.0: As frases dizem que vale a pena pelo preço e que é acessível pelo que oferece, sem ressalvas relevantes.\"}\n{\"id\": \"abc123\", \"resultado\": \"77: nenhuma frase comentou preço ou valor em dinheiro.\"}\nRegras do formato, obrigatórias:\n- Exatamente duas chaves: \"id\" e \"resultado\", ambas com valor em texto entre aspas duplas.\n- \"resultado\" começa com a nota (ex.: \"8.0\") OU com 77, seguido de \": \" e a justificativa.\n- Justificativa de pelo menos uma frase completa. Nunca apenas o número.\n- Se for 77, a justificativa não pode citar nenhuma frase que fale do tema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1376,
        1664
      ],
      "id": "7680d032-0cd1-4552-8f96-59745bbb6f3c",
      "name": "AI Agent4",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1376,
        1808
      ],
      "id": "11faff45-aa1c-429e-bc4f-f3c32172e4ec",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\nNOME DO ESTABELECIMENTO: {{ $json.nome }}\nTIPO: {{ $json.subtipos_pt_str }}\n\nCOMENTÁRIOS A ANALISAR:\n{{ $json.comentarios_frases }}",
        "options": {
          "systemMessage": "Você avalia reviews de um local de natureza ou turismo ao ar livre e dá nota a UM tema só: INFRAESTRUTURA.\nINFRAESTRUTURA é o estado físico e as condições do local e dos recursos disponíveis para a visita: conservação e manutenção do ambiente, limpeza e preservação, organização e sinalização dos percursos, conforto físico da visita, impacto da lotação no conforto, segurança do acesso e os recursos físicos de apoio. Um local rústico e bem cuidado pode ir bem; um bonito pode ir mal com degradação, sujeira ou estrutura precária. \"Simples\" ou \"rústico\" não são defeitos por si só.\nOs comentários vêm quebrados em frases curtas, uma por linha, no formato \"F<n> (C<n>): texto\". Os rótulos F/C só numeram — ignore-os e julgue o texto, em qualquer idioma, pelo sentido.\nAvalie SOMENTE este ângulo. Uma mesma frase pode também servir a outro tema; isso não é problema seu. Se ela disser algo sobre o estado físico, a conservação, a limpeza, o conforto ou os recursos de apoio do local, conte aqui — mesmo no meio de uma frase sobre outro assunto. Sinais indiretos contam (bem cuidado, bem mantido, tranquilo pra passar o dia = positivo; sujo, degradado, sem estrutura, acesso difícil = negativo).\n\nANTES de decidir a nota, faça internamente uma varredura de TODAS as frases, uma por uma, e marque cada uma como POSITIVA, NEGATIVA ou NÃO FALA deste tema. Só conclua 77 se, após revisar cada linha, NENHUMA frase falar do tema.\n\nPara cada frase, decida: ela fala do estado físico/conservação/estrutura de forma POSITIVA (bem conservado, confortável, bem provido), NEGATIVA (degradado, sujo, sem estrutura) ou NÃO FALA deste tema?\n- Se NENHUMA frase falar deste tema → a nota é 77.\n- Se houver frases que falam, dê nota 0–10 pelo balanço:\n  só positivas: 8–9 | mais positivas que negativas: 6–7 | misturado: 5 | mais negativas: 3–4 | quase todas negativas: 1–2.\n  Uma única negativa isolada no meio de várias positivas não baixa de 6.\nResponda SÓ com um objeto JSON, sem nada antes nem depois, sem markdown, com exatamente duas chaves: \"id\" e \"resultado\".\nO valor de \"resultado\" tem SEMPRE duas partes: a nota, depois \": \", depois uma justificativa de pelo menos uma frase completa. O \"resultado\" NUNCA pode ser apenas o número — se você escrever a nota, é OBRIGATÓRIO escrever a justificativa logo depois dos dois pontos. Isso vale também para 77.\nSe a nota for 77, a justificativa NÃO pode mencionar nenhuma frase que fale do tema, nem afirmar e negar a existência dessas frases na mesma resposta — seja coerente.\nExemplos de resposta válida (siga este padrão, sempre com a justificativa preenchida):\n{\"id\": \"abc123\", \"resultado\": \"7.0: As frases descrevem um local bem cuidado e tranquilo, com uma ressalva sobre acesso difícil em alguns trechos.\"}\n{\"id\": \"abc123\", \"resultado\": \"77: nenhuma frase comentou o estado físico ou os recursos do local.\"}\nRegras do formato, obrigatórias:\n- Exatamente duas chaves: \"id\" e \"resultado\", ambas com valor em texto entre aspas duplas.\n- \"resultado\" começa com a nota (ex.: \"8.0\") OU com 77, seguido de \": \" e a justificativa.\n- Justificativa de pelo menos uma frase completa. Nunca apenas o número.\n- Se for 77, a justificativa não pode citar nenhuma frase que fale do tema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1360,
        1936
      ],
      "id": "e2720190-5d20-476e-91ab-7c0bc5b3e982",
      "name": "AI Agent5",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1360,
        2080
      ],
      "id": "648a8618-0cd9-40b5-b994-9b1a0857d8b6",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0873695e-b19a-4fe6-b2b8-4d2cf76d61be",
              "name": "summary",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        608
      ],
      "id": "ad5bdb9a-cd06-415f-8c91-ee646a18460d",
      "name": "summary"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7990d00-10eb-4ae3-be6c-fbd1e6f5117d",
              "name": "beauty_review",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        864
      ],
      "id": "d6e2b3c4-1097-4f38-94ad-d9afabcadd7b",
      "name": "beauty"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\nconst items = $input.all().map(i => i.json).flat();\n\nconst parseReview = (texto) => {\n  if (!texto || typeof texto !== 'string') {\n    return { nota: null, justificativa: null };\n  }\n  if (texto.trim() === '77') {\n    return { nota: 'insuficiente', justificativa: null };\n  }\n  const idx = texto.indexOf(':');\n\n  // SEM dois-pontos: pode ser nota seca tipo \"8.0\" -> trata como nota\n  if (idx === -1) {\n    const soNota = texto.trim().replace(',', '.');\n    if (/^\\d{1,2}(\\.\\d+)?$/.test(soNota)) {\n      const n = parseFloat(soNota);\n      return { nota: isNaN(n) ? null : n, justificativa: null };\n    }\n    return { nota: null, justificativa: texto.trim() };\n  }\n\n  // COM dois-pontos\n  const notaRaw = texto.slice(0, idx).trim().replace(',', '.');\n\n  // \"77: justificativa\" -> insuficiente, preservando a justificativa\n  if (notaRaw === '77') {\n    return { nota: 'insuficiente', justificativa: texto.slice(idx + 1).trim() };\n  }\n\n  const nota = parseFloat(notaRaw);\n  return {\n    nota: isNaN(nota) ? null : nota,\n    justificativa: texto.slice(idx + 1).trim(),\n  };\n};\n\nconst estabelecimentos = items.filter(i => i && i.nome !== undefined);\nconst reviewItems = items.filter(i => {\n  if (!i || i.nome !== undefined) return false;\n  const k = Object.keys(i)[0];\n  return k && k.endsWith('_review');\n});\n\nconst reviewsPorId = /** @type {Record<string, any>} */ ({});\nfor (const item of reviewItems) {\n  const [chave, valorBruto] = Object.entries(item)[0];\n  const nomeAtributo = chave.replace(/_review$/, '');\n  try {\n    const dadosIA = JSON.parse(valorBruto);\n    const idEstabelecimento = dadosIA.id;\n    const resultadoIA = String(dadosIA.resultado || '');\n    if (!idEstabelecimento) continue;\n    if (!reviewsPorId[idEstabelecimento]) {\n      reviewsPorId[idEstabelecimento] = { notasNum: [] };\n    }\n    const { nota, justificativa } = parseReview(resultadoIA);\n    const alvo = reviewsPorId[idEstabelecimento];\n    const chaveNota = `${nomeAtributo}_nota`;\n    const chaveJust = `${nomeAtributo}_justificativa`;\n    const jaTemNota = typeof alvo[chaveNota] === 'number' || alvo[chaveNota] === 'insuficiente';\n    const novaTemNota = typeof nota === 'number' || nota === 'insuficiente';\n    // Só grava se a chave ainda não existe OU se o novo registro traz nota.\n    // Nunca deixa um item SEM nota apagar um que já tinha nota válida.\n    if (!(chaveNota in alvo) || novaTemNota) {\n      if (!(jaTemNota && !novaTemNota)) {\n        alvo[chaveNota] = nota;\n        alvo[chaveJust] = justificativa;\n        if (typeof nota === 'number') {\n          if (!alvo.notasNum.includes(nota)) alvo.notasNum.push(nota);\n        }\n      }\n    }\n  } catch (error) {\n    continue;\n  }\n}\n\nconst summaryPorId = /** @type {Record<string, string>} */ ({});\nfor (const item of items) {\n  if (!item || !item.summary) continue;\n  try {\n    const dados = JSON.parse(item.summary);\n    if (dados.id && dados.resultado) {\n      summaryPorId[dados.id] = dados.resultado;\n    }\n  } catch (error) {\n    continue;\n  }\n}\n\nreturn estabelecimentos.map(est => {\n  const idAtual = est.id;\n  const dadosDoEstabelecimento = reviewsPorId[idAtual] || { notasNum: [] };\n  const arrayDeNotas = dadosDoEstabelecimento.notasNum;\n  const media = arrayDeNotas.length\n    ? Math.round((arrayDeNotas.reduce((a, b) => a + b, 0) / arrayDeNotas.length) * 100) / 100\n    : null;\n  delete dadosDoEstabelecimento.notasNum;\n  return {\n    json: {\n      ...est,\n      ...dadosDoEstabelecimento,\n      resumo: summaryPorId[idAtual] || est.resumo || null,\n      media_reviews: media,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        1472
      ],
      "id": "ec97522c-5ca7-40b2-a74c-6ef5c94c73c3",
      "name": "Organizer1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2640,
        1472
      ],
      "id": "cd4a0b15-a726-497c-bd2b-9c8981b40ec9",
      "name": "Merge10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40dba803-f2ac-4b82-8650-dbe40562f84d",
              "name": "fotos",
              "value": "={{ $json.fotos }}",
              "type": "array"
            },
            {
              "id": "64e70dac-1ff7-483b-8812-4ab5621c8e33",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        192
      ],
      "id": "64f1b57f-9780-43e3-8cd0-74eab4d5c350",
      "name": "Fotos"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n// Gera UMA row por foto (para o Switch funcionar), sem duplicatas e COM O ID do restaurante.\nconst categoriasInuteis = [\"Street View & 360°\", \"Videos\", \"Menu\"];\nconst rows = [];\n// 1. Pega TODOS os restaurantes que entraram no nó\nconst items = $input.all();\nfor (const item of items) {\n  const e = item.json || {};\n  const idEstabelecimento = e.id || null;\n  const fotos = Array.isArray(e.fotos) ? e.fotos : [];\n  const urlsProcessadas = new Set();\n  // 2. Transforma cada foto em um item isolado\n  for (let i = 0; i < fotos.length; i++) {\n    const foto = fotos[i] || {};\n    const url = foto.url || \"\";\n    const description = foto.description || \"\";\n    if (!url || urlsProcessadas.has(url)) {\n      continue;\n    }\n    const ehInutil = categoriasInuteis.includes(description) || url.includes(\"streetviewpixels\");\n    urlsProcessadas.add(url);\n    // 3. Joga a foto na lista final\n    rows.push({\n      json: {\n        id: idEstabelecimento,\n        foto_index: i,\n        description: description,\n        url_original: url,\n        eh_inutil: ehInutil\n      }\n    });\n  }\n}\n// Retorna uma lista plana (1 item = 1 foto)\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        192
      ],
      "id": "cc6dcc90-ae3f-41d2-bff8-5ddaa1bf708a",
      "name": "Fotos organizer"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.eh_inutil }}",
                    "rightValue": "=",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "6a82029b-4182-4a2f-8e4f-432cc4ec6a3e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5bf04c1e-a46b-49ae-a66a-7982239aa9ed",
                    "leftValue": "={{ $json.eh_inutil }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        896,
        192
      ],
      "id": "9fbe1687-2e80-4c4a-8953-54e6ebfa7d4f",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2096,
        240
      ],
      "id": "e10788b4-2286-480d-94b0-778ef2ba23d5",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\nconst items = $input.all().map(i => i.json);\n\n// Uma FOTO tem url_original. Uma RESPOSTA da IA tem o JSON com \"resultado\".\n// Um mesmo item nunca é os dois ao mesmo tempo, então separamos com prioridade\n// para a resposta: se parece resposta, é resposta; senão, se tem url, é foto.\nfunction looksLikeResposta(i) {\n  if (!i) return false;\n  if (i.choices !== undefined) return true;\n  if (i.message?.content !== undefined) return true;\n  if (typeof i.content === 'string') return true;\n  if (typeof i.resultado === 'string') return true;\n  return false;\n}\n\nconst respostasRaw = items.filter(i => looksLikeResposta(i));\nconst fotos = items.filter(i => !looksLikeResposta(i) && i.url_original !== undefined);\n\nfunction parseResposta(aiOutput) {\n  if (!aiOutput) return null;\n\n  // 1) Extrai o texto bruto de onde quer que ele esteja\n  let rawText = \"\";\n  if (aiOutput.choices && aiOutput.choices[0] && aiOutput.choices[0].message) {\n    rawText = aiOutput.choices[0].message.content;\n  } else if (typeof aiOutput.content === 'string') {\n    rawText = aiOutput.content;\n  } else if (typeof aiOutput === 'string') {\n    rawText = aiOutput;\n  } else if (typeof aiOutput.resultado === 'string') {\n    // caso o item já venha \"achatado\" com resultado/id/foto_index no topo\n    rawText = JSON.stringify(aiOutput);\n  }\n  if (!rawText) return null;\n\n  // 2) Tenta parsear o JSON da IA\n  let parsedJson = null;\n  try {\n    let fixedText = rawText.trim();\n    // tira cercas de markdown se a IA escapou e mandou ```json ... ```\n    fixedText = fixedText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n    if (!fixedText.endsWith('}')) fixedText += '\\n}';\n    parsedJson = JSON.parse(fixedText);\n  } catch (e) {\n    parsedJson = null;\n  }\n\n  // 3) Se parseou, extrai pelos campos; senão cai no regex\n  let id = null;\n  let foto_index = null;\n  let resultado = \"\";\n\n  if (parsedJson) {\n    id = parsedJson.id ?? null;\n    foto_index = parsedJson.foto_index ?? null;\n    resultado = parsedJson.resultado || \"\";\n  } else {\n    const idMatch = rawText.match(/\"id\"\\s*:\\s*\"([^\"]+)\"/);\n    const fiMatch = rawText.match(/\"foto_index\"\\s*:\\s*(\\d+)/);\n    const resMatch = rawText.match(/\"resultado\"\\s*:\\s*\"([^\"]*(?:\\\\.[^\"]*)*)\"/);\n    id = idMatch ? idMatch[1] : null;\n    foto_index = fiMatch ? parseInt(fiMatch[1], 10) : null;\n    resultado = resMatch ? resMatch[1].replace(/\\\\\"/g, '\"') : \"\";\n  }\n\n  // normaliza foto_index para número inteiro quando possível\n  if (foto_index !== null && foto_index !== undefined) {\n    const fiNum = parseInt(foto_index, 10);\n    foto_index = isNaN(fiNum) ? null : fiNum;\n  }\n\n  // 4) Separa nota e justificativa de \"N.N: justificativa\"\n  let nota = null;\n  let justificativa = null;\n  if (resultado && resultado.trim() !== \"\") {\n    const idx = resultado.indexOf(\":\");\n    if (idx !== -1) {\n      const notaNum = parseFloat(resultado.slice(0, idx).trim().replace(\",\", \".\"));\n      nota = isNaN(notaNum) ? null : notaNum;\n      justificativa = resultado.slice(idx + 1).trim();\n    } else {\n      justificativa = resultado.trim();\n    }\n  }\n\n  return {\n    id,\n    foto_index,\n    nota,\n    justificativa,\n    resposta_bruta: rawText,\n  };\n}\n\n// Indexa as respostas por chave \"id__foto_index\".\n// Se houver vários ids diferentes e/ou vários foto_index, cada par é único.\nconst respMap = new Map();\nfor (const r of respostasRaw) {\n  const p = parseResposta(r);\n  if (!p || p.id === null || p.foto_index === null) continue;\n  const key = `${p.id}__${p.foto_index}`;\n  // não sobrescreve uma resposta já casada (mantém a primeira válida)\n  if (!respMap.has(key)) respMap.set(key, p);\n}\n\n// Casa cada foto com sua resposta pela chave id+foto_index (não por posição)\nconst rows = fotos.map((foto) => {\n  const key = `${foto.id}__${foto.foto_index}`;\n  const parsed = respMap.get(key) || { nota: null, justificativa: null, resposta_bruta: null };\n  return {\n    id: foto.id,\n    foto_index_original: foto.foto_index, // guarda o original pra desempate\n    description: foto.description,\n    url_original: foto.url_original,\n    eh_inutil: foto.eh_inutil,\n    nota_capa: parsed.nota,\n    justificativa_capa: parsed.justificativa,\n    resposta_bruta: parsed.resposta_bruta,\n    serve_como_capa: parsed.nota !== null && parsed.nota >= 7,\n  };\n});\n\n// Agrupa por id: o ranking/reindex de foto_index é feito DENTRO de cada id,\n// para funcionar quando o batch traz vários estabelecimentos misturados.\nconst porId = new Map();\nfor (const row of rows) {\n  if (!porId.has(row.id)) porId.set(row.id, []);\n  porId.get(row.id).push(row);\n}\n\nconst out = [];\nfor (const grupo of porId.values()) {\n  // Ordena por nota decrescente; empate: foto_index_original crescente\n  grupo.sort((a, b) => {\n    const na = a.nota_capa ?? -Infinity;\n    const nb = b.nota_capa ?? -Infinity;\n    if (nb !== na) return nb - na;\n    return (a.foto_index_original ?? Infinity) - (b.foto_index_original ?? Infinity);\n  });\n\n  // Reatribui foto_index em ordem crescente conforme a posição pós-sort,\n  // por estabelecimento (0 = melhor foto daquele id)\n  grupo.forEach((row, i) => {\n    out.push({\n      json: {\n        id: row.id,\n        foto_index: i, // 0 = melhor foto deste id, 1 = segunda melhor, etc.\n        description: row.description,\n        url_original: row.url_original,\n        eh_inutil: row.eh_inutil,\n        nota_capa: row.nota_capa,\n        justificativa_capa: row.justificativa_capa,\n        resposta_bruta: row.resposta_bruta,\n        serve_como_capa: row.serve_como_capa,\n      }\n    });\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        240
      ],
      "id": "91ef2aae-0b21-44a8-b4f5-9ba7cdbc7073",
      "name": "Indexer"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n// Adiciona campos de avaliação de capa em cada foto.\n// Fotos marcadas como eh_inutil recebem valores padrão de rejeição automática.\n\nconst items = $input.all().map(i => i.json);\n\nconst rows = items.map(foto => {\n  if (foto.eh_inutil) {\n    return {\n      json: {\n        ...foto,\n        nota_capa: 0,\n        justificativa_capa: \"Imagem do Google Street View (ou outras), inadequada como capa de perfil profissional.\",\n        resposta_bruta: \"Imagem do Google Street View (ou outras), inadequada como capa de perfil profissional.\",\n        serve_como_capa: false,\n      }\n    };\n  }\n\n  // Foto útil: campos vazios, prontos para serem preenchidos pela IA depois\n  return {\n    json: {\n      ...foto,\n      nota_capa: null,\n      justificativa_capa: null,\n      resposta_bruta: null,\n      serve_como_capa: null,\n    }\n  };\n});\n\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        96
      ],
      "id": "8dc9844a-6a33-4b1d-bbcd-07ecc0e49abe",
      "name": "Automatic rejection"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "=gpt-4.1-mini",
          "mode": "id"
        },
        "text": "=ID DO ESTABELECIMENTO: {{ $json.id }}\n\nÍNDICE DA FOTO: {{ $json.foto_index }}\n\nVocê é um avaliador de qualidade de imagens. Antes de qualquer coisa, você faz uma VARREDURA DE PESSOAS. Depois aplica o filtro de eliminação. Só então, se a imagem sobreviver, avalia a qualidade.\n\n==================================================\nPASSO 0 — VARREDURA DE PESSOAS (FAÇA ISSO ANTES DE TUDO)\n==================================================\n\nAntes de pensar em qualidade, beleza ou nota, responda mentalmente a UMA pergunta, olhando a imagem inteira com atenção: HÁ ALGUM SER HUMANO NA IMAGEM?\n\nProcure ativamente por: rostos (inteiros ou parciais), cabeças, corpos, mãos segurando a câmera, pessoas em pé, sentadas, ao fundo, de lado, de costas, refletidas em espelho/vidro, ou parcialmente cortadas pela borda.\n\nSe você encontrar QUALQUER ser humano, classifique-o em uma de duas categorias:\n\n(A) HUMANO EM DESTAQUE → ELIMINAÇÃO OBRIGATÓRIA (nota 0.0). Enquadra-se aqui se:\n    • é uma selfie (rosto próximo, braço esticado, alguém segurando a câmera);\n    • há QUALQUER rosto humano reconhecível em foco em qualquer parte do quadro, mesmo que pequeno;\n    • há uma pessoa posando, olhando ou sorrindo para a câmera;\n    • uma pessoa está no centro, no primeiro plano, ou ocupa parte relevante do quadro;\n    • uma pessoa divide o destaque com o ambiente;\n    • há um grupo de pessoas.\n  Se a pessoa tem rosto visível e dá pra reconhecer que é uma pessoa, ela está EM DESTAQUE. Na dúvida entre \"destaque\" e \"acidental\", é SEMPRE destaque → ELIMINE.\n\n(B) HUMANO ACIDENTAL → não elimina por esse motivo. SÓ se enquadra aqui se a pessoa é inequivocamente irrelevante: minúscula ao fundo, totalmente desfocada, de costas e sem rosto visível, ou claramente só parte do movimento do ambiente. Esta categoria é a EXCEÇÃO RARA, não a regra.\n\nREGRA DE DECISÃO: se há humano e você não tem CERTEZA ABSOLUTA de que é categoria (B), trate como (A) e dê 0.0. É melhor eliminar uma foto boa do que aprovar uma foto com rosto.\n\nO resultado desta varredura vai OBRIGATORIAMENTE para o campo \"pessoas\" do JSON final. Você não pode dar nota alta e ao mesmo tempo admitir um humano em destaque — isso é uma contradição proibida.\n\n==================================================\nPASSO 1 — FILTRO DE ELIMINAÇÃO\n==================================================\n\nTRAVA ABSOLUTA: assim que identificar que a foto se enquadra em uma condição de eliminação, a nota é 0.0 e ESSA NOTA NÃO MUDA. Não reconsidere, não compense com qualidade técnica, não arredonde para cima. Qualidade NUNCA cancela uma eliminação. Na dúvida, ELIMINE.\n\nPRINCÍPIO ANTI-ALUCINAÇÃO: avalie SOMENTE o que está visível. Não suponha nem invente. Na dúvida sobre um detalhe, trate-o como ausente e NÃO dê o benefício da dúvida.\n\nO QUE NÃO É MOTIVO DE ELIMINAÇÃO: fotografar um ambiente fechado, objeto, vitrine, aquário, terrário, tela de TV/monitor exibindo conteúdo, ou qualquer cena com elementos artificiais CONTINUA SENDO uma fotografia real. O que elimina é a imagem SER uma renderização/arte/print — não o ASSUNTO ser artificial. Um aquário fotografado é uma foto real e legítima.\n\nCondições de eliminação (qualquer uma = 0.0):\n\n- HÁ HUMANO EM DESTAQUE (categoria A do Passo 0). Motivo: \"pessoa em destaque / rosto visível\".\n- NÃO é fotografia real: logo, ícone, ilustração, desenho, pintura digital, render 3D, arte gráfica, cartaz, flyer, banner, peça publicitária, print de tela (screenshot), mapa, ou imagem gerada/desenhada/montada por computador. Arte gráfica elimina mesmo que seja bonita e bem feita.\n- É um PRINT de app/rede social: interface, barra de status, ícones de sistema (bateria, wifi, hora) ou UI de Instagram/WhatsApp/Google Maps, mesmo que haja foto real dentro do print.\n- É majoritariamente TEXTO: cardápio, tabela de preços, horário, ou imagem em que o texto cobre a maior parte do quadro.\n- É COLAGEM/MONTAGEM: várias fotos em grade, painéis ou faixas numa única imagem.\n- Tem tarja preta larga, moldura decorativa ou bordas artificiais ocupando parte relevante do quadro.\n- Tem marca d'água invasiva, logo de terceiros dominante ou texto promocional cobrindo a imagem.\n- É tecnicamente imprestável: muito borrada, escura demais ou estourada a ponto de não dar pra distinguir o que é.\n\nSe NENHUMA condição se aplicar, vá para o PASSO 2.\n\n==================================================\nPASSO 2 — NOTA DE QUALIDADE (0.0 a 10.0)\n==================================================\n\nSó execute se a imagem sobreviveu aos passos 0 e 1. NÃO escolha uma nota redonda primeiro. Avalie as quatro dimensões SEPARADAMENTE, atribua valores conforme a EVIDÊNCIA visual, e SOME.\n\n- NITIDEZ / FOCO (0.0 a 3.0)\n- ILUMINAÇÃO (0.0 a 2.5)\n- ENQUADRAMENTO / COMPOSIÇÃO (0.0 a 2.5)\n- CLAREZA DO ASSUNTO / APELO (0.0 a 2.0)\n\nREGRA DECIMAL OBRIGATÓRIA: para CADA dimensão, escolha um valor com decimal \"quebrada\" que reflita exatamente aquela foto (ex.: 2.7, 1.8, 2.2, 1.3). NÃO use máximos redondos (3.0, 2.5, 2.0) nem meios redondos (1.5) salvo em casos extremos e inquestionáveis. É esperado que quase nenhuma sub-nota seja redonda.\n\nSome as quatro para a nota base. A maioria das fotos boas soma entre 6.5 e 8.0; passar de 9.0 exige as quatro dimensões quase no máximo.\n\nTETO: se é close extremo de um único prato/bebida sem contexto do ambiente, OU tem filtro/saturação artificial muito evidente, a nota não passa de 6.5.\n\n==================================================\nPASSO 3 — PEQUENO BÔNUS DE CAPA\n==================================================\n\nSome +0.7 SOMENTE se TODAS forem verdadeiras: (a) mostra com clareza a FACHADA do estabelecimento — vista externa com entrada, letreiro ou estrutura reconhecível; (b) você tem CERTEZA de que é a vista externa, sem inferir; (c) a nota base do PASSO 2 já é ≥ 5.0. Faltando qualquer uma, não some nada. A nota final nunca passa de 10.0. O bônus nunca se aplica se houve eliminação.\n\nArredonde a nota final para UMA casa decimal.\n\n==================================================\nFORMATO DA RESPOSTA\n==================================================\n\nResponda SÓ com este objeto JSON, sem nada antes nem depois, sem markdown:\n\n{\n\n\"id\": \"<copie exatamente o ID DO ESTABELECIMENTO do topo>\",\n\n\"foto_index\": <copie exatamente o ÍNDICE DA FOTO do topo, como número inteiro>,\n\n\"pessoas\": \"<um de: 'nenhuma' | 'acidental' | 'em destaque'>\",\n\n\"resultado\": \"N.N: justificativa\"\n\n}\n\nRegras do formato, obrigatórias:\n\n- Copie \"id\" e \"foto_index\" EXATAMENTE como vieram no topo. \"foto_index\" é número inteiro, sem aspas.\n- \"pessoas\" registra o resultado do PASSO 0. Se for \"em destaque\", \"resultado\" TEM que começar com 0.0. É proibido \"pessoas\":\"em destaque\" com nota acima de 0.0.\n- \"resultado\" SEMPRE começa com a nota (0.0 a 10.0, UMA casa decimal), seguida de \": \" e a justificativa. Nunca escreva só o número.\n- A justificativa é UMA frase curta (máx ~20 palavras) citando só os fatores DECISIVOS. Quando houver eliminação, nomeie o motivo (ex.: \"0.0: pessoa em destaque / rosto visível.\" ou \"0.0: arte gráfica, não é fotografia.\").\n- NUNCA escreva que NÃO houve eliminação, que não há pessoas, ou qualquer frase sobre o que NÃO aconteceu (exceto o campo \"pessoas\", que é obrigatório).\n- Evite os valores \"ímã\" 7.4, 8.0 e 8.2 como nota final. Se cair neles, reavalie as sub-notas com mais precisão decimal.\n- Nunca escreva \"insuficiente\" nem nada fora do formato. Toda imagem recebe uma nota.",
        "imageUrls": "={{ $json.url_original }}",
        "simplify": false,
        "options": {}
      },
      "id": "5ba76b54-fa86-47f2-920c-93000499a702",
      "name": "Picasso",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1840,
        352
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "dhG0ktohViAz4N21",
          "name": "OpenAi account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\nconst fotosPorId = /** @type {Record<string, any[]>} */ ({});\n\nfor (const item of items) {\n  if (item && item.id && item.foto_index !== undefined && !item.eh_inutil && item.nota_capa >= 6) {\n    if (!fotosPorId[item.id]) {\n      fotosPorId[item.id] = [];\n    }\n    fotosPorId[item.id].push(item);\n  }\n}\n\nconst resultados = Object.keys(fotosPorId).map(id => {\n  const fotosDoEstabelecimento = fotosPorId[id];\n  \n  fotosDoEstabelecimento.sort((a, b) => a.foto_index - b.foto_index);\n  \n  return {\n    json: {\n      id: id,\n      fotos_analise: fotosDoEstabelecimento\n    }\n  };\n});\n\nreturn resultados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        224
      ],
      "id": "f8764d4a-8d7a-4533-a652-128c8680b314",
      "name": "organizer"
    },
    {
      "parameters": {
        "url": "={{ $json.url_original }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1088,
        368
      ],
      "id": "93428f01-1831-4879-b966-42025f771f60",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst previousItems = $('Switch').all();\n\nconst vistos = new Set();\n\nreturn inputItems.map((item, index) => {\n  const original = previousItems[index].json;\n\n  // Erro de download/processamento → inútil\n  if (item.json.error) {\n    return {\n      json: {\n        ...original,        // url_original preservada\n        eh_inutil: true\n      }\n    };\n  }\n\n  // Chave SÓ para comparação (não afeta o que sai no fluxo)\n  const chaveComparacao = (original.url_original || '')\n    .split('?')[0]\n    .replace(/=s\\d+-k-no$/, '')\n    .replace(/=s\\d+.*$/, '');\n\n  const ehDuplicata = Boolean(chaveComparacao) && vistos.has(chaveComparacao);\n  if (chaveComparacao && !ehDuplicata) {\n    vistos.add(chaveComparacao);\n  }\n\n  return {\n    json: {\n      ...original,          // url_original sai exatamente como entrou\n      eh_inutil: original.eh_inutil || ehDuplicata\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        368
      ],
      "id": "be7c4b5d-ad61-4dc5-8a91-ba65a47bafac",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "43a74f54-74c7-4a59-8c4b-a53157c929dc",
              "leftValue": "={{ $json.eh_inutil }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1536,
        368
      ],
      "id": "b390bf12-ef2c-400c-9321-9a6690f5fb0c",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2064,
        96
      ],
      "id": "ad3bd77e-3a53-493a-acae-5b331e06cde5",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items\n\nconst all = $input.all().map(item => item.json);\n\nconst agrupados = {};\n\nfor (const item of all) {\n  const id = item.id;\n\n  if (!id) continue;\n\n  if (!agrupados[id]) {\n    agrupados[id] = {\n      id\n    };\n  }\n\n  for (const [key, value] of Object.entries(item)) {\n\n    // ignora campos vazios\n    if (\n      value === undefined ||\n      value === null ||\n      value === ''\n    ) {\n      continue;\n    }\n\n    // mantém arrays completos\n    if (Array.isArray(value)) {\n      agrupados[id][key] = value;\n      continue;\n    }\n\n    // mantém objetos completos\n    if (typeof value === 'object') {\n      agrupados[id][key] = value;\n      continue;\n    }\n\n    // mantém valores simples\n    agrupados[id][key] = value;\n  }\n}\n\nreturn Object.values(agrupados).map(item => ({\n  json: item\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        1456
      ],
      "id": "6f26d649-55ac-4ff7-8e4e-cb349dd72a54",
      "name": "Organizer"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3120,
        1456
      ],
      "id": "768340f8-876e-4dda-99bc-2f5daa6554cf",
      "name": "Merge5"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Mode: Run Once for Each Item — GERAL (qualquer segmento)\n//\n// CORREÇÃO PRINCIPAL:\n// As notas chegam como STRING \"insuficiente\" (não como o número 77).\n// O código antigo só reconhecia === 77, então \"insuficiente\" escapava\n// da média E do tally de não-avaliadas. Agora tudo passa por normalizar():\n//   - \"insuficiente\" / \"77\" / 77   -> SENTINELA (77) = sem dados\n//   - número (ou \"7,5\" / \"7.5\")     -> número\n//   - null / undefined / \"\"         -> null = não se aplica ao segmento (não conta)\n//\n// MÍNIMOS:\n//   - food e fun  => MIN_FOOD_FUN (6 fixo)\n//   - média       => MIN (vem de minimum_grade; fallback 6)\n// FOOD é portão crítico: insuficiente OU nota < MIN_FOOD_FUN => reprova.\n//   - PORÉM: se já reprovou por >2 insuficientes, a justificativa fica só a dos insuficientes.\n\nconst e = $input.item.json;\n\nconst SENTINELA = 77;\nconst MAX_NAO_AVALIADAS = 2; // acima disso (>2 => 3+) reprova\nconst MIN_FOOD_FUN = 6;      // mínimo fixo para comida e diversão\n\nconst ehNotaValida = (v) =>\n  typeof v === \"number\" && Number.isFinite(v) && v !== SENTINELA;\n\nconst MIN = ehNotaValida(e.minimum_grade) ? e.minimum_grade : 6; // mínimo da média\n\nconst round = (x, d = 2) => {\n  if (x === null || x === undefined || Number.isNaN(x) || !Number.isFinite(x)) {\n    return null;\n  }\n  const f = Math.pow(10, d);\n  return Math.round(x * f) / f;\n};\n\n// --------------------\n// NORMALIZAÇÃO (a peça que faltava)\n// --------------------\nconst normalizar = (v) => {\n  if (v === null || v === undefined) return null;          // ausente\n  if (typeof v === \"number\") return Number.isFinite(v) ? v : null;\n  if (typeof v === \"string\") {\n    const s = v.trim().toLowerCase();\n    if (s === \"\") return null;                             // vazio => ausente\n    if (s === \"insuficiente\") return SENTINELA;            // insuficiente\n    const n = Number(s.replace(\",\", \".\"));\n    if (Number.isFinite(n)) return n;                      // \"77\"->77, \"7,5\"->7.5\n    return SENTINELA;                                      // texto inesperado => insuficiente\n  }\n  return null;\n};\n\n// Todas as notas possíveis, JÁ normalizadas\nconst candidatas = {\n  variety: normalizar(e.variety_nota),\n  service: normalizar(e.service_nota),\n  price_to_value: normalizar(e.price_to_value_nota),\n  capacity: normalizar(e.capacity_nota),\n  beauty: normalizar(e.beauty_nota),\n  space: normalizar(e.space_nota),\n  fun: normalizar(e.fun_nota),\n  food: normalizar(e.food_nota),\n};\n\nconst rotulos = {\n  variety: \"variedade\",\n  service: \"atendimento\",\n  price_to_value: \"custo-benefício\",\n  capacity: \"capacidade\",\n  beauty: \"beleza\",\n  space: \"espaço\",\n  fun: \"diversão\",\n  food: \"comida\",\n};\n\n// --------------------\n// MÉDIA\n// --------------------\nconst presentes = Object.entries(candidatas).filter(([, v]) => ehNotaValida(v));\nconst notasUsadas = presentes.map(([, v]) => v);\nconst media = notasUsadas.length\n  ? notasUsadas.reduce((a, b) => a + b, 0) / notasUsadas.length\n  : null;\n\n// --------------------\n// NÃO AVALIADAS (insuficientes) — agora pega \"insuficiente\"/77 igual\n// --------------------\nconst notasNaoAvaliadas = Object.entries(candidatas)\n  .filter(([, v]) => v === SENTINELA)\n  .map(([k]) => k);\n\nconst reprovaPorInsuficientes = notasNaoAvaliadas.length > MAX_NAO_AVALIADAS;\n\n// --------------------\n// REGRAS\n// --------------------\nconst motivos = [];\nconst observacoes = [];\n\n// FOTOS (crítico)\nconst temFotoAnalise = Array.isArray(e.fotos_analise) && e.fotos_analise.length > 0;\nif (!temFotoAnalise) {\n  motivos.push(\"Sem fotos analisadas (fotos_analise ausente ou vazio)\");\n}\n\n// FOOD (crítico) — insuficiente REPROVA; mínimo = MIN_FOOD_FUN\n// Se já reprovou por >2 insuficientes, NÃO duplica o motivo de comida insuficiente.\nconst foodN = candidatas.food;\nif (foodN !== null) {\n  if (foodN === SENTINELA) {\n    if (!reprovaPorInsuficientes) {\n      motivos.push(\"Comida não pôde ser avaliada (insuficiente)\");\n    }\n  } else if (foodN < MIN_FOOD_FUN) {\n    motivos.push(`Nota de comida abaixo de ${MIN_FOOD_FUN} (food_nota=${round(foodN)})`);\n  }\n}\n\n// FUN (crítico) — mínimo = MIN_FOOD_FUN\nconst funN = candidatas.fun;\nif (funN !== null) {\n  if (funN === SENTINELA) {\n    if (!reprovaPorInsuficientes) {\n      observacoes.push(\"diversão não pôde ser avaliada (insuficiente)\");\n    }\n  } else if (funN < MIN_FOOD_FUN) {\n    motivos.push(`Nota de diversão abaixo de ${MIN_FOOD_FUN} (fun_nota=${round(funN)})`);\n  }\n}\n\n// NÃO AVALIADAS (crítico) — mais de 2 insuficientes => reprova\nif (reprovaPorInsuficientes) {\n  const nomes = notasNaoAvaliadas.map((k) => rotulos[k] || k);\n  motivos.push(\n    `Notas insuficientes: ${notasNaoAvaliadas.length} notas sem dados ` +\n    `— máximo permitido é ${MAX_NAO_AVALIADAS} (${nomes.join(\", \")})`\n  );\n}\n\n// MÉDIA — não repete \"sem notas válidas\" se já reprovou por excesso de insuficientes\nif (media === null) {\n  if (!reprovaPorInsuficientes) {\n    motivos.push(\"Sem notas qualitativas válidas para calcular a média\");\n  }\n} else if (media < MIN) {\n  motivos.push(`media das notas qualitativas abaixo do corte (${MIN})`);\n}\n\nconst aprovado = motivos.length === 0;\n\n// --------------------\n// JUSTIFICATIVA\n// --------------------\nlet motivo;\n\nif (aprovado) {\n  const partes = [`Média das notas qualitativas ${round(media)} (≥ ${MIN})`];\n  if (ehNotaValida(foodN)) partes.push(`comida ${round(foodN)} (≥ ${MIN_FOOD_FUN})`);\n  if (ehNotaValida(funN)) partes.push(`diversão ${round(funN)} (≥ ${MIN_FOOD_FUN})`);\n  if (observacoes.length) partes.push(...observacoes);\n  if (notasNaoAvaliadas.length) {\n    const nomes = notasNaoAvaliadas.map((k) => rotulos[k] || k);\n    partes.push(`não avaliadas: ${nomes.join(\", \")}`);\n  }\n  motivo = \"Aprovado — \" + partes.join(\"; \");\n} else {\n  let txt = \"Reprovado — \" + motivos.join(\" | \");\n  if (observacoes.length) txt += \" | (obs: \" + observacoes.join(\"; \") + \")\";\n  motivo = txt;\n}\n\n// --------------------\n// OUTPUT\n// --------------------\nreturn {\n  json: {\n    ...e,\n    minimum_grade_usado: MIN,\n    min_food_fun_usado: MIN_FOOD_FUN,\n    media_qualitativa: round(media),\n    notas_consideradas: notasUsadas.length,\n    notas_usadas: presentes.map(([k]) => k),\n    notas_nao_avaliadas: notasNaoAvaliadas,\n    qtd_notas_nao_avaliadas: notasNaoAvaliadas.length,\n    tem_fotos_analise: temFotoAnalise,\n    aprovado_notas: aprovado,\n    motivo_notas: motivo,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3488,
        1456
      ],
      "id": "775dc15c-e8b2-4818-babd-d0d3123065ff",
      "name": "média1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  if (!Array.isArray(item.json.fotos_analise)) {\n    continue;\n  }\n  item.json.fotos_analise = item.json.fotos_analise\n    .filter(foto => {\n      const nota = Number(foto.nota_capa ?? 0);\n      const inutil = foto.eh_inutil === true;\n      return !inutil && nota >= 6;\n    })\n    .sort((a, b) => Number(b.nota_capa ?? 0) - Number(a.nota_capa ?? 0));\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3696,
        1456
      ],
      "id": "b273987a-09ba-4ad7-aaa7-f53dab1a5525",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items\nconst items = $input.all().map(i => i.json ?? {});\n\nreturn items.map(item => {\n  return {\n    json: {\n      id: item.id ?? null,\n      nome: item.nome ?? null,\n      subtipos: item.subtipos_pt_str ?? null,\n      endereco: item.endereco ?? null,\n      bairro: item.bairro ?? null,\n      cep: item.cep ?? null,\n      cidade: item.cidade ?? null,\n      estado: item.estado ?? null,\n      pais: item.pais ?? null,\n      telefone: item.telefone ?? null,\n      telefone_extra: item.telefone_extra ?? null,\n      email: item.email ?? null,\n      website: item.website ?? null,\n      instagram: item.instagram ?? null,\n      facebook: item.facebook ?? null,\n      link_google_maps: item.link_google_maps ?? null,\n      nota: item.nota ?? null,\n      qtd_avaliacoes: item.qtd_avaliacoes ?? null,\n      distribuicao_notas: item.distribuicao_notas != null ? JSON.stringify(item.distribuicao_notas) : null,\n      status: item.status ?? null,\n      horarios: item.horarios != null ? JSON.stringify(item.horarios) : null,\n      faixa_preco: item.faixa_preco ?? null,\n      qtd_fotos: item.qtd_fotos ?? null,\n      fotos: item.fotos_analise != null ? JSON.stringify(item.fotos_analise) : null,\n      resumo: item.resumo ?? null,\n      details_google: item.details_google ?? null,\n      google_id: item.google_id ?? null,\n      place_id: item.place_id ?? null,\n      verificado: item.verificado ?? null,\n      timezone: item.timezone ?? null,\n      reviews: item.reviews ?? null,          // jsonb -> objeto cru, SEM stringify\n      par1: item.fun_nota ?? null,\n      just1: item.fun_justificativa ?? null,\n      par2: item.service_nota ?? null,\n      just2: item.service_justificativa ?? null,\n      par3: item.space_nota ?? null,\n      just3: item.space_justificativa ?? null,\n      par4: item.price_to_value_nota ?? null,\n      just4: item.price_to_value_justificativa ?? null,\n      par5: item.beauty_nota ?? null,\n      just5: item.beauty_justificativa ?? null,\n      média: item.media_qualitativa ?? null,\n      aproved: item.aprovado_notas ?? null,\n      reason: item.motivo_notas ?? null,\n      segmento: item.categoria_principal ?? null,\n      subsegmento: item.subsegmento ?? null,\n      nr_latitude: item.nr_latitude ?? null,\n      nr_longitude: item.nr_longitude ?? null,\n      minimum_grade: item.minimum_grade ?? null,\n      go_to_reevaluation: true,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3904,
        1456
      ],
      "id": "cc2ab558-9a3b-4e1d-abd4-b302831a259b",
      "name": "organizer2"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n// Extrai as URLs das imagens, 1 imagem por row, com id e foto_index.\nconst rows = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const e = item.json || {};\n  const idEstabelecimento = e.id || null;\n\n  let fotos = [];\n  try {\n    fotos = typeof e.fotos === \"string\" ? JSON.parse(e.fotos) : (e.fotos || []);\n  } catch (err) {\n    fotos = [];\n  }\n  if (!Array.isArray(fotos)) fotos = [];\n\n  const urlsProcessadas = new Set();\n\n  for (const foto of fotos) {\n    const url = (foto && foto.url_original) || \"\";\n    if (!url || urlsProcessadas.has(url)) continue;\n    urlsProcessadas.add(url);\n\n    rows.push({\n      json: {\n        id: idEstabelecimento,\n        foto_index: foto.foto_index ?? null,\n        url: url\n      }\n    });\n  }\n}\n\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4544,
        1008
      ],
      "id": "2b55d464-4074-42c1-8ccd-61859439263a",
      "name": "image split1"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\nconst items = $input.all();\nreturn items.map((item) => {\n  const e = item.json || {};\n\n  let fotos = [];\n  try {\n    fotos = typeof e.fotos === \"string\" ? JSON.parse(e.fotos) : (e.fotos || []);\n  } catch (err) {\n    fotos = [];\n  }\n  if (!Array.isArray(fotos)) fotos = [];\n\n  const fotosOrdenadas = [...fotos].sort((a, b) => {\n    const na = (a && typeof a.nota_capa === \"number\") ? a.nota_capa : -Infinity;\n    const nb = (b && typeof b.nota_capa === \"number\") ? b.nota_capa : -Infinity;\n\n    // Primeiro: nota decrescente\n    if (nb !== na) return nb - na;\n\n    // Desempate: foto_index crescente (menor index primeiro)\n    const ia = (a && typeof a.foto_index === \"number\") ? a.foto_index : Infinity;\n    const ib = (b && typeof b.foto_index === \"number\") ? b.foto_index : Infinity;\n    return ia - ib;\n  });\n\n  return {\n    json: {\n      ...e,\n      fotos: fotosOrdenadas,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4352,
        1008
      ],
      "id": "05ce3454-e6b2-4a30-9197-d78d9b926922",
      "name": "image organizer1"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n\nconst SUPABASE_URL = \"https://veedrfffsquvyypjrquh.supabase.co\";\nconst BUCKET = \"TRIP\";\nconst KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZlZWRyZmZmc3F1dnl5cGpycXVoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODg2OTQyMSwiZXhwIjoyMDk0NDQ1NDIxfQ.0Z341oGGbmFl2ce8TLVTs55F2667wdug0aF1iFNSNVw\";\n\nconst MAX_RETRIES = 3;\nconst RETRY_DELAY_MS = 1500;\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\n\nconst extPorContentType = (ct) => {\n  if (!ct) return \"jpg\";\n  if (ct.includes(\"png\")) return \"png\";\n  if (ct.includes(\"webp\")) return \"webp\";\n  if (ct.includes(\"gif\")) return \"gif\";\n  return \"jpg\";\n};\n\nconst items = $input.all();\nconst contadorPorId = {};\nconst resultados = [];\n\nfor (const item of items) {\n  const e = item.json || {};\n\n  let url = e.url || e.url_original;\n  const id = e.id || \"sem_id\";\n\n  if (!url) continue;\n\n  // Tenta obter uma versão de boa qualidade sem ficar pesada\n  if (url.includes(\"googleusercontent.com\")) {\n    url = url.replace(\n      /=w\\d+-h\\d+.*$/i,\n      \"=w1600-h1600-k-no\"\n    );\n  }\n\n  const idx = contadorPorId[id] ?? 0;\n  contadorPorId[id] = idx + 1;\n\n  // 1. Download da imagem\n  let img = null;\n  let lastErr = null;\n\n  for (let tentativa = 1; tentativa <= MAX_RETRIES; tentativa++) {\n    try {\n      img = await this.helpers.httpRequest({\n        method: \"GET\",\n        url,\n        encoding: \"arraybuffer\",\n        returnFullResponse: true,\n        timeout: 20000,\n        headers: {\n          \"User-Agent\":\n            \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36\",\n          Accept: \"image/webp,image/apng,image/*,*/*;q=0.8\",\n        },\n      });\n\n      break;\n    } catch (err) {\n      lastErr = err;\n\n      const status =\n        err.response?.statusCode || err.statusCode;\n\n      if (status === 403 || status === 404) {\n        break;\n      }\n\n      if (tentativa < MAX_RETRIES) {\n        await sleep(RETRY_DELAY_MS * tentativa);\n      }\n    }\n  }\n\n  if (!img || !img.body || img.body.length === 0) {\n    const status =\n      lastErr?.response?.statusCode ||\n      lastErr?.statusCode ||\n      \"vazio\";\n\n    resultados.push({\n      json: {\n        id,\n        foto_index: idx,\n        url,\n        sucesso: false,\n        erro: `download_falhou_${status}`,\n      },\n    });\n\n    continue;\n  }\n\n  const contentType =\n    img.headers[\"content-type\"] || \"image/jpeg\";\n\n  const ext = extPorContentType(contentType);\n\n  const path = `${id}/${idx}.${ext}`;\n\n  // 2. Upload para Supabase Storage\n  let uploadOk = false;\n  let uploadErr = null;\n\n  for (let tentativa = 1; tentativa <= MAX_RETRIES; tentativa++) {\n    try {\n      await this.helpers.httpRequest({\n        method: \"POST\",\n        url: `${SUPABASE_URL}/storage/v1/object/${BUCKET}/${path}`,\n        timeout: 30000,\n        headers: {\n          Authorization: `Bearer ${KEY}`,\n          \"Content-Type\": contentType,\n          \"x-upsert\": \"true\",\n        },\n        body: Buffer.from(img.body),\n      });\n\n      uploadOk = true;\n      break;\n    } catch (err) {\n      uploadErr = err;\n\n      if (tentativa < MAX_RETRIES) {\n        await sleep(RETRY_DELAY_MS * tentativa);\n      }\n    }\n  }\n\n  if (!uploadOk) {\n    resultados.push({\n      json: {\n        id,\n        foto_index: idx,\n        url,\n        path,\n        sucesso: false,\n        erro:\n          \"upload_falhou: \" +\n          JSON.stringify(\n            uploadErr?.response?.body ??\n              uploadErr?.response?.data ??\n              uploadErr?.message\n          ),\n      },\n    });\n\n    continue;\n  }\n\n  resultados.push({\n    json: {\n      id,\n      foto_index: idx,\n      path,\n      sucesso: true,\n      public_url: `${SUPABASE_URL}/storage/v1/object/public/${BUCKET}/${path}`,\n    },\n  });\n}\n\nreturn resultados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4768,
        1008
      ],
      "id": "776f74b0-ae17-4e9b-afa5-375ec63340a3",
      "name": "STORAGE1"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n// Agrupa as imagens por estabelecimento (id), montando uma lista de URLs por id.\n\nconst items = $input.all();\nconst porId = {};\n\nfor (const item of items) {\n  const e = item.json || {};\n  const id = e.id;\n  if (!id) continue;\n\n  if (!porId[id]) {\n    porId[id] = {\n      id,\n      qtd_fotos: 0,\n      capa: null,\n      _temp: [],   // guarda index+url para ordenar depois\n    };\n  }\n\n  porId[id]._temp.push({ foto_index: e.foto_index, url: e.public_url });\n\n  if (e.foto_index === 0) {\n    porId[id].capa = e.public_url;\n  }\n}\n\nreturn Object.values(porId).map((grupo) => {\n  // ordena por foto_index e extrai só a URL\n  grupo._temp.sort((a, b) => a.foto_index - b.foto_index);\n  const fotos = grupo._temp.map((f) => f.url);\n  delete grupo._temp;\n\n  return {\n    json: {\n      id: grupo.id,\n      qtd_fotos: fotos.length,\n      capa: grupo.capa,\n      fotos, // array só com as URLs, em ordem\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5008,
        1008
      ],
      "id": "a547aae8-47d5-45fd-b297-1d4596712f41",
      "name": "Organizador1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5392,
        1424
      ],
      "id": "65bbe011-ebe2-47c0-8403-d33d0c8b7938",
      "name": "Merge6"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\n// Separa uploads de estabelecimentos\nconst uploads = {};\nconst estabelecimentos = {};\n\nfor (const item of items) {\n  const id = item.id;\n  if (!id) continue;\n\n  // É um item de upload se tiver capa e não tiver nome\n  if (item.capa && !item.nome) {\n    uploads[id] = item;\n  } else if (item.nome) {\n    estabelecimentos[id] = item;\n  }\n}\n\n// Mescla upload + estabelecimento pelo id\nreturn Object.keys(estabelecimentos).map(id => {\n  const est = estabelecimentos[id];\n  const upload = uploads[id] || {};\n\n  return {\n    json: {\n      ...est,\n      capa: upload.capa ?? null,\n      fotos_salvas: upload.fotos ?? [],\n      qtd_fotos_salvas: upload.qtd_fotos ?? 0,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5600,
        1424
      ],
      "id": "d7171d45-16e4-4c2f-9c3d-5a52d0f0569a",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\nreturn items.map(item => {\n  return {\n    json: {\n      id: item.id ?? null,\n      nome: item.nome ?? null,\n      subtipos: item.subtipos ?? null,\n      endereco: item.endereco ?? null,\n      bairro: item.bairro ?? null,\n      cep: item.cep ?? null,\n      cidade: item.cidade ?? null,\n      estado: item.estado ?? null,\n      pais: item.pais ?? null,\n      telefone: item.telefone ?? null,\n      telefone_extra: item.telefone_extra ?? null,\n      email: item.email ?? null,\n      website: item.website ?? null,\n      instagram: item.instagram ?? null,\n      facebook: item.facebook ?? null,\n      link_google_maps: item.link_google_maps ?? null,\n      nota: item.nota ?? null,\n      qtd_avaliacoes: item.qtd_avaliacoes ?? null,\n      distribuicao_notas: item.distribuicao_notas ?? null,\n      status: item.status ?? null,\n      horarios: item.horarios ?? null,\n      faixa_preco: item.faixa_preco ?? null,\n\n      qtd_fotos: item.qtd_fotos_salvas ?? item.qtd_fotos ?? null,\n      gallery: item.fotos_salvas ?? item.gallery ?? [],\n      capa: item.capa ?? null,\n\n      fotos: item.fotos ?? null,\n      resumo: item.resumo ?? null,\n      details_google: item.details_google ?? null,\n      google_id: item.google_id ?? null,\n      place_id: item.place_id ?? null,\n      verificado: item.verificado ?? null,\n      timezone: item.timezone ?? null,\n\n      reviews: typeof item.reviews === 'string'\n        ? JSON.parse(item.reviews)\n        : (item.reviews ?? null),\n\n      par1: item.par1 ?? null,\n      just1: item.just1 ?? null,\n      par2: item.par2 ?? null,\n      just2: item.just2 ?? null,\n      par3: item.par3 ?? null,\n      just3: item.just3 ?? null,\n      par4: item.par4 ?? null,\n      just4: item.just4 ?? null,\n      par5: item.par5 ?? null,\n      just5: item.just5 ?? null,\n      \"média\": item[\"média\"] ?? null,\n      aproved: item.aproved ?? null,\n      reason: item.reason ?? null,\n      segmento: item.segmento ?? null,\n      subsegmento: item.subsegmento ?? null,\n      nr_latitude: item.nr_latitude ?? null,\n      nr_longitude: item.nr_longitude ?? null,\n      minimum_grade: item.minimum_grade ?? null,\n      go_to_reevaluation: true,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5776,
        1424
      ],
      "id": "e45c41bf-e0cf-4fa1-a0a9-29a6cc1b4c16",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "tableId": "geral_estabelecimentos_avaliados",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5984,
        1424
      ],
      "id": "8ecd60b8-8383-472e-8745-551efb2ee2c5",
      "name": "Create a row2",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cb30c38e-ad3c-458a-8342-7d67e0a8c747",
              "leftValue": "={{ $json.aproved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4112,
        1456
      ],
      "id": "8c5ce06a-4e67-4966-b2e2-f6ac5c54186e",
      "name": "If2"
    },
    {
      "parameters": {
        "tableId": "geral_estabelecimentos_avaliados",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4512,
        1728
      ],
      "id": "1fa701ed-15ee-4a1e-a45e-e70f4a62570b",
      "name": "Create a row3",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "geral_estabelecimentos_desc",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "go_to_trip",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4688,
        1728
      ],
      "id": "a17b4746-cbe1-4167-9f0d-58569b2b79a1",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "geral_estabelecimentos_desc",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "go_to_trip",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6160,
        1424
      ],
      "id": "69953fed-3567-48c4-9b38-e3efc2d63f0d",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "U4InZOJsE9hnMgS6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Lê o campo existente SEM alterá-lo, e adiciona um campo novo com frases numeradas.\nconst texto = $json.comentarios_formatados || \"\";\n\n// 1) separa cada \"Comentário N: ...\" preservando o número original\nconst blocos = texto\n  .split(/\\n\\s*\\n/)            // comentários são separados por linha em branco\n  .map(b => b.trim())\n  .filter(Boolean);\n\nconst linhas = [];\nlet contadorFrase = 0;\n\nfor (const bloco of blocos) {\n  // remove o rótulo \"Comentário N:\" do início, guardando o número\n  const m = bloco.match(/^Coment[áa]rio\\s+(\\d+)\\s*:\\s*([\\s\\S]*)$/i);\n  const numComentario = m ? m[1] : \"?\";\n  const corpo = m ? m[2] : bloco;\n\n  // 2) quebra o corpo em frases (fim de frase ou quebra de linha)\n  const frases = corpo\n    .split(/(?<=[.!?])\\s+|\\n+/)\n    .map(f => f.trim())\n    .filter(f => f.length > 0);\n\n  // se o comentário não tiver pontuação, ele inteiro vira uma \"frase\"\n  const lista = frases.length ? frases : [corpo.trim()].filter(Boolean);\n\n  for (const f of lista) {\n    contadorFrase++;\n    // formato: \"F12 (C10): frase isolada\"\n    linhas.push(`F${contadorFrase} (C${numComentario}): ${f}`);\n  }\n}\n\n// adiciona o campo novo, mantém todo o resto do item intacto\n$json.comentarios_frases = linhas.join(\"\\n\");\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        1408
      ],
      "id": "03621b59-d4f7-44b8-a4ce-38d224a7f121",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Limpa a saída dos agentes mas MANTÉM cada campo de review como STRING JSON,\n// e MANTÉM os itens separados (é o que o Organizer espera receber).\n// Só desembrulha {action,text} e normaliza, sem mudar a estrutura.\n// Detecta automaticamente qualquer campo \"*_review\" + \"summary\", então\n// funciona em qualquer fluxo (service, food, fun, beauty, etc.).\n\nfunction ehCampoReview(chave) {\n  return chave === \"summary\" || chave.endsWith(\"_review\");\n}\n\nfunction limpaParaString(valor) {\n  if (valor == null) return valor;\n  let obj = (typeof valor === \"object\") ? valor : null;\n  if (obj === null && typeof valor === \"string\") {\n    try { obj = JSON.parse(valor.trim()); } catch (e) { return valor; } // não parseou: devolve como veio\n  }\n  if (!obj) return valor;\n  // desembrulha {action:\"parse\", text:\"{...}\"}\n  if (obj.text && (obj.action || obj.resultado === undefined)) {\n    try {\n      const inner = JSON.parse(obj.text);\n      if (inner && (inner.resultado !== undefined || inner.id !== undefined)) obj = inner;\n    } catch (e) {}\n  }\n  // re-serializa como string JSON limpa { id, resultado }\n  return JSON.stringify({\n    id: obj.id ?? null,\n    resultado: obj.resultado ?? null\n  });\n}\n\nconst out = [];\nfor (const item of $input.all()) {\n  const novo = { ...item.json };\n  for (const campo of Object.keys(novo)) {\n    if (ehCampoReview(campo) && novo[campo] !== undefined) {\n      novo[campo] = limpaParaString(novo[campo]);\n    }\n  }\n  out.push({ json: novo });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        1440
      ],
      "id": "913903b4-ee85-4fad-9b58-e12962665046",
      "name": "Code in JavaScript7"
    }
  ],
  "connections": {
    "Price to value review2": {
      "main": [
        [
          {
            "node": "Merge15",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Space review2": {
      "main": [
        [
          {
            "node": "Merge15",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "service_review2": {
      "main": [
        [
          {
            "node": "Merge15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch7": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 1
          },
          {
            "node": "Fotos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge15": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fun_review1": {
      "main": [
        [
          {
            "node": "Merge15",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "Space review2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Price to value review2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "service_review2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "fun_review1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "beauty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summary": {
      "main": [
        [
          {
            "node": "Merge15",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "beauty": {
      "main": [
        [
          {
            "node": "Merge15",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Organizer1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge10": {
      "main": [
        [
          {
            "node": "Organizer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fotos": {
      "main": [
        [
          {
            "node": "Fotos organizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fotos organizer": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Automatic rejection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Indexer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indexer": {
      "main": [
        [
          {
            "node": "organizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automatic rejection": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Picasso": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Picasso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Automatic rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "organizer": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizer": {
      "main": [
        [
          {
            "node": "média1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Organizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "média1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "organizer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "organizer2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image split1": {
      "main": [
        [
          {
            "node": "STORAGE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image organizer1": {
      "main": [
        [
          {
            "node": "image split1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STORAGE1": {
      "main": [
        [
          {
            "node": "Organizador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizador1": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Create a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "image organizer1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Create a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row3": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row2": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "id": "0f5dd185-be3c-4980-97b5-b9e0116f5213",
          "nome": "Marina Bay Vix",
          "subsegmento": "Marina",
          "endereco": "Marina Bay Vix - R. Vitalino dos Santos Valadares, 175 - Santa Luíza, Vitória - ES, 29045-360, Brazil",
          "bairro": "Santa Luíza",
          "cep": "29045-360",
          "cidade": "Vitória",
          "estado": "ES",
          "telefone": "+5527997318091",
          "website": null,
          "nota": 4.8,
          "qtd_avaliacoes": 110,
          "distribuicao_notas": [
            1,
            1,
            3,
            10,
            95
          ],
          "status": "ativo",
          "horarios": [],
          "faixa_preco": null,
          "qtd_fotos": 8,
          "fotos": [
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAEyH70kYrs_nXxheBvDmw_Yi3LsMJxtdTB21jMnciZeGh_NbbdEJOtYJR5wkAmwvBEaa5aIuSYM-S5lvpldM90G699e8AWnlUuuuZQRPvPTpF92Bsnuf15fjVOgCxtB90bAgg5U=w224-h398-k-no",
              "description": "All"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAGpw9o-B0zcveEElqJ-MdLc1y74kawbINKKWgttvPiM8mf_j1nyVdK5VMNTCtgLlWhk95qtfj9wzDnRfx0Zbq4bsMmSb9_0Fco-K3C23fcxDp-7Q6P2zHiojhPk9tg8Q2UB2uwuSaiXZcuQ=w224-h398-k-no",
              "description": "Latest"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAELDzdlYX14wY1Qvc02jMnPnbpfmenIsUOhu2bTzj93AajZrAmGPtsTZiH5Afel1UcfBqb0pWcYMdLlaBVBZNX5wSuyOfA8Q6WyHPIK_YY_nmaPhA5i7YRzZIvBrqsZc2Mo_ScQ=w533-h298-k-no",
              "description": "Videos"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAF1bkKDhMQZJTDm92BoMvQJ2IPmi-jZcMWCDN8NHfF7nCWfJUBAQWyNqSQmjS9vVdt5Jm0KgRHPtoqUqEv0wjTSZHmciXPfbnoXvOwykEE4LgC0xXIPLK43NhYppHSA4m8RcHKMJw=w224-h298-k-no",
              "description": "Sea"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAFt3HfnNo19gMH1n0Stg7XneN7bma2fermea1IDPQWs16806Wqx1DDCgc_Is2pt-FvS_xx7KWoco4BeNnt-_sq5BXKKuZ0SYirkUwAl2bGiztJUPSAobxI7_cEiPA_dFRCxw17QTg=w224-h298-k-no",
              "description": "Beach"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAHG22DOOqDb4glDD0D9iJQUc2VQ-NRgHGZ-J68fP9DsOSZPA3DYo0mmq4sAYJc6DILQwWcxpThb4DEl58Ih_jE55ggrXPxXQnrtN7zgO9DOg4Dgb7iHVxG1Ye0vUwdwYtlm5cSf=w224-h398-k-no",
              "description": "Dock"
            },
            {
              "url": "https://lh3.googleusercontent.com/gps-cs-s/APNQkAEFbYmYPlu43KXN3QX-UOK1VhcOKQl-oOlNaWYdApG-gugVab8BXUGVfDMxz1azFXwhRJFyNNm6O8_4DdQ7zIn_pbGx8B9FMQpeBJCOo124nUZzE-wgkhSkkmZ49Uxt3x2BvPEi=w224-h484-k-no",
              "description": "By owner"
            },
            {
              "url": "https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=xBSFjALud0YGbu70VGyhGg&cb_client=maps_sv.tactile.gps&w=224&h=298&yaw=73.13111&pitch=0&thumbfov=100",
              "description": "Street View & 360°"
            }
          ],
          "resumo": null,
          "acessibilidade": "Wheelchair accessible entrance, Wheelchair accessible parking lot, Wheelchair accessible restroom",
          "email": null,
          "telefone_extra": null,
          "instagram": "https://www.instagram.com/marinabay.vix/",
          "facebook": null,
          "link_google_maps": "https://www.google.com/maps/place/data=!3m1!4b1!4m2!3m1!1s0xb8176aeb93dbc7:0x5cc864b82714c8e0",
          "google_id": "0xb8176aeb93dbc7:0x5cc864b82714c8e0",
          "place_id": "ChIJx9uT62oXuAAR4MgUJ7hkyFw",
          "verificado": "true",
          "timezone": "America/Sao_Paulo",
          "created_at": "2026-06-12T18:46:10.189414+00:00",
          "atualizacoes": null,
          "reviews": [
            {
              "iso_date": "2024-06-17 02:31:14",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnSUNMd3F2MTJBRRAB",
              "user_link": "https://www.google.com/maps/contrib/104569667106626583253?hl=en",
              "user_name": "Anderson Bahia",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSUNMd3F2MTJBRRAB!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CIHM0ogKEICAgICLwqv12AE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Top",
              "review_time": "a year ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocI32NrWKJC6_x8cXDawV_COJdfkzlaTEqUCct9rFUrkCbJalA=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_LnhYif___EhBmpe0SxbHHdyV5arwAAAAAGgn98Q4Cb9v3NtkYACIA:1",
              "review_photos": [
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn2t8Xu2reahW8orLRpll135Vh676ojKj5sPP8kRrVSPhHsPrkaM86sMbePiGdZupcefrn6qKQcqWFZMX7DpLE9GqKZf1QJBhXW_s9GWUjjP7_Qd8bDXlsEHkf6WSTur7PQYhYiW=k-no"
              ],
              "review_services": [],
              "review_timestamp": 1718591473958138,
              "user_total_photos": 36,
              "iso_date_timestamp": 1718591473958138,
              "user_total_reviews": 36,
              "iso_date_of_last_edit": "2024-06-17 02:31:14",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1718591473958138
            },
            {
              "iso_date": "2025-12-11 22:44:52",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT21GSlkwOVZUa3N5U0RsRlMzZzBZelpSZVRSalMzYxAB",
              "user_link": "https://www.google.com/maps/contrib/115259594586827459663?hl=en",
              "user_name": "magnum milanez",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT21GSlkwOVZUa3N5U0RsRlMzZzBZelpSZVRSalMzYxAB!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CAIQACodChtycF9oOmFJY09VTksySDlFS3g0YzZReTRjS3c%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Marina top",
              "review_time": "6 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocIDpN7yJoMMngc-AlbwJzpASzzmS2XBWEZitM5gvnvdMvU5Bg=s120-c-rp-mo-br100",
              "owner_answer": {
                "date": "a month ago",
                "text": {
                  "en": "Thanks",
                  "pt": "Obrigado"
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_L1Nwkv___EhA98x8AEGEmeqxf_-MAAAAAGgn9-WoCZPBpUvAYACIA:2",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1765493091599795,
              "user_total_photos": 2,
              "iso_date_timestamp": 1765493091599795,
              "user_total_reviews": 4,
              "iso_date_of_last_edit": "2025-12-11 22:44:52",
              "business_response_text": "Obrigado",
              "iso_date_of_last_edit_timestamp": 1765493091599795
            },
            {
              "iso_date": "2021-09-18 20:28:13",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUQ2OE9xSk53EAE",
              "user_link": "https://www.google.com/maps/contrib/101091973466444444483?hl=en",
              "user_name": "marcio nunes Barros",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUQ2OE9xSk53EAE!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CIHM0ogKEICAgID68OqJNw%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Show",
              "review_time": "4 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjWQXcIPmAz8JRHZc44GFz2260uYDJ3TGkEjmRCdbh83dSZGP0bapw=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_L8TB5n___EhCpzSd26Lfd_rhHxuIAAAAAGgn9_bwChAVmpqQYACIA:3",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1631996959067778,
              "user_total_photos": 48,
              "iso_date_timestamp": 1631996892536349,
              "user_total_reviews": 30,
              "iso_date_of_last_edit": "2021-09-18 20:29:19",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1631996959067778
            },
            {
              "iso_date": "2021-05-21 15:03:09",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSURLbjhuV1hnEAE",
              "user_link": "https://www.google.com/maps/contrib/105872945952102464463?hl=en",
              "user_name": "Francisco marconi",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSURLbjhuV1hnEAE!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CIHM0ogKEICAgIDKn8nWXg%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Top",
              "review_time": "Edited 5 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjUpSkCw45uHR01oeHWN9RjUDf8MiDFEQsLsSuudlDIwjWDYELLntQ=s120-c-rp-mo-br100",
              "owner_answer": {
                "date": "5 years ago",
                "text": {
                  "en": "Come back soon!!",
                  "pt": "Volte Sempre!!"
                }
              },
              "review_cursor": "CjAIARIoCgoAP7_L_752yH__EhB-L_eNA_6xPitDG3EAAAAAGgj-9QKGQFP9NBgAIgA:4",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1622418391755041,
              "user_total_photos": 1,
              "iso_date_timestamp": 1621609389087546,
              "user_total_reviews": 9,
              "iso_date_of_last_edit": "2021-05-30 23:46:32",
              "business_response_text": "Volte Sempre!!",
              "iso_date_of_last_edit_timestamp": 1622418391755041
            },
            {
              "iso_date": "2025-12-11 19:44:02",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT2tGclYwWnplazl5YTFweU1UaDZZMWM0VjJNelZXYxAB",
              "user_link": "https://www.google.com/maps/contrib/113945248658067803369?hl=en",
              "user_name": "Guilherme Fardin",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT2tGclYwWnplazl5YTFweU1UaDZZMWM0VjJNelZXYxAB!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CAIQACodChtycF9oOkFrV0Zzek9ya1pyMTh6Y1c4V2MzVWc%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Local muito bom. Passeios de lancha. Jet. Comida e bebida boa. Recomendo 100%",
              "review_time": "6 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjWGP2U9Mpo1GtHFxtqQQQu4KMHq_vLBbaQACLUiEn-UqwLBGhCI=s120-c-rp-mo-br100",
              "owner_answer": {
                "date": "a month ago",
                "text": {
                  "en": "Thank you for the feedback.",
                  "pt": "Obrigado pelo feedback."
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_aA1xB____EhDeAzmm0OazKovobMgAAAAAGgn92TECZPEO4Y8YACIA:5",
              "review_photos": [
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn0FU49YGvek36g008evtLIaYMb8CigW1F0a4Mxhu-v0oKZQw-2ZMIo0BrHtpKAPehq6I89TEaO8bi2a8B309EGBt3sbPpKJ0Oyoaj1IuVwsN1JzsmOi0sG2P17RRhNOjloFLsNu5QjxfaE=k-no"
              ],
              "review_services": [],
              "review_timestamp": 1765482241648953,
              "user_total_photos": 3,
              "iso_date_timestamp": 1765482241648953,
              "user_total_reviews": 8,
              "iso_date_of_last_edit": "2025-12-11 19:44:02",
              "business_response_text": "Obrigado pelo feedback.",
              "iso_date_of_last_edit_timestamp": 1765482241648953
            },
            {
              "iso_date": "2025-12-11 23:44:20",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT2twRFJGOXBOa1kyVnpsdlUweDFaSGN3VlRWNlZWRRAB",
              "user_link": "https://www.google.com/maps/contrib/111359897384621745931?hl=en",
              "user_name": "Thiago Malta Leite Nascimento",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT2twRFJGOXBOa1kyVnpsdlUweDFaSGN3VlRWNlZWRRAB!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CAIQACodChtycF9oOkpDRF9pNkY2VzlvU0x1ZHcwVTV6VVE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "A Marina Bay oferece uma estrutura organizada, segura e bem mantida, atendendo com eficiência tanto na área náutica quanto no suporte aos usuários. O restaurante tem ambiente agradável, serviço ágil e comida consistente, sem exageros, mas bem executada. No geral, é um local confiável, funcional e que entrega exatamente o que promete.",
              "review_time": "6 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocKIm067hVCicV_I7G_yH75sR-8Ipc-pN-EJrCPHIPIpO_E4aQ=s120-c-rp-mo-br100",
              "owner_answer": {
                "date": "a month ago",
                "text": {
                  "en": "Thanks Thiago 💪🏻",
                  "pt": "Obrigado Thiago 💪🏻"
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_aA-vL____EhA28b39pgaqdfPnIv0AAAAAGgn92TwCZPAy31QYACIA:6",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1765496660139002,
              "user_total_photos": 0,
              "iso_date_timestamp": 1765496660139002,
              "user_total_reviews": 1,
              "iso_date_of_last_edit": "2025-12-11 23:44:20",
              "business_response_text": "Obrigado Thiago 💪🏻",
              "iso_date_of_last_edit_timestamp": 1765496660139002
            },
            {
              "iso_date": "2023-03-03 17:52:56",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSURobk9hQUJBEAE",
              "user_link": "https://www.google.com/maps/contrib/115002982439219988378?hl=en",
              "user_name": "Ana Carolina Oliveira",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSURobk9hQUJBEAE!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CIHM0ogKEICAgIDhnOaABA%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Exfelente opção para aluguel de lanchas e jet sky. Nós alugamos um jet sky (é necessário ter habilitação náutica) e fizemos um tour pelas ilhotas que cercam Vitória e Vilha Velha. Durante o passeio paramos em umas prainhas que se formam entre as rochas. Super recomendo!!! Além desta parte náutica, a Marina Bay conta com um barzinho onde é possivel  desfrutar de um lindo visual.",
              "review_time": "3 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjWJVpoDh4rWTE_hJ7cDMHFAWtgz-c3Qq2N-4CwZNdS2aYSvkgow=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_aBEEX____EhCNeGkC_D3XXki2JJ8AAAAAGgn92UICeVdkB8gYACIA:7",
              "review_photos": [
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn20oIbNSA-zLNK5z2k5zxh4-keMrWkw2UJjJutEgo1VLZSWaW_dM7t-mWpAsIMwyl3waZKM_PBySBYi5kq_gEiqyRIV_TdkpZncKX567DjHIVSbLnwYsn9rPnvsOyiTw6GnOS0=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn2BvRa-b55h1-X_4TuVxtVgw5vV-SL1g4bc20XA4iZzzpCnu9nPLmCo994rH69K1z1HUPIigKJem_PEs8Yhu53_owAMYifBUKqaH-ArZvvwTJctaPcx9PNv3mNqGphDei6OSx-Z=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn2W1NW3LERuuJm26cD4DCG9RA_BTfxw0jREezB-9ltT3zp1DCYqjCv6eL2-p8wJHyNRYu_8oy9DYTUE3Jwbs-8D0vYeNiV-ZgifnxurUFg7axCmZngzcobbUUWNgLUgPuei4WP0=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn39eW8o4zVMyIrtS6Sqydj-5inegfRHCB3p3bcCyH-Cd414npM4TLWbpvcnl06S52kHDbnFCaz96_lc3fmIkTKKdcKTf2Vz5YaImklV6ypmsbuGy0HAxh6qaMw1p851T6WrVA6NCw=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn3DOuthymfXMBfDUIGdvgAWuaEGEtMQxFHYW2oMpZDaDeQQ4algDlN6UYnvreexNpmJ68lI66jiKxyMDas3C2EV6VWYTVzbSVt35tRyE-IRwq92Ugx54oNlre20hXH78icO6IHk=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn1lFHwJ9M0i37AyfFmQzOQm-fTDMlwwt6mnbPtUz7bsPm90B_4KGTTQAz_zHE35qxcfKEKAFiYDTTqnvT7H_jmTIKQ6GKYz8jP4jCW3kF7sX3lS8MbLjPG-3wrgtGA-Oa2xoAE2bg=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn08WPoRESXUNlbJBLsW-Pwnb4sgWwfGNe7e5T4HrCze6cMfDkzj12T-r39_dRhMssrFUof20dQgQJOSxzgvGOyKtf_l-xBqBx5szVffo3rJ8vHdRzdS6KA_6wmPs3fV-8oPL7yp=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn2MyCsPYyRbUCp47C3aIxFSwUwNdSr3wevVD9rA_ABlxFec3fFLtP6W6pBePawRoB7BiW9z8WqvqXu0-dGbNsJAHhObwUs0Bts7GlUWiIYg3FOccEM6PB6mS8s_Yg0LeUkBhhW_mA=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn15b2wD2h-HWLRCVjnvK4vtv_UCI2XBUGl0zkO9Nc6Qgf6dtaDNXgurjgQ1qNOPubpj9_B3hkoH7UYjIxBwSAvjuBXYj41VrrGaHRP4AqG66agalsfgvUCzuC2y2oLRGR7YgICM=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn25sGX9ZMVfWQtAlAzj6PAf6LoHYHq4-x0g2X3PE1qqk6T5LpoQJejMTOfJGuweJnwuUOnU0hY2JJPuEjCDJNQSIeXVgZOJKqu698CN3wC3-z1hiUjW1ITMy1CZ1rDlJgHYjFcV=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn0z3lo2N4g7RATLcyVqb5J6j_8mM0zlZ3dlmOuWNvj-_tZmfN5q1QH9KvoedMBSfeozr42DmedQ6VOhWeCcnzT9RHxLisvUqaj_tY_gQk43OMz_z0Abxl0s_3D9uET6utvDSPd3=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn1isew8Doi0jCRiHh74L7p7g6qE3poSruPbHuX0iDB0jceKgXQyEqdQ8qwOJHv4jtUZcoj3dajVwaOh6gYYO4mM0r--Iqq7V_P9qbJW8X7Y11Qe2myTWojJks7MH2KdErqusKmLlA=k-no"
              ],
              "review_services": [],
              "review_timestamp": 1677866039351145,
              "user_total_photos": 3364,
              "iso_date_timestamp": 1677865975851092,
              "user_total_reviews": 425,
              "iso_date_of_last_edit": "2023-03-03 17:53:59",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1677866039351145
            },
            {
              "iso_date": "2025-12-12 10:28:55",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT2pNdFJtcHZSVlJPV1hJd05uZENPRkpzV1ZKSlZGRRAB",
              "user_link": "https://www.google.com/maps/contrib/102112858563559817455?hl=en",
              "user_name": "Débora Prest",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT2pNdFJtcHZSVlJPV1hJd05uZENPRkpzV1ZKSlZGRRAB!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CAIQACodChtycF9oOjMtRmpvRVROWXIwNndCOFJsWVJJVFE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Excelente lugar para passear com os amigos e a família. Ambiente confortável, bom atendimento e comida deliciosa!",
              "review_time": "6 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjWvgRQN1VEtYa4spi3nHeSp48ggs4nYs3OPvOTWVIAvnQ1D52Ww=s120-c-rp-mo-br100",
              "owner_answer": {
                "date": "a month ago",
                "text": {
                  "en": "Thank you, most famous blogger in Espírito Santo 🙏",
                  "pt": "Obrigado blogueira mais famosa do ES 🙏"
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_aBgST____EhAxs8kIDSD0DLry-jsAAAAAGgn92WUCZO3kvwkYACIA:8",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1765535334646783,
              "user_total_photos": 2,
              "iso_date_timestamp": 1765535334646783,
              "user_total_reviews": 8,
              "iso_date_of_last_edit": "2025-12-12 10:28:55",
              "business_response_text": "Obrigado blogueira mais famosa do ES 🙏",
              "iso_date_of_last_edit_timestamp": 1765535334646783
            },
            {
              "iso_date": "2024-11-02 14:42:34",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSUMzMklTeGZBEAE",
              "user_link": "https://www.google.com/maps/contrib/108027973479037430091?hl=en",
              "user_name": "Fernando Vieira Silva",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSUMzMklTeGZBEAE!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CIHM0ogKEICAgIC32ISxfA%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Lugar agradável  muito bonito, preço  relativamente te bom considerando  que é  uma marina, música boa atendimento  muito bom.",
              "review_time": "a year ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjW2khl45bZs5t2ooYLHe2wLniZSJhfAxMm4caT-QdQ5aLr4yvxI=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_aBvnF____EhBdZL-Gp0PTSEDR9l8AAAAAGgn92XcCbRKsEQQYACIA:9",
              "review_photos": [
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn0vtfB5H9F0BVCNNHb-SO1DDJSTSenSppVtNnC3iIP2IS3Akz37Z5lqBuO5FBYCxaKONeeBvspKgHiY_IZ97B318VuqZuSF4uotkklzIyxaHEa_vJCdq0_UOBHBiJHUV-sFx7U1jg=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn28YoDy3xW8BiRn274yaHiKPWYKsXiPP4U7T0B02eJwSZGcIdAIQAKYG-ZLVET57Mi4bZCe_8hrfEm2USp2Cc8o4f9U84IdxlS2nVVz_M2b-wvD9PhcmJV04FTs-Sn0Atv5xPVAxQ=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn1bbP9rXkCLtZdjacBUfN76DQkOs6td9q7AhtZiQ1ESTU7SkkofAwq80Y_TqGyWSyI6zPs1tUzuCUDZXYcyEOJHWh1pKb_cbj91kcM-OVKZfzTZ_sUswZtfwZfX5I77rRu5eyoD=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn3kIeq-ux79Ui4R47A7vP5-lxpzMB31oTOAT6-l_oXPEBkPyz74x508YkiBopMHGBrqCcenro8EgyCza_Xqb5rKF41f2fr0KStLxuOm02eccsNivWDpDNFZgYqDOKYeyvcupWF3DQ=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn33KOFzH6FPCNjQNoOkh1EPLPJrMDP1zU3Gnmgg-r6c3Twq66WbKbwflU-1oy4UKanT2lOnllGJ28aY94wuiTilKCiDNzcJ2aA5IE-tIWEzfDypWjgZJwYT6BBg6VVxmG4tiLI=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn31zkT6kDEnoZVDHvTeHGNx0FdBrRrCR3IoW0yYGOHTbmupMTTGVpEclPoRuVT_da9vEqMpVwA7Ua4sMfN9eGooa6EDjpMqlQUlpguyX3mLjAcqv0cYn88AYi7TftynpkJfI9g=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn0jkcRgXjL-kAEFwiZ7kN-p3SkBcvLJXeNy9WCUD3T_Gk1gVfLaTe0OPZys_u97mRXaqa3ShJJIpMpvCL39UAHQH8BU9VzwWc73Hiq3Z9A6XB_IQqcS9dKKJvR-Nf4i1pBq6MiNKA=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn38K8bBZQxQIs-9fEfb9v0dz-2gAbQsU4d4BQiRniZC1xrJAunGMwUv6--4LbevV1nZT6IdR29NiUo0lHNbG4H9Go2B0C702Bf9z4lBfM_GQM03TBOsP4VUbkfcsT_hCsXjJiWy=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn0sCRuiViexTohkeV07YdgII7jZz7m5iYH5Vtjqlom4oh9LdocutSkkcxIrJeiQ3j_8_5MjnJkRIvhUtMb7trr2H0CV09D3tvYc8GNflNieT0_OmTdtbY8iE2e3fzohFI-Gna5SXQ=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn0zckzors8RbSQDVktxXNbjR3nvGjXIeagx4wF-G6nU_l5fqVGz9l5WR12XTqj2hGTNUdpYoeXNykzILdQZRU4QJorE6XtgNn-HnNFgny7xwQ3kgb--HAOxdbWAX44kUooAWTBy=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn00TTaSPw_Dp4A8LPqiV5Q_Zy28v2u5JLTDXVaqSHSaEbGr5J7cLXZMpBcbMkm-BIF2r2rwTowdbd2NKAQDj3RCeozBWfcOOLkdz_HbqgFHkSCOK_Dg4OmGHEJk_IK2gZgLOdSlGA=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn1FkDhQrhHosOIwVSQt7j5XmP_YeVfZ2rcpm0pijkycRYfXEzmxElbUGuRAdDIpruYfSULlfp0cHqyJVE-6_5Tt-bA4KNySqf0QuHAiXPKW3vHzzWRWoqi4VLfu9Xg9W1e1uRT0=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn15kb33jsDAlcX8lcicuBA3j9mFb08feF8zEIn9O5P62yEwfEqd6aaZPeCXTfu3jRQApY34qMGWLHq8Sz77M8mkLwa8Yumgj0j2scUil7Ze3_bOsCEvG4s1qnWbZ2vYhCGkC9T5=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn3GwT81It_AxpgwFTf9Xf2j24QLbRYtXzp7_zZmpeyFDc0zqs5WztX38qh5ZXutWQTsXqbQ2xJ0_zptqyqdwAl2nhlPnJoM5lHwIsSr2M7UdtqKcnyzqU2cmXozkgUP9jLg58QD=k-no"
              ],
              "review_services": [],
              "review_timestamp": 1730558553851859,
              "user_total_photos": 1463,
              "iso_date_timestamp": 1730558553851859,
              "user_total_reviews": 277,
              "iso_date_of_last_edit": "2024-11-02 14:42:34",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1730558553851859
            },
            {
              "iso_date": "2025-12-12 00:13:05",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT2xFeFZ6WjJWR0owTldvM2NWbGpTMUppWm5kU09FRRAB",
              "user_link": "https://www.google.com/maps/contrib/112455578555350402585?hl=en",
              "user_name": "Marcus Vinicius Nascimento Melo",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT2xFeFZ6WjJWR0owTldvM2NWbGpTMUppWm5kU09FRRAB!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CAIQACodChtycF9oOlExVzZ2VGJ0NWo3cVljS1JiZndSOEE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Fantástico o local! Boa comida, cerveja gelada várias opções. A vista e linda e os cuidados com as embarcações e de primeira....",
              "review_time": "6 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjWSh0CvWtEr98ORLY1TrDvgiwku5nnLENi4fHzquHXIlwS2eJZ35Q=s120-c-rp-mo-br100",
              "owner_answer": {
                "date": "a month ago",
                "text": {
                  "en": "Thank you for the feedback, we hope you can recommend us 💪🏻",
                  "pt": "Obrigado pelo feedback, que possa nos indicar 💪🏻"
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_aB4TD____EhCXAzkibIeW2f9d0GwAAAAAGgn92YICZPAYjm0YACIA:10",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1765498384786331,
              "user_total_photos": 2,
              "iso_date_timestamp": 1765498384786331,
              "user_total_reviews": 9,
              "iso_date_of_last_edit": "2025-12-12 00:13:05",
              "business_response_text": "Obrigado pelo feedback, que possa nos indicar 💪🏻",
              "iso_date_of_last_edit_timestamp": 1765498384786331
            },
            {
              "iso_date": "2025-12-11 20:04:45",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT2paeU1rOVVibXRSUWtselVtWk9WSHBEWDFWZmVrRRAB",
              "user_link": "https://www.google.com/maps/contrib/116238311491041576476?hl=en",
              "user_name": "Bruno Eduardo",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT2paeU1rOVVibXRSUWtselVtWk9WSHBEWDFWZmVrRRAB!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CAIQACodChtycF9oOjZyMk9UbmtRQklzUmZOVHpDX1VfekE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Excelente ambiente, espaço muito familiar e acolhedor. Restaurante muito bom.",
              "review_time": "6 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocLTugr0y-_aPiBQMId7tN8IJ9FwF1e9qCg7K_UocCg1tOFNtw=s120-c-rp-mo-br100",
              "owner_answer": {
                "date": "a month ago",
                "text": {
                  "en": "Thanks",
                  "pt": "Obrigado"
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_aCQdH____EhCqVVoY1WbQDF8ZV4AAAAAAGgn92Z8CZPD76nAYACIA:11",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1765483484559988,
              "user_total_photos": 0,
              "iso_date_timestamp": 1765483484559988,
              "user_total_reviews": 1,
              "iso_date_of_last_edit": "2025-12-11 20:04:45",
              "business_response_text": "Obrigado",
              "iso_date_of_last_edit_timestamp": 1765483484559988
            },
            {
              "iso_date": "2025-12-12 13:49:09",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT2tWeGFtWklOMk5QYmxFMWQwNUtSRWRtWTNoQ09WRRAB",
              "user_link": "https://www.google.com/maps/contrib/106423784512053135913?hl=en",
              "user_name": "Leonardo Borgo",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT2tWeGFtWklOMk5QYmxFMWQwNUtSRWRtWTNoQ09WRRAB!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CAIQACodChtycF9oOkVxamZIN2NPblE1d05KREdmY3hCOVE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Atendimento top! Tem almoço executivo durante a semana. E o clima dos eventos de fim de semana é muito bom! Recomendo!",
              "review_time": "6 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjU5_pqJlTuhY5gNDvOPR1qzeVs1l7KhXbAj_lMEuGINHakglRlShw=s120-c-rp-mo-br100",
              "owner_answer": {
                "date": "a month ago",
                "text": {
                  "en": "Thank you for the feedback! 🙌🏻",
                  "pt": "Obrigado pelo feedback! 🙌🏻"
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_aCUJP____EhAOaqqbAD9a-7R2n6sAAAAAGgn92aQCZO0tbd4YACIA:12",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1765547348513024,
              "user_total_photos": 0,
              "iso_date_timestamp": 1765547348513024,
              "user_total_reviews": 10,
              "iso_date_of_last_edit": "2025-12-12 13:49:09",
              "business_response_text": "Obrigado pelo feedback! 🙌🏻",
              "iso_date_of_last_edit_timestamp": 1765547348513024
            },
            {
              "iso_date": "2025-12-11 23:48:53",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT2tNNVFtUXhUM1ZvTFRVd1RVOVJhbXhRUVVsWVQxRRAB",
              "user_link": "https://www.google.com/maps/contrib/105115493732251700660?hl=en",
              "user_name": "Sidney Azzari Neto",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT2tNNVFtUXhUM1ZvTFRVd1RVOVJhbXhRUVVsWVQxRRAB!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CAIQACodChtycF9oOkM5QmQxT3VoLTUwTU9RamxQQUlYT1E%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Experiência ótima, ambiente de família e bom, não é aquela Marina que quer extorquir o cliente, ou deixar o cliente na mão por causa de horário de guardar o jetski!",
              "review_time": "6 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjUH63Tm1YxzvCUWe-ZtA_c8BbJ6X4_HyWwipfKly_3mXu2RLQc=s120-c-rp-mo-br100",
              "owner_answer": {
                "date": "a month ago",
                "text": {
                  "en": "Thank you for the feedback.",
                  "pt": "Obrigado pelo feedback."
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_aCiUl____EhBIsbyQ5Kls7xlRf70AAAAAGgn92bUCZPAutngYACIA:13",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1765496932743107,
              "user_total_photos": 0,
              "iso_date_timestamp": 1765496932743107,
              "user_total_reviews": 6,
              "iso_date_of_last_edit": "2025-12-11 23:48:53",
              "business_response_text": "Obrigado pelo feedback.",
              "iso_date_of_last_edit_timestamp": 1765496932743107
            },
            {
              "iso_date": "2021-07-10 00:45:27",
              "review_id": "ChZDSUhNMG9nS0VJQ0FnSURxdm9uT1V3EAE",
              "user_link": "https://www.google.com/maps/contrib/108124700598175219847?hl=en",
              "user_name": "Hiroshi Uchiya",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChZDSUhNMG9nS0VJQ0FnSURxdm9uT1V3EAE!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CIHM0ogKEICAgIDqvonOUw%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Lugar lindo e aconchegante. Boa comida, boa música e bom atendimento. Serviço de Marina muito bom.",
              "review_time": "4 years ago",
              "user_avatar": "https://lh3.googleusercontent.com/a/ACg8ocKPaPHNdLaBbgFtFN2OsEBqlxpN8Nwp9mGPzWPbyxGi9TSHG3Dk=s120-c-rp-mo-br100",
              "owner_answer": {
                "date": "Edited 3 years ago",
                "text": {
                  "en": "Thank you for your visit.\n\nWe hope to welcome you again soon.",
                  "pt": "Obrigada pela visita.\nEsperamos recebê-lo novamente em breve"
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_aEZsn____EhBlBiz3yKinzitZSZoAAAAAGgn92kcChXIdqoQYACIA:14",
              "review_photos": [
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn0cf-m8-Zd2JhzdYENfQN9xAEJx-g72nWyLgiFe8LeSaDi451c4XYMGwQ26n4qKneccmx22_-XTid-2dq4qfCBQFh7LXGlxAgDll8oDSfIBO-2Qv_yFepqn7A30Vl7JgB12dPbfmA=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn31ePjjEAatOWrLDSrd6WzqO7ZrWwA2bSwpP53sOsEt2wVDEHAeE1BThZs_I7mzcwT_eaDW4T65YhPe5OpxYXPz3ig5RHueuy4Eyoih-I7WojrNzXHDuTCaWDQ35c-rl53x2_CQ=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn2qrYJ7K6OeVMKu2TmXyK5OHgB93sVfZz7FxvAOInazu8GWzRZi_HAMHXObwgi0RP5MQu4FiV4mT87z-ahDz5Ym_IlUnxJHqTvbeHC2dx0gDv8vIwlUKvCUyJVlE1GFJrPyWKOjMg=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn0NoLDpAC5Jg5sJwXTZEv6RJDcukf5JmrlsaXo9EM1vxKafmUrbozAIFrwdfzK4e2HaQibGG815og-dLizn7VL-rgJnLogDe-eQpj3sC9VrsBgY5MHur3tuXLMKLcx0PrkuQ8C4=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn3gWAZFUSmTKBzSuuzwg6ztgm-YTZcnN9_QfyaTQuVh4z7YW4XOzP85e8s9ZcP9bgCvoEGZ-8EIchqN8iMZF5UUXFV0KznWQVlzFbSTiVY3gq2_bitCt-6wh2cEQg1gh7Vxcumz0A=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn2a4fPc-QjhqzARK7TWLIHmo-el674VVxgCNK3PB7IKiIsFAPDycxSd1zefdzTdvt4V_gBqmqbeZwd462m0u5ffFV7swOqAcRnRT-24zG5FWPWJU6ZFaCnEkxcahYhNq8Kfz-bG=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn2bJIdJR1kFyVc5K4e_MnEKuZCepYvnsJj3-qiHsnarD4n2kmmgvh2tf-tlDdCTXviPhmnJe3zjEU0JyAZTZ75X284jaRsWuoIuvYqR1j1wFB62kOepvtKIPZkumnnjhPyFzYF-=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn3RjNIKeo1CfCVB9L270PLebIxweY9BLGq6Q7U6VtWceAoovPrm5mkMVfFkTg0IaXet9qMitBdVCwIusrs4wchh5LRLGbDPrEYhiEhmtq0-kEMZSNvvJxlh60BFRsLE2ZHtYLl0=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn0sM-9Es79-fPV1UeY8lvxTGrNga5TLbUMq1JOeNlT2GMoM11Ch7ZO4dONNp_kTLHjLCMmVSpgeq6yUzqiIZLdwNP5U-m8Dbv5m4mfMsZNG5L-MTgyXy_E8KUax899EznIS6bd44Q=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn0EDiTC7WXeVmUGZgVxKzEhK7Z5UNpYHoDLnUpthn8IGiiEWeXIdcE5Fw29QHXf-S_ly_-8q3Pap2sLjk-faNhu7hMhgCrGwjYbnrvKfVu741QDrJbORNOYrfWWmxGcazxyslK8=k-no",
                "https://lh3.googleusercontent.com/grass-cs/ANxoTn2gnesPSuPDTjdTkR_BTyRwUoDCMp_JHUEtELK_8C95IImY1L9qxl5mOBhy-vQUHNtclZypg1fwCFXdpniCF4GOaQB765EUkwzsKf4SXAVbyGzYyx5ImnqfF-jP5MW0evI4vvvF_w=k-no"
              ],
              "review_services": [],
              "review_timestamp": 1625878058363824,
              "user_total_photos": 13,
              "iso_date_timestamp": 1625877926997037,
              "user_total_reviews": 3,
              "iso_date_of_last_edit": "2021-07-10 00:47:38",
              "business_response_text": "Obrigada pela visita.\nEsperamos recebê-lo novamente em breve",
              "iso_date_of_last_edit_timestamp": 1625878058363824
            },
            {
              "iso_date": "2026-05-06 00:17:45",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT205UlNWVnVhamg2TTNGMk5qaG9RMlZsVXpSdlZHYxAB",
              "user_link": "https://www.google.com/maps/contrib/109086975962332322318?hl=en",
              "user_name": "Ludmila Porto",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT205UlNWVnVhamg2TTNGMk5qaG9RMlZsVXpSdlZHYxAB!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CAIQACodChtycF9oOm9RSVVuajh6M3F2NjhoQ2VlUzRvVGc%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Ótimo lugar para curtir um forró com uma brisa do canal...",
              "review_time": "a month ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjU8g2w4KKirmtgJx63_eSzyoW1oW5WkAI68cjdG08KFTVtTGMc7GQ=s120-c-rp-mo-ba12-br100",
              "owner_answer": {
                "date": "a month ago",
                "text": {
                  "en": "Thank you, we look forward to the next ones with more guests.",
                  "pt": "Obrigado, aguardamos nos próximos com mais convidados."
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_aIQLb____EhCXxKmdO3xLkez5D3YAAAAAGgn923QCYgVaKrsYACIA:15",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1778026665284452,
              "user_total_photos": 55,
              "iso_date_timestamp": 1778026665284452,
              "user_total_reviews": 51,
              "iso_date_of_last_edit": "2026-05-06 00:17:45",
              "business_response_text": "Obrigado, aguardamos nos próximos com mais convidados.",
              "iso_date_of_last_edit_timestamp": 1778026665284452
            },
            {
              "iso_date": "2025-12-11 19:45:37",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT2pFNVFVZGlkRGR0U3paTmNUZEtkbU5qWWxsdWNHYxAB",
              "user_link": "https://www.google.com/maps/contrib/114390753044200653203?hl=en",
              "user_name": "Gustavo Souza",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT2pFNVFVZGlkRGR0U3paTmNUZEtkbU5qWWxsdWNHYxAB!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CAIQACodChtycF9oOjE5QUdidDdtSzZNcTdKdmNjYllucGc%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Lugar TOP. Venha curtir esse espaço você também. Parabéns!!!",
              "review_time": "6 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjV3v8v8Zbay7J5AE8SnwlnDbjh3RPase9AMf4ZtwyBG-t2XwKPC=s120-c-rp-mo-ba12-br100",
              "owner_answer": {
                "date": "a month ago",
                "text": {
                  "en": "Thank you for the feedback.",
                  "pt": "Obrigado pelo feedback."
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_aJpMD____EhDE-e1RVtFWfw_XA9kAAAAAGgn92-ACZPENbiQYACIA:16",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1765482336731092,
              "user_total_photos": 93,
              "iso_date_timestamp": 1765482336731092,
              "user_total_reviews": 8,
              "iso_date_of_last_edit": "2025-12-11 19:45:37",
              "business_response_text": "Obrigado pelo feedback.",
              "iso_date_of_last_edit_timestamp": 1765482336731092
            },
            {
              "iso_date": "2025-12-12 13:48:21",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT2xaelNYVkNlbFpwZDNkclpGTnZPRUpTVnkxdVFVRRAB",
              "user_link": "https://www.google.com/maps/contrib/111174470289952573604?hl=en",
              "user_name": "Rayanne Pimentel",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT2xaelNYVkNlbFpwZDNkclpGTnZPRUpTVnkxdVFVRRAB!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CAIQACodChtycF9oOlZzSXVCelZpd3drZFNvOEJSVy1uQUE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Um lugar super gostoso para você passar o final da tarde!",
              "review_time": "6 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjWlOdxl7rsULNpXLhw4SiVqibogBXSIT1OPXoObIpMEvj4a1WH6iw=s120-c-rp-mo-br100",
              "owner_answer": {
                "date": "a month ago",
                "text": {
                  "en": "Thank you, I'm glad you liked it!",
                  "pt": "Obrigado, que bom que gostou!"
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_aKQ_P____EhCEDi5Q25TOEqReMJEAAAAAGgn93BECZO0uJtIYACIA:17",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1765547301165104,
              "user_total_photos": 2,
              "iso_date_timestamp": 1765547301165104,
              "user_total_reviews": 8,
              "iso_date_of_last_edit": "2025-12-12 13:48:21",
              "business_response_text": "Obrigado, que bom que gostou!",
              "iso_date_of_last_edit_timestamp": 1765547301165104
            },
            {
              "iso_date": "2024-10-12 19:30:30",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnSUNYcUo3cTFRRRAB",
              "user_link": "https://www.google.com/maps/contrib/100520082726889498984?hl=en",
              "user_name": "Coronel Tomazelli",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSUNYcUo3cTFRRRAB!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CIHM0ogKEICAgICXqJ7q1QE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Local aprazível, onde se consegue comer muito bem, tomar uma cerveja gelada e bater papo com os amigos. Além, é claro, de poder deixar sua embarcação (seja lancha ou motoaquática) guardada, protegida e pronta para ser lançada às águas do canal de Vitória e ser utilizada para navegar à vontade.",
              "review_time": "a year ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjWwsDgHYYgAHP8tofX-zh1RKsNfjZ4zBMfYM0awQOXnx4czmLU7Ww=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_aKWvX____EhD8XCmzXES5iYaZXuQAAAAAGgn93BgCbX3J_yoYACIA:18",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1728761430229845,
              "user_total_photos": 0,
              "iso_date_timestamp": 1728761430229845,
              "user_total_reviews": 35,
              "iso_date_of_last_edit": "2024-10-12 19:30:30",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1728761430229845
            },
            {
              "iso_date": "2024-06-15 03:55:10",
              "review_id": "ChdDSUhNMG9nS0VJQ0FnSUNMaE56cF9RRRAB",
              "user_link": "https://www.google.com/maps/contrib/103713404813205566874?hl=en",
              "user_name": "andre alberione ferreira souza sena",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSUNMaE56cF9RRRAB!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CIHM0ogKEICAgICLhNzp_QE%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "um lugar excelente para famílias, tem aluguel de lanchas, tem aluguel de jets é claro todos com CHA (carteira de habilitação aquática). Um bar com bebidas geladas, desde suco as bebidas quentes com drink eirós, aluguel do espaço para fazer aniversários, festas de empresas e muito mais. Agora o espaço esta com um ambiente novo, muito mais aconchegante e ainda mais familiar, vale a pena conhecer! Guardam lanchas e jets.",
              "review_time": "a year ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjW3FTF3-GMsYuuJIZrgqZ79lSbPoUaLCrC8mY-YoY0tcrlsyks0=s120-c-rp-mo-ba12-br100",
              "review_cursor": "CjEIARIpCgoAP7_aLfIP____EhD96H60CMTI8Rr58fAAAAAAGgn93HACb-X3Fq8YACIA:19",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1718423710032009,
              "user_total_photos": 21,
              "iso_date_timestamp": 1718423710032009,
              "user_total_reviews": 21,
              "iso_date_of_last_edit": "2024-06-15 03:55:10",
              "business_response_text": null,
              "iso_date_of_last_edit_timestamp": 1718423710032009
            },
            {
              "iso_date": "2025-12-11 11:18:26",
              "review_id": "Ci9DQUlRQUNvZENodHljRjlvT2pNMmJUUkNXa0pPTVVGMmVqSlZSV294VDBwZk1HYxAB",
              "user_link": "https://www.google.com/maps/contrib/106198994967945838908?hl=en",
              "user_name": "Chris R Pereira",
              "review_link": "https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sCi9DQUlRQUNvZENodHljRjlvT2pNMmJUUkNXa0pPTVVGMmVqSlZSV294VDBwZk1HYxAB!2m1!1s0x0:0x5cc864b82714c8e0!3m1!1s2@1:CAIQACodChtycF9oOjM2bTRCWkJOMUF2ejJVRWoxT0pfMGc%7C%7C?hl=en",
              "review_rate": 5,
              "review_text": "Lugar sofisticado e com uma ambiente inigualável!",
              "review_time": "6 months ago",
              "user_avatar": "https://lh3.googleusercontent.com/a-/ALV-UjUxRX525nK8G3_dwCYM7n8IZT6xMSOBJ19yujb0pyfC46lbAXJhyQ=s120-c-rp-mo-ba12-br100",
              "owner_answer": {
                "date": "a month ago",
                "text": {
                  "en": "Thank you for your feedback.",
                  "pt": "Obrigado por avaliar. "
                }
              },
              "review_cursor": "CjEIARIpCgoAP7_aMpYN____EhB5fCsdrLawlLPgIlwAAAAAGgn93MsCZPLdxJgYACIA:20",
              "review_photos": [],
              "review_services": [],
              "review_timestamp": 1765451905895833,
              "user_total_photos": 158,
              "iso_date_timestamp": 1765451905895833,
              "user_total_reviews": 76,
              "iso_date_of_last_edit": "2025-12-11 11:18:26",
              "business_response_text": "Obrigado por avaliar. ",
              "iso_date_of_last_edit_timestamp": 1765451905895833
            }
          ],
          "Segmento": null,
          "details_google": null,
          "crated_at": "2026-06-12T18:46:10.189414+00:00",
          "nr_latitude": -20.2913951,
          "nr_longitude": -40.3001734,
          "pais": "Brasil",
          "go_to_trip": false,
          "categoria_principal": "Natureza e aventura",
          "categorias": [
            "Natureza e aventura"
          ],
          "subtipos_normalizados": [
            "Marina"
          ],
          "subtipos_pt": [
            "Marina"
          ],
          "subtipos_pt_str": "Marina",
          "comentarios_formatados": "Comentário 1: Ótimo lugar para curtir um forró com uma brisa do canal...\n\nComentário 2: Atendimento top! Tem almoço executivo durante a semana. E o clima dos eventos de fim de semana é muito bom! Recomendo!\n\nComentário 3: Um lugar super gostoso para você passar o final da tarde!\n\nComentário 4: Excelente lugar para passear com os amigos e a família. Ambiente confortável, bom atendimento e comida deliciosa!\n\nComentário 5: Fantástico o local! Boa comida, cerveja gelada várias opções. A vista e linda e os cuidados com as embarcações e de primeira....\n\nComentário 6: Experiência ótima, ambiente de família e bom, não é aquela Marina que quer extorquir o cliente, ou deixar o cliente na mão por causa de horário de guardar o jetski!\n\nComentário 7: A Marina Bay oferece uma estrutura organizada, segura e bem mantida, atendendo com eficiência tanto na área náutica quanto no suporte aos usuários. O restaurante tem ambiente agradável, serviço ágil e comida consistente, sem exageros, mas bem executada. No geral, é um local confiável, funcional e que entrega exatamente o que promete.\n\nComentário 8: Marina top\n\nComentário 9: Excelente ambiente, espaço muito familiar e acolhedor. Restaurante muito bom.\n\nComentário 10: Lugar TOP. Venha curtir esse espaço você também. Parabéns!!!\n\nComentário 11: Local muito bom. Passeios de lancha. Jet. Comida e bebida boa. Recomendo 100%\n\nComentário 12: Lugar sofisticado e com uma ambiente inigualável!\n\nComentário 13: Lugar agradável  muito bonito, preço  relativamente te bom considerando  que é  uma marina, música boa atendimento  muito bom.\n\nComentário 14: Local aprazível, onde se consegue comer muito bem, tomar uma cerveja gelada e bater papo com os amigos. Além, é claro, de poder deixar sua embarcação (seja lancha ou motoaquática) guardada, protegida e pronta para ser lançada às águas do canal de Vitória e ser utilizada para navegar à vontade.\n\nComentário 15: Top\n\nComentário 16: um lugar excelente para famílias, tem aluguel de lanchas, tem aluguel de jets é claro todos com CHA (carteira de habilitação aquática). Um bar com bebidas geladas, desde suco as bebidas quentes com drink eirós, aluguel do espaço para fazer aniversários, festas de empresas e muito mais. Agora o espaço esta com um ambiente novo, muito mais aconchegante e ainda mais familiar, vale a pena conhecer! Guardam lanchas e jets.\n\nComentário 17: Exfelente opção para aluguel de lanchas e jet sky. Nós alugamos um jet sky (é necessário ter habilitação náutica) e fizemos um tour pelas ilhotas que cercam Vitória e Vilha Velha. Durante o passeio paramos em umas prainhas que se formam entre as rochas. Super recomendo!!! Além desta parte náutica, a Marina Bay conta com um barzinho onde é possivel  desfrutar de um lindo visual.\n\nComentário 18: Show\n\nComentário 19: Lugar lindo e aconchegante. Boa comida, boa música e bom atendimento. Serviço de Marina muito bom.\n\nComentário 20: Top",
          "qtd_comentarios_reais": 20,
          "metadados": {
            "subtipos": null,
            "bairro": "Santa Luíza",
            "cidade": "Vitória",
            "estado": "ES",
            "endereco": "Marina Bay Vix - R. Vitalino dos Santos Valadares, 175 - Santa Luíza, Vitória - ES, 29045-360, Brazil",
            "faixa_preco": null,
            "status": "ativo",
            "nota_google": 4.8,
            "qtd_avaliacoes": 110,
            "distribuicao_notas": [
              1,
              1,
              3,
              10,
              95
            ]
          },
          "status_global": "✅ Aprovado — 10/10 categorias aprovadas sem reprovações",
          "status_codigo": "aprovado",
          "motivo_status": "10/10 categorias aprovadas sem reprovações",
          "processar_qualitativo": true,
          "regras_hard_violadas": [],
          "leitura_rapida": "4.79 ★ (IC 95%: 4.5561–4.9048, n=110, confiança alta)",
          "score_composto_estatistico": 7.27,
          "score_categorias_ponderado": 8.58,
          "classificacao": "🟢 Muito bom",
          "confianca_nivel": "alta",
          "proxima_acao": "Pode visitar com confiança",
          "tags": [
            "consenso-positivo",
            "muito-positivo",
            "NPS-alto",
            "dono-engajado",
            "recomendado"
          ],
          "highlights": [
            "✅ Aprovado — 10/10 categorias aprovadas sem reprovações — 10/10 categorias aprovadas (score categorias 8.58/10)",
            "✚ Mais forte: Ausência de Red Flags (score 10, aprovado)",
            "✗ Mais fraco: Dispersão / Consenso (score 6.9, aprovado)"
          ],
          "resumo_categorias": {
            "status_global": "✅ Aprovado — 10/10 categorias aprovadas sem reprovações",
            "status_base": "✅ Aprovado",
            "status_codigo": "aprovado",
            "motivo_status": "10/10 categorias aprovadas sem reprovações",
            "processar_qualitativo": true,
            "regras_hard_violadas": [],
            "aprovadas": 10,
            "reprovadas": 0,
            "neutras": 0,
            "total_categorias": 10,
            "score_categorias_ponderado": 8.58,
            "confiabilidade_media_pct": 79.6,
            "leitura_rapida": "10/10 aprovadas — score categorias 8.58/10 (confiabilidade 79.6%)"
          },
          "cat_tendencia": {
            "nome": "Tendência Central",
            "status": "aprovado",
            "score": 9.48,
            "confiabilidade_pct": 90,
            "criterio": "Aprovado: média ≥ 3.5★. Reprovado: < 3.0★.",
            "valor_observado": "média=4.79, truncada=4.95",
            "observacao": "Média de 4.79★ com consistência boa (|Δ truncada|=0.16)"
          },
          "cat_dispersao": {
            "nome": "Dispersão / Consenso",
            "status": "aprovado",
            "score": 6.9,
            "confiabilidade_pct": 90,
            "criterio": "Aprovado: σ < 1.2★. Reprovado: σ ≥ 1.7★.",
            "valor_observado": "σ=0.62, CV=0.129, entropia_norm=0.328",
            "observacao": "Desvio de 0.62★ — forte consenso"
          },
          "cat_inferencia": {
            "nome": "Precisão da Estimativa",
            "status": "aprovado",
            "score": 9.13,
            "confiabilidade_pct": 90,
            "criterio": "Aprovado: amplitude IC95% Wilson < 0.8★. Reprovado: ≥ 1.5★.",
            "valor_observado": "IC95% Wilson=[4.5561, 4.9048], amplitude=0.3487",
            "observacao": "Margem de incerteza de ±0.17★ — estimativa precisa"
          },
          "cat_sentimento": {
            "nome": "Sentimento",
            "status": "aprovado",
            "score": 9.55,
            "confiabilidade_pct": 90,
            "criterio": "Aprovado: ≥65% positivas E ≤25% negativas. Reprovado: <45% positivas OU >40% negativas.",
            "valor_observado": "pos=95.45%, neu=2.73%, neg=1.82%, NPS=84.55",
            "observacao": "95.45% positivas vs. 1.82% negativas; NPS adaptado de 84.55 (muito bom)"
          },
          "cat_forma": {
            "nome": "Forma da Distribuição",
            "status": "aprovado",
            "score": 9.5,
            "confiabilidade_pct": 76.5,
            "criterio": "Aprovado: J invertido / concentrado-positivo / predominantemente positivo. Reprovado: polarizado / negativo.",
            "valor_observado": "formato=\"concentrado em 5★\", índice_polarização=0.0959",
            "observacao": "Consenso forte positivo"
          },
          "cat_temporal": {
            "nome": "Estabilidade Temporal",
            "status": "aprovado",
            "score": 7.21,
            "confiabilidade_pct": 68,
            "criterio": "Aprovado: sem queda + última < 180d. Reprovado: queda clara OU > 365d sem reviews.",
            "valor_observado": "slope=0★/ano, Δ metades=0, últimos=41.9d, amostra=20",
            "observacao": "Tendência: estável. Última review há 42 dias."
          },
          "cat_credibilidade": {
            "nome": "Credibilidade dos Avaliadores",
            "status": "aprovado",
            "score": 8.5,
            "confiabilidade_pct": 85,
            "criterio": "Aprovado: ≤50% novatos E |Δ exp vs nov| < 1.0. Reprovado: >60% novatos OU |Δ| > 1.5.",
            "valor_observado": "novatos=10%, experientes=40%, Δ=0★, amostra=20",
            "observacao": "10% novatos; Δ exp vs nov=0★"
          },
          "cat_engajamento": {
            "nome": "Engajamento do Proprietário",
            "status": "aprovado",
            "score": 7,
            "confiabilidade_pct": 59.5,
            "criterio": "Aprovado: engajado=true OU responde ≥40% das negativas. Reprovado: <15% geral.",
            "valor_observado": "resp_geral=70%, resp_neg=n/d%, engajado=true",
            "observacao": "Dono responde 70% em geral (sem negativas na amostra)"
          },
          "cat_red_flags": {
            "nome": "Ausência de Red Flags",
            "status": "aprovado",
            "score": 10,
            "confiabilidade_pct": 90,
            "criterio": "Aprovado: 0 altas E ≤1 média. Reprovado: ≥2 altas OU ≥4 médias.",
            "valor_observado": "altas=0, médias=0, baixas=0",
            "observacao": "Nenhum alerta detectado"
          },
          "cat_veredicto": {
            "nome": "Veredicto Global",
            "status": "aprovado",
            "score": 7.27,
            "confiabilidade_pct": 56.6,
            "criterio": "Aprovado: score ≥ 7.0. Reprovado: < 4.0.",
            "valor_observado": "classificação=\"🟢 Muito bom\", score=7.27, confiança=\"alta\"",
            "observacao": "Nota média de 4.79 estrelas, baseada em 110 avaliações (confiança alta). IC 95% Wilson: [4.5561, 4.9048]. Distribuição: concentrado em 5★. Tendência temporal: estável."
          },
          "analise": {
            "veredicto": {
              "classificacao": "🟢 Muito bom",
              "score_final": 7.27,
              "texto": "Nota média de 4.79 estrelas, baseada em 110 avaliações (confiança alta). IC 95% Wilson: [4.5561, 4.9048]. Distribuição: concentrado em 5★. Tendência temporal: estável.",
              "recomendacao": "Sem alertas relevantes — pode visitar com confiança"
            },
            "leitura_rapida": "4.79 ★ (IC 95%: 4.5561–4.9048, n=110, confiança alta)",
            "validacao_dados": {
              "nota_google": 4.8,
              "media_calculada": 4.7909,
              "divergencia": 0.0091,
              "interpretacao": "consistente"
            },
            "tendencia_central": {
              "media": 4.7909,
              "media_truncada_10": 4.9545,
              "media_laplace": 4.6417,
              "mediana": 5,
              "moda": 5,
              "q1": 5,
              "q3": 5,
              "iqr": 0
            },
            "dispersao_forma": {
              "variancia": 0.3836,
              "desvio_padrao": 0.6193,
              "coef_variacao": 0.1293,
              "assimetria": -3.7325,
              "curtose_excesso": 15.6714,
              "entropia_shannon": 0.7622,
              "entropia_normalizada": 0.3283
            },
            "inferencia": {
              "normal_95": {
                "inferior": 4.6752,
                "superior": 4.9066,
                "amplitude": 0.2315
              },
              "normal_99": {
                "inferior": 4.6388,
                "superior": 4.943,
                "amplitude": 0.3042
              },
              "wilson_95": {
                "inferior": 4.5561,
                "superior": 4.9048,
                "amplitude": 0.3487
              },
              "wilson_99": {
                "inferior": 4.4535,
                "superior": 4.9246,
                "amplitude": 0.4711
              },
              "bayes_95": {
                "inferior": 4.544,
                "superior": 4.9121,
                "amplitude": 0.3681
              },
              "bayes_99": {
                "inferior": 4.4862,
                "superior": 4.9699,
                "amplitude": 0.4837
              },
              "posterior_beta": {
                "alpha": 106.2498,
                "beta": 7.7503,
                "media_posterior_rescalada": 4.7281
              }
            },
            "sentimento": {
              "pct_negativas": 1.82,
              "pct_neutras": 2.73,
              "pct_positivas": 95.45,
              "razao_pos_neg": 52.5,
              "nps_adaptado": 84.55,
              "top_box": 86.36,
              "top_2_box": 95.45,
              "bottom_box": 0.91,
              "bottom_2_box": 1.82,
              "proporcoes": [
                0.0091,
                0.0091,
                0.0273,
                0.0909,
                0.8636
              ]
            },
            "diagnostico_forma": {
              "formato": "concentrado em 5★",
              "distancia_uniforme": 0.6636,
              "indice_polarizacao": 0.0959
            },
            "temporal": {
              "_aviso": "Métricas baseadas APENAS na amostra de reviews — não na população completa",
              "amostra_size": 20,
              "ultimos_30_dias": null,
              "ultimos_90_dias": {
                "media": 5,
                "n": 1
              },
              "ultimos_180_dias": {
                "media": 5,
                "n": 1
              },
              "ultimos_365_dias": {
                "media": 5,
                "n": 12
              },
              "comparacao_metades": {
                "media_metade_antiga": 5,
                "media_metade_recente": 5,
                "delta": 0,
                "direcao": "estável"
              },
              "regressao_linear": {
                "slope_por_dia": 0,
                "slope_estrelas_por_ano": 0,
                "interpretacao": "estável"
              },
              "reviews_por_mes_amostra": 0.331,
              "periodo_coberto_dias": 1810.4,
              "media_fim_de_semana": 5,
              "media_dias_uteis": 5,
              "dias_desde_ultima_review": 41.9
            },
            "credibilidade": {
              "amostra_size": 20,
              "media_user_total_reviews": 51.3,
              "mediana_user_total_reviews": 9,
              "pct_novatos": 10,
              "pct_intermediarios": 50,
              "pct_experientes": 40,
              "media_nota_novatos": 5,
              "media_nota_intermediarios": 5,
              "media_nota_experientes": 5,
              "diff_experientes_vs_novatos": 0,
              "pct_com_foto": 25,
              "pct_com_texto": 100,
              "comprimento_medio_texto": 128.8
            },
            "textual": {
              "amostra_size": 20,
              "comprimento_medio_positivas": 128.8,
              "comprimento_medio_negativas": 0,
              "top_palavras_positivas": [
                {
                  "palavra": "lugar",
                  "freq": 8
                },
                {
                  "palavra": "marina",
                  "freq": 6
                },
                {
                  "palavra": "ambiente",
                  "freq": 6
                },
                {
                  "palavra": "comida",
                  "freq": 5
                },
                {
                  "palavra": "local",
                  "freq": 4
                },
                {
                  "palavra": "aluguel",
                  "freq": 4
                },
                {
                  "palavra": "atendimento",
                  "freq": 4
                },
                {
                  "palavra": "espaco",
                  "freq": 4
                },
                {
                  "palavra": "recomendo",
                  "freq": 3
                },
                {
                  "palavra": "nautica",
                  "freq": 3
                }
              ],
              "top_palavras_negativas": [],
              "taxa_resposta_geral": 70,
              "taxa_resposta_negativas": null,
              "taxa_resposta_positivas": 70,
              "proprietario_engajado": true
            },
            "confianca": {
              "nivel": "alta",
              "peso": 0.8
            },
            "red_flags": []
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "bef2484e-2d3d-43ea-b2d3-e9f80cb984f6",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-03T22:47:55.306Z",
      "createdAt": "2026-06-03T22:47:55.306Z",
      "role": "workflow:owner",
      "workflowId": "aMxaZnciMV3JcYVY",
      "projectId": "G6oOhMxSr8k56eQz"
    }
  ],
  "activeVersion": null,
  "tags": []
}